.small-screen-only{
	display:none;
}


@media (max-width:1619px){
	/* Main Menu Area css
	============================================================================================ */
   .header_area .navbar .search {
		margin-left: 40px;
	}
	/* End Main Menu Area css
	============================================================================================ */
}
@media (max-width:1300px){
}
@media (max-width:1199px){
	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar .nav .nav-item {
		margin-right: 28px;
	}
	/* End Main Menu Area css
	============================================================================================ */
	/* Home Banner Area css
	============================================================================================ */
	.home_banner_area .banner_inner {
		padding: 50px 0px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.header_area .navbar .tickets_btn {
		margin-left: 40px;
	}
	.home_banner_area .banner_inner .banner_content h2 br {
		display: none;
		font-size: 36px;
	}
	.home_banner_area .banner_inner .banner_content h2 {
		font-size: 36px;
		line-height: 45px;
	}
}

@media (max-width:991px){
	
	.navbar-right{
		float: right!important;
		padding:5px!important;
	}
	
	.dropdown a{
		    display: block;
			padding-left:10px;
			line-height:35px;
	}
	
	.dropdown .dropdown-content2{
		margin-top:15px!important;
	}
	
	.small-screen-only{
		display:block;
		max-width:100%!important;
	}
	
	
	.small-screen-only img{
		max-width:60%!important;
	}
	
	.large-screen-only{
		display:none;
	}
	
	.main-carousel img{
		display:none!important;
	}
	
	.main-carousel .owl-stage{
		color:#464646!important;
	}

	.at-aw-text{
		color:#464646!important;
	}
	
	.main-carousel .owl-nav{
		/*margin-top:-100px!important;*/
	}

	.carousel-padding-item{
		padding:20px!important;
		padding-top:100px!important;
	}
	
	.carousel-padded-item-alt{
		padding:20px!important;
		padding-top:100px!important;
	}
	
	/* Main Menu Area css
	============================================================================================ */
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px;
    }
	.header_area .navbar {
		background: white;
	}
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}
	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 7.5px;
	}
	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 6px;
		position: relative;
	}
	.navbar-toggler span{
		display: block;
		width: 25px;
		height: 3px;
		background: #146B75;
		margin: auto;
		margin-bottom: 4px;
		transition: all 400ms linear;
		cursor: pointer;
	}
    .navbar .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav{
        padding: 0px 0px;
    }
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 117px;
	}
    .header_top .nav{
        padding: 0px;
    }
    .header_area .navbar .nav .nav-item .nav-link{
        line-height: 40px;
        margin-right: 0px;
        display: block;
		border-bottom: 1px solid #ededed33;
		border-radius: 0px;
    }
    .header_area .navbar .search{
        margin-left: 0px;
    }
	.header_area .navbar-collapse{
		max-height: 340px;
		overflow-y: scroll;
	}
	.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
		padding: 0px 15px;
	}
	.header_area .navbar .nav .nav-item {
		margin-right: 0px;
	}
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 71px;
	}
	.home_banner_area .banner_inner .banner_content .banner_map_img {
		display: none;
	}

	.home_banner_area .video-wrapper{
		height:400px;
	}
	.video-wrapper video{
		margin-left: -50%;
	}
	
	.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
		line-height: 40px;
	}
	.header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
		line-height: 40px;
	}
	.header_area.white_menu .navbar .nav .nav-item .nav-link {
		color: #222;
	}
	/* End Main Menu Area css
	============================================================================================ */
	/* Blog page Area css
	============================================================================================ */
	.categories_post img{
        width: 100%;
    }
	.categories_post {
		max-width: 360px;
		margin: 0 auto;
	}
	.blog_categorie_area .col-lg-4{
        margin-top: 30px;
    }
    .blog_area{
        padding-bottom: 80px;
    }
    .single-post-area .blog_right_sidebar{
        margin-top: 30px;
    }
	/* End Blog page Area css
	============================================================================================ */
	
	/* Contact Page Area css
	============================================================================================ */
	.contact_info{
		margin-bottom: 50px;
	}
	/* End Contact page Area css
	============================================================================================ */
	.home_banner_area .donation_inner{
		margin-bottom: -30px;
	}
	.home_banner_area .dontation_item{
		max-width: 350px;
		margin: auto;
	}
	/* Footer Area css
	============================================================================================ */
	.footer_area .col-sm-6{
		margin-bottom: 30px;
	}
	.footer_area .footer_inner{
		margin-bottom: -30px;
	}
	.news_widget {
		padding-left: 0px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.home_banner_area .banner_inner .home_left_img {
		display: none;
	}
	.header_area .navbar .tickets_btn {
		display: none;
	}
	.home_banner_area .banner_inner {
		padding: 50px 0px 0px 0px;
	}
	.left_side_text {
		margin-bottom: 50px;
	}
	.price_item {
		max-width: 360px;
		margin: 0px auto 30px; 
	}
	.price_inner{
		margin-bottom: -30px;
	}

	.home_banner_area {
		min-height: 300px;
	}
	.home_banner_area .banner_inner {
		min-height: 300px;
	}
}
@media (max-width:767px){
	.home_banner_area .banner_inner .banner_content {
		margin-top: 0px;
	}
	/* Blog Page Area css
	============================================================================================ */
    .blog_banner .banner_inner .blog_b_text h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.blog_info.text-right{
		text-align: left !important;
		margin-bottom: 10px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	.home_banner_area .banner_inner .banner_content h3 {
		font-size: 30px;
	}
	.home_banner_area .banner_inner .banner_content p br {
		display: none;
	}
	.home_banner_area .banner_inner .banner_content h3 span {
		line-height: 45px;
		padding-bottom: 0px;
		padding-top: 0px;
	}
	/* Footer Area css
	============================================================================================ */
	.footer-bottom{
		text-align: center;
	}
	.footer-bottom .footer-social {
		text-align: center;
		margin-top: 15px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.made_life_inner .nav.nav-tabs li {
		flex: 0 0 50%;
		max-width: 50%;
		margin-bottom: 15px;
	}
	.made_life_inner .nav.nav-tabs {
		margin-bottom: -15px;
	}
	.made_life_area.made_white .left_side_text {
		margin-bottom: 0px;
		margin-top: 30px;
	}
}
@media (max-width:600px){
	.banner_area .banner_inner .banner_content {
		margin-top: 0px;
		padding-top: 55px;
	}
	
	.featured-video .container {
		padding: 20px!important;
	}
}

.paper-img{
	margin-left:-300px;
}

@media (max-width:575px){
	
	.footer-map{
		margin:auto;
	}
	
	.footer_inner{
		text-align:center;
	}
	
	.small-testimonial {
		width: 100%!important;
	}
	
	.top_menu {
		display: none;
	}
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 71px;
	}
	
	.banner_content{
		    padding-top: 30px;
	}
	
	.paper-img{
		display:none;
	}
	
	.testimonials_area{
		margin-bottom: 80px;
	}
	
    /* Home Banner Area css
	============================================================================================ */
	.home_banner_area .banner_inner .banner_content h2 {
		font-size: 28px;
		line-height: 38px;
	}
	.blog_banner .banner_inner .blog_b_text {
		margin-top: 0px;
	}
	.home_banner_area .banner_inner .banner_content img{
		display: none;
	}
	.home_banner_area .banner_inner .banner_content h5 {
		margin-top: 0px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.p_120 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.main_title h2 {
		font-size: 25px;
	}
	/* Elements Area css
	============================================================================================ */
	.sample-text-area {
		padding: 70px 0 70px 0;
	}
	.generic-blockquote {
		padding: 30px 15px 30px 30px;
	}
	/* End Elements Area css
	============================================================================================ */
	
	/* Blog Page Area css
	============================================================================================ */
	.blog_details h2 {
		font-size: 20px;
		line-height: 30px;
	}
	.blog_banner .banner_inner .blog_b_text h2 {
		font-size: 28px;
		line-height: 38px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	/* Footer Area css
	============================================================================================ */
	.footer-area {
		padding: 70px 0px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.pad_top {
		padding-top: 70px;
	}
	.pad_btm {
		padding-bottom: 70px;
	}
}

@media (max-width:480px){
	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar-collapse{
		max-height: 250px;
	}
	/* End Main Menu Area css
	============================================================================================ */
	
	/* Home Banner Area css
	============================================================================================ */
    .home_banner_area .banner_inner .banner_content {
		padding: 30px 15px;
		margin-top: 0px;
	}
	.banner_content .white_btn {
		display: block;
	}
	.home_banner_area .banner_inner .banner_content h3 {
		font-size: 24px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.banner_area .banner_inner .banner_content h2 {
		font-size: 32px;
	}
	/* Blog Page Area css
	============================================================================================ */
	.comments-area .thumb {
		margin-right: 10px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	.testi_item .media .d-flex {
		padding-right: 0px;
	}
	.testi_item .media .d-flex img {
		width: auto;
		margin-bottom: 15px;
	}
	.testi_item .media{
		display: block;
	}
	.banner_btn{
		margin-bottom: 20px;
	}
	.home_banner_area .banner_inner {
		padding: 0px 0px 0px 0px;
	}
}

@media (max-width:800px){
	.elbow-person{
		display:none;
	}
	
	section.banner_area {
		min-height: 520px;
		text-align:center;
	}
}


@media (max-width:500px){
	.demo-form-item-wrapper input{
		width: 300px!important;
	}
	
	.demo-form-item-wrapper textarea{
		width: 300px!important;
	}
}

.docs-content{
	float:left;
	width:20%;
}

.docs-body{
	width:78%;
}

@media (max-width:900px){
	.top-banner-image{
		display:none!important;
	}
	.banner-image-section{
		width:0%!important;
	}
	.consultants-banner{
		width:100%!important;
	}
	
	.featured-video div{
		width:100%!important;
		float:none;
	}
	
	.docs-content{
		width:100%;
		float:none;
	}
	

	.docs-body{
		width:100%;
	}
	
	.employee-description{
		margin-bottom: 120px;
	}
	
	.cofounder{
		left: 37.5px;
	}
}


@media (max-width:1000px){
	
	.banner-person{
		display: none;
	}
	
	.small-testimonial {
		min-height: 560px!important;
	}
	
}

@media (max-width:1200px){
	
	.banner-image-section{
		width:40%!important;
	}
	.consultants-banner{
		width:60%;
	}
	
	.top-banner-product-image,.rating-top-banner-image{
		display:none;
	}
	
	.banner-person {
		margin-top: -250px;
		margin-left: -80px;
	}

	
	.resources-banner-img{
		margin-left: -120px;
		margin-top: -440px;
	}
	
	.elbow-person{
		display:none;
	}
}


@media (max-width:1280px){
	.rating{
		left:0px;
		top: -800px;
	}
	
	.resources-banner-img{
		margin-left: -120px;
		margin-top: -440px;
	}
	
	.small-testimonial {
		min-width:200px;
		min-height: 510px;
	}
}

.docs-body{
	float:left;
}

@media (max-width:1350px){
	.new-testimonials .border-img {
		margin-left: -190px;
	}
	
	.pricing-block{
		width:46%;
	}
	
	.docs-content{
		width:40%;
	}
	
	.features-block{
		max-width:98%;
		width: 98%;
		float:none;
	}
}


@media (min-width:601px){
	.img-row td {
		padding: 40px;
	}
}

@media (max-width:600px){
	
	.no-padding-on-small-screen{
		margin-top:40px!important;
	}
	
	.hide-br br{
		display:none;
	}
	
	.new-testimonials .border-img {
		margin-left: -160px;
	}
	
	.features-block ul{
		padding-inline-start: 0px;
	}
	
	.features-block ul li{
		line-height: 26px;
	}
	
	.pricing-block{
		margin-top: 50px;
		width:100%;
	}
	
	.usd-info{
		padding-top: 50px;
		padding-right: 30px;
	}
	
	
	
	.pricing-buy{
		    padding: 6px;
	}
	
	.pricing-description{
		height:100px;
	}
	
	img.user-company-logo {
		max-height: 100px;
		width: 70%;
	}
	
	a.user-company-link{
		margin: 5px;
		padding: 5px;
		margin-top:20px;
		width: 45%;
	}
}

.play-overlay-2{
	margin-top:-300px;
}

@media (max-width:600px){
	.book-demo{
		margin:auto;
		margin-top:72px;
		margin-bottom:72px;
	}
	
	
	.play-overlay-2{
		margin-top: calc(-35vw);
	}
	
	.play-overlay-2 img{
		width: 100px;
		height: 100px;
	}
}
	
@media (max-width: 1200px){
	.divider-dot {
		margin-left:auto;
		margin-right:auto;
		display: block;
		margin-top: 25px;
		margin-bottom:25px;
	}
	
	.product-container{
		margin-top: 280px;
	}
	
	.product-pdf-img.large-img{
		width: 40%;
		margin-top: 160px;
	}
	
	.product-img-container{
		width:95%
	}
	
	
	.product-pdf-img.hero-image{
		max-width: 90%;
	}
}

.book-img{
	margin-right:40px!important;
}

@media (max-width: 1023px){
	.product-pdf-img{
		max-width: 90%;
	}
	
	.book-img{
		margin-right:auto!important;
	}

	.image-caption-wrapper{
		width: 90%;
		margin-top: 60px;
	}
	
	.play-btn-overlay{
			display:none;
	}
}

.product-pdf-img.small-screen-only{
	max-width:90%!important;
}

a.product-link {
    color: white;
	font-size: 16px;
    padding: 8px;
    background-color: #8bc53e;
    margin-top: 20px;
    display: inline-block;
    height: 40px;
    border-radius: 25px;
    width: 120px;
    margin-bottom: 25px;
}

@media (max-width: 1023px){
	.case-study-column{
		width: 100%;
	}
}

.responsive-hero-banner{
	height:660px;
}
	
.hero-banner-inner{
	height:660px
}

.stress-header{
	font-size:40px;
}

@media (max-width: 1023px){
	.responsive-hero-banner{
		height:460px;
	}
	
	.hero-banner-inner{
		height:520px
	}
	
	.hero-bg-img{
		
	}

	.stress-header{
		font-size:30px;
	}

}