/* Recommends Plugin */
#setting-error-tgmpa {
	display: block;
}

/* styles for theme options page */
#vt-dashboard-wrap .nav-tab-wrapper {
	padding-top: 36px;
	margin-bottom: 24px;
}
.wrap .content {
	margin-top: 12px;
	padding: 12px 24px 24px;
	border: solid 1px #e5e5e5;
	background: white;
}
.wrap .content .button-primary {
	margin:1px 0;
}
.wrap .content ul {
	list-style: disc;
	margin-left: 36px;
}

/* Slider Category */
.cat_id_note {
	color: #999;
	display: none;
	font-size: 11px;
}

/* VT Blogging Pro widgets */
#widget-list [id*="vt-"] .widget-top .widget-title h3 {
	color: #fff;
}
#widget-list [id*='vt-'] .widget-top { 
	background: #f25d46;
	color: #fff;
}

/* customizer */
#available-widgets-list [id*="vt-"].widget-tpl .widget-title:before,
#available-widgets-list [id*="vt-"].widget-tpl .widget-title h3 {
	color: #fff;
}
#available-widgets-list [id*="vt-"].widget-tpl,
#available-widgets-list [id*="vt_"].widget-tpl { 
	background: #f25d46;
	color: #fff;
}
#available-widgets-list [id*="vt-"].widget-tpl:hover,
#available-widgets-list [id*="vt_"].widget-tpl:hover { 
	background: #F68978;
	color: #fff;
}
#available-widgets-list [id*="vt-"] .widget-top, #available-widgets [id*="vt-"] .widget .widget-description, 
#available-widgets-list [id*="vt_"] .widget-top, #available-widgets [id*="vt_"] .widget .widget-description { 
	color: #fff;
}

.widget-separator { 
	font-size: 18px; 
	font-weight: 600;
	border-bottom: 2px solid #ddd;
}

/* Styles for Post Video meta box */
#ct_vt_video .inside {
	padding: 0;
	margin: 0;
}
#ct_vt_video .description {
	padding: 6px 12px 12px 24px;
}
.ct_vt_video_input_container {
	padding: 24px 24px 12px;
}
.ct_vt_video_input_container label {
	margin-right: 46px;
	font-weight: 700;
}
.ct_vt_video_input_container div {
	position: relative;
	display: inline-block;
}
.ct_vt_video_input_container div svg {
	position: absolute;
	top: 3px;
	padding: 5px;
	right: 3px;
	background: rgba(255, 255, 255, 0.8);
	opacity: 0;
	transition: opacity 0.2s ease;
	  -webkit-transition: opacity 0.2s ease;
	  -moz-transition: opacity 0.2s ease;
	  -o-transition: opacity 0.2s ease;
	  -ms-transition: opacity 0.2s ease;
}
.ct_vt_video_input_container.has-vid svg {
	opacity: 1;
	  -moz-opacity: 0;
	  -webkit-opacity: 0;	
}
.ct_vt_video_preview_container {
	position: relative;
	padding: 24px;
	text-align: center;
	min-height: 300px;
	border: dashed 4px #E1ECED;
	background: #F2F9FA;
}
.ct_vt_video_preview_container label {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	display: block;
	font-size: 24px;
	color: #C9D2D4;
	text-transform: uppercase;
	letter-spacing: 0.14em;
}
.ct_vt_video_preview_container.has-vid {
	min-height: 0;
	border: none;
	border-bottom: solid 1px #e5e5e5;
	background: none;
}
.ct_vt_video_preview_container .loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(67, 179, 196, 0.4);
	opacity: 0;
	text-align: center;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.ct_vt_video_preview_container .loading svg {
	position: absolute;
	right: 47%;
	top: 38%;
	animation: spin 2s linear infinite;
	  -webkit-animation: spin 2s linear infinite;
}
.ct_vt_video_preview_container.ajax-loading .loading {
	visibility: visible;
	opacity: 1;
	  -moz-opacity: 1;
	  -webkit-opacity: 1;	
}
@-ms-keyframes spin {
  100% {
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}