		<div id="video-thank-you" title="Great!  You've taken the first step.">
		  <p>Check your inbox for your video.  Please ensure you have noreply@contractcomplete.com added to your safe senders list.</p>
          <button onclick="closeVideoThankyou()" class="btn sub-btn">Got it, thanks.</button>	
		</div>
		<div id="signup-thank-you" title="Thank You for signing up!">
		  <p>We will contact you within 1-2 business days to set up a demo.</p>
          <button onclick="closeSignupThankyou()" class="btn sub-btn">Got it, thanks.</button>	
		</div>
		<div id="quote-request-thankyou" title="Thank you for your interest!">
		  <p>We will contact you within 24hrs.</p>
          <button onclick="closeQuoteThankYou()" class="btn sub-btn">Got it, thanks.</button>	
		</div>
		<div id="signup-new-user" title="Thank you for Signing up!">
			<p>Please check your email and verify your account.</p>
			<button onclick="closeRequestDemoPopup()" class="btn sub-btn">Okay</button>
		</div>
		<div id="signup-Error-new-user" title="Something is wrong!">
			<div>...</div>
			<br/>
			<button onclick="closeErrorRegisterPopup()" class="btn sub-btn">Okay</button>
		</div>
		
<?php
	include 'script_loader.js';
?>
		
<script type="text/javascript">
	window.server_url = 'https://api.contractcomplete.com/api/';
<?php
	// set the web service URL based on where the site is deployed
	$fullUrl = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? 
                "https" : "http") . "://" . $_SERVER['HTTP_HOST'] .  
                $_SERVER['REQUEST_URI']; 
	
	if (strpos($fullUrl, 'localhost') !== false) {
		echo 'window.server_url = \'http://localhost:8080/webservicev3/api/\';';
	}else if (strpos($fullUrl, 'sales-qa') !== false){
		echo 'window.server_url = \'https://35.163.171.4/webservicev3/api/\';';
	}
	
?>
</script>

 <SCRIPT type="text/javascript"> 
   function onHuman(response) { 
     document.getElementById('captcha').value = response; 
   } 
 </SCRIPT>	
		
		<INPUT type="hidden" id="captcha" name="captcha" value="">

         <!--================ (Try it Free & Get start) buttons =================-->
		<div id="signup-dialog" title="Sign up Now">
			<div>
				<h4 class="modal-title">Your First Contract is Free!</h4>
				<div>
					<input id="register-fname" type="text" placeholder="First Name">
					<label id="error-fname" class="error-label">Please Provide a First Name</label>
					<input id="register-lname" type="text" placeholder="Last Name">
					<label id="error-lname" class="error-label">Please Provide a Last Name</label>
					<input id="register-email" type="email" placeholder="E-Mail Address">
					<label id="error-email" class="error-label">Please Provide a Valid Email Address</label>
					<input id="register-company" type="text" placeholder="Company Name">
					<label id="error-company" class="error-label">Please Provide a Company Name</label>
					<input id="register-phone" type="text" placeholder="Daytime Telephone Number">
					<label id="error-phone" class="error-label">Please Provide a Phone Number</label>
					<input style="display:none" class="contact__field" name="contact-referral" type="text" placeholder="10-digit Referral Code (Optional)">
					<select id="register-reason" class="signup-combo">
						<option selected disabled hidden>Why are you interested in ContractComplete?</option>
						<option value="INVITED_TO_BID">I was invited to a bid</option>
						<option value="MANAGE_CONTRACTS">I want to manage my contracts</option>
						<option value="ADMINISTER_BIDS">I want to administer bids</option>
					</select>
					<select id="register-channel" class="signup-combo" style="">
						<option selected disabled hidden>Where did you find out about ContractComplete?</option>
						<option value="SEARCH_ENGINE">Search Engine (Google, Duck Duck Go, Yahoo, etc.)</option>
						<option value="INVITED">Invited through ContractComplete</option>
						<option value="REFERRAL">Referral</option>
						<option value="CAPTERRA">Capterra</option>
						<option value="INSTAGRAM">Instagram</option>
						<option value="LINKEDIN">LinkedIn</option>
						<option value="FACEBOOK">Facebook</option>
					</select>
					<div style="height:1px; clear:both">&nbsp;</div>
					<!-- Production -->
					<div style="" class="g-recaptcha" data-callback="onHuman"  data-sitekey="6Lc2VgcUAAAAAJ7XHJEUdQo6LUhBVznqHoMKpY1N"></div>
					
					<!-- QA -->
					<!--<div class="g-recaptcha" data-sitekey="6LfzVQcUAAAAAFL-VMJ8VuSS0qxRuKeqw_2lSQOR"></div>-->
				</div>
				<div style="margin-top: 16px;">
					<button onclick="cancelSignup()" class="btn sub-btn" >Cancel</button>
					<button onclick="acceptSignup()" class="btn sub-btn" style="background-color: #146b75;color: white">Accept</button>
				</div>
			</div>
		</div>

		<!--================ (Request a Quote) button =================-->
		<div id="quote-request-dialog" title="Request a Quote">
			<div>
				<h4 class="modal-title">Kindly fill out your contact info below and we will get back to you with a formal quote within 24hrs.</h4>
				<label>Plan: </label><b id="lblSelectedPlan"></b>
				
				<input id="quote-email" type="text" placeholder="Email">
				<label id="quote-error-email" class="error-label">Please Provide an E-Mail Address</label>
				<input id="quote-fname" type="text" placeholder="First Name">
				<label id="quote-error-fname" class="error-label">Please Provide a First Name</label>
				<input id="quote-lname" type="text" placeholder="Last Name">
				<label id="quote-error-lname" class="error-label">Please Provide a Last Name</label>
				<input id="quote-company" type="text" placeholder="Company Name">
				<label id="quote-error-company" class="error-label">Please Provide a Company Name</label>
				<input id="quote-phone" type="text" placeholder="Daytime Telephone Number">
				<label id="quote-error-phone" class="error-label">Please Provide a Phone Number</label>
				<!--<textarea id="quote-comment" type="text" rows="3" cols="60" style="width:100%; margin-top:10px;" placeholder="Comment"></textarea>-->
				
				<div style="margin-top: 16px;">
					<button onclick="cancelQuoteRequest()" class="btn sub-btn" >Cancel</button>
					<button onclick="acceptQuoteRequest()" class="btn sub-btn" style="background-color: #146b75;color: white">Get a Quote</button>
				</div>
			</div>
		</div>
		

         <!--================ (Request a Demo) button =================-->
		<div id="demo-request-dialog" title="Request a Demo">
			<div>
				<h4 class="modal-title">Kindly fill out your contact info below!</h4>
				<div id="demo-req-part1">
					<input id="demo-email" type="email" placeholder="E-Mail Address">
					<label id="demo-error-email" class="error-label">Please Provide a Valid Email Address</label>
					<div style="margin-top: 16px;">
						<button onclick="cancelRequestDemo()" class="btn sub-btn" >Cancel</button>
						<button onclick="onShowContactInfo()" class="btn sub-btn" style="background-color: #146b75;color: white">Next</button>
					</div>
				</div>
				<div id="demo-req-part2" style="display:none">
					<input id="demo-fname" type="text" placeholder="First Name">
					<label id="demo-error-fname" class="error-label">Please Provide a First Name</label>
					<input id="demo-lname" type="text" placeholder="Last Name">
					<label id="demo-error-lname" class="error-label">Please Provide a Last Name</label>
					<input id="demo-company" type="text" placeholder="Company Name">
					<label id="demo-error-company" class="error-label">Please Provide a Company Name</label>
					<input id="demo-phone" type="text" placeholder="Daytime Telephone Number">
					<label id="demo-error-phone" class="error-label">Please Provide a Phone Number</label>
					<textarea id="demo-comment" type="text" rows="3" cols="60" style="width:100%; margin-top:10px;" placeholder="Comment"></textarea>					
					<input style="display:none" class="contact__field" name="contact-referral" type="text" placeholder="10-digit Referral Code (Optional)">
					<!-- Production -->
					<div class="g-recaptcha" data-callback="onHuman"  data-sitekey="6Lc2VgcUAAAAAJ7XHJEUdQo6LUhBVznqHoMKpY1N"></div>

					<!-- QA -->
					<!--<div class="g-recaptcha" data-sitekey="6LfzVQcUAAAAAFL-VMJ8VuSS0qxRuKeqw_2lSQOR"></div>-->
					<div style="margin-top: 16px;">
						<button onclick="cancelRequestDemo()" class="btn sub-btn" >Cancel</button>
						<button onclick="acceptInlineSignup(true)" class="btn sub-btn" style="background-color: #146b75;color: white">Send Request</button>
					</div>
				</div>
			</div>
		</div>

		<div id="video-request-dialog" title="Get the Video">
			<div>
				<h4 class="modal-title">Please provide your email address, and we'll send you the video free of charge.</h4>
				<div>
					<input id="video-request-email" type="email" placeholder="E-Mail Address">
					<label id="video-request-error-email" class="error-label">Please Provide a Valid Email Address</label>
				</div>
				<div style="margin-top: 16px;">
					<button onclick="cancelRequestVideo()" class="btn sub-btn" >Cancel</button>
					<button onclick="acceptVideo()" class="btn sub-btn" style="background-color: #146b75;color: white">Accept</button>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			window.loadFile('js/jquery-3.5.1.min.js', function(){
				window.loadFile('js/popper.js', function(){
					var fn = function(){
						/* Arbitrarily picking video-request-dialog as a check to ensure jquery is fully loaded - since that dialog is defined in this html file and will always be present*/
						if(!$("#video-request-dialog").dialog){
							window.setTimeout(fn, 50);
							return;
						}
					
						$("#quote-request-thankyou" ).dialog({
							autoOpen: false,
							dialogClass: 'cc-modal',
							modal: true,
							draggable: false,
							resizable: false,
							width: 400,
							maxWidth: '100%',
							maxHeight: '100%'
						});
					
						$("#quote-request-dialog" ).dialog({
							autoOpen: false,
							dialogClass: 'cc-modal',
							modal: true,
							draggable: false,
							resizable: false,
							width: 400,
							maxWidth: '100%',
							maxHeight: '100%'
						});
					
						$("#signup-new-user" ).dialog({
							autoOpen: false,
							dialogClass: 'cc-modal',
							modal: true,
							draggable: false,
							resizable: false,
							maxWidth: '100%',
							maxHeight: '100%'
						});
						
						$("#video-request-dialog" ).dialog({
							autoOpen: false,
							dialogClass: 'cc-modal',
							modal: true,
							draggable: false,
							resizable: false,
							maxWidth: '100%',
							maxHeight: '100%'
						});
						
						$("#signup-thank-you" ).dialog({
							autoOpen: false,
							dialogClass: 'cc-modal',
							modal: true,
							draggable: false,
							resizable: false,
							maxWidth: '100%',
							maxHeight: '100%'
						});
						
						$("#video-thank-you" ).dialog({
							autoOpen: false,
							dialogClass: 'cc-modal',
							modal: true,
							draggable: false,
							resizable: false,
							maxWidth: '100%',
							maxHeight: '100%'
						});
						
						$( "#signup-dialog, #demo-request-dialog" ).dialog({
							autoOpen: false,
							dialogClass: 'cc-modal',
							modal: true,
							draggable: false,
							resizable: false,
							width: 400,
							height: 500,
							maxWidth: '100%',
							maxHeight: '100%'
						});
						$( " #demo-request-dialog" ).dialog({
							height: 200
						});
						
						$("#signup-Error-new-user" ).dialog({
							autoOpen: false,
							dialogClass: 'cc-modal',
							modal: true,
							draggable: false,
							resizable: false,
							maxWidth: '100%',
							maxHeight: '100%'
						});
						console.log('dialogs ready;');
						
						
			
			
						if(window.location.hash == '#signup'){
						  window.loadFile('https://www.google.com/recaptcha/api.js',function(){

						  });
						
							window.onGetStarted();
						}
					}
	
					window.loadFile('js/bootstrap.min.js', fn);
				});
			});
			
			window.validateEmail = function(email) {
				var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				return re.test(String(email).toLowerCase());
			};
			
			window.closeRequestDemoPopup = function(){
				$( "#signup-new-user" ).dialog( "close" );
			}
			
			window.doRequestDemo = function(demoStubSubmissionDTO){
				$('#mask').show();
				var rsp = document.getElementById('captcha').value;
				$.ajax({
					url: window.server_url + "util/demorequest",
					method: "POST",
					crossDomain: true,
					data: JSON.stringify({captchaResponse: rsp, payload: demoStubSubmissionDTO}),
					contentType: 'application/json;charset=UTF-8',
					success: function(){
						$('#demo-request-dialog').dialog('close');
						$('#mask').hide();
						$('#signup-thank-you').dialog('open');
						
						window.emailUser({
							fromEmailAddress: 'alex@contractcomplete.com',
							displayName: 'Alex Aubry',
							emailTemplateUrl: 'https://www.contractcomplete.com/tpl/demo_requested_thankyou.moustache.html',
							emailSubject: 'Thank you for your demo request!',
							emailAddress: demoStubSubmissionDTO.email,
							firstName: demoStubSubmissionDTO.firstName,
							lastName:demoStubSubmissionDTO.lastName
						});
					},
					error: function(){
						$('#mask').hide();
					}
				});
				return false;
			};
			
			window.onGetStarted = function(){
				$('#signup-dialog').dialog('open');
				
				try{
					ga('send', {
					  hitType: 'event',
					  eventCategory: 'RegistrationButton',
					  eventAction: 'click',
					  eventLabel: 'CLICK_REGISTER_BUTTON'
					});
				}catch(ex){}
			}
			
			window.cancelSignup = function(){
				$('#signup-dialog').dialog('close');
			}
			
			window.cancelRequestDemo = function(){
				$( "#demo-request-dialog" ).dialog({
					height: 200
				});
				
				document.getElementById('demo-req-part2').style.display = 'none';
				document.getElementById('demo-req-part1').style.display = 'block';
			
				$('#demo-request-dialog').dialog('close');
			}

			window.onGetStartedDemoRequest = function(){
				$('#demo-request-dialog').dialog('open');
			}

			window.closeSignupThankyou = function(){
				$('#signup-thank-you').dialog('close');
				window.location.reload();
			}

			window.closeVideoThankyou = function(){
				$('#video-thank-you').dialog('close');
				window.location.reload();
			}
			
			window.closeErrorRegisterPopup = function(){
				$( "#signup-Error-new-user" ).dialog( "close" );
			}
			window.doSignup = function(companyStubSubmissionDTO){
				$('#mask').show();
				var rsp = document.getElementById('captcha').value;
				$.ajax({
					url: window.server_url + "company/stub/captcha",
					method: "POST",
					crossDomain: true,
					data: JSON.stringify({captchaResponse: rsp, payload: companyStubSubmissionDTO}),
					contentType: 'application/json;charset=UTF-8',
					success: function(){
						$('#signup-dialog').dialog('close');
						$('#mask').hide();
						$('#signup-new-user').dialog('open');
						
							// capterra conversion tracking
						  var capterra_vkey = '4a786c2950a1111e2b692c4bbae68f20',
						  capterra_vid = '2116006',
						  capterra_prefix = (('https:' == document.location.protocol) ? 'https://ct.capterra.com' : 'http://ct.capterra.com');

						  (function() {
							var ct = document.createElement('script'); ct.type = 'text/javascript'; ct.async = true;
							ct.src = capterra_prefix + '/capterra_tracker.js?vid=' + capterra_vid + '&vkey=' + capterra_vkey;
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ct, s);
						  })();
					},
					error: function(response){
						$('#mask').hide();
						switch(response.status){
							case 400:
								$('#signup-Error-new-user div').html('Something is wrong. Please try again');
								$('#signup-Error-new-user').dialog('open');
								break;
							case 403:
								$('#signup-Error-new-user div').html('Something is wrong. Please try again');
								$('#signup-Error-new-user').dialog('open');
								break;
							case 404:
								$('#signup-Error-new-user div').html('Something is wrong. Please try again');
								$('#signup-Error-new-user').dialog('open');
								break;
							case 409:
								$('#signup-Error-new-user div').html('Email address alreay exist.<br/>To sign in to your account, please go <b><a style="color:blue" target="_blank" href="https://app.contractcomplete.com">here</a></b>');
								$('#signup-Error-new-user').dialog('open');
								break;
							default:
								$('#signup-Error-new-user div').html('Something is wrong');
								$('#signup-Error-new-user').dialog('open');
						}
					}
				});
			}
			
			window.acceptQuoteRequest = function(plan){
				var fName = $("#quote-fname").val();
				var lName = $("#quote-lname").val();
				var email = $("#quote-email").val();
				var companyName = $("#quote-company").val();
				var phoneNumber = $("#quote-phone").val();
				
				
				$('#quote-error-fname').hide();
				$('#quote-error-lname').hide();
				$('#quote-error-email').hide();
				$('#quote-error-company').hide();
				$('#quote-error-phone').hide();
				
				var isValid = true;
				if(!window.validateEmail(email)){
					isValid = false;
					$('#quote-error-email').show();
				}
				
				if(fName.length == 0){
					isValid = false;
					$('#quote-error-fname').show();
				}
				
				if(lName.length == 0){
					isValid = false;
					$('#quote-error-lname').show();
				}
				
				if(companyName.length == 0){
					isValid = false;
					$('#quote-error-company').show();
				}
				
				if(phoneNumber.length == 0){
					isValid = false;
					$('#quote-error-phone').show();
				}
				
				if(!isValid)return false;
				
				window.emailUser({
					fromEmailAddress: 'noreply@contractcomplete.com',
					displayName: 'ContractComplete',
					emailTemplateUrl: 'https://www.contractcomplete.com/tpl/quote_requested_thankyou.moustache.html',
					emailSubject: 'The quote you requested!',
					emailAddress: email,
					firstName: fName,
					lastName:lName
				});
				
				window.emailUser({
					fromEmailAddress: 'noreply@contractcomplete.com',
					displayName: 'ContractComplete',
					emailTemplateUrl: 'https://www.contractcomplete.com/tpl/quote_request_email_provided.moustache.html',
					emailSubject: companyName + ' (' + phoneNumber + ') requested a quote for a ' + window.quoteRequestedPlan + " plan",
					emailAddress: 'noreply@contractcomplete.com',
					firstName: fName,
					lastName:lName
				});
				
				window.cancelQuoteRequest();
				$("#quote-request-thankyou").open();
			}
			
			closeQuoteThankYou = function(){
				$("#quote-request-thankyou").close();
			}
			
			window.acceptSignup = function(){
				var fName = $("#register-fname").val();
				var lName = $("#register-lname").val();
				var email = $("#register-email").val();
				var companyName = $("#register-company").val();
				var phoneNumber = $("#register-phone").val();
				var	reason = $("#register-reason").val();
				var	channel = $("#register-channel").val();
				
				$('#error-fname').hide();
				$('#error-lname').hide();
				$('#error-email').hide();
				$('#error-company').hide();
				$('#error-phone').hide();
				
				var isValid = true;
				if(fName.length == 0){
					isValid = false;
					$('#error-fname').show();
				}
				
				if(lName.length == 0){
					isValid = false;
					$('#error-lname').show();
				}
				
				if(companyName.length == 0){
					isValid = false;
					$('#error-company').show();
				}
				
				if(phoneNumber.length == 0){
					isValid = false;
					$('#error-phone').show();
				}
				
				if(!isValid)return false;
				
				var companyStubSubmissionDTO = {
					/* Backwards compatibility with older ws version */
					firstName: fName,
					lastName: lName,
					email: email,
					// multi-invite support
					users:[{
						firstName: fName,
						lastName: lName,
						email: email
					}],
					companyName: companyName,
					phone: phoneNumber,
					invitedBy: 'SALES_SITE',
					reason: reason,
					channel: channel
				}
				
				window.doSignup(companyStubSubmissionDTO);
			}
			
			window.acceptInlineSignup = function(isPopup){
				var fName;
				var lName;
				var email;
				var companyName;
				var phoneNumber;
				var comment;
				
				if(isPopup){
					// Call from popup (Request a Demo buttons)
					fName = $("#demo-fname").val();
					lName = $("#demo-lname").val();
					email = $("#demo-email").val();
					companyName = $("#demo-company").val();
					phoneNumber = $("#demo-phone").val();
					comment = $("#demo-comment").val();

					$('#demo-error-fname').hide();
					$('#demo-error-lname').hide();
					$('#demo-error-email').hide();
					$('#demo-error-company').hide();
					$('#demo-error-phone').hide();
					fbq('track', 'Lead');
				}else{
					// Call from inline_signup.html (footer)
					fName = $("#register-fname-inline").val();
					lName = $("#register-lname-inline").val();
					email = $("#register-email-inline").val();
					companyName = $("#register-company-inline").val();
					phoneNumber = $("#register-phone-inline").val();
					comment = $("#register-comment-inline").val();

				
					$('#error-fname-inline').hide();
					$('#error-lname-inline').hide();
					$('#error-email-inline').hide();
					$('#error-company-inline').hide();
					$('#error-phone-inline').hide();
					fbq('track', 'StartTrial', {value: '39.00', currency: 'CAD', predicted_ltv: '0.00'});
				}
				
				var isValid = true;

				if(fName.length == 0){
					isValid = false;
					if(!isPopup)$('#error-fname-inline').show();
					if(isPopup)$('#demo-error-fname').show();
				}
				
				if(lName.length == 0){
					isValid = false;
					if(!isPopup)$('#error-lname-inline').show();
					if(isPopup)$('#demo-error-lname').show();
				}
				
				if(email.length == 0 || !window.validateEmail(email)){
					isValid = false;
					if(!isPopup)$('#error-email-inline').show();
					if(isPopup)$('#demo-error-email').show();
				}
				
				if(companyName.length == 0){
					isValid = false;
					if(!isPopup)$('#error-company-inline').show();
					if(isPopup)$('#demo-error-company').show();
				}
				
				if(phoneNumber.length == 0){
					isValid = false;
					if(!isPopup)$('#error-phone-inline').show();
					if(isPopup)$('#demo-error-phone').show();
				}

				if(!isValid)return false;
				
				var demoStubSubmissionDTO = {
					users: [{
						firstName: fName,
						lastName: lName,
						email: email
					}],
					companyName: companyName,
					phone: phoneNumber,
					comment: comment,
					invitedBy: 'SALES_SITE_DEMO_REQUEST'
				}
				
				window.doRequestDemo(demoStubSubmissionDTO);
			}
			
			
			if(window.location.hash == '#demo'){
				window.onGetStartedDemoRequest();
			}
			
			window.doVideoRequest = function(dto){
				$('#mask').show();
				$.ajax({
					url: window.server_url + "leads/pipelineentry",
					method: "POST",
					crossDomain: true,
					data: JSON.stringify(dto),
					contentType: 'application/json;charset=UTF-8',
					success: function(){
						$('#video-request-dialog').dialog('close');
						$('#mask').hide();
						$('#video-thank-you').dialog('open');
					},
					error: function(){
						$('#mask').hide();
					}
				});
				return false;
			};
			
			window.emailUser = function(dto, callback){
				dto.bcc = 'info@contractcomplete.com';
				$.ajax({
					url: window.server_url + "leads/emailrequest",
					method: "POST",
					crossDomain: true,
					data: JSON.stringify(dto),
					contentType: 'application/json;charset=UTF-8',
					success: function(){
						if(callback)callback();
					},
					error: function(){}
				});
				return false;
			};
			
			window.requestFormalQuote = function(plan){
				$('#quote-request-dialog').dialog('open');
				document.getElementById('lblSelectedPlan').innerHTML = plan;
				window.quoteRequestedPlan = plan;
			}
			
			window.cancelQuoteRequest = function(plan){
				$('#quote-request-dialog').dialog('close');
			}
			
			window.onShowContactInfo = function(){

				var email = $("#demo-email").val();
				if(email.length == 0 || !window.validateEmail(email)){
					isValid = false;
					$('#error-email').show();
					return;
				}
				
				$.ajax({
					url: window.server_url + "leads/emailrequest",
					method: "POST",
					crossDomain: true,
					data: JSON.stringify({
						emailSubject: 'Website Visitor Provided their Email Address',
						emailAddress: 'info@grandriverbi.com',
						firstName: email,
						bcc: 'dan@contractcomplete.com',
						emailTemplateUrl: "https://www.contractcomplete.com/tpl/demo_request_email_provided.html"
					}),
					contentType: 'application/json;charset=UTF-8',
					success: function(){
					
					},
					error: function(){}
				});
			
				$( "#demo-request-dialog" ).dialog({
					height: 580
				});
				
				document.getElementById('demo-req-part2').style.display = 'block';
				document.getElementById('demo-req-part1').style.display = 'none';
			}
		</script>
		
		<script type="text/javascript">
		  (function(w, d, s) {
			function go(){
			  var js, fjs = d.getElementsByTagName(s)[0], load = function(url, callback) {
			  window.loadFile(url, callback);
			};
			window.setTimeout(function(){
					load('vendors/lightbox/simpleLightbox.min.js', function(){
						load('js/theme.js')
					});
				}, 1000);
			  load('vendors/jquery-ui/jquery-ui.min.js');
			  load('js/stellar.js');
			  load('vendors/lightbox2/js/lightbox.min.js');
			}
			if (w.addEventListener) { w.addEventListener("load", go, false); }
			else if (w.attachEvent) { w.attachEvent("onload",go); }
		  }(window, document, 'script'));
		</script>
		
		
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.5.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script async src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script async src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script async src="vendors/isotope/isotope-min.js"></script>
        <script async src="vendors/counter-up/jquery.waypoints.min.js"></script>
        <script async src="vendors/counter-up/jquery.counterup.min.js"></script>
        <!--<script src="vendors/jquery-ui/jquery-ui.min.js"></script>-->
        <script async src="js/mail-script.js"></script>
        <!--gmaps Js-->
        <!--<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script async src="js/gmaps.min.js"></script>-->

        <script src="vendors/iframe-lightbox-master/js/iframe-lightbox.min.js"></script>
		
		
		
		