<?php 
	$safari = true;
	if (strpos($_SERVER['HTTP_USER_AGENT'], 'Safari') && !strpos($_SERVER['HTTP_USER_AGENT'], 'Chrome')) {
		$safari=false;
	}
?>


<?php 
$whitelist = array('127.0.0.1', "::1", "localhost");
if(!in_array($_SERVER['REMOTE_ADDR'], $whitelist)){
	if(empty($_SERVER['HTTPS']) || $_SERVER['HTTPS'] == "off"){
		$redirect = 'https://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];
		header('HTTP/1.1 301 Moved Permanently');
		header('Location: ' . $redirect);
		exit();
	}
}

	include 'script_loader.js';
?>

<!-- Hotjar Tracking Code for https://www.contractcomplete.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2518288,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
		<script>
<!-- Google Tag Manager -->
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KQGP92Q');

<!-- End Google Tag Manager -->


		
		window.logVideoClick = function(){
			console.log('doing stuff');
			try{
				ga('send', {
				  hitType: 'event',
				  eventCategory: 'PlayVideo',
				  eventAction: 'click',
				  eventLabel: 'CLICK_PLAY_VIDEO_BUTTON'
				});
			}catch(ex){}
		};
		
		
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-102325231-1', 'auto');
		  <?php
			if(isset($test_ver)){ ?>
				ga('set', 'dimension1', 'ver_<?php echo $test_ver; ?>' );
				<?php
			}
		  ?>
		  ga('send', 'pageview');

		</script>
		<script src="https://www.youtube.com/iframe_api">
		<!-- Google Code for Sales Site Signup Conversion Page
		In your html page, add the snippet and call
		goog_report_conversion when someone clicks on the
		chosen link or button. -->
		<script type="text/javascript">
		  /* <![CDATA[ */
		  goog_snippet_vars = function() {
			var w = window;
			w.google_conversion_id = 871728566;
			w.google_conversion_label = "_ImOCN2v6XIQtovWnwM";
			w.google_remarketing_only = false;
		  }
		  // DO NOT CHANGE THE CODE BELOW.
		  goog_report_conversion = function(url) {
			goog_snippet_vars();
			window.google_conversion_format = "3";
			var opt = new Object();
			opt.onload_callback = function() {
			if (typeof(url) != 'undefined') {
			  window.location = url;
			}
		  }
		  var conv_handler = window['google_trackConversion'];
		  if (typeof(conv_handler) == 'function') {
			conv_handler(opt);
		  }
		}
		/* ]]> */
		</script>
		
		<?php
			$fileName = basename($_SERVER['PHP_SELF']);
		?>
		
        <!--================Header Menu Area =================-->
        <header class="header_area drop_shadow">
<!-- Facebook Pixel Code -->
<!-- Facebook Pixel Code -->
<script>
window.setTimeout(function(){
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window,document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	 fbq('init', '425606588336646'); 
	fbq('track', 'PageView');
}, 10);

// workaround for issue described here: https://github.com/twbs/bootstrap/issues/30553
window.menuExpanded = false;
window.firedOnce = false;
window.removeJqueryHandlers = function(){
	if(!window.firedOnce){
		window.firedOnce = true;
		return;
	}

	var btn = document.getElementById('navbartoggle');
	window.menuExpanded = ! window.menuExpanded;
	if(window.menuExpanded){
		window.setTimeout(function(){
			// any code here will not fire events
			$('.navbar-collapse').addClass('collapse');
			$('.navbar-collapse').removeClass('show');
			
			btn.setAttribute('aria-expanded', false)
		}, 400);
	}
}
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=425606588336646&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=535114243908045&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<?php
$noheader = '0';
if(array_key_exists ('noheader', $_GET)) $noheader = $_GET['noheader'];
 if ($noheader != '1'){
?>
			<div style="width:100%;background-color:#eaeaeb;text-align:right;padding:12px;display:none" class="large-screen-only">
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item"><a href="https://app.contractcomplete.com" target="_blank" style="height:34px;line-height: 34px;border-radius:17px;width:134px;margin-right: 30px;" class="tickets_btn">Login</a></li>
				</ul>
			</div>
			<div style="text-align:right;position:absolute;right:50px;z-index:500;top:32px;display:none" class="small-screen-only">
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item"><a href="https://app.contractcomplete.com" target="_blank" style="height:34px;line-height: 34px;border-radius:17px;width:134px;" class="tickets_btn">Login</a></li>
				</ul>
			</div>
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="index.php"><img style="height:100px" src="img/logo.<?php echo ($safari ?  'webp' : 'png'); ?>" alt=""></a>
						<button id="navbartoggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="window.removeJqueryHandlers();">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav justify-content-center">
								<li class="nav-item"><a class="nav-link" href="faq.php">FAQ</a></li>
								<li class="nav-item">
									<div class="nav-link dropdown">
										<a class="nav-link" href="javascript:void(0);" style="color:#606060">Solutions</a>
										<ul class="dropdown-content2" style="list-style: none;">
											<li class="dropdown-menu-item"><a style="color:#606060" class="" href="budgeting.php">Project Budgeting
												<div class="large-screen-only product-menu-context">
												Create project budgets based on historical pricing, search costing database based on date and region, compare bids with your budget
												</div></a></li>
											<li class="dropdown-menu-item"><a style="color:#606060" class="" href="bidding.php">Bid Management
												<div class="large-screen-only product-menu-context">
												Assess bidder engagement in real time.  Automatic addendum creation when you make a change to the contract.  Automatically generate a bid comparison.
												</div></a></li>
											<li class="dropdown-menu-item"><a style="color:#606060" class="" href="projectmanagement.php">RFI's, Submittals &amp; Change Orders
												<div class="large-screen-only product-menu-context">
												Automatically generate change order, submittal, and RFI documents with flexible options for markup &amp; image annotation as needed.
												</div></a></li>
											<li class="dropdown-menu-item"><a style="color:#606060" class="" href="progressbilling.php">Progress Billing &amp; Payment Certification
												<div class="large-screen-only product-menu-context">
												Contractors create beautiful &amp; consistant invoices in an easy-to-use interface.  Payment certificates are generated automatically for your approval.
												</div></a></li>
										</ul>
									</div>
								</li>
								<li class="nav-item">
									<div class="nav-link dropdown">
										<a class="nav-link" href="javascript:void(0);" style="color:#606060">Resources</a>
										<ul class="dropdown-content2" style="list-style: none;">
											<li class="dropdown-menu-item"><a style="color:#606060" class="" href="https://www.contractcomplete.com/blog/">Blog
												<div class="large-screen-only product-menu-context">
												Stay up to date with industry insights as well as the latest feature announcements and tips.
												</div></a></li>
											<li class="dropdown-menu-item"><a style="color:#606060" class="" href="resources.php#content">Documentation
												<div class="large-screen-only product-menu-context">
												Unsure about a feature?  This is your first stop if you have questions while using ContractComplete.
												</div></a></li>
											<li class="dropdown-menu-item"><a style="color:#606060" class="" href="testimonials.php">Testimonials
												<div class="large-screen-only product-menu-context">
												See how other companies just like yours are saving time and money by using ContractComplete.
												</div></a></li>
											<li class="dropdown-menu-item"><a style="color:#606060" class="" href="videos.php">Videos
												<div class="large-screen-only product-menu-context">
												Video walkthroughs for common ContractComplete tasks.  Great for setting up your first contract or bid.
												</div></a></li>
										</ul>
									</div>
								</li>
								<li class="nav-item"><a class="nav-link" href="pricing.php">Pricing</a></li>
								<li class="nav-item"><a class="nav-link" href="index.php#webinar">Webinars</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li class="nav-item" style="padding-right:10px"><a href="contractors.php" class="tickets_btn_nav" >Contractors</a></li>
								
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li class="nav-item"><a href="https://app.contractcomplete.com" target="_blank" style="height:34px;line-height: 34px;border-radius:17px;width:134px;margin-right: 30px;" class="tickets_btn">Login</a></li>
								<!--<li class="nav-item" style="padding-right:10px"><a href="javascript:onGetStarted();" class="tickets_btn_nav">Try It Free</a></li>-->
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
<?php
}
?>
        </header>
        <!--================Header Menu Area =================-->
		<script async type="text/javascript"
		  src="//www.googleadservices.com/pagead/conversion_async.js">
		</script>
		
		<script type="text/javascript">
		  (function(w, d, s) {
			function go(){
			  var js, fjs = d.getElementsByTagName(s)[0], load = function(url, callback) {
			  window.loadFile(url, callback);
			};
			  //load('https://www.google.com/recaptcha/api.js');
			}
			if (w.addEventListener) { w.addEventListener("load", go, false); }
			else if (w.attachEvent) { w.attachEvent("onload",go); }
		  }(window, document, 'script'));
		</script>