		 <!--==============Demo Request Form Area=================-->
        <section class="made_life_area p_120 inline-demo-request" style="background-color:#deecf6;padding-bottom:60px" id="inline_demo_req">
        	<div class="container demo-form">
				<h2>Don't get left behind.<br/>Get a demo now!</h2>
				<br/>
				<!--<a target="_blank" href="https://connect.contractcomplete.com/get-a-demo" class="tickets_btn_nav" style="margin-top: 50px;">Get a Demo</a>-->
<!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
	region: "na1",
	portalId: "2095312",
	formId: "ac4fc538-250e-489b-ba97-be6d5b272ace"
});

window.scrollToDemoRequest = function() {
	let e = document.getElementById("inline_demo_req");
	e.scrollIntoView({
		block: 'start',
		behavior: 'smooth',
		inline: 'start'
	});
}

</script>
			</div>
		</section>
		<!--==============End Demo Request Area ==================-->