<div style="background-color:#DEECF6;width:100%;padding:20px">
<a class="book-demo" style="color:white;background-color: #0070BB; " target="_blank" href="https://connect.contractcomplete.com/get-a-demo">Schedule a Demo</a>
</div>