<div class="new-testimonials" style="background-color:#deecf6">
	<img class="type-b" alt="David" src="img/testimonials/thi.jpg"></img>
	<img class="border-img" src="img/testimonials-arrow.png" />
	<p class="type-b" style="font-size:16px;">
		<strong>"</strong>The mobile app is very handy in having quick access to all your contract documents (specifications, drawings etc.) at your finger tips. No need to sort through folders and files, all your documents are organized and labelled under each contract and available anywhere. Great feature for project mangers and superintendents.<strong>"</strong>
		<br/><br/>
		<span style="color:#888888;">DAVID TORRES</span><br/>
		<span style="color:#888888;">General Manager</span><br/>
		<span style="color:#888888;">Torres Hardscapes</span>
	</p>
	<div style="clear:both"></div>
</div>