<div class="new-testimonials" style="background-color:#e8e8e9">
	<img class="type-b" alt="matt" src="img/testimonials/matt.jpg"></img>
	<img class="border-img" src="img/testimonials-arrow.png" />
	<p class="type-b" style="font-size:16px;">
		<strong>"</strong>A big part of my job when tendering a project is comparing contractors' submitted bids to show the client. When receiving hardcopy bids it can take me a whole day to input each line item into a spreadsheet, and even then, it's easy to make a mistake. <br/><br/>
		 With ContractComplete the spreadsheet is instantly created when the tender closes, saving me a whole day of work. I can then organize the spreadsheet to show high and low values, averages, and the lowest bid. Clients have given great feedback on these comparison spreadsheets.<strong>"</strong>
		<br/><br/>
		<span style="color:#888888;">MATTHEW MADIGAN</span><br/>
		<span style="color:#888888;">Landscape Architect</span><br/>
		<span><a target="_blank" style="color:#888888; font-size:14px;" href="http://adessodesigninc.ca/">Adesso Design Inc.</a></span>
	</p>
	<div style="clear:both"></div>
</div>