<div class="new-testimonials" style="background-color:#deecf6">
	<img class="type-b" alt="stefanie" src="img/testimonials/stefanie.jpeg"></img>
	<img class="border-img" src="img/testimonials-arrow.png" />
	<p class="type-b" style="font-size:16px;">
		<strong>"</strong>Prior to using ContractComplete, we were collecting PDF bids by email which were a nuisance to deal with. A lot of the bids would come back incomplete, which was a pain to level, plus transferring the results into our own spreadsheet took hours!<br/><br/>
		 Now everything is automated so that bidders can't submit unless it's compliant and the bid review is done instantly, which saves me 4-6 hours per bid. The support has also been great, the staff at ContractComplete are always willing to help whenever I have an issue and my feedback is constantly being used to improve the product.<strong>"</strong>
		<br/><br/>
		<span style="color:#888888;">STEFANIE HOSGOOD</span><br/>
		<span style=" color:#888888;">Reserves & Bidding Manager</span><br/>
		<span><a target="_blank" style="color:#888888; font-size:14px;" href="https://www.thefalcongroup.us/index.php">The Falcon Group</a></span>
	</p>
	<div style="clear:both"></div>
</div>