<div class="new-testimonials" style="background-color:#d4efee;">
	<img class="type-b" alt="Strybos" src="img/testimonials/sbk.jpg"></img>
	<img class="border-img" src="img/testimonials-arrow.png" />
	<p class="type-b" style="font-size:16px;">
		<strong>"</strong>As a contract administrator, the invoice review and Payment Certification process is very easy and fast. Changes can be made very fast and reissued for review. I also like the ability to track progress on the projects with the visual tracking bar<strong>"</strong>
		<br/><br/>
		<span style="color:#888888;">Collin S.</span><br/>
		<span style="color:#888888;">Senior Landscape Technologist</span><br/>
		<span style="color:#888888;">Strybos Barron King</span>
	</p>
	<div style="clear:both"></div>
</div>