<div class="new-testimonials" style="background-color:#d4efee;">
	<img class="type-b" alt="Mario" src="img/testimonials/mario.jpg"></img>
	<img class="border-img" src="img/testimonials-arrow.png" />
	<p class="type-b" style="font-size:16px;">
		<strong>"</strong>Contract Complete has become a staple in our office for administering our contracts and has saved our firm time and money while helping to keep all stakeholders informed throughout the process. We have looked at numerous software packages that are very cumbersome and we find the simplicity of contract complete very refreshing! We will continue to utilize this great tool!<strong>"</strong>
		<br/><br/>
		<span style="color:#888888;">MARIO PATITUCCI</span><br/>
		<span style="color:#888888;">Owner and Principal Landscape Architect</span><br/>
		<span><a target="_blank" style="color:#888888; font-size:14px;" href="http://adessodesigninc.ca/">Adesso Design Inc.</a></span>
	</p>
	<div style="clear:both"></div>
</div>