<div class="new-testimonials" style="background-color:#fafced">
	<img class="type-b" alt="stefanie" src="img/testimonials/geoscape.png"></img>
	<img class="border-img" src="img/testimonials-arrow.png" />
	<p class="type-b" style="font-size:16px;">
		<strong>"</strong>The web based app helps me by giving me easy access to pricing in our contracts so I can stay within budget when procuring materials. The thing I like most about this software is that it is very easy to use and is displayed in a simple way.<strong>"</strong>
		<br/><br/>
		<span style="color:#888888;">ROSS E.</span><br/>
		<span style="color:#888888;">Project Coordinator</span><br/>
		<span><a target="_blank" style="color:#888888; font-size:14px;" href="https://geoscapecontracting.com/">Geoscape Contracting</a></span>
	</p>
	<div style="clear:both"></div>
</div>