<div class="new-testimonials" style="background-color:#fafced">
	<img class="type-b" alt="marc" src="img/testimonials/marc.jpg"></img>
	<img class="border-img" src="img/testimonials-arrow.png" />
	<p class="type-b" style="font-size:16px;">
		<strong>"</strong>Cash flow is key for everyone and we began to feel uneasy when our previously impeccable turn around time on invoicing processing began to slip without borrowing time from some other part of our lives (family or sleep time are often the first to go). <br/><br/>
		 The second major pain point resolved, is the ability to share the effort of preparing and processing payment. When the contractor and consultant are both using Contract Complete there is no duplication of effort into two systems. The bonus of this is that data entry errors are eliminated.<strong>"</strong>
		<br/><br/>
		<span style="color:#888888;">MARK GARON-NIELSEN</span><br/>
		<span style="color:#888888;">Chief Executive Officer</span><br/>
		<span><a target="_blank" style="color:#888888; font-size:14px;" href="https://www.aboudtng.com/">Aboud & Associates</a></span>
	</p>
	<div style="clear:both"></div>
</div>