/*
Theme Name: VT Blogging Pro
Theme URI: http://volthemes.com/theme/vt-blogging-pro/
Description: VT Blogging WordPress Theme - Pro Version.
Author: VolThemes
Author URI: http://volthemes.com
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: vt-blogging-pro
Domain Path: /languages/
Tags: two-columns, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, theme-options, translation-ready, threaded-comments
*/

/*
TABLE OF CONTENT

0. Reset
1. Defaults
2. Header
--2.1 Logo
--2.2 Navigation Menu
3. Homepage
--3.1 Recent Content
--3.2 Pagination
4. Featured Slider
5. Single Post/Page
--5.1 Entry Content
--5.2 Entry Footer
--5.3 Related  Posts
--5.4 Tag Cloud
--5.5 Edit Link
--5.6 Author Box
6. Archive/Search Page
7. Comments
8. Sidebar
9. Widgets
10. Footer
11. Misc
12. 404
*/
/* -------------------------------------------------- */
/* 0. Reset
/* -------------------------------------------------- */
*,
*:before,
*:after {
	box-sizing: border-box;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	word-wrap: break-word;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	  -webkit-transition: all 0.3s ease 0s;
	  -moz-transition: all 0.3s ease 0s;
	  -ms-transition: all 0.3s ease 0s;
	  -o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
ins {
	color: #333;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #333;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #eee;
	margin: 1em 0;
	padding: 0;
}
input, select {
  vertical-align: middle;
}
sup {
	top: -.5em;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
.no-list-style {
	list-style: none;
	margin: 0;
	padding: 0;
}
p {
    margin: 0 0 20px 0;
}
figure > img {
    display: block;
}
img {
    display: inline-block;
	height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%;
	vertical-align: middle;
}
img[class*="align"],
img[class*="attachment-"] {
    height: auto;
}
body a img {
    transition: all 0.5s ease;
}
body a img:hover {
    opacity: 0.8;
}
embed,
iframe,
object {
    max-width: 100%;
    width: 100%;
}

/* -------------------------------------------------- */
/* Accessibility
/* -------------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
	-moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);	
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* -------------------------------------------------- */
/* Media
/* -------------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* -------------------------------------------------- */
/* Captions
/* -------------------------------------------------- */
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption .wp-caption-text {
    margin: 0.5075em 0;
}
.wp-caption-text {
    text-align: center;
}

/* -------------------------------------------------- */
/* Galleries
/* -------------------------------------------------- */
.gallery {
    margin-bottom: 1.5em;
}
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-caption {
    display: block;
}

/* -------------------------------------------------- */
/* 1. Defaults
/* -------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.35;
	margin: 15px 0;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 21px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
strong,
b {
    font-weight: bold;
}
input,
textarea,
select {
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Select box styling */
select {
	-moz-appearance: none;
	background-color: white;
	background-image: url("assets/img/select.png");
	background-position: right center;
	background-repeat: no-repeat;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	color: #777 !important;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: 13px;
	height: auto;
	line-height: 20px;
	margin: 0;
	max-width: 100%;
	outline: medium none;
	padding: 5px;
	width: 300px;
}
select:hover {
	border: 1px solid #ccc;
}
select option {
	padding-left: 7px;
	padding-top: 2px;
}
input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
textarea {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    background-color: #fff;
    border: 1px solid #ddd;
    outline: none;
    color: #333;
}
input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #bfbfbf;
    outline: none;
}
textarea {
    padding: 10px 15px;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="password"] {
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
}
button,
.btn,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    padding: 0 15px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #222;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 38px;
    line-height: 34px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -webkit-backface-visibility: hidden;
}
button:hover,
.btn:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #f0f0f0;
    border-color: #c3c3c3;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
button:focus,
textarea:focus {
    outline: 0;
}
table {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    border-width: 1px;
    border-color: #e9e9e9;
    border-collapse: collapse;
    width: 100%;
}
table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #e6e6e6;
    background-color: #f0f0f0;
}
table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #e6e6e6;
    background-color: #ffffff;
}
.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}
.alignright {
    float: right;
    margin: 0 0 20px 20px;
}
.aligncenter {
    display: block;
    margin: 0 auto;
    text-align: center;
    clear: both;
}
.alignnone {
    display: block;
}

/* Clear Floats */
.clear:before,
.clear:after {
    content: "";
    display: table;
}
.clear:after {
    clear: both;
}
.clear {
    clear: both;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
.sticky,
.bypostauthor {
    background: inherit;
    color: inherit;
}

/* CSS3 Effects */
.box-shadow,
.mobile-menu {
	-moz-box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
	-webkit-box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
	-o-box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
	box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
}
body {
    background: #f0f0f0;
    color: #414141;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
}
a {
	color: #444444;
    text-decoration: none;
}
a:hover {
    color: #eb5424;
}
a:visited {
    color: #444;
}
a:active,
a:focus {
    outline: 0;
}
.container {
    margin: 0 auto;
    width: 1000px;
}

/* Custom Fonts */
@font-face {
    font-family: 'Open Sans';
    src: url("libs/opensans/Light/OpenSans-Light.eot?v=1.1.0");
    src: url("libs/opensans/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("libs/opensans/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("libs/opensans/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("libs/opensans/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("libs/opensans/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url("libs/opensans/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
    src: url("libs/opensans/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("libs/opensans/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("libs/opensans/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("libs/opensans/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("libs/opensans/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url("libs/opensans/Regular/OpenSans-Regular.eot?v=1.1.0");
    src: url("libs/opensans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("libs/opensans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("libs/opensans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("libs/opensans/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("libs/opensans/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url("libs/opensans/Italic/OpenSans-Italic.eot?v=1.1.0");
    src: url("libs/opensans/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("libs/opensans/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("libs/opensans/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("libs/opensans/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("libs/opensans/Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url("libs/opensans/Semibold/OpenSans-Semibold.eot?v=1.1.0");
    src: url("libs/opensans/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("libs/opensans/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("libs/opensans/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("libs/opensans/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("libs/opensans/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url("libs/opensans/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
    src: url("libs/opensans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("libs/opensans/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("libs/opensans/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("libs/opensans/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("libs/opensans/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#SemiboldItalic") format("svg");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url("libs/opensans/Bold/OpenSans-Bold.eot?v=1.1.0");
    src: url("libs/opensans/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("libs/opensans/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("libs/opensans/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("libs/opensans/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("libs/opensans/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url("libs/opensans/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
    src: url("libs/opensans/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("libs/opensans/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("libs/opensans/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("libs/opensans/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("libs/opensans/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
}

/* = Genericons, thanks to FontSquirrel.com for conversion!
-------------------------------------------------------------- */
@font-face {
    font-family: 'Genericons';
    src: url("libs/genericons/genericons-regular-webfont.eot");
    src: url("libs/genericons/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("libs/genericons/genericons-regular-webfont.woff") format("woff"), url("libs/genericons/genericons-regular-webfont.ttf") format("truetype"), url("libs/genericons/genericons-regular-webfont.svg#genericonsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Genericons */
.post-edit-link:before,
.bypostauthor > article .fn:before,
.comment-edit-link:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.comment-list .children li:before,
.contributor-posts-link:before,
.menu-toggle:before,
.search-toggle:before,
.slider-direction-nav a:before,
.widget_happythemes_ephemera .widget-title:before {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal 16px/1 Genericons;
    text-decoration: inherit;
    vertical-align: text-bottom;
}

/* -------------------------------------------------- */
/* 2. Header
/* -------------------------------------------------- */
#masthead .container {
    position: relative;
}
.site-header {
    background-color: #343e47;
    height: 80px;
    width: 100%;
    line-height: 1;
}
.site-header.stickytop {
    border-bottom: 1px solid #333;
	height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.site-header.clear,
.site-header .site-title,
.site-branding #logo,
.site-header .search-icon,
.site-header.stickytop .site-branding,
.site-header.stickytop .site-title,
.site-header.stickytop .site-branding #logo {
	  -webkit-transition: all 0.2s ease 0.1s;
	  -moz-transition: all 0.2s ease 0.1s;
	  -ms-transition: all 0.2s ease 0.1s;
	  -o-transition: all 0.2s ease 0.1s;
	transition: all 0.2s ease 0.1s;
}
.site-header.stickytop .site-branding,
.site-header.stickytop .site-title,
.site-header.stickytop .custom-logo,
.site-header.stickytop .sf-menu li {
	height: 50px;
	line-height: 50px;
}
.site-header.stickytop .site-title {
	margin: 0;
}
.site-header.stickytop .site-branding #logo {
	height: auto;
	margin: 0;
}
.site-header.stickytop .custom-logo {
	max-height: 45px;
	max-width: 140px;
}
.site-header.stickytop .sf-menu .sub-menu li {
	height: 50px;
	line-height: 1.5;
}
.site-header.clear.stickytop .cart-contents,
.site-header.stickytop .search-icon {
	top: 15px;
}
.site-header .search-icon {
	display: block;
	float: right;
	padding-left: 10px;
	position: relative;
	top: 28px;
}
.site-header .search-icon:hover {
    cursor: pointer;
}
.site-header .search-icon:hover span {
    color: #bbb;
    color: rgba(255, 255, 255, 0.8);
}
.site-header .search-icon span {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    vertical-align: middle;
}
.site-header .search-icon .genericon-search.active {
    display: none;
}
.site-header .search-icon .genericon-close {
    display: none;
}
.site-header .search-icon .genericon-close.active {
    display: inline-block;
}
.search-input {
    background: #fff;
    border: 1px solid #ddd;
    outline: none;
    height: 38px;
    line-height: 38px;
    color: #333;
}
.search-input:focus {
    background-color: #fff;
    border-color: #bfbfbf;
}
.header-search .search-submit {
    border-left: none;
    color: #999;
    font-size: 15px;
    height: 38px;
    line-height: 1;
    outline: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

/* Header Search */
.header-search {
    border-top: 1px solid #333;
    display: none;
    background-color: #3c4852;
    line-height: 1;
    width: 100%;
    height: 60px;
    z-index: 2;
}
.header-search.stickytop {
	position: fixed;
	top: 49px;
	border-top: none;
}
.header-search .container {
    position: relative;
}
.header-search .container:after {
    color: #ccc;
    font-family: 'Genericons';
    font-size: 24px;
    content: '\f400';
    position: absolute;
    top: 18px;
    left: 0;
}
.header-search .search-input {
    background: transparent;
    border: none;
    color: #999;
    font-size: 20px;
    height: 60px;
    width: 100%;
    padding-left: 50px;
}
.header-search .search-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
}
.header-search .search-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}
.header-search .search-input:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}
.header-search .search-input:-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}
.header-search .search-submit {
    background: transparent;
    border: 2px solid #eb5424;
    box-shadow: none;
    border-radius: 5px;
    color: #eb5424;
    font-size: 14px;
    height: 28px;
    letter-spacing: 1px;
    position: absolute;
    top: 14px;
    right: 0;
    padding: 0 4px;
    text-transform: uppercase;
}
.header-search .search-submit:hover {
    border-color: #fff;
    box-shadow: none;
    color: #fff;
}

/* -------------------------------------------------- */
/* 2.1 Logo
/* -------------------------------------------------- */
.site-branding {
	float: left;
    margin-right: 30px;
    text-align: left;
}
.site-branding #logo {
    height: 60px;
    margin: 10px 0;
}
.site-branding .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.custom-logo {
    max-height: 60px;
    vertical-align: middle;
}
.site-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 50px;
}
.site-title a {
    color: #fff;
    display: block;
}

/* -------------------------------------------------- */
/* 2.2 Navigation Menu
/* -------------------------------------------------- */
/* Essential Styles */
.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu li {
    position: relative;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    display: block;
}
.sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}
.sf-menu ul ul {
    top: 1px;
    left: 215px;
}
.sf-menu > li {
    float: left;
}
.sf-menu a {
    display: block;
    position: relative;
}

/* Theme Navigation Skin */
.sf-menu {
    float: left;
}
.sf-menu ul {
    background-color: #fff;
	  -moz-box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
	  -webkit-box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
	  -o-box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
	box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
    padding: 0 15px;
	width: 230px;
}
.sf-menu a {
    text-decoration: none;
    zoom: 1;
    /* IE7 */
}
.sf-menu li {
    white-space: nowrap;
    /* no need for Supersubs plugin */
    
    line-height: 80px;
}
.sf-menu li a {
    color: #fff;
    font-size: 14px;
    padding: 0 15px;
    text-transform: uppercase;
}
.sf-menu li a:before {
    border-bottom: 3px solid #eb5424;
    display: block;
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
	  -webkit-transition: transform 250ms ease-in-out;
	  -moz-transition: transform 250ms ease-in-out;
	  -ms-transition: transform 250ms ease-in-out;
	  -o-transition: transform 250ms ease-in-out;
	transition: transform 250ms ease-in-out;
}
.sf-menu li a:hover {
    background-color: #65aba7;
}
.sf-menu li a:hover:before {
    transform: scaleX(1);
}
.sf-menu li.sfHover a,
.sf-menu li.current-menu-item a,
.sf-menu li.current-menu-item a:hover {
    background-color: #65aba7;
}
.sf-menu li.sfHover a:before,
.sf-menu li.current-menu-item a:before,
.sf-menu li.current-menu-item a:hover:before {
    transform: scaleX(1);
}
.sf-menu li li {
    height: auto;
    line-height: 1.5;
    border-bottom: 1px solid #f0f0f0;
}
.sf-menu li li:last-child {
    border-bottom: none;
}
.sf-menu li li a {
    background: none !important;
    color: #222;
    font-size: 14px;
    padding: 12px 0;
	white-space: normal;
}
.sf-menu li li a:before {
    content: none;
}
.sf-menu li li ul {
    margin-top: -1px;
}
.sf-menu li:hover li a,
.sf-menu li.sfHover li a {
    color: #222;
    display: block;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
    padding-right: 27px;
}

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
    position: absolute;
    top: 50%;
    right: 24px;
    margin-top: -8px;
    height: 0;
    width: 0;
    content: '\f431';
    font: normal 14px/1 'Genericons';
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
    right: 5px;
    margin-top: -5px;
    margin-right: 0;
    content: '\f501';
    font: normal 9px/1 'Genericons';
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* -------------------------------------------------- */
/* 3. Homepage
/* -------------------------------------------------- */
.entry-title a,
.entry-title a:visited {
    color: #222;
	text-transform: capitalize;
}
.entry-title a:hover {
    color: #eb5424;
}

/* Site Content */
.site-content {
    padding: 50px 0;
}
#primary {
    float: left;
    width: 660px;
}
#primary.content-area.content-full {
    width: 100%;
}
#main {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    padding: 30px 25px 25px;
}
.thumbnail-wrap {
    position: relative;
}
.thumbnail-wrap .video-length {
    display: none;
    position: absolute;
    right: 3px;
    bottom: 3px;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1;
    font-size: 11px;
    padding: 2px 3px;
}
.post-thumbnail {
    opacity: 1;
    overflow: hidden;
    position: relative;
}
.post-thumbnail:hover img {
    transform: scale(1.1);
}
.single .post-thumbnail:hover img {
    transform: none;
}
.post-format .slide-item {
    min-height: auto;
}
.post-format + .entry-summary,
.post-format + .entry-content,
.post-format + p {
    padding-top: 15px;
}

/* -------------------------------------------------- */
/* 3.1 Recent Content
/* -------------------------------------------------- */
#recent-content {} 
.section-header {
    position: relative;
    margin-bottom: 20px;
}
.section-header h1,
.section-header h2,
.section-header h3 {
    color: #999;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0;
    text-transform: uppercase;
}
.section-header h1 a,
.section-header h1 a:visited,
.section-header h2 a,
.section-header h2 a:visited,
.section-header h3 a,
.section-header h3 a:visited {
    color: #999;
}
.section-header h1 a:hover,
.section-header h2 a:hover,
.section-header h3 a:hover {
    color: #222;
    text-decoration: none;
}
.content-loop .hentry {
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
}
.content-loop .hentry:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.content-loop .full-post {
	padding-bottom: 0;
}
.content-loop .thumbnail-link {
    display: block;
    float: left;
    width: 180px;
    position: relative;
    margin: 0 25px 0 0;
    line-height: 0.5;
}
.content-loop .thumbnail-link.right {
    float: right;
    margin: 0 0 0 25px;
}
.content-loop .thumbnail-link.full {
    float: none;
    line-height: 20px;
    width: 100%;
}
.content-loop .entry-overview {
    display: block;
}
.content-loop .entry-title {
    font-size: 26px;
    line-height: 1.4;
    margin: 0 0 15px;
}
.content-loop .entry-title a:hover {
    text-decoration: underline;
}
.content-loop .entry-meta {
    margin-bottom: 15px;
}
.content-loop .entry-summary {
    display: table;
    font-size: 14px;
    line-height: 1.8;
}
.content-loop .entry-summary p {
    display: inline;
}
.content-loop .read-more a:link,
.content-loop .read-more a:visited {
    color: #eb5424;
    font-size: 14px;
    font-weight: 600;
}
.post-link {
    display: block;
    position: relative;
}
.entry-meta {
    font-size: 12px;
    position: relative;
    color: #999;
}
.entry-meta a {
    color: #999;
}
.entry-meta a:hover {
    color: #222;
}
.entry-date:before {
	content:"\2013";
	padding-right: 3px;
}
.site-main .entry-meta {
    background: #eef1f2;
    background-position: left;
    margin-left: -25px;
}
.site-main .entry-author {
    margin-left: 25px;
}
.post-view {
    float: right;
    padding-right: 10px;
}
.post-view .fa {
	margin-right: 5px;
}
.entry-meta .sep {
    font-style: normal;
    margin: 0 4px;
}
.entry-meta .entry-author .avatar {
    height: 21px;
    margin: 0 5px 0 0;
    width: 20px;
}
a.setup-notice {
    color: #eb5424 !important;
}

/* -------------------------------------------------- */
/* 3.2 Pagination
/* -------------------------------------------------- */
.pagination {
    background: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
    padding: 35px 0;
    width: 100%;
    text-align: center;
}
.pagination .page-numbers {
    background-color: #e8edf3;
    border: 1px solid #d3d3d3;
	 -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	 -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	 -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #444;
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    height: 36px;
    line-height: 34px;
    padding: 0 12px;
}
.pagination .page-numbers.current {
    background: #eb5424;
    color: #fff;
}
.pagination .page-numbers:hover {
    background-color: #eb5424;
    border-color: #c3c3c3;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    text-decoration: none;
}
.pagination .nav-prev {
    float: left;
    position: relative;
}
.pagination .nav-next {
    float: right;
    position: relative;
}

/* -------------------------------------------------- */
/* 4. FEATURED SLIDER
/* -------------------------------------------------- */
.featured-area {
    margin-bottom: 25px;
    max-height: 400px;
    overflow: hidden;
}
.slider .slide-item {
    background-position: center center !important;
    background-size: cover !important;
    position: relative;
}
.slider .slide-item.post {
    min-height: 400px;
}
.owl-prev,
.owl-next {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 20px;
    z-index: 5;
}
.owl-carousel .owl-next {
	right: 0;
	text-align: center !important;
}
.slider .slide-item-text {
    background: rgba(0, 0, 0, 0.25);
    display: table-cell;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
    position: absolute;
    vertical-align: middle;
    width: 100%;
}
.slider .slide-item-text:hover {
    background: rgba(0, 0, 0, 0.50) none repeat scroll 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.slider .post-text-inner {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 20px;
    vertical-align: middle;
}
.slider .post-meta a {
    color: #eee;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    margin: 0 6px;
}
.slider .post-title {
    line-height: 50px;
    margin: 20px 0 0;
    position: relative;
    text-align: center;
}
.slider .post-title > a {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: uppercase;
}
.slide-content .post-title > a {
    color: #fff;
}
.slider .social-share.share-buttons {
    display: inline-block;
}
.slider .social-share .shareto {
	display: none;
}
.slide-item-text .post-cats {
    color: #fff;
}
.slide-item-text .post-cats > a {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.slide-item .entry-summary {
    color: #fff;
    font-size: 15px;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 15px;
    text-align: justify;
}
.slide-item .feat-more:hover {
    background: rgba(0, 0, 0, 0.15);
}
.slide-item .feat-more {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 3px;
    padding: 10px 13px 12px 14px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.slide-item .post-title a {
    color: #fff;
    font-size: 25px;
    line-height: 0;
    text-transform: capitalize;
}
.slider .owl-nav > div {
    display: inline-block;
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    margin: 0 2px;
    font-size: 18px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.slider .owl-nav > div.owl-prev {
    right: 75px;
}
.slider .owl-nav > div.owl-next {
    right: 30px;
}
.slider .owl-nav > div:hover {
    background-color: #eb5424;
}
.slide-content {
    border-radius: 2px;
    bottom: 30px;
    left: 30px;
    position: absolute;
}
.slide-content .post-cats {
    margin: 0;
}
.slide-content .post-cats > a {
    color: #fff;
}
.slide-content .post-title {
    position: relative;
    margin: 0;
}
.slide-content .post-title > a {
    color: #fff;
}
.slide-content .post-meta .post-date time {
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    padding: 3px 7px;
    text-transform: uppercase;
}
.slide-item-text .post-meta > a {
    margin: 0 10px 0 0;
}
.slide-content .post-meta .socials li a {
    color: #fff;
}

/* -------------------------------------------------- */
/* 5. Single Post/Page
/* -------------------------------------------------- */
.page-title {
    font-size: 30px;
    margin: 0 0 25px;
    line-height: 1.2;
}
.single .entry-header {
    margin-bottom: 15px;
}
.single .entry-header .wrap-meta {
    padding-top: 20px;
}
.page .entry-header {
    margin-bottom: 20px;
}
.page #primary .entry-thumbnail,
.single #primary .entry-thumbnail,
.error404 #primary .entry-thumbnail {
    margin-bottom: 10px;
}
.page h1.entry-title,
.single h1.entry-title,
.error404 h1.entry-title {
    display: block;
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.page .entry-comment-count,
.single .entry-comment-count,
.error404 .entry-comment-count {
    border-right: 1px solid #e3e3e3;
    float: left;
    line-height: 1.15;
    margin-right: 20px;
    padding-right: 20px;
    text-align: center;
}
.page .entry-comment-count strong,
.single .entry-comment-count strong,
.error404 .entry-comment-count strong {
    font-size: 18px;
    display: block;
}
.page .entry-comment-count strong a:link,
.page .entry-comment-count strong a:visited,
.single .entry-comment-count strong a:link,
.single .entry-comment-count strong a:visited,
.error404 .entry-comment-count strong a:link,
.error404 .entry-comment-count strong a:visited {
    color: #222;
    text-decoration: none;
}
.page .entry-comment-count strong a:hover,
.single .entry-comment-count strong a:hover,
.error404 .entry-comment-count strong a:hover {
    color: #222;
}
.page .entry-comment-count span,
.single .entry-comment-count span,
.error404 .entry-comment-count span {
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}
.wrap-meta {
	display: block;
	overflow: hidden;
}
.error404 .wrap-meta,
.single .wrap-meta,
.page .wrap-meta {
    margin-bottom: 0;
}
.error404 .entry-content label,
.error404 .page-content label {
    display: inline-block;
}
.vt-format-icon:hover {
    opacity: 1;
}
.vt-format-icon {
    background: url(assets/img/bg_hover.png) repeat;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
      -webkit-transition: opacity 600ms ease;
      -moz-transition: opacity 600ms ease;
      -ms-transition: opacity 600ms ease;
      -o-transition: opacity 600ms ease;
	transition: opacity 600ms ease;
}

/* -------------------------------------------------- */
/* 5.1 Entry Content
/* -------------------------------------------------- */
.entry-content {
	margin: 0;
}
.page-content a,
.entry-content a {
    color: #eb5424;
}
.page-content p,
.entry-content p {
    line-height: 1.8;
    margin-bottom: 15px;
}
.page-content ul,
.page-content ol,
.entry-content ul,
.entry-content ol {
    margin: 0 0 25px 0;
}
.page-content ul ul,
.page-content ul ol,
.page-content ol ul,
.page-content ol ol,
.entry-content ul ul,
.entry-content ul ol,
.entry-content ol ul,
.entry-content ol ol {
    margin: 8px 0 0 25px;
}
.page-content ul li,
.entry-content ul li {
    list-style: none;
    margin: 0 0 10px 0;
}
.page-content ul li:hover:before,
.entry-content ul li:hover:before {
    color: #eb5424;
}
.page-content ul li:before,
.entry-content ul li:before {
    font-family: "genericons";
    content: '\f428';
    color: #999;
    font-size: 20px;
    margin-left: -4px;
    padding-right: 2px;
    vertical-align: middle;
    text-align: left;
}
.page-content ul li ul li,
.entry-content ul li ul li {
    list-style: none;
}
.page-content ol li,
.entry-content ol li {
    list-style: inside decimal;
    margin: 0 0 10px 0;
}
.page-content select,
.entry-content select {
    padding: 0 5px;
}
.page-content select:focus,
.page-content select:active,
.entry-content select:focus,
.entry-content select:active {
    outline: none;
}
.page-content dl,
.entry-content dl {
    margin-bottom: 20px;
}
.page-content fieldset,
.entry-content fieldset {
    border: 1px solid #e9e9e9;
    margin: 0 2px 20px 2px;
    padding: 0.35em 0.625em 0.75em;
}
.page-content input[type="radio"],
.entry-content input[type="radio"] {
    -webkit-appearance: radio;
}
.page-content input[type="checkbox"],
.entry-content input[type="checkbox"] {
    -webkit-appearance: checkbox;
}
.page-content::-webkit-file-upload-button,
.entry-content::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
.page-content label,
.entry-content label {
    display: block;
    font-weight: 600;
}
.page-content table,
.entry-content table {
    margin-bottom: 20px;
}
.page-content select,
.entry-content select {
    border: 1px solid #e9e9e9;
    font-size: 1em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 2em;
    max-width: 100%;
    -webkit-appearance: menulist;
}
.page-content input[type="text"],
.page-content input[type="email"],
.page-content input[type="url"],
.page-content input[type="search"],
.page-content input[type="password"],
.entry-content input[type="text"],
.entry-content input[type="email"],
.entry-content input[type="url"],
.entry-content input[type="search"],
.entry-content input[type="password"] {
    width: 300px;
}
.page-content input[type="file"],
.entry-content input[type="file"] {
    border: none;
}
.page-content textarea,
.entry-content textarea {
    width: 100%;
    height: 200px;
}
.page-content .wp-caption,
.entry-content .wp-caption {
    background-color: #f7f7f7;
    padding: 0 0 1px 0;
}
.page-content .wp-caption-text,
.entry-content .wp-caption-text {
    font-size: 13px;
    font-style: italic;
    color: #999;
}
blockquote {
    color: #999999;
    font-size: 18px;
    font-style: italic;
    padding: 0.25em 50px;
    line-height: 1.45;
    position: relative;
}
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 64px;
    position: absolute;
    left: 0;
    top: -15px;
    color: #cccccc;
}
blockquote cite {
    color: #333333;
    display: block;
    margin-top: 10px;
}
blockquote cite:before {
    content: "\2014 \2009";
}
#primary p,
.widget p,
.entry-summary,
.author-desc {
    line-height: 1.8em;
}

/* -------------------------------------------------- */
/* 5.2 Entry Footer
/* -------------------------------------------------- */
.entry-footer {
	border-bottom: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	margin: 25px 0 0;
	padding: 10px 0;
}
.entry-footer .wrap-meta {
    margin: 0;
}
.entry-footer .entry-comment-count strong {
	float: left;
	padding: 5px 2px 0 10px;
}
.entry-footer .entry-comment-count > span {
	float: right;
	padding: 10px 5px 0 10px;
	text-align: center;
	vertical-align: middle;
}
.entry-footer .social-share.share-buttons {
	display: inline-block;
	float: right;
}
.entry-footer .shareto {
	color: #aaa;
	font-size: 13px;
	font-style: italic;
	padding-right: 10px;
}
.entry-footer .social-share a, .author-social {
	color: #888 !important;
	display: inline-block;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	margin: 0 3px;
	width: 20px;
}
.entry-footer .social-share a:hover {
	color: #222 !important;
}
.entry-footer a {
    color: #eb5424;
}
.entry-footer a:hover {
    color: #222;
}
.entry-footer .social-share .fa-envelope-open {
	font-size: 13px;
}

/* -------------------------------------------------- */
/* 5.3 Related  Posts
/* -------------------------------------------------- */
.entry-related {
	border-bottom: 1px solid #e9e9e9;
	margin: 0;
    padding: 15px 0 0;
}
.entry-related h3 {
    font-size: 18px;
    margin-bottom: 25px;
}
.entry-related h3 span {
    color: #eb5424;
}
.entry-related .hentry {
    float: left;
    width: 278px;
    margin: 0 24px 25px 0;
}
.entry-related .hentry.last {
    margin-right: 0;
}
.entry-related .hentry .entry-title {
    display: table;
	font-size: 14px;
    font-weight: normal;
    line-height: 1.45;
	margin: 0;
}
.entry-related .hentry .entry-title a:hover {
    color: #eb5424;
}
.entry-related .hentry .entry-meta {
    font-size: 13px;
}
.entry-related .hentry .thumbnail-link {
    float: left;
    width: 80px;
    margin: 0 15px 0 0;
}
.entry-related .hentry .thumbnail-wrap {
    height: auto;
    line-height: 0.8;
}

/* -------------------------------------------------- */
/* 5.4 Tag Cloud
/* -------------------------------------------------- */
.entry-tags {
	clear: both;
	display: block;
	overflow: hidden;
	padding-top: 20px;
	position: relative;
}
.entry-tags span {
    font-size: 13px;
    margin-right: 10px;
}
.entry-tags .tag-cloud-link {
	margin: 0 3px 5px 0;
}
.tag-title {
	color: #aaa;
	font-style: italic;
}
.tagcloud a {
    background-color: #f3f3f3;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
	 -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	 -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	 -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #666;
    display: inline-block;
    font-size: 11px !important;
	font-weight: normal !important;
    margin: 0 1px 5px 0;
    padding: 1px 8px 1px 18px;
    position: relative;
    text-transform: uppercase;
}
.tagcloud a:hover {
    background-color: #f0f0f0;
    border: 1px solid #c3c3c3;
	 -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
 	 -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	 -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #222;
    text-decoration: none;
}
.tagcloud a:hover:before {
    color: #eb5424;
}
.tagcloud a:before {
    font-family: "genericons";
    font-size: 18px;
    color: #bbb;
    content: "\f428";
    position: absolute;
    left: 1px;
    top: 2px;
}

/* -------------------------------------------------- */
/* 5.5 Edit Link
/* -------------------------------------------------- */
.post .edit-link,
.page .edit-link {
	background-color: #fff;
	border: 1px solid #d3d3d3;
	padding: 5px 10px 8px;
	position: fixed;
	left: 0;
	top: 10rem;
	z-index: 1;
}
.post-edit-link {
	position: relative;
	top: 3px;
}
.post-edit-link::before {
	position: relative;
	top: -2px;
}
.post-edit-link::before,
.edit-link a {
    color: #eb5424;
}

/* -------------------------------------------------- */
/* 5.6 Author Box
/* -------------------------------------------------- */
.author-box {
    padding: 30px 0 0;
	border-bottom: 1px solid #e9e9e9;
}
.author-box .avatar {
    border-radius: 50%;
    float: left;
    height: auto;
    line-height: 0.8;
    margin: 0 15px 0 0;
    width: 100px;
}
.author-box .author-meta {
    display: table;
	margin-bottom: 15px;
}
.author-box .author-meta .author-name {
    font-size: 16px;
	margin: 0 0 5px;
}
.author-box .author-meta .author-name a {
    color: #eb5424;
}
.author-box .author-meta .author-name a:hover {
	color: #eb5424;
}
.author-box .author-meta .author-desc {
	margin-bottom: 5px;
}
.author-box .author-desc > p {
	margin-bottom: 5px;
}
.author-box .author-meta .social-share a:hover {
	color: #222 !important;
}

/* -------------------------------------------------- */
/* 6. Archive/Search Page
/* -------------------------------------------------- */
.search-no-results .page-title {
    font-size: 18px;
    margin-bottom: 10px;
}

/* -------------------------------------------------- */
/* 7. Comments
/* -------------------------------------------------- */
.comments-area {
    background-color: #fff;
    padding: 25px 0 0 0;
}
.comments-title {
    font-size: 18px;
	margin: 0 0 25px;
}
.comment-reply-title {
    font-size: 18px;
    margin-bottom: 20px;
}
.comment-list {
    border-bottom: 1px solid #e9e9e9;
    list-style: none;
    margin: 0 0 25px 0;
}
.comment-author {
    font-size: 14px;
}
.comment-meta {
    margin-bottom: 4px;
}
.comment-list .reply,
.comment-metadata {
    font-size: 13px;
}
.comment-list .reply {
    margin-top: 10px;
}
.comment-author .fn {
    font-weight: bold;
}
.comment-author a {
    color: #2b2b2b;
}
.comment-list .trackback a,
.comment-list .pingback a,
.comment-metadata a,
.comment-list .reply a {
    color: #767676;
}
.comment-list .trackback a:hover,
.comment-list .pingback a:hover,
.comment-metadata a:hover,
.comment-list .reply a:hover {
    color: #333;
}
.comment-author a {
    color: #eb5424;
}
.comment-author a:hover {
    color: #222;
}
.comment-list li article {
    border-bottom: 1px dashed #e9e9e9;
    padding: 0 0 15px;
}
.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
    margin: 0 0 20px 0;
}
.comment-list > li:first-child > article,
.comment-list > .pingback:first-child,
.comment-list > .trackback:first-child {
    border-top: 0;
}
.comment-author {
    position: relative;
}
.comment-author .avatar {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: auto;
}
.bypostauthor > article .fn:before {
    color: #fbb034;
    content: "\f408";
    margin: 0 2px 0 -2px;
    position: relative;
    top: -1px;
}
.says {
    display: none;
}
.comment-author,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
    padding-left: 64px;
}
.comment-author {
    display: inline;
}
.comment-metadata {
    display: inline;
    margin-left: 7px;
}
.comment-edit-link:hover {
    text-decoration: none;
}
#cancel-comment-reply-link:hover {
    text-decoration: none;
}
.post-edit-link:before,
.comment-edit-link:before {
    content: "\f411";
}
.comment-reply-link:hover {
    text-decoration: none;
}
.comment-reply-link:before,
.comment-reply-login:before {
    content: '\f467';
    color: #aaa;
    margin-right: 2px;
}
.comment-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
.comment-content a {
    color: #eb5424;
}
.comment-content ul,
.comment-content ol {
    margin: 0 0 24px 22px;
}
.comment-content li > ul,
.comment-content li > ol {
    margin-bottom: 0;
}
.comment-content >:last-child {
    margin-bottom: 0;
}
.comment-list .children {
    list-style: none;
    margin-left: 64px;
}
.comment .comment-respond {
    margin: 25px 0;
}
.comment-respond h3 {
    margin-top: 0;
}
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
    color: #767676;
}
.comment-notes a,
.comment-awaiting-moderation a,
.logged-in-as a,
.no-comments a,
.form-allowed-tags a,
.form-allowed-tags code a {
    color: #767676;
}
.comment-notes a:hover,
.comment-awaiting-moderation a:hover,
.logged-in-as a:hover,
.no-comments a:hover,
.form-allowed-tags a:hover,
.form-allowed-tags code a:hover {
    color: #222;
}
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}
.no-comments {
    font-size: 16px;
    font-weight: 900;
    line-height: 1.5;
    margin-top: 24px;
    text-transform: uppercase;
}
.comment-form .comment-form-comment,
.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
    margin-bottom: 20px;
}
.comment-form textarea {
    width: 100%;
}
.comment-form .comment-form-author {
    float: left;
    width: 180px;
    margin-right: 25px;
}
.comment-form .comment-form-email {
    float: left;
    width: 179px;
    margin-right: 25px;
}
.comment-form .comment-form-url {
    float: left;
    width: 179px;
}
.comment-form:after {
    content: '';
    display: block;
    clear: both;
}
.comment-form .submit {
    font-size: 14px;
    padding: 0 18px;
}
.comment-form label {
    display: block;
    font-size: 14px;
    font-weight: bold;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
    width: 100%;
}
.form-allowed-tags,
.form-allowed-tags code {
    font-size: 12px;
    line-height: 1.5;
}
.required {
    color: #c0392b;
}
.comment-reply-title small a {
    color: #2b2b2b;
    float: right;
    height: 24px;
    overflow: hidden;
    width: 24px;
}
.comment-reply-title small a:hover {
    color: #eb5424;
}
.comment-reply-title small a:before {
    content: "\f405";
    font-size: 20px;
}
.comment-navigation {
    font-size: 12px;
    line-height: 2;
    margin-bottom: 48px;
    text-transform: uppercase;
}
.comment-navigation .nav-next,
.comment-navigation .nav-previous {
    display: inline-block;
}
.comment-navigation .nav-previous a {
    margin-right: 10px;
}
#comment-nav-above {
    margin-top: 36px;
    margin-bottom: 0;
}

/* -------------------------------------------------- */
/* 8. Sidebar
/* -------------------------------------------------- */
.sidebar {
    float: right;
    margin-bottom: -20px;
    width: 320px;
}
.sidebar .widget {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    margin-bottom: 20px;
    padding: 20px;
}
.widget-title {
	margin: 0 0 15px;
}
.sidebar .widget-title {
    border-bottom: 1px solid #e9e9e9;
    font-size: 18px;
    margin-bottom: 15px;
}
.sidebar .widget-title span,
.footer-columns .widget-title span {
    border-bottom: 3px solid #eb5424;
    display: inline-block;
    line-height: 35px;
    margin: 0 0 -1px;
}
.sidebar .widget p {
    margin-bottom: 15px;
}
.sidebar .widget ul .children,
.sidebar .widget ul .sub-menu {
    padding-left: 1.5em;
}
.sidebar .widget ul .children li:first-child,
.sidebar .widget ul .sub-menu li:first-child {
    padding: 15px 0;
    border-top: 1px solid #e9e9e9;
}
.sidebar .widget ul > li {
    list-style: none;
    margin-bottom: 15px;
}
.sidebar .widget ul > li a:hover {
    color: #eb5424;
}
.sidebar .widget ul li:last-child {
    margin-bottom: 0;
}
.sidebar .widget select {
    width: 100%;
    max-width: 100%;
}
.sidebar .widget_search input[type='search'] {
    width: 190px;
}
.sidebar .widget_search input[type='submit'] {
    width: 80px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.sidebar .widget_social_icons ul li,
.sidebar .widget_posts_thumbnail ul li {
    list-style: none;
}
.sidebar .widget_social_icons ul li:before,
.sidebar .widget_posts_thumbnail ul li:before {
    content: none;
    display: none;
}
.sidebar .widget_posts_thumbnail {
    line-height: 1.4;
}
.sidebar .widget_posts_thumbnail ul > li {
    margin-bottom: 20px;
    padding: 0 !important;
}
.sidebar .widget_posts_thumbnail .thumbnail-wrap,
.sidebar .widget_posts_thumbnail .wp-post-image,
.sidebar .widget_posts_thumbnail img {
    width: 80px;
    height: auto;
}

/* -------------------------------------------------- */
/* 9. Widgets
/* -------------------------------------------------- */
/* About Widget */
.about-widget {
    text-align: center;
}
.about-img {
    margin-bottom: 10px;
}
.about-title {
    color: #333;
    font-size: 11px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.about-description {
    margin: 0;
    text-align: center;
}

/* Posts with Thumbnail Widget */
.widget_posts_thumbnail ul li {
    margin: 0 0 20px 0;
}
.widget_posts_thumbnail li:after {
    content: "";
    display: block;
    clear: both;
}
.widget_posts_thumbnail .entry-thumbnail {
    float: left;
}
.widget_posts_thumbnail .entry-wrap {
    display: table;
    line-height: 1.2;
}
.widget a, .widget_posts_thumbnail .entry-wrap a {
    color: #444;
    font-size: 13px;
    font-weight: 600;
}
.widget_posts_thumbnail .thumbnail-wrap {
    float: left;
    margin: 0 12px 0 0;
    line-height: 0;
}
.widget_posts_thumbnail .entry-meta {
    font-size: 11px;
    margin-top: 5px;
}

/* Recent Posts Widget */
.widget_recent_entries .post-date {
    font-size: 13px;
    color: #999;
    margin-left: 5px;
}

/* Categories Widget */
.widget_categories ul li {
    color: #999;
}
.sidebar,
.site-footer {}

/* Ad Widget */
.sidebar .widget_ad,
.site-footer .widget_ad {
    background: none;
    border: none;
    padding: 0;
    line-height: 1;
}
.adwidget img {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.sidebar .widget_ad .widget-title,
.site-footer .widget_ad .widget-title {
    text-align: center;
}

/* Newsletter Widget */
.sidebar .widget_newsletter form input[type="submit"],
.sidebar .widget_newsletter form input[type="button"],
.sidebar .widget_newsletter form button,
.site-footer .widget_newsletter form input[type="submit"],
.site-footer .widget_newsletter form input[type="button"],
.site-footer .widget_newsletter form button {
    background: #65aba7;
    border: none;
    color: #fff;
    font-size: 14px;
    width: 100%;
    margin-top: 15px;
}
.sidebar .widget_newsletter,
.site-footer .widget_newsletter {
    background-color: #343e47;
    background-image: url("assets/img/icon-mail-trans.png");
    background-repeat: no-repeat;
    background-position: 110% -20px;
    color: #8b95a4;
    padding: 20px;
    width: 100%;
}
.sidebar .widget_newsletter .widget-title,
.sidebar .widget_newsletter .widget-title span,
.site-footer .widget_newsletter .widget-title,
.site-footer .widget_newsletter .widget-title span {
	color: #fff;
}
.sidebar .widget_newsletter .widget-title:after,
.site-footer .widget_newsletter .widget-title:after {
    content: none;
}
.sidebar .widget_newsletter p,
.site-footer .widget_newsletter p {
    color: #8b95a4;
}
.sidebar .widget_newsletter form input[type="text"],
.sidebar .widget_newsletter form input[type="email"],
.site-footer .widget_newsletter form input[type="text"],
.site-footer .widget_newsletter form input[type="email"] {
    border: none;
    width: 100%;
    margin-top: 15px;
}
.sidebar .widget_newsletter form input[type="text"]:focus,
.sidebar .widget_newsletter form input[type="email"]:focus,
.site-footer .widget_newsletter form input[type="text"]:focus,
.site-footer .widget_newsletter form input[type="email"]:focus {
    border: none;
}

/* Social Icons Widget */
.widget_social_icons {
    text-align: center;
}
.widget_social_icons:before {
    display: none;
}
.widget_social_icons .widget-title {
    text-align: center;
}
.widget_social_icons .widget-title span {
    background: none;
    padding: 0 10px;
}
.widget_social_icons .widget-title:after {
    content: none;
}
.widget_social_icons .desc {
    color: #999;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
}
.widget_social_icons ul {
    text-align: center;
}
.widget_social_icons ul li {
    border: none;
    display: inline-block;
    padding: 0;
}
.widget_social_icons ul > li {
    border: none;
    display: inline-block;
    margin-bottom: 0;
}
.widget_social_icons ul > li.facebook a {
    background-image: url("assets/img/facebook.png");
    background-size: 19px 18px;
    line-height: 30px;
}
.widget_social_icons ul > li.twitter a {
    background-image: url("assets/img/twitter.png");
    background-size: 19px 19px;
    line-height: 30px;
}
.widget_social_icons ul > li.google-plus a {
    background-image: url("assets/img/google-plus.png");
    background-size: 24px 24px;
    line-height: 35px;
}
.widget_social_icons ul > li.pinterest a {
    background-image: url("assets/img/pinterest.png");
    background-size: 20px 20px;
    line-height: 30px;
}
.widget_social_icons ul > li.youtube a {
    background-image: url("assets/img/youtube.png");
    background-size: 19px 19px;
    line-height: 30px;
}
.widget_social_icons ul > li.linkedin a {
    background-image: url("assets/img/linkedin.png");
    background-size: 19px 19px;
    line-height: 32px;
}
.widget_social_icons ul > li.instagram a {
    background-image: url("assets/img/instagram.png");
    background-size: 19px 19px;
    line-height: 28px;
}
.widget_social_icons ul > li.tumblr a {
    background-image: url("assets/img/tumblr.png");
    background-size: 20px 20px;
    line-height: 31px;
}
.widget_social_icons ul > li.soundcloud a {
    background-image: url("assets/img/soundcloud.png");
    background-size: 20px 20px;
    line-height: 31px;
	width: 25px;
}
.widget_social_icons ul > li.rss a {
    background-image: url("assets/img/rss.png");
    background-size: 16px 16px;
    line-height: 26px;
}
.widget_social_icons ul > li a {
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
    text-indent: -9999em;
    text-align: center;
	width: 30px;
}
.site-footer .widget_social_icons {
    padding: 0;
}

/* Recent Comments Widget */
.widget ul .vt-blogging-pro-widget-latest {
    overflow: hidden;
    margin-bottom: 20px;
}
.widget ul .vt-blogging-pro-widget-latest:last-of-type {
    margin-bottom: 0
}
.widget ul .vt-blogging-pro-widget-latest .vt-blogging-pro-widget-latest-left {
    float: left;
    margin-right: 15px;
}
.widget ul .vt-blogging-pro-widget-latest .vt-blogging-pro-widget-latest-right {
    overflow: hidden
}
.widget ul .vt-blogging-pro-widget-latest .vt-blogging-pro-widget-latest-right p {
	margin-bottom: 0
}
.widget ul .vt-blogging-pro-widget-latest .vt-blogging-pro-widget-latest-right .marlin-post-date {
	font-size: 10px;
}
.widget ul .vt-blogging-pro-widget-latest .vt-blogging-pro-widget-latest-right .vt-blogging-pro-widget-latest-comment-author {
	text-transform: uppercase;
	color: #767676;
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 16px;
	margin-bottom: 5px;
}
.widget ul .vt-blogging-pro-widget-latest .vt-blogging-pro-widget-latest-right h5 {
	font-size: 13px;
	margin: 0;
	line-height: 20px;
}

/* Instagram Widget */
.widget .instagram-wrap {
	overflow: hidden;
}
.instagram-title {
	color: #999;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 2px;
	line-height: 30px;
	list-style: none;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0.5em;
	text-align: right;
}
ul.instagram-pics {
	text-align: center;
}
.widget .instagram-pics li {
	display: inline-block;
	float: left;
	height: 90px;
	line-height: 0.3;
	margin: 1px !important;
	overflow: hidden;
	padding: 0 1px 1px 0;
}
.sidebar .widget ul li:nth-child(3n+3) {
	margin-right: 0;
	padding-right: 0;
}

/* Most View Widget */
.most-viewed-widget .entry-date::before {
	content: none;
}
.most-viewed-widget .view-count {
	padding-left: 5px;
}
.most-viewed-widget .fa {
	padding-right: 2px;
}

/* -------------------------------------------------- */
/* 10. Footer
/* -------------------------------------------------- */
.footer-columns {
    background-color: #343e47;
    padding: 40px 0 20px 0;
}
.footer-columns .section-header {
    font-size: 32px;
    margin-bottom: 20px;
}
.footer-columns .widget {
    margin-bottom: 20px;
}
.footer-columns .widget_posts_thumbnail .thumbnail-wrap,
.footer-columns .widget_posts_thumbnail .wp-post-image,
.footer-columns .widget_posts_thumbnail img {
    width: 80px;
    height: auto;
}
.footer-columns .footer-column {
    float: left;
    margin: 0 30px 0 0;
    box-sizing: content-box;
    position: relative;
}
.footer-columns .footer-column-4 {
    margin-right: 0;
}
.footer-columns .widget .widget-title {
    border-bottom: 1px solid #444;
}
.site-footer .widget {
    color: #9f9f9f;
    margin-bottom: 20px;
}
.site-footer .widget a,
.site-footer .widget a:hover {
    color: #fff;
}
.site-footer .widget-title {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}
.site-footer .widget p {
    color: #9f9f9f;
    margin-bottom: 15px;
}
.site-footer .widget ul .children,
.site-footer .widget ul .sub-menu {
    padding-left: 1.5em;
}
.site-footer .widget ul .children li:first-child,
.site-footer .widget ul .sub-menu li:first-child {
    border-top: none;
    padding-top: 0;
}
.site-footer .widget ul .children li:last-child,
.site-footer .widget ul .sub-menu li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.site-footer .widget ul > li {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}
.site-footer .widget ul > li a {
    color: #9f9f9f;
	font-weight: normal;
}
.site-footer .widget ul > li a:hover {
    color: #fff;
}
.site-footer .widget ul li:first-child {
    border-top: none;
    padding-top: 0;
}
.site-footer .widget ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.site-footer .widget select {
    width: 100%;
    max-width: 100%;
}
.site-footer .widget_posts_thumbnail ul li {
    margin-bottom: 20px;
}
.site-footer .widget_posts_thumbnail ul li a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
}
.site-footer .widget_posts_thumbnail .entry-meta {
	font-size: 10px;
}
.site-footer .widget_posts_thumbnail .thumbnail-wrap {
    line-height: 4.3;
}
.site-footer .widget_search input[type='search'] {
    width: 100%;
    margin-bottom: 10px;
}
.site-footer .widget_search input[type='submit'] {
    width: 100%;
}

/* Backtotop */
#back-top {
    bottom: 50px;
    display: none;
    left: 50%;
    margin-left: 530px;
    position: fixed;
}
#back-top a span {
    background-color: #eb5424;
    color: #fff;
    font-size: 18px;
    width: 30px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
#back-top a:hover span {
    color: #fff;
    background-color: #ff6644;
}
#back-top a:hover {
    text-decoration: none;
}

/* Site Bottom */
#site-bottom {
    background: #262f3c;
    color: #666;
    font-size: 12px;
    padding: 25px 0;
}
#site-bottom .site-info {
    color: #888;
    float: left;
    text-transform: uppercase;
}
#site-bottom .site-info a {
    color: #888;
}
#site-bottom .site-info a:hover {
    color: #bbb;
}
#site-bottom .footer-nav {
    float: right;
}
#site-bottom .footer-nav li {
    border-right: 1px solid #666;
    display: inline-block;
    list-style: none;
    line-height: 1;
    padding: 0 15px;
}
#site-bottom .footer-nav li:last-child {
    border-right: none;
    padding-right: 0;
}
#site-bottom .footer-nav li a {
    color: #666;
}
#site-bottom .footer-nav li a:hover {
    color: #eb5424;
}
#site-bottom .footer-nav li li {
    display: none;
}

/* -------------------------------------------------- */
/* 11. Misc.
/* -------------------------------------------------- */
.step {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

/* Mobile Menu */
.mobile-menu-icon {
    display: none;
    position: absolute;
    top: 46px;
    right: 50px;
}
.mobile-menu-icon .menu-icon-close,
.mobile-menu-icon .menu-icon-open {
    background: #f5f5f5;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    color: #666;
    display: block;
    font-size: 13px;
    font-weight: 600;
    width: 60px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.mobile-menu-icon .menu-icon-close:hover,
.mobile-menu-icon .menu-icon-open:hover {
    border-color: #999;
    color: #222;
    cursor: pointer;
}
.mobile-menu-icon .menu-icon-close {
    display: none;
}
.mobile-menu-icon .menu-icon-close .genericon {
    margin-top: -2px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    vertical-align: middle;
}
.mobile-menu-icon .menu-icon-open.active {
    display: none;
}
.mobile-menu-icon .menu-icon-close {
    display: none;
}
.mobile-menu-icon .menu-icon-close.active {
    display: inline-block;
}
.mobile-menu {
    background-color: #fff;
    display: none;
    position: absolute;
    width: 100%;
    top: 94px;
    padding: 20px;
    z-index: 99;
}
.mobile-menu .menu-left,
.mobile-menu .menu-right {
    float: left;
    width: 50%;
}
.mobile-menu h3 {
    color: #222;
    font-size: 14px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.mobile-menu ul li {
    display: block;
    list-style: none;
    margin-bottom: 15px;
}
.mobile-menu ul li:hover:before {
    color: #ffa500;
}
.mobile-menu ul li:before {
    font-family: "genericons";
    content: '\f428';
    color: #999;
    font-size: 15px;
    margin-left: -4px;
    padding-right: 2px;
    vertical-align: middle;
    text-align: left;
}
.mobile-menu ul li:last-child {
    margin-bottom: 0;
}
.mobile-menu ul li.menu-item-home {
    display: none;
}
.mobile-menu ul li a {
    color: #666;
    font-size: 14px;
}
.mobile-menu ul li a:hover {
    color: #eb5424;
}

/* Mobile Search */
.mobile-search-icon {
    color: #222;
    display: none;
    position: absolute;
    top: 46px;
    right: 0;
}
.mobile-search-icon:hover {
    cursor: pointer;
}
.mobile-search-icon span {
    background: #f5f5f5;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    color: #666;
    display: block;
    font-size: 18px;
    font-weight: 600;
    width: 36px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
}
.mobile-search-icon span:hover {
    border-color: #999;
    color: #222;
}
.mobile-search-icon .genericon-search.active {
    display: none;
}
.mobile-search-icon .genericon-close {
    display: none;
}
.mobile-search-icon .genericon-close.active {
    display: inline-block;
}

/* -------------------------------------------------- */
/* 12. 404
/* -------------------------------------------------- */
.error-404 {
	padding: 10px 0;
}
.error404 .page-header {
  text-align: center;
}
.error-404 .fa-ban {
	color: #bdbdbd;
	font-size: 160px;
	margin: 0 0 10px;
}
.error-404.not-found .page-header .page-title span {
	color: #eb5424;
}

/* CSS3 Effects */
/* Responsive Menu */
.slicknav_menu,
#slick-mobile-menu {
    display: none;
}