/*
Theme Name: VT Blogging
Theme URI: http://volthemes.com/theme/vt-blogging/
Author: VolThemes
Author URI: http://volthemes.com
Description: VT Blogging is a Minimal and Clean WordPress Theme. Mobile-friendly (responsive), optimized for speed, and implements SEO (search engine optimization) best practices. The theme options are powered by Customizer. You can check out the demo at http://volthemes.com/demo/vt-blogging/ for a closer look.
Version: 1.0.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: vt-blogging
Tags: two-columns, blog, news, photography, right-sidebar, custom-logo, custom-background, custom-colors, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, post-formats, sticky-post, theme-options, threaded-comments, translation-ready
*/

/*
TABLE OF CONTENT

0. Reset
1. Defaults
2. Header
--2.1 Site Branding
--2.2 Navigation Menu
3. Homepage
--3.1 Featured Content
--3.2 Recent Content
--3.3 Pagination
4. Single Post/Page
5. Archive/Search Page
6. Comments
7. Sidebar
8. Footer
9. Misc.
*/
/*--------------------------------------------------------------
0. Reset
--------------------------------------------------------------*/
*,
*:before,
*:after {
	box-sizing: border-box;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  word-wrap: break-word;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ins {
	color: #333;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #333;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #eee;
	margin: 1em 0;
	padding: 0;
}
input, select {
  vertical-align: middle;
}
sup {
	top: -.5em;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
.no-list-style {
	list-style: none;
	margin: 0;
	padding: 0;
}
figure > img {
    display: block;
}
img {
    height: auto;
    max-width: 100%;
}
img[class*="align"],
img[class*="attachment-"] {
    height: auto;
}
embed,
iframe,
object {
    max-width: 100%;
    width: 100%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption .wp-caption-text {
    margin: 0.5075em 0;
}
.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
1. Defaults
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    font-weight: 600;
}
strong,
b {
    font-weight: bold;
}
input,
textarea,
select {
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
textarea {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    background-color: #fff;
    border: 1px solid #ddd;
    outline: none;
    color: #333;
}
input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #bfbfbf;
    outline: none;
}
textarea {
    padding: 10px 15px;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"] {
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
}
button,
.btn,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    padding: 0 15px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #222;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 38px;
    line-height: 34px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -webkit-backface-visibility: hidden;
}
button:hover,
.btn:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #f0f0f0;
    border-color: #c3c3c3;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
button:focus,
textarea:focus {
    outline: 0;
}
table {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    border-width: 1px;
    border-color: #e9e9e9;
    border-collapse: collapse;
    width: 100%;
}
table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #e6e6e6;
    background-color: #f0f0f0;
}
table tr:hover td {
    background-color: #f9f9f9;
}
table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #e6e6e6;
    background-color: #ffffff;
}
.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}
.alignright {
    float: right;
    margin: 0 0 20px 20px;
}
.aligncenter {
    display: block;
    margin: 0 auto;
    text-align: center;
    clear: both;
}
.alignnone {
    display: block;
}

/* Clear Floats */
.clear:before,
.clear:after {
    content: "";
    display: table;
}
.clear:after {
    clear: both;
}
.clear {
    clear: both;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
.bypostauthor {
    background: inherit;
    color: inherit;
}

/* Link Hover */
a:hover {
    color: #eb5424;
}

/* CSS3 Effects */
.box-shadow,
.mobile-menu {
    box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
    -webkit-box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
}
body {
    background: #f0f0f0;
    color: #414141;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
}
a {
    color: #eb5424;
    text-decoration: none;
}
a:hover {
    color: #eb5424;
    text-decoration: underline;
}
a:visited {
    color: #222;
}
a:active,
a:focus {
    outline: 0;
}
.container {
    margin: 0 auto;
    width: 1000px;
}

/* =Genericons, thanks to FontSquirrel.com for conversion!
-------------------------------------------------------------- */
@font-face {
    font-family: 'Genericons';
    src: url("assets/fonts/genericons/genericons-regular-webfont.eot");
    src: url("assets/fonts/genericons/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/genericons/genericons-regular-webfont.woff") format("woff"), url("assets/fonts/genericons/genericons-regular-webfont.ttf") format("truetype"), url("assets/fonts/genericons/genericons-regular-webfont.svg#genericonsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Genericons */
.bypostauthor > article .fn:before,
.comment-edit-link:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.comment-list .children li:before,
.contributor-posts-link:before,
.menu-toggle:before,
.search-toggle:before,
.slider-direction-nav a:before {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal 16px/1 Genericons;
    text-decoration: inherit;
    vertical-align: text-bottom;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#masthead .container {
    position: relative;
}
.site-header {
    background-color: #343e47;
    height: 80px;
    width: 100%;
    line-height: 1;
}
.site-header .search-icon {
    display: block;
    position: absolute;
    top: 28px;
    right: 0;
}
.site-header .search-icon:hover {
    cursor: pointer;
}
.site-header .search-icon:hover span {
    color: #bbb;
    color: rgba(255, 255, 255, 0.8);
}
.site-header .search-icon span {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    vertical-align: middle;
}
.site-header .search-icon .genericon-search.active {
    display: none;
}
.site-header .search-icon .genericon-close {
    display: none;
}
.site-header .search-icon .genericon-close.active {
    display: inline-block;
}
.search-input {
    background: #fff;
    border: 1px solid #ddd;
    outline: none;
    height: 38px;
    line-height: 38px;
    color: #333;
}
.search-input:focus {
    background-color: #fff;
    border-color: #bfbfbf;
}
.header-search .search-submit {
    border-left: none;
    color: #999;
    font-size: 15px;
    font-weight: 600;
    height: 38px;
    line-height: 1;
    outline: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

/* Header Search */
.header-search {
    border-top: 1px solid #333;
    display: none;
    background-color: #3c4852;
    line-height: 1;
    width: 100%;
    height: 60px;
    z-index: 2;
}
.header-search .container {
    position: relative;
}
.header-search .container:after {
    color: #ccc;
    font-family: 'Genericons';
    font-size: 24px;
    content: '\f400';
    position: absolute;
    top: 18px;
    left: 0;
}
.header-search .search-input {
    background: transparent;
    border: none;
    color: #999;
    font-size: 20px;
    height: 60px;
    width: 100%;
    padding-left: 40px;
}
.header-search .search-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999;
}
.header-search .search-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}
.header-search .search-input:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}
.header-search .search-input:-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}
.header-search .search-submit {
    background: transparent;
    border: 2px solid #eb5424;
    box-shadow: none;
    border-radius: 5px;
    color: #eb5424;
    font-size: 14px;
    height: 28px;
    letter-spacing: 1px;
    position: absolute;
    top: 14px;
    right: 0;
    padding: 0 4px;
    text-transform: uppercase;
}
.header-search .search-submit:hover {
    border-color: #fff;
    box-shadow: none;
    color: #fff;
}

/*--------------------------------------------------------------
2.1 Site Branding
--------------------------------------------------------------*/
.site-branding {
    float: left;
    margin-right: 30px;
    text-align: left;
}
.site-branding #logo {
    height: 60px;
    margin: 10px 0;
}
.site-branding .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.site-branding img {
    max-height: 60px;
    vertical-align: middle;
}
.site-title {
	font-size: 26px;
	font-style: normal;
	letter-spacing: 1.5px;
	line-height: 45px;
	margin: 5px 0 0;
}
.site-title a {
    color: #ddd;
    display: block;
}
.site-title a:hover {
    color: #fff;
	text-decoration: none;
}
.site-description {
	color: #ddd;
	font-size: 12px;
	margin-top: 2px;
}

/*--------------------------------------------------------------
2.1 Navigation Menu
--------------------------------------------------------------*/
/* Essential Styles */
.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu li {
    position: relative;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    display: block;
}
.sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}
.sf-menu ul ul {
    top: 0;
    left: 208px;
}
.sf-menu > li {
    float: left;
}
.sf-menu a {
    display: block;
    position: relative;
}

/* Theme Navigation Skin */
.sf-menu {
    float: left;
}
.sf-menu ul {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    width: 230px;
    padding: 0 20px;
    box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
    -webkit-box-shadow: rgba(190, 190, 190, 0.45882) 0px 1px 5px;
}
.sf-menu a {
    text-decoration: none;
    zoom: 1;
    /* IE7 */
}
.sf-menu li {
    line-height: 80px;
    white-space: nowrap;
    /* no need for Supersubs plugin */
    *white-space: normal;
    /* ...unless you support IE7 (let it wrap) */
}
.sf-menu li a {
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    font-size: 15px;
}
.sf-menu li a:hover {
    color: #bbb;
    color: rgba(255, 255, 255, 0.8);
}
.sf-menu li li {
    line-height: 1.5;
    border-bottom: 1px solid #f0f0f0;
}
.sf-menu li li:last-child {
    border-bottom: none;
}
.sf-menu li li a {
    color: #222;
    font-size: 15px;
    padding: 12px 0;
}
.sf-menu li li a:hover {
    color: #eb5424;
}
.sf-menu li li ul {
    margin-top: -1px;
}
.sf-menu li:hover a,
.sf-menu li.sfHover a {
    color: #bbb;
    color: rgba(255, 255, 255, 0.8);
}
.sf-menu li:hover li a,
.sf-menu li.sfHover li a {
    color: #222;
    display: block;
}
.sf-menu li:hover li a:hover,
.sf-menu li.sfHover li a:hover {
    color: #eb5424;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
    padding-right: 27px;
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
    position: absolute;
    top: 50%;
    right: 24px;
    margin-top: -6px;
    height: 0;
    width: 0;
    content: '\f431';
    font: normal 14px/1 'Genericons';
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
    right: 5px;
    margin-top: -5px;
    margin-right: 0;
    content: '\f501';
    font: normal 9px/1 'Genericons';
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*--------------------------------------------------------------
3. Homepage
--------------------------------------------------------------*/
.entry-title a,
.entry-title a:visited {
    color: #414141;
}
.entry-title a:hover {
    color: #eb5424;
}
/* Site Content */
.site-content {
    padding: 50px 0;
}
#primary {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    float: left;
    width: 660px;
}
#primary.content-area.content-full {
	width: 100%;
}
#main {
    padding: 30px 25px 25px;
}
.thumbnail-wrap {
    position: relative;
}
.thumbnail-wrap .video-length {
    display: none;
    position: absolute;
    right: 3px;
    bottom: 3px;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1;
    font-size: 11px;
    padding: 2px 3px;
}

/*--------------------------------------------------------------
3.2 Recent Content
--------------------------------------------------------------*/
#recent-content {}
.section-header {
    position: relative;
    margin-bottom: 20px;
}
.section-header h1,
.section-header h2,
.section-header h3 {
    color: #999;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0;
    text-transform: uppercase;
}
.section-header h1 a,
.section-header h1 a:visited,
.section-header h2 a,
.section-header h2 a:visited,
.section-header h3 a,
.section-header h3 a:visited {
    color: #999;
}
.section-header h1 a:hover,
.section-header h2 a:hover,
.section-header h3 a:hover {
    color: #222;
    text-decoration: none;
}
.content-loop .hentry {
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
}
.content-loop .hentry.last {
    border-bottom: none;
    padding-bottom: 0;
}
.content-loop .thumbnail-link {
    display: block;
    float: left;
    width: 180px;
    position: relative;
    margin: 0 25px 0 0;
    line-height: 0.5;
}
.content-loop .entry-overview {
    display: block;
}
.content-loop .entry-title {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 15px;
}
.content-loop .entry-title a:hover {
    text-decoration: underline;
}
.content-loop .entry-meta {
    margin-bottom: 15px;
}
.content-loop .entry-summary {
    display: table;
    font-size: 14px;
    line-height: 1.8;
}
.content-loop .entry-summary p {
    display: inline;
}
.content-loop .read-more a:link,
.content-loop .read-more a:visited {
	color: #eb5424;
    font-size: 14px;
    font-weight: bold;
}
.content-loop .read-more a:hover {
    color: #eb5424;
}
.post-link {
    display: block;
    position: relative;
}
.entry-meta {
    font-size: 12px;
    position: relative;
    color: #999;
}
.entry-meta a {
    color: #999;
}
.entry-meta a:hover {
    color: #222;
}
.site-main .entry-meta {
	background: #eef1f2;
	background-position: left;
	margin-left: -25px;
}
.site-main .entry-author {
	margin-left: 25px;
}
.entry-meta .sep {
    font-style: normal;
    margin: 0 4px;
}
.entry-meta .entry-author .avatar {
    width: 20px;
    height: auto;
    margin: 0 5px -5px 0;
}

/*--------------------------------------------------------------
3.3 Pagination
--------------------------------------------------------------*/
.pagination {
    border-top: 1px solid #e9e9e9;
    padding: 35px 0;
    width: 100%;
    text-align: center;
}
.pagination .nav-links {
	display: block;
	padding: 0 25px 15px;
	position: relative;
}
.pagination .page-numbers {
	background: #e8edf3;
	border: 1px solid #d3d3d3;
	color: #444;
	display: inline-block;
	font-size: 14px;
    height: 36px;
    line-height: 34px;
	padding: 0 12px;
}
.pagination .page-numbers.current {
	background: #eb5424;
	color: #fff;
}
.pagination .nav-links > a:hover {
	background: #eb5424;
	color: #fff;
	text-decoration: none;
}

/*--------------------------------------------------------------
4. Single Post/Page
--------------------------------------------------------------*/
.page-title {
    font-size: 30px;
    margin-bottom: 25px;
    line-height: 1.2;
}
.single .entry-header {
    margin-bottom: 15px;
}
.page .entry-header {
    margin-bottom: 20px;
}
.error404 #primary .entry-thumbnail,
.single #primary .entry-thumbnail,
.page #primary .entry-thumbnail {
    margin-bottom: 10px;
}
.error404 h1.entry-title,
.single h1.entry-title,
.page h1.entry-title {
    font-size: 26px;
    line-height: 1.4;
    display: block;
    margin-bottom: 15px;
}
.error404 .entry-comment-count,
.single .entry-comment-count,
.page .entry-comment-count {
    border-right: 1px solid #e3e3e3;
    float: left;
    line-height: 1.15;
    margin-right: 20px;
    padding-right: 20px;
    text-align: center;
}
.error404 .entry-comment-count strong,
.single .entry-comment-count strong,
.page .entry-comment-count strong {
    font-size: 18px;
    display: block;
}
.error404 .entry-comment-count strong a:link,
.error404 .entry-comment-count strong a:visited,
.single .entry-comment-count strong a:link,
.single .entry-comment-count strong a:visited,
.page .entry-comment-count strong a:link,
.page .entry-comment-count strong a:visited {
    color: #222;
    text-decoration: none;
}
.error404 .entry-comment-count strong a:hover,
.single .entry-comment-count strong a:hover,
.page .entry-comment-count strong a:hover {
    color: #222;
}
.error404 .entry-comment-count span,
.single .entry-comment-count span,
.page .entry-comment-count span {
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}
.error404 .entry-content label,
.error404 .page-content label {
    display: inline-block;
}

/* Related  Posts */
.entry-related {
    border-top: 1px solid #e9e9e9;
    margin: 25px 0 -25px 0;
    padding: 25px 0 0 0;
}
.entry-related h3 {
    font-size: 18px;
    margin-bottom: 25px;
}
.entry-related h3 span {
    color: #eb5424;
}
.entry-related .hentry {
    float: left;
    width: 278px;
    margin: 0 24px 25px 0;
}
.entry-related .hentry.last {
    margin-right: 0;
}
.entry-related .hentry .entry-title {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.45;
    display: table;
}
.entry-related .hentry .entry-title a:hover {
    color: #eb5424;
}
.entry-related .hentry .entry-meta {
    font-size: 13px;
}
.entry-related .hentry .thumbnail-link {
    float: left;
    margin: 0 15px 0 0;
	width: 80px;
}
.entry-related .hentry .thumbnail-wrap {
    height: auto;
    line-height: 0.8;
}

/* Entry Tags */
.entry-tags {
	clear: both;
	display: block;
	padding-top: 20px;
	position: relative;
}
.entry-tags span {
    font-size: 13px;
    margin-right: 10px;
}
.entry-tags .tag-links a {
    background-color: #f3f3f3;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #666;
    font-size: 11px;
    margin: 0 2px 0 0;
    padding: 3px 8px 3px 18px;
    position: relative;
    text-transform: uppercase;
}
.entry-tags .tag-links a:hover {
    background-color: #f0f0f0;
    border: 1px solid #c3c3c3;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #222;
    text-decoration: none;
}
.entry-tags .tag-links a:hover:before {
    color: #eb5424;
}
.entry-tags .tag-links a:before {
    font-family: "genericons";
    font-size: 18px;
    color: #bbb;
    content: "\f428";
    position: absolute;
    left: 1px;
    top: 0;
}
.entry-tags .edit-link a {
    color: #eb5424;
}

/* Author Box */
.author-box {
    border-top: 1px solid #e9e9e9;
    margin-top: 25px;
    padding: 30px 0 0 0;
}
.author-box .avatar {
    border-radius: 50%;
    float: left;
    height: auto;
    line-height: 0.8;
    margin: 0 15px 0 0;
	width: 100px;
}
.author-box .author-meta {
    display: table;
}
.author-box .author-meta .author-name {
    font-size: 16px;
    margin-bottom: 5px;
}
.author-box .author-meta .author-name a {
    color: #eb5424;
}
.author-box .author-meta .author-name a:hover {
    color: #eb5424;
}
.author-box .author-meta .author-desc {
    margin-bottom: 5px;
}
.author-box .author-meta .author-desc a {
    color: #eb5424;
}

/* Entry Content */
.page-content a,
.entry-content a {
    color: #eb5424;
}
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    margin-bottom: 25px;
    line-height: 1.35;
}
.page-content h1,
.entry-content h1 {
    font-size: 30px;
}
.page-content h2,
.entry-content h2 {
    font-size: 26px;
}
.page-content h3,
.entry-content h3 {
    font-size: 22px;
}
.page-content h4,
.entry-content h4 {
    font-size: 18px;
}
.page-content h5,
.page-content h6,
.entry-content h5,
.entry-content h6 {
    font-size: 16px;
}
.page-content p,
.entry-content p {
    line-height: 1.8;
    margin-bottom: 15px;
}
.page-content ul,
.page-content ol,
.entry-content ul,
.entry-content ol {
    margin: 0 0 25px 0;
}
.page-content ul ul,
.page-content ul ol,
.page-content ol ul,
.page-content ol ol,
.entry-content ul ul,
.entry-content ul ol,
.entry-content ol ul,
.entry-content ol ol {
    margin: 8px 0 0 25px;
}
.page-content ul li,
.entry-content ul li {
    list-style: none;
    margin: 0 0 10px 0;
}
.page-content ul li:hover:before,
.entry-content ul li:hover:before {
    color: #eb5424;
}
.page-content ul li:before,
.entry-content ul li:before {
    font-family: "genericons";
    content: '\f428';
    color: #999;
    font-size: 20px;
    margin-left: -4px;
    padding-right: 2px;
    vertical-align: middle;
    text-align: left;
}
.page-content ul li ul li,
.entry-content ul li ul li {
    list-style: none;
}
.page-content ol li,
.entry-content ol li {
    list-style: inside decimal;
    margin: 0 0 10px 0;
}
.page-content select,
.entry-content select {
    padding: 0 5px;
}
.page-content select:focus,
.page-content select:active,
.entry-content select:focus,
.entry-content select:active {
    outline: none;
}
.page-content dl,
.entry-content dl {
    margin-bottom: 20px;
}
.page-content fieldset,
.entry-content fieldset {
    border: 1px solid #e9e9e9;
    margin: 0 2px 20px 2px;
    padding: 0.35em 0.625em 0.75em;
}
.page-content input[type="radio"],
.entry-content input[type="radio"] {
    -webkit-appearance: radio;
}
.page-content input[type="checkbox"],
.entry-content input[type="checkbox"] {
    -webkit-appearance: checkbox;
}
.page-content::-webkit-file-upload-button,
.entry-content::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
.page-content label,
.entry-content label {
    display: block;
    font-weight: 600;
}
.page-content table,
.entry-content table {
    margin-bottom: 20px;
}
.page-content select,
.entry-content select {
    border: 1px solid #e9e9e9;
    font-size: 1em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 2em;
    max-width: 100%;
    -webkit-appearance: menulist;
}
.page-content input[type="text"],
.page-content input[type="email"],
.page-content input[type="url"],
.page-content input[type="search"],
.page-content input[type="password"],
.entry-content input[type="text"],
.entry-content input[type="email"],
.entry-content input[type="url"],
.entry-content input[type="search"],
.entry-content input[type="password"] {
    width: 300px;
}
.page-content input[type="file"],
.entry-content input[type="file"] {
    border: none;
}
.page-content textarea,
.entry-content textarea {
    width: 100%;
    height: 200px;
}
.page-content .wp-caption,
.entry-content .wp-caption {
    background-color: #f7f7f7;
    padding: 0 0 1px 0;
}
.page-content .wp-caption-text,
.entry-content .wp-caption-text {
    font-size: 13px;
    font-style: italic;
    color: #999;
}
blockquote {
    color: #999999;
    font-size: 18px;
    font-style: italic;
    padding: 0.25em 50px;
    line-height: 1.45;
    position: relative;
}
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 64px;
    position: absolute;
    left: 0;
    top: -15px;
    color: #cccccc;
}
blockquote cite {
    color: #333333;
    display: block;
    margin-top: 10px;
}
blockquote cite:before {
    content: "\2014 \2009";
}
#primary p,
.widget p,
.entry-summary,
.author-desc {
    line-height: 1.8em;
}

/*--------------------------------------------------------------
5. Archive/Search Page
--------------------------------------------------------------*/
.search-no-results .page-title {
    font-size: 18px;
    margin-bottom: 10px;
}

/*--------------------------------------------------------------
6. Comments
--------------------------------------------------------------*/
.comments-area {
    border-top: 1px solid #e9e9e9;
    background-color: #fff;
    margin: 25px 0 0 0;
    padding: 25px 0 0 0;
}
.comments-title {
    font-size: 18px;
    margin-bottom: 25px;
}
.comment-reply-title {
    font-size: 18px;
    margin-bottom: 20px;
}
.comment-list {
    border-bottom: 1px solid #e9e9e9;
    list-style: none;
    margin: 0 0 25px 0;
}
.comment-author {
    font-size: 14px;
}
.comment-meta {
    margin-bottom: 4px;
}
.comment-list .reply,
.comment-metadata {
    font-size: 13px;
}
.comment-list .reply {
    margin-top: 10px;
}
.comment-author .fn {
    font-weight: bold;
}
.comment-author a {
    color: #2b2b2b;
}
.comment-list .trackback a,
.comment-list .pingback a,
.comment-metadata a,
.comment-list .reply a {
    color: #767676;
}
.comment-list .trackback a:hover,
.comment-list .pingback a:hover,
.comment-metadata a:hover,
.comment-list .reply a:hover {
    color: #333;
}
.comment-author a {
    color: #eb5424;
}
.comment-author a:hover {
    color: #222;
}
.comment-list li article {
	border-bottom: 1px dashed #e9e9e9;
	padding: 0 0 15px;
}
.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
    margin: 0 0 20px 0;
}
.comment-list > li:first-child > article,
.comment-list > .pingback:first-child,
.comment-list > .trackback:first-child {
    border-top: 0;
}
.comment-author {
    position: relative;
}
.comment-author .avatar {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: auto;
}
.sticky {}
.bypostauthor > article .fn:before {
    color: #fbb034;
    content: "\f408";
    margin: 0 2px 0 -2px;
    position: relative;
    top: -1px;
}
.says {
    display: none;
}
.comment-author,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
    padding-left: 64px;
}
.comment-author {
    display: inline;
}
.comment-metadata {
    display: inline;
    margin-left: 7px;
}
.comment-edit-link {
    margin-left: 10px;
}
.comment-edit-link:hover {
    text-decoration: none;
}
#cancel-comment-reply-link:hover {
    text-decoration: none;
}
.comment-edit-link:before {
    content: "\f411";
}
.comment-reply-link:hover {
    text-decoration: none;
}
.comment-reply-link:before,
.comment-reply-login:before {
    content: '\f467';
    color: #aaa;
    margin-right: 2px;
}
.comment-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
.comment-content a {
    color: #eb5424;
}
.comment-content ul,
.comment-content ol {
    margin: 0 0 24px 22px;
}
.comment-content li > ul,
.comment-content li > ol {
    margin-bottom: 0;
}
.comment-content >:last-child {
    margin-bottom: 0;
}
.comment-list .children {
    list-style: none;
    margin-left: 64px;
}
.comment .comment-respond {
    margin: 25px 0;
}
.comment-respond h3 {
    margin-top: 0;
}
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
    color: #767676;
}
.comment-notes a,
.comment-awaiting-moderation a,
.logged-in-as a,
.no-comments a,
.form-allowed-tags a,
.form-allowed-tags code a {
    color: #767676;
}
.comment-notes a:hover,
.comment-awaiting-moderation a:hover,
.logged-in-as a:hover,
.no-comments a:hover,
.form-allowed-tags a:hover,
.form-allowed-tags code a:hover {
    color: #222;
}
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}
.no-comments {
    font-size: 16px;
    font-weight: 900;
    line-height: 1.5;
    margin-top: 24px;
    text-transform: uppercase;
}
.comment-form .comment-form-comment,
.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
    margin-bottom: 20px;
}
.comment-form textarea {
    width: 100%;
}
.comment-form .comment-form-author {
    float: left;
    width: 180px;
    margin-right: 25px;
}
.comment-form .comment-form-email {
    float: left;
    width: 179px;
    margin-right: 25px;
}
.comment-form .comment-form-url {
    float: left;
    width: 179px;
}
.comment-form:after {
    content: '';
    display: block;
    clear: both;
}
.comment-form .submit {
    font-size: 14px;
    padding: 0 18px;
}
.comment-form label {
    display: block;
    font-size: 14px;
    font-weight: bold;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
    width: 100%;
}
.form-allowed-tags,
.form-allowed-tags code {
    font-size: 12px;
    line-height: 1.5;
}
.required {
    color: #c0392b;
}
.comment-reply-title small a {
    color: #2b2b2b;
    float: right;
    height: 24px;
    overflow: hidden;
    width: 24px;
}
.comment-reply-title small a:hover {
    color: #eb5424;
}
.comment-reply-title small a:before {
    content: "\f405";
    font-size: 20px;
}
.comment-navigation {
    font-size: 12px;
    line-height: 2;
    margin-bottom: 48px;
    text-transform: uppercase;
}
.comment-navigation .nav-next,
.comment-navigation .nav-previous {
    display: inline-block;
}
.comment-navigation .nav-previous a {
    margin-right: 10px;
}
#comment-nav-above {
    margin-top: 36px;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
7. Sidebar
--------------------------------------------------------------*/
.sidebar {
    float: right;
    margin-bottom: -20px;
	width: 320px;
}
.sidebar .widget {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    margin-bottom: 20px;
    padding: 20px;
}
.sidebar .widget .widget-title,
.footer-columns .widget .widget-title {
	border-bottom: 1px solid #e9e9e9;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.sidebar .widget-title span,
.footer-columns .widget-title span {
	border-bottom: 3px solid #eb5424;
	display: inline-block;
	line-height: 40px;
	margin: 0 0 -1px;
}
.footer-columns .widget .widget-title {
	border-bottom: 1px solid #444;
}
.sidebar .widget p {
    margin-bottom: 15px;
}
.sidebar .widget ul .children,
.sidebar .widget ul .sub-menu {
    padding-left: 1.5em;
}
.sidebar .widget ul .children li:first-child,
.sidebar .widget ul .sub-menu li:first-child {
    padding: 15px 0;
    border-top: 1px solid #e9e9e9;
}
.sidebar .widget ul > li {
    list-style: none;
    margin-bottom: 15px;
}
.sidebar .widget ul > li a {
    color: #333;
}
.sidebar .widget ul > li a:hover {
    color: #eb5424;
}
.sidebar .widget ul li:last-child {
    margin-bottom: 0;
}
.sidebar .widget select {
    width: 100%;
    max-width: 100%;
}
.sidebar .widget_search input[type='search'] {
    width: 190px;
}
.sidebar .widget_search input[type='submit'] {
    width: 80px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.sidebar .widget_social_icons ul li,
.sidebar .widget_posts_thumbnail ul li {
    list-style: none;
}
.sidebar .widget_social_icons ul li:before,
.sidebar .widget_posts_thumbnail ul li:before {
    content: none;
    display: none;
}
.sidebar .widget_posts_thumbnail {
    line-height: 1.4;
}
.sidebar .widget_posts_thumbnail ul > li {
    margin-bottom: 20px;
    padding: 0 !important;
}
.sidebar .widget_posts_thumbnail .thumbnail-wrap,
.sidebar .widget_posts_thumbnail .wp-post-image,
.sidebar .widget_posts_thumbnail img {
    width: 80px;
    height: auto;
}

/* Posts with Thumbnail Widget */
.widget_posts_thumbnail ul li {
    margin: 0 0 20px 0;
}
.widget_posts_thumbnail li:after {
    content: "";
    display: block;
    clear: both;
}
.widget_posts_thumbnail .entry-thumbnail {
    float: left;
}
.widget_posts_thumbnail .entry-wrap {
    display: table;
    line-height: 1.2;
}
.widget_posts_thumbnail .entry-wrap a {
    color: #222;
    font-size: 13px;
    font-weight: 600;
}
.widget_posts_thumbnail .thumbnail-wrap {
    float: left;
    margin: 0 12px 0 0;
    line-height: 0;
}
.widget_posts_thumbnail .entry-meta {
    font-size: 11px;
    margin-top: 5px;
}

/* Tag Cloud */
.tagcloud a {
    background-color: #f3f3f3;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #666;
    display: inline-block;
    font-size: 11px !important;
    margin: 0 2px 5px 0;
    padding: 2px 8px 2px 18px;
    position: relative;
    text-transform: uppercase;
}
.tagcloud a:hover {
    background-color: #f0f0f0;
    border: 1px solid #c3c3c3;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #222;
    text-decoration: none;
}
.tagcloud a:hover:before {
    color: #eb5424;
}
.tagcloud a:before {
    font-family: "genericons";
    font-size: 18px;
    color: #bbb;
    content: "\f428";
    position: absolute;
    left: 1px;
    top: 2px;
}

/* Categories Widget */
.widget_categories ul li {
    color: #999;
}
.sidebar,
.site-footer {
    /* Social Icons Widget */
}
.sidebar .widget_social_icons,
.site-footer .widget_social_icons {
    text-align: center;
}
.sidebar .widget_social_icons .widget-title,
.site-footer .widget_social_icons .widget-title {
    text-align: center;
}
.sidebar .widget_social_icons ul > li,
.site-footer .widget_social_icons ul > li {
    border: none;
    display: inline-block;
    margin-bottom: 0;
}
.sidebar .widget_social_icons ul > li.facebook a,
.site-footer .widget_social_icons ul > li.facebook a {
    background-image: url("assets/img/facebook.png");
    background-size: 19px 18px;
    line-height: 30px;
}
.sidebar .widget_social_icons ul > li.twitter a,
.site-footer .widget_social_icons ul > li.twitter a {
    background-image: url("assets/img/twitter.png");
    background-size: 19px 19px;
    line-height: 30px;
}
.sidebar .widget_social_icons ul > li.google-plus a,
.site-footer .widget_social_icons ul > li.google-plus a {
    background-image: url("assets/img/google-plus.png");
    background-size: 24px 24px;
    line-height: 35px;
}
.sidebar .widget_social_icons ul > li.youtube a,
.site-footer .widget_social_icons ul > li.youtube a {
    background-image: url("assets/img/youtube.png");
    background-size: 20px 20px;
    line-height: 30px;
}
.sidebar .widget_social_icons ul > li.rss a,
.site-footer .widget_social_icons ul > li.rss a {
    background-image: url("assets/img/rss.png");
    background-size: 16px 16px;
    line-height: 26px;
}
.sidebar .widget_social_icons ul > li.instagram a,
.site-footer .widget_social_icons ul > li.instagram a {
    background-image: url("assets/img/instagram.png");
    background-size: 19px 19px;
    line-height: 28px;
}
.sidebar .widget_social_icons ul > li a,
.site-footer .widget_social_icons ul > li a {
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
    text-indent: -9999em;
    text-align: center;
	width: 30px;
}

/*--------------------------------------------------------------
7. Footer
--------------------------------------------------------------*/
.footer-columns {
    background-color: #343e47;
    padding: 40px 0 20px;
}
.footer-columns .section-header {
    font-size: 32px;
    margin-bottom: 20px;
}
.footer-columns .widget {
    margin-bottom: 20px;
}
.footer-columns .widget_posts_thumbnail .thumbnail-wrap,
.footer-columns .widget_posts_thumbnail .wp-post-image,
.footer-columns .widget_posts_thumbnail img {
    width: 80px;
    height: auto;
}
.footer-columns .footer-column {
	box-sizing: content-box;
    float: left;
    margin: 0 30px 0 0;
    position: relative;
    width: 300px;
}
.footer-columns .footer-column-3 {
    margin-right: 0;
}
.site-footer .widget {
    color: #9f9f9f;
    font-size: 14px;
    margin-bottom: 20px;
}
.site-footer .widget a {
    color: #fff;
}
.site-footer .widget a:hover {
    color: #fff;
    text-decoration: underline;
}
.site-footer .widget .widget-title {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}
.site-footer .widget p {
    color: #9f9f9f;
    margin-bottom: 15px;
}
.site-footer .widget ul .children,
.site-footer .widget ul .sub-menu {
    padding-left: 1.5em;
}
.site-footer .widget ul .children li:first-child,
.site-footer .widget ul .sub-menu li:first-child {
    border-top: none;
    padding-top: 0;
}
.site-footer .widget ul .children li:last-child,
.site-footer .widget ul .sub-menu li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.site-footer .widget ul > li {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}
.site-footer .widget ul > li a {
    color: #9f9f9f;
}
.site-footer .widget ul > li a:hover {
    color: #fff;
}
.site-footer .widget ul li:first-child {
    border-top: none;
    padding-top: 0;
}
.site-footer .widget ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.site-footer .widget select {
    width: 100%;
    max-width: 100%;
}
.site-footer .widget_posts_thumbnail ul li {
    margin-bottom: 20px;
}
.site-footer .widget_posts_thumbnail ul li a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
}
.site-footer .widget_posts_thumbnail .thumbnail-wrap {
    line-height: 0.5;
}
.site-footer .widget_search input[type='search'] {
    width: 100%;
    margin-bottom: 10px;
}
.site-footer .widget_search input[type='submit'] {
    width: 100%;
}

/* Back to top button */
#back-top {
	bottom: 20px;
	display: none;
	left: 50%;
	margin-left: 550px;
	position: fixed;
}
#back-top a span {
    background-color: #eb5424;
    color: #fff;
    font-size: 18px;
    width: 30px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
#back-top a:hover span {
    color: #fff;
    background-color: #ff6644;
}
#back-top a:hover {
    text-decoration: none;
}

/* Site Bottom */
#site-bottom {
    color: #666;
    font-size: 12px;
    padding: 25px 0;
}
#site-bottom .site-info {
	color: #888;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}
#site-bottom .site-info a {
    color: #eb5424;
}
#site-bottom .site-info a:hover {
    color: #222;
}

/*--------------------------------------------------------------
9. Misc.
--------------------------------------------------------------*/
/* Mobile Menu */
.mobile-menu-icon {
    display: none;
    position: absolute;
    top: 46px;
    right: 50px;
}
.mobile-menu-icon .menu-icon-close,
.mobile-menu-icon .menu-icon-open {
    background: #f5f5f5;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    color: #666;
    display: block;
    font-size: 13px;
    font-weight: 600;
    width: 60px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.mobile-menu-icon .menu-icon-close:hover,
.mobile-menu-icon .menu-icon-open:hover {
    border-color: #999;
    color: #222;
    cursor: pointer;
}
.mobile-menu-icon .menu-icon-close {
    display: none;
}
.mobile-menu-icon .menu-icon-close .genericon {
    margin-top: -2px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    vertical-align: middle;
}
.mobile-menu-icon .menu-icon-open.active {
    display: none;
}
.mobile-menu-icon .menu-icon-close {
    display: none;
}
.mobile-menu-icon .menu-icon-close.active {
    display: inline-block;
}
.mobile-menu {
    background-color: #fff;
    display: none;
    position: absolute;
    width: 100%;
    top: 94px;
    padding: 20px;
    z-index: 99;
}
.mobile-menu .menu-left,
.mobile-menu .menu-right {
    float: left;
    width: 50%;
}
.mobile-menu h3 {
    color: #222;
    font-size: 14px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.mobile-menu ul li {
    display: block;
    list-style: none;
    margin-bottom: 15px;
}
.mobile-menu ul li:hover:before {
    color: #ffa500;
}
.mobile-menu ul li:before {
    font-family: "genericons";
    content: '\f428';
    color: #999;
    font-size: 15px;
    margin-left: -4px;
    padding-right: 2px;
    vertical-align: middle;
    text-align: left;
}
.mobile-menu ul li:last-child {
    margin-bottom: 0;
}
.mobile-menu ul li.menu-item-home {
    display: none;
}
.mobile-menu ul li a {
    color: #666;
    font-size: 14px;
}
.mobile-menu ul li a:hover {
    color: #eb5424;
}
/* Mobile Search */

.mobile-search-icon {
    color: #222;
    display: none;
    position: absolute;
    top: 46px;
    right: 0;
}
.mobile-search-icon:hover {
    cursor: pointer;
}
.mobile-search-icon span {
    background: #f5f5f5;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    color: #666;
    display: block;
    font-size: 18px;
    font-weight: 600;
    width: 36px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
}
.mobile-search-icon span:hover {
    border-color: #999;
    color: #222;
}
.mobile-search-icon .genericon-search.active {
    display: none;
}
.mobile-search-icon .genericon-close {
    display: none;
}
.mobile-search-icon .genericon-close.active {
    display: inline-block;
}


/* CSS3 Effects */
/* Responsive Menu */
.slicknav_menu,
#slick-mobile-menu {
    display: none;
}