        			<div class="col-lg-4">
        				<div class="work_item">
        					<i class="lnr lnr-thumbs-up"></i>
        					<h4>Awarding Contracts</h4>
        					<p>Compare bids and negotiate prices.  Our tools help you pick the right contractor for the job.<br/><span class="feature_listing">Automatic bid comparison reports &#x25C8; Negotiation with contractors &#x25C8; Contract splitting across multiple contractors</span></p>
        				</div>
        			</div>