        			<div class="col-lg-4">
        				<div class="work_item">
        					<i class="lnr lnr-pencil"></i>
        					<h4>Change Orders</h4>
        					<p>Take the tediousness out of change order management.  No more spreadsheets or chasing people down for signatures.<br/><span class="feature_listing">Pricing from provisional items, existing contract items, or ad hoc quotes from the contractor &#x25C8; Negotiate to agree on price and scope &#x25C8; Auto-generates and facilitates eSigning of change order documents &#x25C8; Built-in audit trail of electronic documents for resolving disputes</span></p>
        				</div>
        			</div>