        			<div class="col-lg-4">
        				<div class="work_item">
        					<i class="lnr lnr-list"></i>
        					<h4>Drafting Contracts</h4>
        					<p>Draft unit price contracts within ContractComplete or import them from excel!<br/><span class="feature_listing">Spreadsheet Import or Built-in Editor &#x25C8; Build Templates for Future Contracts &#x25C8; Provisional Item Support &#x25C8; Built-In Document Management</span></p>
        				</div>
        			</div>