        			<div class="col-lg-4">
        				<div class="work_item">
        					<i class="lnr lnr-envelope"></i>
        					<h4>Invoicing</h4>
        					<p>Just enter in your quantities and sit back and admire a perfect ready-to-go invoice!<br/><span class="feature_listing">Simply enter completed quantities for each item &#x25C8; Customizable invoices generated automatically &#x25C8; Add custom documents like schedule of payment terms &#x25C8; Automatic holdback and tax calculation</span></p>
        				</div>
        			</div>