        			<div class="col-lg-4">
        				<div class="work_item">
        					<i class="lnr lnr-smartphone"></i>
        					<h4>Mobile Applications</h4>
        					<p>Access your bill of quantities, documents, and more from the job site.<br/><span class="feature_listing">Android and iOS versions of the mobile application are available free of charge &#x25C8; Download and preview documents on mobile applications &#x25C8; Review contract items, descriptions, and progress</span></p>
        				</div>
        			</div>