
        			<div class="col-lg-4">
        				<div class="work_item">
        					<i class="lnr lnr-paperclip"></i>
        					<h4>Payment Certificates</h4>
        					<p>Approve invoices and issue payment certificates with a single button click.<span class="feature_listing">Payment certificates are prepared automatically when an invoice is received &#x25C8; Stakeholders can decide whether to approve the invoice and issue the certificate &#x25C8; Several options to customize payment certificates &#x25C8; Add custom documents to the payment certificate</span></p>
        				</div>
        			</div>