        			<div class="col-lg-4">
        				<div class="work_item">
        					<i class="lnr lnr-hourglass"></i>
        					<h4>Progress Reports</h4>
        					<p>Know exactly how your projects are progressing with progress reports.<br/><span class="feature_listing">Contractors record progress as they complete the work in the contract &#x25C8; View in real time how much work has been completeted &#x25C8; Progress reports can be invoices all at once or split into several invoices</span></p>
        				</div>
        			</div>