        			<div class="col-lg-4">
        				<div class="work_item">
        					<i class="lnr lnr-lock"></i>
        					<h4>Security</h4>
        					<p>We take your data security very seriously<span class="feature_listing">Data is stored securely in Amazon's data centers &#x25C8; Database is protected by multiple firewalls, redundancy, and secured with symetric key encryption and SSL &#x25C8; Optional static bid encryption is supported so that unopened bids are unreadable even by ContractComplete engineers</span></p>
        				</div>
        			</div>