        			<div class="col-lg-4">
        				<div class="work_item">
        					<i class="lnr lnr-bullhorn"></i>
        					<h4>Tendering Contracts</h4>
        					<p>Easy-to-manage bidding process.  Contractors just fill in unit prices!<br/><span class="feature_listing">Easy unit price bidding &#x25C8; Automatic bid checklists &#x25C8; Optional bid encryption for added security &#x25C8; Built-in Q&amp;A &#x25C8; Automatic Addendum Generation</span></p>
        				</div>
        			</div>