/*
 *  Custom Customizer css v1.0
 *  Author: VolThemes
 *  Author URI: http://volthemes.com
 */

.customize-control-title {
	font-size: 13px;
}
#customize-control-blogname {
	border: none !important;
	margin: 0 !important;
	padding-top: 0 !important;
}
.remove-section {
	display: none !important;
}
.customize-control input[type="number"] {
	width: 30%;
}

#customize-control-blogdescription,
#customize-control-featured-slider-slides,
#customize-control-featured-slider-readmore,
#customize-control-entry-excerpt-length,
#customize-control-body-font-color,
#customize-control-heading-font-color,
#customize-control-page-title-font-color,
#customize-control-logo-max-width,
#customize-control-title-font-size,
#customize-control-tagline-font-size,
#customize-control-remove-topborder,
#customize-control-site-layout,
#customize-control-remove-content-border,
#customize-control-page-remove-titlebar,
#customize-control-header-bg-opacity,
#customize-control-header-menu-border-color,
#customize-control-widget-sidebar-hover-link,
#customize-control-widget-footer-hover-link,
#customize-control-header-nav-pos,
#customize-control-blog-widget-title-style,
#customize-control-navi-font-color,
#customize-control-footer-link-hover-color,
#customize-control-website-error-msg,
#customize-control-footer-copyright,
#customize-control-website-txt-copy {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0 0 20px;
    margin-bottom: 15px;
}
#customize-control-blogname,
#customize-control-single-remove-meta,
#customize-control-header-layout,
#customize-control-header-menu-text,
#customize-control-meta-slider-shortcode,
#customize-control-primary-color,
#customize-control-blog-cats,
#customize-control-remove-blog-title,
#customize-control-article-content-display,
#customize-control-blog-left-sidebar,
#customize-control-single-remove-meta {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 20px 0 0;
    margin-top: 12px;
}