<h1>Issuing an Addendum</h1>
<div class="important">
	This is mainly relevant to stakeholders and may not be useful to bidders or contractors (except, perhaps, in the case of subcontracting).
</div>
<p>
	Did you leave something out of your contract in the drafting stage?  Or do you perhaps wish to make a clarification?  Fortunately, ContractComplete supports creating addendums during the tendering phase of a contract.
</p>
<p>
	It's important to note that you can make any change you wish to a contract in the tendering phase.  But it is up to you whether you wish to issue a formal addendum and request acknowledgements from each of the bidders.  Adding or removing line items, provisional items, or documents immediately updates the view that the bidder has of the contract, but adding a formal addendum is often useful in making bidders aware that a contract has changed and that they may need to update their submission.  So to summarize, the addendum process has 3 steps:
	<ol>
		<li>Make any and all changes to the contract documents, line items, or provisional items, or the RFP deadline</li>
		<li>Create a PDF that describes your changes and upload it to ContractComplete as an addendum</li>
		<li>Await and verify contractor acknowledgement</li>
	</ol>
</p>
<p>
	If you've made it this far, you already know how to complete step 1.  But in case you need a refresh, please see the pages on <a href="?page=line_items">line items</a>, <a href="?page=provisional_items">provisional items</a>, and <a href="?page=documents">documents</a>.<br/><br/>
	Once this is completed and you've prepared a PDF that describes your changes, you may upload it using the "Upload Addendum" button on the contract's overview tab.
</p>
<figure style="max-width:600px;float:left">
	<img src="docs/images/addendum.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/addendum.png"></img>
	<figcaption>Upload your addendum using the button on the contract's overview page.</figcaption>
</figure>
<figure style="max-width:600px;float:left">
	<img src="docs/images/addendum_ack.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/addendum_ack.png"></img>
	<figcaption>Bidders will receive this email notification, prompting them to view and acknowledge your addendum.</figcaption>
</figure>
<figure style="max-width:600px;float:left">
	<img src="docs/images/see_addendum_acknowledgements.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/see_addendum_acknowledgements.png"></img>
	<figcaption>See which bidders have acknowledged your addendums on the contract overview page.</figcaption>
</figure>