<h1>Allow Resubmission</h1>
<p>
	This article covers the changes to a particular bid submission in the <strong style="color:red;">Post Tender</strong> stage. If you are looking to change the scope of the contract in the Post Tender stage, please see the <strong><a href="?page=negotiations#content">Negotiations</a></strong>.
</p>

<p>
	The stakeholders can use the Allow Resubmission feature in the cases below:
		<ul>
			<li>The stakeholders may want a bidder to correct the submission's errors & omissions</li>
			<li>
				The bidder may have forgotten to submit their bid before the deadline and the stakeholders want to give them a new deadline so that they can submit their bid.
			</li>
			<li>
				The stakeholders may want to get a last minute quote from a contractor who wasn't part of the original bidding process.
			</li>
			<li>The stakeholders may have added a new bidder in the Post Tender stage.</li>
			<li>Or other cases.</li>
		</ul>		
</p>

<p>
	Upon reviewing bidders' submissions in the Post Tender stage, the stakeholders may notice that a bidder has made a mistake or has accidentally omitted something. Or alternatively, the bidders may have forgotten to submit their bid. Or perhaps the stakeholders wish to get a last minute quote from a contractor who wasn't part of the original bidding process. All of these scenarios can be addressed through the "Allow Resubmission" feature. Therefore, after a tender closes, any bid can be changed (or submitted for the first time) if the stakeholders request it. By clicking the Allow Resubmission option the stakeholders will give the bidder one-time authority to change their bid and resubmit within a new deadline. The bidder will be notified by email and a message in his/her action box when the stakeholders make this request.
</p>

<br/>
<br/>

<h3>Allow Resubmission-Stakeholder's View</h3>
<p>
	To allow a bidder to resubmit/submit their bid in the Post Tender stage, click the options icon <span style="background-color:#f5f5f5;font-size:15px; border:1px solid #777777; border-radius:2px;"><i style=" padding:5px;" class="fa fa-ellipsis-h" aria-hidden="true"></i></span> beside that bidder located in the Stakeholders and Bidders section on the Overview page. Enter a new deadline on the 'Allow Bidder to Resubmit Bid' window, checkin the checkbox and click the "Accept" button. By clicking the Accept button, the bidder will receive an email and a message in the action box notifying that they can resubmit their bid within the new deadline. You will see the Resubmission deadline beside the bidder's name after clicking the Accept button. When the deadline passes the bidder won't be able to submit a bid anymore.
</p>
<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/post_tender_stakeholder_options.png" data-lightbox="Post Tender-Stakeholder's View-Allow Resubmission" data-title="Post Tender-Stakeholder's View-Allow Resubmission">
				<img style="height:300px;" src="docs/images/post_tender_stakeholder_options.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_options.png"></img>
			</a>
			<figcaption>
				<small>Post Tender-Stakeholder's View-Allow Resubmission</small>
			</figcaption>
		</figure>
	</div>

	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/post_tender_stakeholder_resubmit_deadline_window.png" data-lightbox="Post Tender-Stakeholder's View-Resubmit window" data-title="Post Tender-Stakeholder's View-Resubmit window">
				<img style="height:300px;" src="docs/images/post_tender_stakeholder_resubmit_deadline_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_resubmit_deadline_window.png"></img>
			</a>
			<figcaption>
				<small>Post Tender-Stakeholder's View-Resubmit window</small>
			</figcaption>
		</figure>
	</div>
</div>

<br/>
<br/>

<p>
	When you allow the bidders to submit/resubmit their bid in the Post Tender stage, their submissions will be available after they  click the "Submit" button, even if the deadline hasn't passed yet. In other words, they can only submit their bid once by clicking the Submit button. You will receive an email and a message in your action box after the bidders submit/resubmit their bid.
</p>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/post_tender_stakeholder_resubmission_deadline.png" data-lightbox="Post Tender-Stakeholder's View-Resubmission Deadline" data-title="Post Tender-Stakeholder's View-Resubmission Deadline">
				<img style="height:300px;" src="docs/images/post_tender_stakeholder_resubmission_deadline.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_resubmission_deadline.png"></img>
			</a>
			<figcaption>
				<small>Post Tender-Stakeholder's View-Resubmission Deadline</small>
			</figcaption>
		</figure>
	</div>

	<div class="col-md-6 col-xs-12">
	</div>
</div>

<br/>
<br/>

<h3>Allow Resubmission-Bidder's View</h3>
<p>
	When the stakeholders allow the bidders to resubmit their bid, the bidders will receive an email and a message in their action box notifying that they can resubmit their bid within the new deadline. The bidders then can modify their bid and submit it before the new deadline.
</p>

<p>
	<strong><span style="color:red;">&#9888;</span></strong> As a bidder keep in mind that you can only submit your bid <strong>once</strong> by clicking the Submit button in the Post Tender stage. After clicking the Submit button, <strong>even if the deadline hasn't passed yet</strong>, you will no longer can make any changes or resubmit your bid.
</p>
<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/post_tender_bidder_resubmission01.png" data-lightbox="Post Tender-Bidder's View-Resubmission 01" data-title="Post Tender-Bidder's View-Resubmission 01">
				<img style="height:250px;" src="docs/images/post_tender_bidder_resubmission01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_bidder_resubmission01.png"></img>
			</a>
			<figcaption>
				<small>Post Tender-Bidder's View-Resubmission 01</small>
			</figcaption>
		</figure>
	</div>

	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/post_tender_bidder_resubmission02.png" data-lightbox="Post Tender-Bidder's View-Resubmission 02" data-title="Post Tender-Bidder's View-Resubmission 02">
				<img style="height:250px;" src="docs/images/post_tender_bidder_resubmission02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_bidder_resubmission02.png"></img>
			</a>
			<figcaption>
				<small>Post Tender-Bidder's View-Resubmission 02</small>
			</figcaption>
		</figure>
	</div>
</div>