<h1>Award a Contract</h1>
<p>
	This article covers awarding a tender to a bidder in the <strong style="color:red">Post Tender</strong> stage. In the ContractComplete, tenders close automatically and typically less than a minute after the deadline. When the deadline passes, the Post Tender stage will start and the bidders won't be able to submit their bids anymore. In the Post Tender stage the stakeholders will have a chance to review the submissions. After reviewing the submissions they can do the following actions to award the contract: 
</p>

<ul>
	<li>Negotiate with one or more bidders and award the contract to one or multiple bidders.</li>
	<li>Proceed to award the contract to the chosen bidder using the "Award Contract" button.</li>	
</ul>

<br/>
<br/>

<h3>Award contract using the Negotiation option</h3>
<p>
	The stakeholders may wish to divide the contract and award it to more than one bidder. In this case, they have to open negotiation with one or more bidders. Click the <strong><a href="?page=negotiations#content">Negotiations</a></strong> for more information.
</p>

<br/>
<br/>

<h3>Award contract using the "Award Contract" button</h3>
<p>
	In case the stakeholders are content with the submissions and would like to award the contract without any pricing or scope changes, they can do so by clicking the "Award Contract" button located beside their desired bidder on the Overview page. By clicking this button the chosen bidder will become the contractor and will be notified by an email and a message in his/her action box, the In Progress stage will start and the contract will be visible on the "My Contracts" page. <strong>For more information about the next stage click the <a href="?page=collaborative_mode_inprogress#content">In Progress stage</a>.</strong>
</p>

<br/>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/post_tender_stakeholder_awarding.png" data-lightbox="Post Tender-Stakeholder's View-Awarding the Contract" data-title="Post Tender-Stakeholder's View-Awarding the Contract">
				<img style="height:350px;" src="docs/images/post_tender_stakeholder_awarding.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_awarding.png"></img>
			</a>
			<figcaption>
				<small>Post Tender-Stakeholder's View-Awarding the Contract</small>
			</figcaption>
		</figure>
	</div>

	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/post_tender_stakeholder_awardcontract_button.png" data-lightbox="Post Tender-Stakeholder's View-Award Contract Button" data-title="Post Tender-Stakeholder's View-Award Contract Button">
				<img style="height:400px;" src="docs/images/post_tender_stakeholder_awardcontract_button.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_awardcontract_button.png"></img>
			</a>
			<figcaption>
				<small>Post Tender-Stakeholder's View-Award Contract Button</small>
			</figcaption>
		</figure>
	</div>
</div>