<style>
.button {
	  background-color: #17a2b8;
	  border: none;
	  color: white;
	  text-align: center;
	  padding: 50px;
	  font-size: 30px;
	  margin: 10px 10px;
	  cursor: pointer;
	  border-radius: 50%;
  }
  .headerColor{
		color: #909090;
		font-size: 16px;
	}
	#adminSoloDraft >  li  > .active, 
	#adminSoloProgress >  li  > .active {
		border-bottom:5px solid #146b75;
	}
	#adminSoloDraft >  li  > .active > span, 
	#adminSoloProgress >  li  > .active > span{
		color: #146b75;
		font-weight:bolder;
	}
 </style>

<h1>Contract-Awarded Administrator Solo</h1>
<br/><br/>
<div  style="border:2px solid #146b75; border-radius:10px; padding:20px; background-color:#65d3df14;">
	If you have clicked the "Start Work in Solo Mode" button in the Post-Tender stage and want to know what happens next, click the In Progress button.
</div>
<br/><br/>
<h3>Coming Soon!</h3>
<br/><br/>
<div class="row text-center">
	<div class="col-md-4 col-xs-12">
		<button id="doToggle1" isShow="false" class="button">Draft Stage</button>
	</div>
	<div class="col-md-4 col-xs-12">
		<button id="doToggle2" isShow="false"  class="button">In Progress</button>
	</div>
	<div class="col-md-4 col-xs-12">
		<button id="doToggle3" isShow="false"  class="button">Completed</button>
	</div>
</div>
<br/><br/>
<br/><br/>
<div id="toggled1">
	<h2 style="color:#146b75;">Draft Stage</h2>
	<br/>
	<br/>
	<br/>
	<ul class="nav nav-tabs" id="adminSoloDraft" role="tablist" style="border-bottom:2px solid; border-color:#909090;">

	  <li class="nav-item">
		<a class="nav-link active" id="adminSoloDraftOverview-tab" data-toggle="tab" href="#adminSoloDraftOverview" role="tab" aria-controls="adminSoloDraftOverview" aria-selected="true"><span class="headerColor"><i class="fa fa-home" aria-hidden="true"></i> Overview</span></a>
	  </li>
	  
	  <li class="nav-item">
		<a class="nav-link" id="adminSoloDraftSchedule-tab" data-toggle="tab" href="#adminSoloDraftSchedule" role="tab" aria-controls="adminSoloDraftSchedule" aria-selected="false"><span class="headerColor"><i class="fa fa-list-ol" aria-hidden="true"></i> Schedule of Prices</span></a>
	  </li>
	  
	  <li class="nav-item">
		<a class="nav-link" id="adminSoloDraftDocuments-tab" data-toggle="tab" href="#adminSoloDraftDocuments" role="tab" aria-controls="adminSoloDraftDocuments" aria-selected="false"><span class="headerColor"><i class="fa fa-folder" aria-hidden="true"></i> Documents</span></a>
	  </li>
	  
	   <li class="nav-item">
		<a class="nav-link" id="adminSoloDraftProvisional-tab" data-toggle="tab" href="#adminSoloDraftProvisional" role="tab" aria-controls="adminSoloDraftProvisional" aria-selected="false"><span class="headerColor"><i class="fa fa-list" aria-hidden="true"></i> Provisional Items</span></a>
	   </li>
	</ul>

	<div class="tab-content" id="adminSoloDraftContent">
	  <div class="tab-pane fade show active" id="adminSoloDraftOverview" role="tabpanel" aria-labelledby="adminSoloDraftOverview-tab">
		<br/>
		<h2>Overview</h2>
		<h3>Coming Soon!</h3>
	  </div>
	  
	  <div class="tab-pane fade" id="adminSoloDraftSchedule" role="tabpanel" aria-labelledby="adminSoloDraftSchedule-tab">
		<br/>
		<h2>Schedule of Prices</h2>
		<h3>Coming Soon!</h3>
	  </div>
	  
	  <div class="tab-pane fade" id="adminSoloDraftDocuments" role="tabpanel" aria-labelledby="adminSoloDraftDocuments-tab">
		<br/>
		<h2>Documents</h2>
		<h3>Coming Soon!</h3>
	  </div>
	  
	  <div class="tab-pane fade" id="adminSoloDraftProvisional" role="tabpanel" aria-labelledby="adminSoloDraftProvisional-tab">
		<br/>
		<h2>Provisional Items</h2>
		<h3>Coming Soon!</h3>
	  </div>
	</div>
</div>

<div id="toggled2">
	<h2 style="color:#146b75;">In Progress Stage</h2>
	<br/>
	<br/>
	<br/>
	<ul class="nav nav-tabs" id="adminSoloProgress" role="tablist" style="border-bottom:2px solid; border-color:#909090;">
	  <li class="nav-item">
		<a class="nav-link active" id="adminSoloProgressOverview-tab" data-toggle="tab" href="#adminSoloProgressOverview" role="tab" aria-controls="adminSoloProgressOverview" aria-selected="true"><span class="headerColor"><i class="fa fa-home" aria-hidden="true"></i> Overview</span></a>
	  </li>
	  
	  <li class="nav-item">
		<a class="nav-link" id="adminSoloProgressSchedule-tab" data-toggle="tab" href="#adminSoloProgressSchedule" role="tab" aria-controls="adminSoloProgressSchedule" aria-selected="false"><span class="headerColor"><i class="fa fa-list-ol" aria-hidden="true"></i> Schedule of Prices</span></a>
	  </li>
	  
	  <li class="nav-item">
		<a class="nav-link" id="adminSoloProgressProvisional-tab" data-toggle="tab" href="#adminSoloProgressProvisional" role="tab" aria-controls="adminSoloProgressProvisional" aria-selected="false"><span class="headerColor"><i class="fa fa-list" aria-hidden="true"></i> Provisional Items</span></a>
	   </li>
		
		<li class="nav-item">
		<a class="nav-link" id="adminSoloProgressDocuments-tab" data-toggle="tab" href="#adminSoloProgressDocuments" role="tab" aria-controls="adminSoloProgressDocuments" aria-selected="false"><span class="headerColor"><i class="fa fa-folder" aria-hidden="true"></i> Documents</span></a>
	    </li>
		
		<li class="nav-item">
		<a class="nav-link" id="adminSoloProgressChangeOrders-tab" data-toggle="tab" href="#adminSoloProgressChangeOrders" role="tab" aria-controls="adminSoloProgressChangeOrders" aria-selected="false"><span class="headerColor"><i class="fa fa-pencil" aria-hidden="true"></i> Change Orders</span></a>
	    </li>
		
		<li class="nav-item">
		<a class="nav-link" id="adminSoloProgressProgressReports-tab" data-toggle="tab" href="#adminSoloProgressProgressReports" role="tab" aria-controls="adminSoloProgressProgressReports" aria-selected="false"><span class="headerColor"><i class="fa fa-clipboard" aria-hidden="true"></i> Progress Reports</span></a>
	    </li>
		
		<li class="nav-item">
		<a class="nav-link" id="adminSoloProgressInvoices-tab" data-toggle="tab" href="#adminSoloProgressInvoices" role="tab" aria-controls="adminSoloProgressInvoices" aria-selected="false"><span class="headerColor"><i class="fa fa-book" aria-hidden="true"></i> Invoices/PCs</span></a>
	    </li>
	</ul>
	<div class="tab-content" id="adminSoloProgressContent">
	  <div class="tab-pane fade show active" id="adminSoloProgressOverview" role="tabpanel" aria-labelledby="adminSoloProgressOverview-tab">
		<br/>
		<h2>Overview</h2>
		<h3>Coming Soon!</h3>
	  </div>
	  
	  <div class="tab-pane fade" id="adminSoloProgressSchedule" role="tabpanel" aria-labelledby="adminSoloProgressSchedule-tab">
		<br/>
		<h2>Schedule of Prices</h2>
		<h3>Coming Soon!</h3>
	  </div>
	  
	  <div class="tab-pane fade" id="adminSoloProgressProvisional" role="tabpanel" aria-labelledby="adminSoloProgressProvisional-tab">
		<br/>
		<h2>Provisional Items</h2>
		<h3>Coming Soon!</h3>
	  </div>
	  
	  <div class="tab-pane fade" id="adminSoloProgressDocuments" role="tabpanel" aria-labelledby="adminSoloProgressDocuments-tab">
		<br/>
		<h2>Documents</h2>
		<h3>Coming Soon!</h3>
	  </div>
	  
	  <div class="tab-pane fade" id="adminSoloProgressChangeOrders" role="tabpanel" aria-labelledby="adminSoloProgressChangeOrders-tab">
		<br/>
		<h2>Change Orders</h2>
		<h3>Coming Soon!</h3>
	  </div>
	  
	  <div class="tab-pane fade" id="adminSoloProgressProgressReports" role="tabpanel" aria-labelledby="adminSoloProgressProgressReports-tab">
		<br/>
		<h2>Progress Reports</h2>
		<h3>Coming Soon!</h3>
	  </div>
	  
	  <div class="tab-pane fade" id="adminSoloProgressInvoices" role="tabpanel" aria-labelledby="adminSoloProgressInvoices-tab">
		<br/>
		<h2>Invoices/Payment Certificates</h2>
		<h3>Coming Soon!</h3>
	  </div>
	  
	</div>
</div>
<div id="toggled3">
	<h2 style="color:#146b75;">Completed Stage</h2>
	<br/>
	<br/>
	<br/
</div>
