<h1>Bidding on a Contract</h1>
<div class="important">
	This article covers the tendering process from the perspective of the bidder/contractor.  If you are a stakeholder, you may wish to read the page covering <a href="?page=tendering">tendering</a>.
</div>
<h2>Starting a Bid - Encryption Settings</h2>
<p>
	When you first open the contract, you will be given the option to encrypt your bid.  Bid encryption adds an extra layer of security which prevents ContractComplete staff from viewing your submission (your bid is encrypted in the database).  This feature is designed for those who are especially concerned with their bid submission being stored in the cloud.  Bids that are not encrypted are still completely safe and secure and are only viewable by a small number of trusted ContractComplete engineers.  Typically, we have no reason to view your bid unless we are asked to provide support or are troubleshooting a specific issue.  <br/><br/>Encrypting your bid has a few implications that you should consider:
<ul>
	<li>Encrypted bids are encrypted with a password that you provide.  <b>This password must be communicated to the primary stakeholder after tendering is completed in order to unlock your bid.</b></li>
	<li>Your bid encryption password will have to be re-entered if you decide to view or edit your submission on a different computer</li>
	<li>Document upload preview is not supported for encrypted bids</li>
	<li>If you lose or forget your password, you will lose your bid submission - we cannot recover a lost password for you.  We can, however, reset your submission so you can pick a new password.</li>
</ul>
</p>
<figure style="max-width:600px">
	<img src="docs/images/bid_encryption.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/bid_encryption.png"></img>
	<figcaption>If you choose to encrypt your bid, you will be prompted to create a password.</figcaption>
</figure>
<p>
	After reviewing the contract, please use one of the buttons on the "Overview" tab to indicate whether or not you plan to bid.  This will notify the contract stakeholders of your intent but is not binding - you may still submit a bid or change your response.
</p>
<h2>The Tender Form</h2>
<p>
	Completing the tendering form is simple.  All that is required is your unit prices in the highlighted fields.  You may make changes to this form even after you submit your bid - but not after the contract deadline.  You can also add notes for the tendering authority by using the speech bubble.
</p>
<figure style="max-width:600px">
	<img src="docs/images/bid_form.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/bid_form.png"></img>
	<figcaption>You can use the speech bubble to attach notes to the line items in your bid submission.  <b>Be careful how you use this field as the tendering authority will be able to view these notes!</b></figcaption>
</figure>
<h2>Documents</h2>
<p>
	The documents tab serves a few different purposes.  Here, you can:
	<ul>
		<li>View contract documents or drawings uploaded by the tendering authority</li>
		<li>Upload documents requested specifically by the tendering authority (ex. completed forms)</li>
		<li>Upload additional documents as part of your tender submission</li>
	</ul>
</p>
<figure style="max-width:600px">
	<img src="docs/images/bidder_docs.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/bidder_docs.png"></img>
	<figcaption>On the left, you can view documents and drawings uploaded by the tendering authority.  On the right, you can upload your own documents and attach your uploads to any specific requested uploads.</figcaption>
</figure>
<p>
	You can upload documents in the "My Uploads" section.  Anything you upload here will be visible to the tendering authority after the deadline.
</p>
<h2>Provisional Items</h2>
<p>
	Completing the provisional items form is very similar to completing the tender form.  Simply fill in your unit prices for each item.
</p>
<h2>Review &amp; Submit</h2>
<p>
The final tab provides a summary of your bid which you can use to ensure you are submitting a completed bid.  Here, you can even download a checklist that you can use as you complete the components in your bid submission.  If an addendum is issued at any time during the tendering process, you will be able to view and acknowledge it here as well.  When you are ready, click the "Submit Bid" button on this page, and follow the onscreen instructions.<br/><br/>
After your bid is submitted, you may continue to make changes to your submission providing the deadline has not passed.  Those changes will automatically be applied to your submission.</p>