<h1>Bidder &amp; Contractor Selection</h1>
<div class="important">
	This article is mostly relevant to stakeholders and primary stakeholders as it deals with selecting contractors.
</div>
<p>
The contract overview tab provides various functions, but most importantly the ability to select contractors, stakeholders, and bidders.  In a tendered contract, bidders can be added in all three of the draft, tendering, and post-tender phases.  In all cases the bidder will receive an email notification informing them that they have been invited to bid, but only when tendering starts.  For relevent information on adding a bidder <b>after</b> the deadline, please see the article on <a href="?page=allow_resubmission">Allow Resubmission</a>.<br/><br/>
You can also use this page to invite users to join ContractComplete - if they don't already have an account.
</p>
<figure style="max-width:600px">
	<img src="docs/images/bidder_selection.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/bidder_selection.png"></img>
	<figcaption>You can add bidders and stakeholders on the overview page.  In the case of awarded contracts, this is where you will select your contractor.</figcaption>
</figure>