<h1>The Change Order Work Flow</h1>
<div class="important">
	Creating a "proposed change" is a prerequisite to creating a change order.  Please see <a href="?page=proposed_change">proposed changes</a>.
</div>
<h2>How do we make a change order?</h2>
<p>
	When a proposed change is ready to be approved, it can be converted to a change order with minimal effort.  In fact, to save time, multiple proposed changes can be approved as a single change order!  On the "Change Orders" tab, simply check off the proposed changes you would like to include, then click "Create Change Order".
</p>
<p>
	At this stage, you will be asked to select which users will sign the change order.  Don't worry, you can change this later.  You will also later be given the opportunity to add signers who are not ContractComplete users.
</p>
<figure style="max-width:600px">
	<img src="docs/images/co_pch.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/co_pch.png"></img>
	<figcaption>Change orders can be composed of one or many proposed changes.</figcaption>
</figure>
<h2>Next Steps</h2>
<p>
	Now that you've created a change order, you can add any customizations required before sending it out for signing.  The <b>Document Organizer</b> allows you to add PDF documents to the main change order PDF.  These can include drawings or any other relevant documents.  You also have the opportunity to add additional signers at this stage.  After the change order is created, a stakeholder will need to approve the change order before it is sent out for signing.
</p>
<figure style="max-width:600px">
	<img src="docs/images/co_signers.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/co_signers.png"></img>
	<figcaption>Upon approval, notifications will be sent to each of the signers informing them that the documents are ready to be signed.</figcaption>
</figure>
<p>
	E-sign Live is our 3rd party signing partner which facilitates this process.  After all parties have signed, the change order will be automatically added to the contract.
</p>
<div class="important">
	In some cases, you may need to bypass the signing process.  This can be done on the change order tab using the arrow button near the required change order.
</div>
<figure style="max-width:600px">
	<img src="docs/images/skip_signing.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/skip_signing.png"></img>
	<figcaption>Change order signing can be skipped if required.</figcaption>
</figure>