<h1>Collaborative mode-In Progress stage</h1>
<p>
	In the collaborative mode, "In-Progress" Stage will begin when a consultant decides to start the project with the chosen contractor. Selecting a contractor can happen either after a Tendering process using the "Tenders" or without a tendering process using "Contracts". Either way when Consultant clicks the "Commence Progress" button, the "In-Progress" stage will start. In "In-Progress" stage the followings will be available for both Consultant's and Contractor's sides as well as "Overview", "Schedule of Prices", "Provisional Items", "Documents" pages, with some differences. The RFI and Submittals pages are currently only available for Collaborative mode.
	<br/>
	<br/>
	For brief information about each feature click the Learn more link for each title.
</p>

<p>
Detailed information can be found here:
<br/>
	<ul>
		<li>
			<strong><a href="?page=inprogress_stakeholder#content">In Progress Stakeholder's View<a/></strong> if you are a Stakeholder
		</li>
		<li>
			<strong><a href="?page=inprogress_contractor#content">In Progress Contractor's View</a></strong> if you are a Contractor
		</li>
	</ul>
</p>

<br/>
<br/>

<div class = "row">
	<div class="col-md-4 col-xs-12">
		<div class="info-box">
			<h2>RFI</h2>
			<p>
				With the RFI (request for information) module contractors can quickly generate formal requests. This module allows contractors and Consultants to upload and mark up images to be included in the RFI.
				<br/>
				<a href="?page=rfi#content">Learn More</a>
			</p>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="info-box">
			<h2>Submittals</h2>
			<p>
				Submittals can be requested by the consultants. Contractors will be able to create submittals based on the requests and send them for approval to the consultants.<br/><a href="?page=submittal#content">Learn More</a>
			</p>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
	</div>
</div>

<div class = "row">
	<div class="col-md-4 col-xs-12">
		<div class="info-box">
			<h2>Proposing Changes</h2>
			<p>
				Markup drafts of your suggested contract changes before including them in your change orders for formal approval.<br/><a href="?page=proposed_change#content">Learn More</a>
			</p>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="info-box">
			<h2>Change Orders</h2>
			<p>
				Create a formal change order to be signed and eventually added to the scope of the contract.<br/><a href="?page=change_orders#content">Learn More</a>
			</p>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
	</div>	
</div>

<div class = "row">
	<div class="col-md-4 col-xs-12">
		<div class="info-box">
			<h2>Progress Reports</h2>
			<p>
				Track your contract as it progresses from start to completion.  This is a prerequisite for invoicing.<br/><a href="?page=progress_reports#content">Learn More</a>
			</p>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="info-box">
			<h2>Invoicing</h2>
			<p>
				Learn how to create detailed, uniform invoices for completed work in minutes.<br/><a href="?page=invoicing#content">Learn More</a>
			</p>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
	</div>
</div>

<div class = "row">
	<div class="col-md-4 col-xs-12">
		<div class="info-box">
			<h2>Payment Certificates</h2>
			<p>
			Approve payment for completed work in just a few clicks.<br/><a href="?page=payment_certificates#content">Learn More</a>
			</p>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
	</div>
	<div class="col-md-4 col-xs-12">
	</div>
</div>