<h1>Contract Setup</h1>

<p>
In the ContractComplete application based on the contract type 5 stages are provided. The stages will be displayed on the top right side of a contract. This will be displayed on some of the contracts when the user opens them. Click the <a href="?page=overview#content">ContractComplete Overview</a> link for more information.


</p>

<div class = "row">
	<div class="col-md-3 col-xs-12">
		<ol>
			<li>Draft</li>
			<li>Tendering</li>
			<li>Post Tender</li>
			<li>In Progress</li>
			<li>Completed</li>
		</ol>
	</div>
	
	<div class="col-md-9 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/stage_names.png" data-lightbox="Stages Names" data-title="Stages Names">
			<img style="height:80px;" src="docs/images/stage_names.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/stage_names.png"></img>
		</a>
			<figcaption>
				<small>Stages Names</small>
			</figcaption>
		</figure>
	</div>
</div>

<p>There are two main types of contracts in ContractComplete <b>Tendered Contracts</b> &amp; <b>Awarded Contracts</b>.  A tendered contract is one that has yet to be awarded to a contractor and requires a ContractComplete bidding process.  Awarded contracts are those that have already been awarded to a contractor outside of ContractComplete.  In these cases, the contract owner, or primary stakeholder has already made a decision on which contractor to use.  Those contracts therefore skip the tendering process and proceed immediately to the In Progress capabilities.</p>
<br/>
<p>
 Overvall, in the ContractComplete the users can create the following Contracts, Tenders & Quotes:
 <br/>
 <strong><span style="color:red;">&#9888;</span><i> If you have chosen the solo mode, the Primary Stakeholder or the Contractor can be added anytime you wish to do so.</i></strong>
</p>
	
	<div class="row">
		<div class="col-md-4 col-xs-12" >
			<ul style= "list-style-type: none;">
				<li><strong>Awarded contracts</strong></li>
				<li>Collaborative mode</li>
				<li>Contractor solo mode</li>
				<li>Administrator (Primary stakeholder) solo mode</li>
			</ul>
			
		</div>
		<div class="col-md-4 col-xs-12">
			<ul style= "list-style-type: none;">
				<li><strong>Tenders</strong></li>
				<li>Regular Tender</li>
				<li>Administrator (Primary stakeholder) solo mode</li>
			</ul>
		
		</div>
		<div class="col-md-4 col-xs-12">
			<ul style= "list-style-type: none;">
				<li><strong>Quotes</strong></li>
				<li>Collaborative mode</li>
				<li>Contractor solo mode</li>
			</ul>
		</div>
	
	</div>

</br></br>
<h2>Awarded Contracts</h2>
<p>
The awarded contracts can be created in the Collaborative or Solo mode. Solo mode can be used as the Administrator (Primary Stakeholder) or as the Contractor. The Solo mode usually is used when one of the parties doesn't have a ContractComplete account.
ContractComplete is a flexible application. So don't worry if you have chosen the solo mode, the Primary Stakeholder or the Contractor can be added anytime you wish to do so.
</p>

<p>These three types of contracts have some diffrences in their appearances and functions, but most of the pages and functions are the same.
<strong>More Information is provided in the following links.</strong>
</p>

<div class="row">
	<div class="col-md-3 col-xs-12">
		<ul>
			<li><a href="?page=awarded_collaborative_mode#content">Awarded Collaborative mode</a></li>
			<li><a href="?page=awarded_administrator_solo#content">Awarded Administrator Solo</a></li>
			<li><a href="?page=awarded_contractor_solo#content">Awarded Contractor Solo</a></li>
		</ul>
	</div>


	<div class="col-md-9 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/awarded_contracts.png" data-lightbox="Awarded Contracts" data-title="Awarded Contracts">
			<img style="height:80px;" src="docs/images/awarded_contracts.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/awarded_contracts.png"></img>
		</a>
			<figcaption>
				<small>Awarded Contracts</small>
			</figcaption>
		</figure>
	</div>
</div>
</br>

<h2>Tenders</h2>
<p>
In Tenders, the Primary Stakeholder can award the contract to a bidder after the bidding process. In Tenders in the Post Tender stage the Primary Stakeholder has the option to start the contract in Administrator Solo mode. This usually happens when the bidder who was selected as the contractor doesn't have a ContractComplete account.
In the Tendering phase a link is provided on the Overview page for the external bidders (bidders who don't have the ContractComplete account). The Primary Stakeholder can send the link for the external bidders to participate. 
<br/>
<br/>
Bidders can be added in the Draft, Tendering and Post Tendering stages.

<strong>More Information is provided in <a href="?page=tender#content">Tender</a>.</strong> 
</p>
<br/>
<p>
Several features were added recently to make the tendering process easier, secure and more flexible:
	<ul>
		<li>Addendum Builder</li>
		<li>Q&A (possibility for the bidders to submit their questions and receive answers)</li>
		<li>Negotiation</li>
		<li>Allow Resubmission</li>
		<li>Manual Bid entry</li>
		<li>Reopen Tender</li>
		<li>Start work in Solo mode</li>
		<li>etc</li>
	</ul> 
</p>

<div class="row">
	<div class="col-md-3 col-xs-12">
	</div>
	
	<div class="col-md-9 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/quote_tender.png" data-lightbox="Tenders" data-title="Tenders">
			<img style="height:80px;" src="docs/images/quote_tender.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/quote_tender.png"></img>
		</a>
			<figcaption>
				<small>Tenders</small>
			</figcaption>
		</figure>
	</div>
</div>
</br>
<h2>Quotes</h2>
<p>
The Contractors can create Quotes and email the automatically created quote document to the users of their favorite companies.
Contractors can select a Primary Stakeholder and start the contract in the Collaborative mode or choose to proceed in the Solo Contractor mode.
The Solo mode usually is used when one of the parties doesn't have a ContractComplete account.
<strong>More Information is provided in <a href="?page=quote#content">Quote</a>.</strong>
</p>



<div class="row">
	<div class="col-md-3 col-xs-12">
	</div>
	
	<div class="col-md-9 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/quote_tender_01.png" data-lightbox="Quotes" data-title="Quotes">
			<img style="height:80px;" src="docs/images/quote_tender_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/quote_tender_01.png"></img>
		</a>
			<figcaption>
				<small>Quotes</small>
			</figcaption>
		</figure>
	</div>
</div>




