<h1>Correcting Mistakes & Bid Resubmission</h1>
<div class="important">
If you are looking to change the scope of the contract after the tendering process has been completed, please see <a href="?page=negotiations">negotiations</a>.  This article covers changes to a particular bid submission - not changes to the contract itself.
</div>
<p>
	Although ContractComplete makes every effort to prevent mistakes, upon reviewing bidders' submissions you may notice that one has made a mistake or has accidentally omitted something.  Or alternatively, they may have forgotten to submit their bid.  Or perhaps you wish to get a last minute quote from a contractor who wasn't part of the original bidding process.  All of these scenarios can be addressed through the "Bid Resubmission" feature.<br/><br/>
	To summarize, after a tender closes, any bid can be changed (or submitted for the first time) if you, as a stakeholder, explicitly request it.  This is done on the contract overview page in the bidder list.  It gives the bidder one-time authority to change their bid then re-submit.  The bidder will be notified by email when you make this request, and you, as as stakeholder will receive an email notification after this process is complete.
</p>
<figure style="max-width:600px">
	<img src="docs/images/resubmission.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/resubmission.png"></img>
	<figcaption>Request bid resubmission on the contract overview page.</figcaption>
</figure>