<h1>Documentation</h1>
<p>
	Documentation explains how the software operates and how it is used. We have attached screenshots and step by step technical information about using the application to make the app easier to use.
	<br/>
	<br/>
	ContractComplete users can access the Documentation through the Help tab located on the top right side of the web application when they are signed in. The Documentation is also available on the ContractComplete website under the Resources tab.
</p>
<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/help.png" data-lightbox="Help tab" data-title="Help tab">
			<img style="height:70px;" src="docs/images/help.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="help.png"></img>
			</a>
			<figcaption>
				<small>Help tab</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/documentation.png" data-lightbox="Documentation" data-title="Documentation">
			<img style="height:250px;" src="docs/images/documentation.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="documentation.png"></img>
			</a>
			<figcaption>
				<small>Documentation</small>
			</figcaption>
		</figure>
	</div>
</div>