<h1>Documents</h1>
<p>
ContractComplete supports several ways of interacting with documents pertaining to your contracts.  The document system supports basic tasks like uploading, downloading, and previewing documents, as well as organizing them into folders.  In <a href="?page=contract_setup#tendered">tendered contracts</a>, stakeholders can request specific documents to be uploaded as part of the tendering process.  This article will elaborate on these applications.
</p>
<ul>
	<li><a href="#basic">Basic Document Features</a></li>
	<li><a href="#requests">Document Upload Requests</a></li>
	<li><a href="#other">Post-Tendering</a></li>
</ul>
<h2 id="basic">Basic Document Features</h2>
<p>
The documents tab contains the main ContractComplete filesystem.  Documents you upload will be visible to all stakeholders and the contractor.  They will also be visible to the bidders for tendered contracts - but not until tendering begins.
</p>
<figure style="max-width:600px">
	<img src="docs/images/uploads_1.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/uploads_1.png"></img>
	<figcaption>The documents framework allows folders, uploads, downloads, and previews.</figcaption>
</figure>


<h2 id="requests">Document Upload Requests</h2>
<p>
Sometimes, as part of the tendering process, a stakeholder may wish to request specific document uploads from the bidders.  Fortunately, this feature is built into the documents framework and can be accessed on the documents tab under the "Document Upload Requests" section.  Simply click the "New" button and add additional information in the popup window.  You can even "link" an existing document to your request such as an empty version of a form that the bidder can complete and re-upload.<br/><br/>
Document upload requests will appear on the bidder checklist.  Bidders will be made aware that they have been asked to complete these items, although they will not be prevented from submitting incomplete bids.  In the case of accidental omissions, ContractComplete provides functionality for <a href="?page=allow_resubmission">correcting mistakes</a>.
</p>
<figure style="max-width:600px">
	<img src="docs/images/documents.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/documents.png"></img>
	<figcaption>The upload request feature allows specific information to be attached to each request.</figcaption>
</figure>
<h2 id="other">Post-Tendering</h2>
<p>
	ContractComplete's post-tendering features generate various PDF documents as part of their workflow.  After work on a contract begins (after the tendering process), these modules modules will automatically save relevant documents into the document system.  These include:
	<ul>
		<li>Change Orders - signed and pre-signature copies of the change order PDF</li>
		<li>Invoicing - invoice cover sheets, invoice line items documents, and hold-back invoices</li>
		<li>Payment Certificates</li>
	</ul>
</p>
<p>
	This convenience feature allows you to have easy access to these documents via the mobile apps or on the documents tab without having to navigate to their respective modules.
</p>