<h1>Followers & Action Items</h1>
<h2>Action Items</h2>
<p>
In order for ContractComplete to be as effective as possible, we need to keep stakeholders informed with respect to which tasks need to be completed.  Action items are our way of doing that.  Action items are essentially an email notification attached to a particular task that needs to be completed.  For example, a contractor may receive an action item asking them to submit a bid on a contract, and a consultant may receive an action item asking them to approve an invoice.
<br/><br/>When the action item is created, an email is sent out and posted to the "Action Box" of the concerned users.  Most action items are automatically archived (disappear) when their associated tasks are completed.  But all action items can be archived manually using the gear menu in the action box.
</p>
<figure style="max-width:600px">
	<img src="docs/images/action_box.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/action_box.png"></img>
	<figcaption>You can manually archive action items using the gear menu.</figcaption>
</figure>
<h2>Following Contracts</h2>
<p>
Action items are helpful for keeping stakeholders informed, but not every user needs to receive every action item.  In order to ensure the correct individuals receive the most relevant action items, each contract has a "Following List".  Any user can add or remove themselves, or other users from a contract's following list.  If an action item for a contract is sent to a company of which no users are following the contract, <b>all administrators</b> will be automatically added as followers and assigned the action item.  The administrators can then add the appropriate followers.  This typically happens for bidders when the tendering process first starts.
</p>