<h1>Help</h1>
<p>
	Starting to use a new application can be hard. ContractComplete team has provided several ways to make using the application easy. The Help tab is located on the top right side, whenever you have any questions or issues regarding the app. For more information, click the links below.
</p>

<div class = "row">
	<div class="col-md-2 col-xs-12">
		<ul>
			<li><a href="?page=documentation#content">Documentation<a/></li>
			<li><a href="?page=live_chat#content">Live Chat<a/></li>
			<li><a href="?page=live_chat#content">Contact Us<a/></li>
			<li><a href="?page=send_feedback#content">Send Feedback<a/></li>
		</ul>
	</div>
	<div class="col-md-10 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/help.png" data-lightbox="Help tab" data-title="Help tab">
			<img style="height:110px;" src="docs/images/help.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="help.png"></img>
			</a>
			<figcaption>
				<small>Help tab</small>
			</figcaption>
		</figure>
	</div>
</div>
