<h1>ContractComplete Documentation Home</h1>
<p>
Welcome to the ContractComplete documentation page.  There are several ways you can get help with ContractComplete.<br/><br/>
</p>
<div class="docs-home-section" style="width:450px;float:left;max-width:100%">
	<div class="info-box">
		<h2>Documentation</h2>
		<p>Welcome to the ContractComplete documentation.  Here we've amassed several resources which can help you get started with ContractComplete and answer any questions you might have.</p>
	</div>
</div>
<div class="docs-home-section" style="width:450px;float:left;max-width:100%">
	<div class="info-box">
		<h2>Videos</h2>
		<p>We have compiled several tutorial videos on <a href="videos.html">this page</a> which demonstrate various tasks that can be accomplished within ContractComplete.<br/><br/></p>
	</div>
</div>
<div style="clear:both"></div>
<div class="docs-home-section" style="width:450px;float:left;max-width:100%">
	<div class="info-box">
		<h2>Blogs</h2>
		<p>Want to keep up to date with what's happening in the world of ContractComplete?  Check out our <a href="blog/index.php">blog</a>.  We also post feature updates and announcements there.<br/></p>
	</div>
</div>
<div class="docs-home-section" style="width:450px;float:left;max-width:100%">
	<div class="info-box">
		<h2>Additional Help</h2>
		<p>Still stuck?  We're here to help.  <a href="mailto:info@grandriverbi.com">Contact us with your questions.</a>  Alternatively, feel free to use the feedback function in the <b>Help</b> menu in ContractComplete.</p>
	</div>
</div>