<h1>Importer Tool</h1>
<p>
	The importer tool is useful for anyone who already has their unit price contract designed in a spreadsheet.  It can save you time by importing both provisional items and line items into ContractComplete.  This article discusses how to use the tool effectively.<br/><br/>
	The first step is to download the latest version of the spreadsheet template.  We suggest making a habit of doing this regularly because the spreadsheet does sometimes need to change as we add new features to ContractComplete.  This can be done by using the "Import" button on the contract editor page (although this button is on the contractor editor page, provisional items are imported here as well).
	<div class="important">
		Some users miss this fact, so its important to note that the template that you download contains 4 sheets: line items, provisional items, and two sample sheets.  Excel presents these as tabs and allows toggling back and forth.
	</div>
</p>
<h2>Setting up Line Items</h2>
<p>
For the most part, importing line items is pretty straightforward.  In many cases, the columns in typical unit price contracts line up 1-to-1 with the columns in the importer spreadsheet. Simply paste the columns from your spreadsheet into the columns in the template.  Description and budgeted unit price columns are optional.<br/><br/>
The challenge is that there is no natural way to represent a hierarchy in a spreadsheet.  Fortunately, ContractComplete is able to take advantage of the <b>Item Number</b> column to determine the hierarchy.  Using a decimal numbering system will allow ContractComplete to interpret the hierarchy from the flat spreadsheet.  For example, we can infer that item 1.1.2 is likely  a child of item 1.1.
</p>
<figure style="max-width:600px">
	<img src="docs/images/tform_wksheet.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tform_wksheet.png"></img>
	<figcaption>The numbering strategy for a basic unit price contract</figcaption>
</figure>
<h2>Setting up Provisional Items</h2>
<p>
	Provisional item import works almost identically to line items import.  Establishing folders can be done using the numbering system as in the figure below.  When you upload your spreadsheet you will be given the option to import provisional items, line items, or both simultaneously.
</p>
<figure style="max-width:600px">
	<img src="docs/images/provs_worksheet.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/provs_worksheet.png"></img>
	<figcaption>The numbering strategy for provisional items with folders.  The numbering is optional, and leaving it out will result in a flat list of provisional items.</figcaption>
</figure>