<style>
	.headerColor{
		color: #909090;
		font-size: 15px;
	}
	#inprogressStakeholder >  li  > .active {
		border-bottom:5px solid #146b75;
	}
	#inprogressStakeholder >  li  > .active > span {
		color: #146b75;
		font-weight:bolder;
	}
</style>


<h1>Collaborative mode-In Progress stage-Stakeholder view</h1>
<p>
	In the collaborative mode, "In-Progress" Stage will begin when a consultant decides to start the project with the chosen contractor. Selecting a contractor can happen either after a Tendering process using the "Tenders" or without a tendering process using "Contracts". Either way when Consultant clicks the "Commence Progress" button, the "In-Progress" stage will start.
	<br/>
	<br/>
	In "In-Progress" stage the following pages will be available for both Consultant's and Contractor's sides with some differences. The RFI and Submittals pages are currently only available for Collaborative mode.
</p>

<br/>

<ul class="nav nav-tabs" id="inprogressStakeholder" role="tablist" style="border-bottom:2px solid; border-color:#909090;">

  <li class="nav-item">
	<a class="nav-link active" id="inprogressStakeholderOverview-tab" data-toggle="tab" href="#inprogressStakeholderOverview" role="tab" aria-controls="inprogressStakeholderOverview" aria-selected="true">
		<span class="headerColor">
			<i class="fa fa-home" aria-hidden="true"></i> Overview</span></a>
  </li>
  
  <li class="nav-item">
	<a class="nav-link" id="inprogressStakeholderSchedule-tab" data-toggle="tab" href="#inprogressStakeholderSchedule" role="tab" aria-controls="inprogressStakeholderSchedule" aria-selected="false"><span class="headerColor">
	<i class="fa fa-list-ol" aria-hidden="true"></i> Schedule of Prices</span></a>
  </li>
  
   <li class="nav-item">
	<a class="nav-link" id="inprogressStakeholderProvisional-tab" data-toggle="tab" href="#inprogressStakeholderProvisional" role="tab" aria-controls="inprogressStakeholderProvisional" aria-selected="false"><span class="headerColor">
	<i class="fa fa-list" aria-hidden="true"></i> Provisional Items</span></a>
   </li>
 
    <li class="nav-item">
	<a class="nav-link" id="inprogressStakeholderDocuments-tab" data-toggle="tab" href="#inprogressStakeholderDocuments" role="tab" aria-controls="inprogressStakeholderDocuments" aria-selected="false"><span class="headerColor">
	<i class="fa fa-folder" aria-hidden="true"></i> Documents</span></a>
  </li>
  
   <li class="nav-item">
	<a class="nav-link" id="inprogressStakeholderRfi-tab" data-toggle="tab" href="#inprogressStakeholderRfi" role="tab" aria-controls="inprogressStakeholderRfi" aria-selected="false"><span class="headerColor">
	<i class="fa fa-comments-o fa-lg" aria-hidden="true"></i> RFI</span></a>
   </li>
   
	<li class="nav-item">
	<a class="nav-link" id="inprogressStakeholderSubmittal-tab" data-toggle="tab" href="#inprogressStakeholderSubmittal" role="tab" aria-controls="inprogressStakeholderSubmittal" aria-selected="false"><span class="headerColor">
	<i class="fa fa-repeat fa-lg" aria-hidden="true"></i> Submittals</span></a>
   </li>
   
	<li class="nav-item">
	<a class="nav-link" id="inprogressStakeholderChangeorders-tab" data-toggle="tab" href="#inprogressStakeholderChangeorders" role="tab" aria-controls="inprogressStakeholderChangeorders" aria-selected="false"><span class="headerColor"><i class="fa fa-pencil" aria-hidden="true"></i> Change Orders</span></a>
   </li>
   
   	<li class="nav-item">
	<a class="nav-link" id="inprogressStakeholderProgressreport-tab" data-toggle="tab" href="#inprogressStakeholderProgressreport" role="tab" aria-controls="inprogressStakeholderProgressreport" aria-selected="false"><span class="headerColor"><i class="fa fa-clipboard" aria-hidden="true"></i> Progress Reports</span></a>
   </li>
   
   	<li class="nav-item">
	<a class="nav-link" id="inprogressStakeholderInvoice-tab" data-toggle="tab" href="#inprogressStakeholderInvoice" role="tab" aria-controls="inprogressStakeholderInvoice" aria-selected="false"><span class="headerColor"><i class="fa fa-book" aria-hidden="true"></i> Invoices/PCs</span></a>
   </li>
  
</ul>


<div class="tab-content" id="inprogressStakeholderContent">
  <div class="tab-pane fade show active" id="inprogressStakeholderOverview" role="tabpanel" aria-labelledby="inprogressStakeholderOverview-tab">
  <br/>
	<h2>Overview</h2>
	<h3>Comming Soon!</h3>
  </div>

	<div class="tab-pane fade" id="inprogressStakeholderSchedule" role="tabpanel" aria-labelledby="inprogressStakeholderSchedule-tab">
		<br/>
		<h2>Schedule of Prices</h2>
		<h3>Comming Soon!</h3>
	</div>


	<div class="tab-pane fade" id="inprogressStakeholderProvisional" role="tabpanel" aria-labelledby="inprogressStakeholderProvisional-tab">
		<br/>
		<h2>Provisional Items</h2>
		<h3>Comming Soon!</h3>
	</div>

	<div class="tab-pane fade" id="inprogressStakeholderDocuments" role="tabpanel" aria-labelledby="inprogressStakeholderDocuments-tab">
		<br/>
		<h2>Documents</h2>
		<h3>Comming Soon!</h3>
	</div>

	<div class="tab-pane fade" id="inprogressStakeholderRfi" role="tabpanel" aria-labelledby="inprogressStakeholderRfi-tab">
		<br/>
		<h2>RFI</h2>
		<p>
			An RFI seeks the clarification of plans, drawings, specifications and agreements. A formal written process in which parties, such as the contractor and designer, clarify information gaps in documents.
			</br>
			</br>
			RFI page is currently available in collaborative contracts, in "In Progress" and "Completed" stages. On the RFI page, contractors can quickly generate formal requests and upload pdf files. They can upload and mark up images to be included in the RFI, then send the document to the stakeholders for a response. Stakeholders can add responses and upload pdf files after receiving an RFI. They can upload and mark up images to be included in the RFI and send it to the contractor. Stakeholders can also send the RFI to a third party who doesn't have a ContractComplete account; they can choose to either review the 3rd party reply before sending it to the contractor or just allow the 3rd party to directly send the reply to the contractor using the ContractComplete features. The 3rd party can also upload pdf files, upload and mark up images. When the contractor receives the RFI response if they need more clarification they can reopen the RFI and stakeholders have to provide further information and resend the RFI.		
		</p>
		<br/>
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
				<a href="docs/images/rfi_stakeholder.png" data-lightbox="RFI-Stakeholders' view" data-title="RFI-Stakeholders' view">
				<img style="height:250px;" src="docs/images/rfi_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/rfi_stakeholder.png"></img>
				</a>
					<figcaption>
						<small>RFI-Stakeholders' view</small>
					</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
			</div>
		</div>
		
		<br/>
		
		<p>
			Contractor can create an RFI, add or delete Pdf files, add and markup images and send it to the Stakeholders. If the contractor selects a person for the Attn box, the person will receive an email and a message in his/her action box. In case no one is selected as a contact point all stakeholders (only the contract followers) will receive an email and a message in their action box. However, all stakeholders will be able to see the "Submitted" RFI on the ContractComplete application.
		</p>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submitted_rfi_stakeholder01.png" data-lightbox="Submitted RFI-Stakeholders' View" data-title="Submitted RFI-Stakeholders' View">
					<img style="height:250px;" src="docs/images/submitted_rfi_stakeholder01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submitted_rfi_stakeholder01.png"></img>
					</a>
					<figcaption>
						<small>Submitted RFI-Stakeholders' View</small>
					</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
			</div>
		</div>
		
		<br/>
		
		On the <strong style= "color: #1ba1e2;"> Submitted </strong> RFI Stakeholders can do the following actions:
		<ul>
			<li>Add pdf files using the "Add pdf" button.</li>
			<li>Add response and comments in the "Our Response" box.</li>
			<li>
				<Strong>Image Manager:</strong> Use the "Image Manager" button to attach and mark up images to be included in the RFI. By clicking the Image Manager button, 'Image Manager' page will be displayed. To upload an image click the "Add Image" icon, select an image on the 'File Browser' window in 'File Picker' tab or upload an image using the 'File Upload' tab. The image will be added on the 'Image Manager' page on the left side. 
				<br/>
				<br/>
				You can do the following actions to edit, mark up or delete the added images:
				<br/>
					<ul>
						<li>
							Click the <i class="fa fa-times-circle" aria-hidden="true"></i> icon to delete the added image.
						</li>
						<li>
							Click the <i class="fa fa-commenting-o" aria-hidden="true"></i> icon to add or edit image title and caption.
						</li>
						<li>
							To edit or mark the image, click on an image. The image will be displayed on the black space and editing tools will become available. You can crop, rotate and markup the image or make other changes using the provided tools. <strong><span style="color:red;">&#9888;</span></strong> Stakeholders won't be able to delete or change the images' markups marked by the contractor.
						</li>
						<li>
							Use "Undo" and "Cancel" buttons to dismiss the previous changes.
						</li>
						<li>
							 To save the changes, don't forget to click the "Done" button after making changes using the tools.
						</li>
						<li>
							Click the back arrow to close the 'Image Manager' at anytime to go back to the RFI document builder page. To see the saved changes made in the Image Manager on the RFI pdf don't forget to click the "Yes" button on the 'Update Pdf' window.
						</li>
					</ul>
					
			</li>
			<br/>
		
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/submitted_rfi_stakeholder02.png" data-lightbox="Submitted RFI-Stakeholders' View-Image Manager" data-title="Submitted RFI-Stakeholders' View-Image Manager">
						<img style="height:250px;" src="docs/images/submitted_rfi_stakeholder02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submitted_rfi_stakeholder02.png"></img>
						</a>
						<figcaption>
							<small>Submitted RFI-Stakeholders' View-Image Manager</small>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/image_manager02.png" data-lightbox="Image Caption/Title Window" data-title="Image Caption/Title Window">
						<img style="height:250px;" src="docs/images/image_manager02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/image_manager02.png"></img>
						</a>
						<figcaption>
							<small>Image Caption/Title Window</small>
						</figcaption>
					</figure>
				</div>

			</div>

			<br/>
			
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/image_manager03.png" data-lightbox="Update PDF Window" data-title="Update PDF Window">
						<img style="height:150px;" src="docs/images/image_manager03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/image_manager03.png"></img>
						</a>
						<figcaption>
							<small>Update PDF Window</small>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/submitted_rfi_stakeholder03.png" data-lightbox="Submitted RFI-Stakeholders' View-Supplementary Images" data-title="Submitted RFI-Stakeholders' View-Supplementary Images">
						<img style="height:250px;" src="docs/images/submitted_rfi_stakeholder03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submitted_rfi_stakeholder03.png"></img>
						</a>
						<figcaption>
							<small>Submitted RFI-Stakeholders' View-Supplementary Images</small>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<br/>		
			
				
			<li>
				<span style="color:red;">&#9888;</span> After making changes on the RFI make sure to click the "Save & Update Document" button.
			</li>
			<br/>
			<li>
				<strong>Send the RFI to a 3rd party</strong> who doesn't have a ContractComplete account. After clicking the "Send to 3rd Party" the 'External Access' window will be displayed. To send the RFI to a 3rd party click the "Generate URL" button, a new URL will be generated. You can decide what happens after 3rd party response by selecting the appropriate workflow.
				<br/>
				<ul>
					<li>
						<strong>Auto</strong>: By selecting the Auto workflow you will allow the 3rd party to send the response directly to the contractor. After the 3rd party response, the RFI status will change to Responded, the 3rd party and stakeholders won't be able to make any changes.
					</li>
					<li>
						<strong>Manual</strong>: If you want to review the 3rd party response before sending it to the contractor make sure to select the Manual workflow. After the 3rd party response, the RFI status will remain in Submitted stage, the 3rd party and stakeholders will still be able to make changes. Stakeholders can then review, make changes and send the response directly to the contractor. 
					</li>
				</ul>
				<br/>
				After generating a URL and selecting a workflow, click the "Send as Email" button. On the new window, you can select an external stakeholder from the drop down menu in case you have already added them on the Overview page. Or you can add new external stakeholder using the "Add Stakeholder" button. By clicking the "Accept" button an email will be sent to the selected 3rd party which will allow them to add or edit a response, add or delete pdf files, upload and mark up images and send the RFI directly to the contractor (if the Auto workflow was selected by the stakeholder) or send the RFI to the stakeholders for review (if the Manual workflow was selected by the stakeholder). When the 3rd party sends an RFI response he/she should enter the following information (First name, Last name, Email address, Company name). The entered data will be tracked and can be found on the 'RFI History' window located in each RFI.
				
			</li>
			<br/>
			<li>
				Send the RFI response directly to the contractor by clicking the "Send RFI Response" button. Stakeholders won't be able to make any changes after sending the response.
			</li>
		</ul>
		
		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submitted_rfi_stakeholder04.png" data-lightbox="Submitted RFI-Stakeholders' View-3rd Party" data-title="Submitted RFI-Stakeholders' View-3rd Party">
					<img style="height:250px;" src="docs/images/submitted_rfi_stakeholder04.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submitted_rfi_stakeholder04.png"></img>
					</a>
					<figcaption>
						<small>Submitted RFI-Stakeholders' View-3rd Party</small>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submitted_rfi_stakeholder05.png" data-lightbox="Select a 3rd Party Stakeholder Window" data-title="Select a 3rd Party Stakeholder Window">
					<img style="height:250px;" src="docs/images/submitted_rfi_stakeholder05.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submitted_rfi_stakeholder05.png"></img>
					</a>
					<figcaption>
						<small>Select a 3rd Party Stakeholder Window</small>
					</figcaption>
				</figure>
			</div>

		</div>
		
		<br/>
		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submitted_rfi_stakeholder06.png" data-lightbox="Add an External Stakeholder Window" data-title="Add an External Stakeholder Window">
					<img style="height:250px;" src="docs/images/submitted_rfi_stakeholder06.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submitted_rfi_stakeholder06.png"></img>
					</a>
					<figcaption>
						<small>Add an External Stakeholder Window</small>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-xs-12">
			</div>
		</div>
		
		<br/>		
		<br/>
		<p>
			After sending the RFI response the status will change to <strong style= "color: #70b43e ;">"Responded" </strong> and stakeholders will not be able to make any changes unless the contractor reopens the RFI.
		</p>
		
		<p>
			After reviewing the responses, contractor can leave the RFI as is or reopens the RFI to request clarification. If the contractor reopens a Responded RFI, the RFI status will change to <strong style= "color: #c0c039 ;">"Reopened"</strong>. Stakeholders have to answer the requested missing information, using the same features they used for the Submitted RFIs and send their updated response. Reopening a Responded RFI can be repeated until clarification is made.
		</p>
		
		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/responded_rfi_stakeholder.png" data-lightbox="Responded RFI-Stakeholders' View" data-title="Responded RFI-Stakeholders' View">
					<img style="height:250px;" src="docs/images/responded_rfi_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/responded_rfi_stakeholder.png"></img>
					</a>
					<figcaption>
						<small>Responded RFI-Stakeholders' View</small>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/reopened_rfi_stakeholder.png" data-lightbox="Reopened RFI-Stakeholders' View" data-title="Reopened RFI-Stakeholders' View">
					<img style="height:250px;" src="docs/images/reopened_rfi_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/reopened_rfi_stakeholder.png"></img>
					</a>
					<figcaption>
						<small>Reopened RFI-Stakeholders' View</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		<br/>
		<br/>
		
		<strong>Notes:</strong>
			<ul>
				<li>
					Stakeholders can find the users' names and the time they have changed an RFI Status using the "RFI History" button located in each RFI.
				</li>
				<li>RFI Submission date, Due date and Response date are displayed on the RFI page for each RFI.</li>
				<li>RFI excel file can be downloaded using the <i class="fa fa-cloud-download" aria-hidden="true"></i> .</li>
				<li>Contractor can delete RFIs in any status.</li>
			</ul>
			
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/rfi_history01.png" data-lightbox="RFI History-Stakeholders' View" data-title="RFI History-Stakeholders' View">
					<img style="height:250px;" src="docs/images/rfi_history01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/rfi_history01.png"></img>
					</a>
					<figcaption>
						<small>RFI History-Stakeholders' View</small>
					</figcaption>
				</figure>
			</div>

			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
				<a href="docs/images/rfi_stakeholder.png" data-lightbox="RFI-Stakeholders' view" data-title="RFI-Stakeholders' view">
				<img style="height:250px;" src="docs/images/rfi_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/rfi_stakeholder.png"></img>
				</a>
					<figcaption>
						<small>RFI-Stakeholders' view</small>
					</figcaption>
				</figure>
			</div>
		</div>
			
			
		<br/>
		<br/>
		<br/>
			
		<div class = "row">
			<div class="col-md-7 col-xs-12">
				<h3>Analytics</h3>
				On the Analytics section the followings are provided:
			<ul>
				<li>
					<b>Donut Chart</b>: Displays the percentage and the number of RFIs of each status; including Submitted, Responded and Reopened RFIs. (To see the numbers just hover over each status.)
				</li>
				<li>
					<b>Total RFIs</b>: Displays the total number of RFIs including Submitted, Responded and Reopened RFIs.
				</li>
				<li>
					<b>Reopen Percent</b>: Displays the percentage of responded RFIs that were at least reopened once.
				</li>
				<li>
					<b>Average Response Time</b>: Displays the average Stakeholders' response times to "Submitted" and "Reopened" RFIs.
				</li>
			</ul>
			</div>
			<div class="col-md-5 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/rfi_analytics_stakeholder.png" data-lightbox="RFI Analytics-Stakeholder's View" data-title="RFI Analytics-Stakeholder's View">
					<img style="height:200px;" src="docs/images/rfi_analytics_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/rfi_analytics_stakeholder.png"></img>
					</a>
					<figcaption>
						<small>RFI Analytics-Stakeholder's View</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
	</div>

	<div class="tab-pane fade" id="inprogressStakeholderSubmittal" role="tabpanel" aria-labelledby="inprogressStakeholderSubmittal-tab">
		<br/>
		<h2>Submittals</h2>
		<p>
			Submittals can be shop drawings, material data, samples, and product data. Submittals are required primarily for the architect and engineer to verify that the correct products will be installed on the project. This process also gives the architect and sub-consultants the opportunity to select colors, patterns, and types of material that were not chosen prior to completion of the drawings. This is not an occasion for the architect to select different materials than specified, but rather to clarify the selection within the quality level indicated in the specification and quantities shown on plans.By using submittals the primary stakeholder or a 3rd party subconsultant will be able to approve or reject the materials or products before they are used in the project.
		</p>

		<br/>

		<p>
			Consultants (stakeholders) can create submittal requests, attach files and send the request to the contractor. Then contractor can create a separate submittal or a submittal attached to the received request. Contractor can add pdf files, upload and markup images then send the submittal to the stakeholders. Stakeholders can either "approve or reject" the submittal on their own, or send the submittal to a 3rd party (a person who doesn't have a ContractComplete account) so that the third party can approve or reject the submittal. Consultants can also add pdf files and annotations. Consultants and contractor can see the tracked data and download submittals' pdf versions using the <strong>"Submittal History"</strong> button located on the top right side of each submittal. Submittals page is currently only available for Collaborative mode contracts in "In Progress" and "Completed" stages.
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/submittal_stakeholder.png" data-lightbox="Submittals-Stakeholders' view" data-title="Submittals-Stakeholders' view">
					<img style="height:250px;" src="docs/images/submittal_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_stakeholder.png"></img>
					</a>
						<figcaption>
							<small>Submittals-Stakeholders' view</small>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
				</div>
			</div>
		<br/>
		</p>
		

		<i style="color:gray;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:gray; font-size:17px;">Submittal Request-Draft</strong>
		<br/>
		<br/>
		<p>
			Stakeholders can create a submittal request by clicking the "Request Submittal" button located on the top right side of the Submittals page. To complete creating the submittal request entering a title is necessary, after entering a title click the "Accept" button to proceed. On the Submittal Request window stakeholders can:
			<ul>
				<li>Upload supplemental attachments.</li>
				<li>Download files using the <i style="color:#a52a2a;" class="fa fa-download" aria-hidden="true"></i> icon</li>
				<li>
					Delete uploaded files using the trash icon <i style="color:red;" class="fa fa-trash-o" aria-hidden="true"></i>.
				</li>
				<li>Write a summary of their request in the Request Summary box.</li>
				<li>
					Set a due date for the submittal request. Contractor should send the related submittal before the submittal request due date.
				</li>
				<li>
					Add a contact point using the "Attn" drop down box. If they select a person, the person will receive an email and a message in his/her action box when the stakeholder sends the submittal request. In case no one is selected as a contact point all contractor's company users (only the contract followers) will receive an email and a message in their action box.
				</li>
			</ul>
			<br/>
			After creating the Submittal Request, stakeholder can close the 'Submittal Request' window, in case they want to edit and make other changes later. Make sure to click the save button before closing the 'Submittal Request' window. <strong style="color:gray;">Submittal Request-Draft</strong>: The submittal request is now in draft status. Contractor can not see the draft submittal request on their side.
			
			<br/>
			<br/>
			
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/newsubmittal_window_stakeholder.png" data-lightbox="New Submittal Window-Stakeholders' view" data-title="New Submittal Window-Stakeholders' view">
					<img style="height:250px;" src="docs/images/newsubmittal_window_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/newsubmittal_window_stakeholder.png"></img>
					</a>
						<figcaption>
							<small>New Submittal Window-Stakeholders' view</small>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/submittal_request.png" data-lightbox="Submittal Request-Stakeholders' view" data-title="Submittal Request-Stakeholders' view">
						<img style="height:250px;" src="docs/images/submittal_request.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_request.png"></img>
						</a>
							<figcaption>
								<small>Submittal Request-Stakeholders' view</small>
							</figcaption>
					</figure>
				</div>
			</div>
		</p>
		
		<br/>
		
		<i style="color:purple;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:purple;font-size:17px;">Submittal Request-Requested</strong>
		<br/>
		<br/>
		<p>
			After completing a Submittal Request, stakeholders can send the submittal request to the contractor by clicking the "Send Request" button located on 'Submittal Request' window. <strong style="color:purple;">Submittal Request-Requested</strong>: The submittal request is now in requested status. Contractor can now see the submittal request on their side. Stakeholders can still edit the submittal request; contractor will see the changes.
		</p>
				
		<p>
			After sending the submittal request, contractor can create a separate submittal or a submittal attached to the received request. Contractor can add pdf files, upload and markup images then send the submittal to the stakeholders. If the contractor creates a submittal attached to the request, the status color will change based on the submittal status. In case the contractor creates a separate submittal the status color will remain purple.
			Contractor can even create a submittal and send it to the stakeholders for approval without receiving a submittal requests. Stakeholders will not see the draft submittals created by the contractor.			
		</p>
		
		<br/>
		
		
		<i style="color:#1ba1e2;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:#1ba1e2;font-size:17px;">Submittal-Review</strong>
		<br/>
		<br/>
		<p>
			When the contractor sends a submittal to the stakeholders, stakeholders will see the submittal in review status, on the left side of the Submittals page. Contractor can set a due date for each submittal before sending it to the stakeholders. It's a good practice to approve the submittal before the due date so that the project can meet the deadline.
			<br/>
				
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/submittal_stakeholder.png" data-lightbox="Submittals-Stakeholders' view" data-title="Submittals-Stakeholders' view">
						<img style="height:250px;" src="docs/images/submittal_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_stakeholder.png"></img>
						</a>
							<figcaption>
								<small>Submittals-Stakeholders' view</small>
							</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/submittal_review_stakeholder.png" data-lightbox="Submittal-Review-Stakeholders' view" data-title="Submittal-Review-Stakeholders' view">
						<img style="height:250px;" src="docs/images/submittal_review_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_review_stakeholder.png"></img>
						</a>
						<figcaption>
							<small>Submittal-Review-Stakeholders' view</small>
						</figcaption>
					</figure>
				</div>
			</div>
				
			<br/>
			<strong>Stakeholders can do the followings:</strong>
			<br/>
			<br/>
			<ul>
				<li>Upload or delete pdf files.</li>
				<li>
					Write responses and add comments in the "Our Response" box. <strong><span style="color:red;">&#9888;</span></strong> Make sure to click the "Save & Update Document" button after making changes.
				</li>
				<li>
					<b>Add annotations</b>. For adding annotations click the "Annotate PDF" button, then click "Yes". <strong> Adding annotations will lock the pdf and comments section and even the "Save & Update Document" button; so make sure to add annotations at last.</strong> However, you can remove all annotations whenever you need to make other changes. After clicking the "Yes" button you will be able to annotate the submittal pdf using the provided tools. <strong><span style="color:red;">&#9888;</span></strong> Make sure to click the "Save Annotations" button located on the top right side, after making changes. You can click the back arrow to close the annotation window anytime. After annotating the submittal pdf, in case you want to make other changes like adding or deleting pdf files or making changes in the "Our Response" box you have to click the <span style="color:blue;">"Remove the annotations"</span>. By clicking the "Remove the annotations", all annotations will be removed and you will be able to make changes again. Make sure to click the "Save & Update Document" button after making changes.
					
					<br/>
					<br/>
					<br/>
					
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/submittal_annotation01.png" data-lightbox="Submittal Annotation 01-Stakeholders' view" data-title="Submittal Annotation 01-Stakeholders' view">
								<img style="height:250px;" src="docs/images/submittal_annotation01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_annotation01.png"></img>
								</a>
									<figcaption>
										<small>Submittal Annotation 01-Stakeholders' view</small>
									</figcaption>
							</figure>
						</div>
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/submittal_annotation02.png" data-lightbox="Submittal Annotation 02-Stakeholders' view" data-title="Submittal Annotation 02-Stakeholders' view">
								<img style="height:250px;" src="docs/images/submittal_annotation02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_annotation02.png"></img>
								</a>
								<figcaption>
									<small>Submittal Annotation 02-Stakeholders' view</small>
								</figcaption>
							</figure>
						</div>
					</div>				
				</li>
				<br/>
				<li>
					<b>Send the submittal to a 3rd party</b> that doesn't have a ContractComplete account. By clicking the "Send to 3rd Party" button, the 'External Access' window will open. Clicking the "Generate URL" button, will generate a submittal URL. You can decide to allow the 3rd party to approve/reject the submittal directly or not, by selecting the appropriate workflow.
					<br/>
					<ul>
						<li>
							<strong>Auto:</strong> By selecting the Auto workflow you will allow the 3rd party to directly approve or reject the submittal. The submittal status will change after the 3rd party approves or rejects the submittal.
						</li>
						<li>
							<strong>Manual:</strong> If you want to review the 3rd party recommendation before making your final decision, to approve/reject the submittal, make sure to select the Manual workflow. When the 3rd party approves/rejects the submittal, the Submittal status will remain in Submitted stage, the 3rd party and stakeholders will still be able to make changes. Stakeholders can then review the 3rd party recommendations, make changes and approve or reject the submittal themselves.
						</li>
					</ul>

					<br/>

					After generating a URL and selecting a workflow, click the "Send as Email" button. On the new window, you can select an external stakeholder from the drop down menu in case you have already added them on the Overview page. Or you can add new external stakeholder using the "Add Stakeholder" button. By clicking the "Accept" button an email will be sent to the selected 3rd party which will allow them to add or edit a response, add or delete pdf files, add annotations and approve/reject the submittal directly (if the Auto workflow was selected by the stakeholder) or indirectly by sending their recommendations to the stakeholders for review (if the Manual workflow was selected by the stakeholder).
					<br/>
					<br/>
					
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/submittal_3rdparty01.png" data-lightbox="Submittal-Send to 3rd party-Stakeholders' view" data-title="Submittal-Send to 3rd party-Stakeholders' view">
									<img style="height:250px;" src="docs/images/submittal_3rdparty01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_3rdparty01.png"></img>
									</a>
										<figcaption>
											<small>Submittal-Send to 3rd party-Stakeholders' view</small>
										</figcaption>
								</figure>
							</div>
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/submittal_3rdparty02.png" data-lightbox="Submittal-3rd party view" data-title="Submittal-3rd party view">
									<img style="height:250px;" src="docs/images/submittal_3rdparty02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_3rdparty02.png"></img>
									</a>
									<figcaption>
										<small>Submittal-3rd party view</small>
									</figcaption>
								</figure>
							</div>
						</div>	

					<br/>
					When the 3rd party approves or rejects a submittal he/she should enter the following information (First name, Last name, Email address, Company name). The entered data will be tracked and can be found on the 'Submittal History' window located in each submittal.
					<br/>
					<br/>
					
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/submittal_3rdparty03.png" data-lightbox="Submittal-3rd party view-Reject" data-title="Submittal-3rd party view-Reject">
								<img style="height:200px;" src="docs/images/submittal_3rdparty03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_3rdparty03.png"></img>
								</a>
								<figcaption>
									<small>Submittal-3rd party view-Reject</small>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/submittal_3rdparty04.png" data-lightbox="Submittal-3rd party view-Approve" data-title="Submittal-3rd party view-Approve">
								<img style="height:200px;" src="docs/images/submittal_3rdparty04.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_3rdparty04.png"></img>
								</a>
								<figcaption>
									<small>Submittal-3rd party view-Approve</small>
								</figcaption>
							</figure>
						</div>
					</div>
				</li>
				<br/>
				<li>
					<b>Reject the submittal</b>. While rejecting, comments can be added. After rejecting a submittal, stakeholders will not see the submittal anymore, contractor will receive a notification email and will be able to make changes and resend the submittal.
				</li>
				<br/>
				<li>
					<b>Approve the submittal</b>. Contractor will receive a notification email. After approving a submittal, stakeholders can reopen the submittal and change the status to Review to make changes and do required actions.
					<br/>
					<br/>
					
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/submittal_reject.png" data-lightbox="Reject Submittal Window" data-title="Reject Submittal Windowt">
								<img style="height:250px;" src="docs/images/submittal_reject.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_reject.png"></img>
								</a>
								<figcaption>
									<small>Reject Submittal Window</small>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/submittal_approved.png" data-lightbox="Approved Submittal" data-title="Approved Submittal">
								<img style="height:250px;" src="docs/images/submittal_approved.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_approved.png"></img>
								</a>
								<figcaption>
									<small>Approved Submittal</small>
								</figcaption>
							</figure>
						</div>
					</div>
					
				</li>
			</ul>
		</p>
		
		
		<i style="color:#c0c039;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:#c0c039;font-size:17px;">Submittal-Rejected</strong>
		<br/>
		<br/>
		<p>
			Stakeholders or 3rd party (a person who doesn't have a ContractComplete account) can reject a submittal in review status and change the status to "Rejected". After rejecting a submittal, stakeholders or 3rd party will not see the submittal anymore, contractor will receive a notification email. Contractor can see and open the rejected submittal. They can make changes and send the submittal again.
			<br/>
			Note: If stakeholders send the submittal to a 3rd party and select the Manual workflow, the submittal will stay in Review status after the 3rd party rejects the submittal.
		</p>

		<br/>
		<br/>

		<p>
			<i style="color:#70b43e;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:#70b43e;font-size:17px;">Submittal-Approved</strong>
			<br/>
			<br/>
			Stakeholders or 3rd party (a person who doesn't have a ContractComplete account) can approve the submittal in review status and change the status to "Approved". After approving a submittal, stakeholders can reopen the submittal and change the status to Review to make changes and do required actions or leave the approved submittal as is. After approval contractor will receive a notification email.
			<br/>
			Note: If stakeholders send the submittal to a 3rd party and select the Manual workflow, the submittal will stay in Review status after the 3rd party approves the submittal.
		</p>
		
		<br/>
		<br/>
		
		<div style="border:2px solid #146b75; border-radius:10px;padding:20px; background-color:#65d3df14; box-shadow: 0px 0px 15px #146b75;">
			<p>
				<h4 style="color:red;">Notes:</h4>
				<ul>
					<li>
						Submittal excel file can be downloaded using the <i class="fa fa-cloud-download" aria-hidden="true"></i> .
					</li>
					<hr/>
					<li>
						Contractor can only delete draft and rejected submittals that are not attached to a submittal request.
					</li>
					<hr/>
					<li>
						In order to see which submittal is attached to which submittal request, click on the submittal or submittal request.
					</li>
					<hr/>
					<li>
						Stakeholders and Contractor can find the users' names and the time they have changed a submittal Status using the "Submittal History" button located in each Submittal. They can download the submittal pdf versions using the provided links on the Submittal History window at anytime.
					</li>
					<hr/>
					<li>
						If the contractor creates a submittal attached to the submittal request, the submittal request's status color will change based on the submittal status.
					</li>
					<hr/>
					<li>
						Stakeholders can delete submittal requests regardless of their status. Deleting a submittal request will automatically delete the attached submittal created by the contractor and all the work they have done on the submittal, so if you are a stakeholder make sure to communicate with the contractor before deleting a submittal request.
					</li>
					<hr/>
					<li>
						Three dates will be displayed for each <strong style="color:red;">submittal</strong>:
						<ul>
							<li><b>Submitted Date</b>: The date contractor sends the submittal.</li>
							<li>
								<b>Due Date</b>: The submittal due date assigned by the contractor. Stakeholders should approve the submittal before the due date. This will help the project to be finished on time.
							</li>
							<li>
								<b>Response Date</b>: The date stakeholders reject or approve a submittal.
							</li>
						</ul>
					</li>
					<hr/>
					<li>
						Three dates will be displayed for each <strong style="color:red;">submittal request</strong>:
						<ul>
							<li><b>Request Sent</b>: The date stakeholders have sent a submittal request.</li>
							<li>
								<b>Due Date</b>: The submittal request due date assigned by the stakeholders. Contractor should send the related submittal and their response before the due date.
							</li>
							<li>
								<b>Response Date</b>: The date contractor sends the attached submittal for the submittal request. If contractor creates a separate submittal no response date will be displayed for the submittal request.
							</li>
						</ul>
					</li>
				</ul>
			</p>
		</div>
		
	</div>

	<div class="tab-pane fade" id="inprogressStakeholderChangeorders" role="tabpanel" aria-labelledby="inprogressStakeholderChangeorders-tab">
		<br/>
		<h2>Change Orders</h2>
		<h3>Comming Soon!</h3>
	</div>

	<div class="tab-pane fade" id="inprogressStakeholderProgressreport" role="tabpanel" aria-labelledby="inprogressStakeholderProgressreport-tab">
		<br/>
		<h2>Progress Reports</h2>
		<h3>Comming Soon!</h3>
	</div>

	<div class="tab-pane fade" id="inprogressStakeholderInvoice" role="tabpanel" aria-labelledby="inprogressStakeholderInvoice-tab">
		<br/>
		<h2>Invoices/Payment Certificates</h2>
		<h3>Comming Soon!</h3>
	</div>
</div>