<style>
	.headerColor{
		color: #909090;
		font-size: 15px;
	}
	#inprogressContractor >  li  > .active {
		border-bottom:5px solid #146b75;
	}
	#inprogressContractor >  li  > .active > span {
		color: #146b75;
		font-weight:bolder;
	}
</style>


<h1>Collaborative mode-In Progress stage-Contractor View</h1>
<p>
	In the collaborative mode, "In-Progress" Stage will begin when a consultant decides to start the project with the chosen contractor. Selecting a contractor can happen either after a Tendering process using the "Tenders" or without a tendering process using "Contracts". Either way when Consultant clicks the "Commence Progress" button, the "In-Progress" stage will start.
	<br/>
	<br/>
	In "In-Progress" stage the followings pages will be available for both Consultant's and Contractor's sides with some differences. The RFI and Submittals pages are currently only available for Collaborative mode.
</p>

<br/>

<ul class="nav nav-tabs" id="inprogressContractor" role="tablist" style="border-bottom:2px solid; border-color:#909090;">

  <li class="nav-item">
	<a class="nav-link active" id="inprogressContractorOverview-tab" data-toggle="tab" href="#inprogressContractorOverview" role="tab" aria-controls="inprogressContractorOverview" aria-selected="true">
		<span class="headerColor">
			<i class="fa fa-home" aria-hidden="true"></i> Overview</span></a>
  </li>
  
  <li class="nav-item">
	<a class="nav-link" id="inprogressContractorSchedule-tab" data-toggle="tab" href="#inprogressContractorSchedule" role="tab" aria-controls="inprogressContractorSchedule" aria-selected="false"><span class="headerColor">
	<i class="fa fa-list-ol" aria-hidden="true"></i> Schedule of Prices</span></a>
  </li>
  
   <li class="nav-item">
	<a class="nav-link" id="inprogressContractorProvisional-tab" data-toggle="tab" href="#inprogressContractorProvisional" role="tab" aria-controls="inprogressContractorProvisional" aria-selected="false"><span class="headerColor">
	<i class="fa fa-list" aria-hidden="true"></i> Provisional Items</span></a>
   </li>
 
    <li class="nav-item">
	<a class="nav-link" id="inprogressContractorDocuments-tab" data-toggle="tab" href="#inprogressContractorDocuments" role="tab" aria-controls="inprogressContractorDocuments" aria-selected="false"><span class="headerColor">
	<i class="fa fa-folder" aria-hidden="true"></i> Documents</span></a>
  </li>
  
   <li class="nav-item">
	<a class="nav-link" id="inprogressContractorRfi-tab" data-toggle="tab" href="#inprogressContractorRfi" role="tab" aria-controls="inprogressContractorRfi" aria-selected="false"><span class="headerColor">
	<i class="fa fa-comments-o fa-lg" aria-hidden="true"></i> RFI</span></a>
   </li>
   
	<li class="nav-item">
	<a class="nav-link" id="inprogressContractorSubmittal-tab" data-toggle="tab" href="#inprogressContractorSubmittal" role="tab" aria-controls="inprogressContractorSubmittal" aria-selected="false"><span class="headerColor">
	<i class="fa fa-repeat fa-lg" aria-hidden="true"></i> Submittals</span></a>
   </li>
   
	<li class="nav-item">
	<a class="nav-link" id="inprogressContractorChangeorders-tab" data-toggle="tab" href="#inprogressContractorChangeorders" role="tab" aria-controls="inprogressContractorChangeorders" aria-selected="false"><span class="headerColor"><i class="fa fa-pencil" aria-hidden="true"></i> Change Orders</span></a>
   </li>
   
   	<li class="nav-item">
	<a class="nav-link" id="inprogressContractorProgressreport-tab" data-toggle="tab" href="#inprogressContractorProgressreport" role="tab" aria-controls="inprogressContractorProgressreport" aria-selected="false"><span class="headerColor"><i class="fa fa-clipboard" aria-hidden="true"></i> Progress Reports</span></a>
   </li>
   
   	<li class="nav-item">
	<a class="nav-link" id="inprogressContractorInvoice-tab" data-toggle="tab" href="#inprogressContractorInvoice" role="tab" aria-controls="inprogressContractorInvoice" aria-selected="false"><span class="headerColor"><i class="fa fa-book" aria-hidden="true"></i> Invoices/PCs</span></a>
   </li>
  
</ul>


<div class="tab-content" id="inprogressContractorContent">
  <div class="tab-pane fade show active" id="inprogressContractorOverview" role="tabpanel" aria-labelledby="inprogressContractorOverview-tab">
  <br/>
	<h2>Overview</h2>
	<h3>Comming Soon!</h3>
		
  </div>

	<div class="tab-pane fade" id="inprogressContractorSchedule" role="tabpanel" aria-labelledby="inprogressContractorSchedule-tab">
		<br/>
		<h2>Schedule of Prices</h2>
		<h3>Comming Soon!</h3>
	</div>


	<div class="tab-pane fade" id="inprogressContractorProvisional" role="tabpanel" aria-labelledby="inprogressContractorProvisional-tab">
		<br/>
		<h2>Provisional Items</h2>
		<h3>Comming Soon!</h3>
	</div>

	<div class="tab-pane fade" id="inprogressContractorDocuments" role="tabpanel" aria-labelledby="inprogressContractorDocuments-tab">
		<br/>
		<h2>Documents</h2>
		<h3>Comming Soon!</h3>
	</div>

	<div class="tab-pane fade" id="inprogressContractorRfi" role="tabpanel" aria-labelledby="inprogressContractorRfi-tab">
		<br/>
		<h2>RFI</h2>
		<p>
			An RFI seeks the clarification of plans, drawings, specifications and agreements. A formal written process in which parties, such as the contractor and designer, clarify information gaps in documents.
			</br>
			</br>
			RFI page is currently available in collaborative contracts, in "In Progress" and "Completed" stages. On the RFI page, contractors can quickly generate formal requests and upload pdf files. They can upload and mark up images to be included in the RFI, then send the document to the stakeholders for a response. Stakeholders can add responses and upload pdf files after receiving an RFI. They can upload and mark up images to be included in the RFI and send it to the contractor. Stakeholders can also send the RFI to a third party who doesn't have a ContractComplete account; they can choose to either review the 3rd party reply before sending it to the contractor or just allow the 3rd party to directly send the reply to the contractor using the ContractComplete features. The 3rd party can also upload pdf files, upload and mark up images. When the contractor receives the RFI response if they need more clarification they can reopen the RFI and stakeholders have to provide further information and resend the RFI.		
		</p>
		<br/>
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
				<a href="docs/images/rfi_contractor.png" data-lightbox="RFI-Contractor's view" data-title="RFI-Contractor's view">
				<img style="height:250px;" src="docs/images/rfi_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/rfi_contractor.png"></img>
				</a>
					<figcaption>
						<small>RFI-Contractor's view</small>
					</figcaption>
				</figure>
			</div>

			<div class="col-md-6 col-xs-12">

			</div>
		</div>
		
		<br/>
		
		<p>
			Contractor can create an RFI by clicking the "Create New RFI" button. To complete creating the RFI, entering RFI Title is necessary, questions can be added or edited after clicking the "Accept" button.
			<br/>
			After creating the RFI, the RFI status will be "Draft". Draft RFIs are only visible for contractor and stakeholders won't be able to see them.
		</p>
		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/newrfi_window.png" data-lightbox="New RFI Window" data-title="New RFI Window">
					<img style="height:250px;" src="docs/images/newrfi_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/newrfi_window.png"></img>
					</a>
					<figcaption>
						<small>New RFI Window</small>
					</figcaption>
				</figure>
			</div>

			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/draft_rfi.png" data-lightbox="Draft RFI" data-title="Draft RFI">
					<img style="height:250px;" src="docs/images/draft_rfi.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/draft_rfi.png"></img>
					</a>
					<figcaption>
						<small>Draft RFI</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		<br/>
		
		<p>
			On the <strong style= "color: #f0a30a;"> Draft </strong> RFI contractor can do the following actions:
			<ul>
				<li>Specify RFI date and due date.</li>
				<li>Add pdf files using the "Add pdf" button.</li>
				<li>Add questions and comments in the "Question Text" box.</li>
				<li>
					Add a contact point using the "Attn" drop down box. If the contractor selects a person, the person will receive an email and a message in his/her action box when the contractor sends the RFI. In case no one is selected as a contact point all stakeholders (only the contract followers) will receive an email and a message in their action box.
				</li>
				
				<li>
					<Strong>Image Manager:</strong> Use the "Image Manager" button to attach and mark up images to be included in the RFI. By clicking the Image Manager button, 'Image Manager' page will be displayed. To upload an image click the "Add Image" icon, select an image on the 'File Browser' window in 'File Picker' tab or upload an image using the 'File Upload' tab. The image will be added on the 'Image Manager' page on the left side.
					<br/>
					<br/>
					You can do the following actions to edit, mark up or delete the added images:
					<br/>
						<ul>
							<li>
								Click the <i class="fa fa-times-circle" aria-hidden="true"></i> icon to delete the added image.
							</li>
							<li>
								Click the <i class="fa fa-commenting-o" aria-hidden="true"></i> icon to add or edit image title and caption.
							</li>
							<li>
								To edit or mark the image, click on an image. The image will be displayed on the black space and editing tools will become available. You can crop, rotate and markup the image or make other changes using the provided tools.
							</li>
							<li>
								Use "Undo" and "Cancel" buttons to dismiss the previous changes.
							</li>
							<li>
								 To save the changes, don't forget to click the "Done" button after making changes using the tools.
							</li>
							<li>
								Click the back arrow to close the 'Image Manager' at anytime to go back to the RFI document builder page. To see the saved changes made in the Image Manager on the RFI pdf don't forget to click the "Yes" button on the 'Update Pdf' window.
							</li>
						</ul>
					
				</li>
				<br/>
				<li>
					<strong><span style="color:red;">&#9888;</span> After making changes on the RFI make sure to click the "Save & Update Document" button.</strong>
				</li>
			</ul>
		</p>
		
		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/image_manager01.png" data-lightbox="Image Manager Tools-1" data-title="Image Manager Tools-1">
					<img style="height:250px;" src="docs/images/image_manager01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/image_manager01.png"></img>
					</a>
					<figcaption>
						<small>Image Manager Tools-1</small>
					</figcaption>
				</figure>
			</div>

			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/image_manager02.png" data-lightbox="Image Caption/Title Window-2" data-title="Image Caption/Title Window-2">
					<img style="height:250px;" src="docs/images/image_manager02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/image_manager02.png"></img>
					</a>
					<figcaption>
						<small>Image Caption/Title Window-2</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		<br/>
		
		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/image_manager03.png" data-lightbox="Update PDF Window-3" data-title="Update PDF Window-3">
					<img style="height:150px;" src="docs/images/image_manager03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/image_manager03.png"></img>
					</a>
					<figcaption>
						<small>Update PDF Window-3</small>
					</figcaption>
				</figure>
			</div>

			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/image_manager04.png" data-lightbox="Supplementary Images-4" data-title="Supplementary Images-4">
					<img style="height:250px;" src="docs/images/image_manager04.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/image_manager04.png"></img>
					</a>
					<figcaption>
						<small>Supplementary Images-4</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		<br/>
		
		<p>
			After completing the draft RFI, contractor can send the RFI to stakeholders. After sending the RFI the Status will change to <strong style= "color: #1ba1e2 ;">"Submitted" </strong> and contractor will not be able to make any changes unless he retracts the RFI. Based on the contractor's selection for "Attn" one or all the stakeholders (only the contract followers) will receive an email and a message in their action box. All Stakeholders will see the submitted RFI on the ContractComplete application. They can enter their responses, add or delete pdf files, attach and mark up images and send the RFI response to the contractor.
		</p>
		
		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submitted_rfi_contractor01.png" data-lightbox="RFI Page-Contractor's View" data-title="RFI Page-Contractor's View">
					<img style="height:250px;" src="docs/images/submitted_rfi_contractor01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submitted_rfi_contractor01.png"></img>
					</a>
					<figcaption>
						<small>RFI Page-Contractor's View</small>
					</figcaption>
				</figure>
			</div>

			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submitted_rfi_contractor02.png" data-lightbox="Submitted RFI-Contractor's View" data-title="Submitted RFI-Contractor's View">
					<img style="height:250px;" src="docs/images/submitted_rfi_contractor02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submitted_rfi_contractor02.png"></img>
					</a>
					<figcaption>
						<small>Submitted RFI-Contractor's View</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		<br/>
		
		
		<p>
			When stakeholders send the RFI response the RFI status will change to <strong style="color:#70b43e;">"Responded" </strong>. After reviewing the responses, contractor can leave the RFI as is or reopens the RFI to request clarification.
		</p>
		
		<p>
			In case an RFI response needs more clarification, contractor can click the "Reopen" button to reopens the Responded RFI. Contractor can enter comments and request more information while reopening the RFI. The RFI status will change to <strong style="color:#c0c039;">"Reopened"</strong>. Reopening a Responded RFI can be repeated until clarification is made.
		</p>
		
		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/reopen_rfi_contractor01.png" data-lightbox="Reopen a Responded RFI" data-title="Reopen a Responded RFI">
					<img style="height:250px;" src="docs/images/reopen_rfi_contractor01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/reopen_rfi_contractor01.png"></img>
					</a>
					<figcaption>
						<small>Reopen a Responded RFI</small>
					</figcaption>
				</figure>
			</div>

			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/reopen_rfi_contractor02.png" data-lightbox="Reopen RFI Window" data-title="Reopen RFI Window">
					<img style="height:250px;" src="docs/images/reopen_rfi_contractor02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/reopen_rfi_contractor02.png"></img>
					</a>
					<figcaption>
						<small>Reopen RFI Window</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		<br/>
		
			<strong>Notes:</strong>
			<ul>
				<li>
					Contractor can find the users' names and the time they have changed an RFI Status using the "RFI History" button located in each RFI.
				</li>
				<li>RFI Submission date, Due date and Response date are displayed on the RFI page for each RFI.</li>
				<li>RFI excel file can be downloaded using the <i class="fa fa-cloud-download" aria-hidden="true"></i> .</li>
				<li>Contractor can delete RFIs in any status.</li>
			</ul>

		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/rfi_history.png" data-lightbox="RFI History" data-title="RFI History">
					<img style="height:250px;" src="docs/images/rfi_history.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/rfi_history.png"></img>
					</a>
					<figcaption>
						<small>RFI History</small>
					</figcaption>
				</figure>
			</div>

			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submitted_rfi_contractor01.png" data-lightbox="RFI Page-Contractor's View" data-title="RFI Page-Contractor's View">
					<img style="height:250px;" src="docs/images/submitted_rfi_contractor01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submitted_rfi_contractor01.png"></img>
					</a>
					<figcaption>
						<small>RFI Page-Contractor's View</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		<br/>
		<br/>
		<br/>

		<div class = "row">
			<div class="col-md-7 col-xs-12">
				<h3>Analytics</h3>
				On the Analytics section the followings are provided:
			<ul>
				<li>
					<b>Donut Chart</b>: Displays the percentage and the number of RFIs of each status; including Draft, Submitted, Responded and Reopened RFIs. (To see the numbers just hover over each status.)
				</li>
				<li>
					<b>Total RFIs</b>: Displays the total number of RFIs including Draft, Submitted, Responded and Reopened RFIs.
				</li>
				<li>
					<b>Reopen Percent</b>: Displays the percentage of responded RFIs that were at least reopened once.
				</li>
				<li>
					<b>Average Response Time</b>: Displays the average Stakeholders' response times to "Submitted" and "Reopened" RFIs.
				</li>
			</ul>
			</div>
			<div class="col-md-5 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/rfi_analytics_contractor.png" data-lightbox="RFI Analytics-Contractor's View" data-title="RFI Analytics-Contractor's View">
					<img style="height:200px;" src="docs/images/rfi_analytics_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/rfi_analytics_contractor.png"></img>
					</a>
					<figcaption>
						<small>RFI Analytics-Contractor's View</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		
	</div>

	<div class="tab-pane fade" id="inprogressContractorSubmittal" role="tabpanel" aria-labelledby="inprogressContractorSubmittal-tab">
		<br/>
		<h2>Submittals</h2>
		<p>
			Submittals can be shop drawings, material data, samples, and product data. Submittals are required primarily for the architect and engineer to verify that the correct products will be installed on the project. This process also gives the architect and sub-consultants the opportunity to select colors, patterns, and types of material that were not chosen prior to completion of the drawings. This is not an occasion for the architect to select different materials than specified, but rather to clarify the selection within the quality level indicated in the specification and quantities shown on plans. By using submittals the primary stakeholder or a 3rd party subconsultant will be able to approve or reject the materials or products before they are used in the project.
		</p>

		<br/>

		<p>
			Consultants (stakeholders) can create submittal requests, attach files and send the request to the contractor. Then contractor can create a separate submittal or a submittal attached to the received request. Contractor can add pdf files, upload and markup images then send the submittal to the stakeholders. Stakeholders can either "approve or reject" the submittal on their own, or send the submittal link to a 3rd party (a person who doesn't have a ContractComplete account) so that the third party can approve or reject the submittal. Consultants can also add pdf files and annotations. Consultants and contractor can see the tracked data and download submittals' pdf versions using the <strong>"Submittal History"</strong> button located on the top right side of each submittal. Submittals page is currently only available for Collaborative mode contracts in "In Progress" and "Completed" stages.
		</p>

		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submittal_contractor.png" data-lightbox="Submittals-Contractor's view" data-title="Submittals-Contractor's view">
					<img style="height:250px;" src="docs/images/submittal_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_contractor.png"></img>
					</a>
					<figcaption>
						<small>Submittals-Contractor's view</small>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-xs-12">
			</div>
		</div>
		
		<br/>
		
		<i style="color:Orange;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:#f0a30a;font-size:17px;">Submittal-Draft</strong>
		<br/>
		<br/>
		<p>
			Contractor can create submittals either without receiving a submittal request or after a submittal request is received.
			<br/>
			<ul>
				<li>
					For creating a submittal, click the "Create New Submittal" button located on the Submittals page. By entering the submittal title and clicking the "Accept" button a submittal will be created.
				</li>
				
				<li>
					In case a submittal is requested by the stakeholders, contractor will receive an email and a message in the action box. After receiving the submittal request, contractor can either create a separate submittal or a submittal attached to the submittal request.
					<ul>
						<li>
							For creating a separate submittal click the "Create New Submittal" button located on the Submittals page. By entering the submittal title and clicking the "Accept" button a submittal will be created.
						</li>
						<li>
							For creating a submittal attached to a submittal request, contractor has to first open the received submittal request and then click the "Create Submittal" button. When a submittal is requested, tracking submittals would be easier for all parties if the contractor creates a submittal attached to the request.
						</li>
					</ul>
					 
				</li>
			</ul>
			
			<br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/submittal_contractor.png" data-lightbox="Submittals-Contractor's view" data-title="Submittals-Contractor's view">
					<img style="height:250px;" src="docs/images/submittal_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_contractor.png"></img>
					</a>
						<figcaption>
							<small>Submittals-Contractor's view</small>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/submittal_request_contractor.png" data-lightbox="Submittal Request-contractor's view" data-title="Submittal Request-contractor's view">
					<img style="height:250px;" src="docs/images/submittal_request_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_request_contractor.png"></img>
					</a>
						<figcaption>
							<small>Submittal Request-contractor's view</small>
						</figcaption>
					</figure>
				</div>
			</div>
			<br/>
			
			Either way, after creating a submittal, the submittal will be in draft status. <strong>Only contractor can see the draft submittal.</strong> Contractor can do the followings when a submittal is in draft status:
			<ul>
				<li>Upload or delete pdf files.</li>
				<li>Write description and add comments.</li>
				<li>
					Assign a "requested due date". The requested due date will not be displayed on the submittal pdf but will be displayed on the Submittals page.
				</li>
				<li>
					Add a contact point using the "Attn" drop down box. If a contractor selects a person, the person will receive an email and a message in his/her action box when the contractor sends the submittal. In case no one is selected as a contact point all stakeholders (only the contract followers) will receive an email and a message in their action box.
				</li>
				<li>
					Upload and mark up images using the <strong>"Image Manager"</strong> feature. Use the "Image Manager" button to attach and mark up images to be included in the submittal. By clicking the Image Manager button, 'Image Manager' page will be displayed. To upload an image click the "Add Image" icon, select an image on the 'File Browser' window in 'File Picker' tab or upload an image using the 'File Upload' tab. The image will be added on the 'Image Manager' page on the left side. 
					<br/>
					<br/>
					You can do the following actions to edit, mark up or delete the added images:
					<br/>
						<ul>
							<li>
								Click the <i class="fa fa-times-circle" aria-hidden="true"></i> icon to delete the added image.
							</li>
							<li>
								Click the <i class="fa fa-commenting-o" aria-hidden="true"></i> icon to add or edit image title and caption.
							</li>
							<li>
								To edit or mark the image, click on an image. The image will be displayed on the black space and editing tools will become available. You can crop, rotate and markup the image or make other changes using the provided tools.
							</li>
							<li>
								Use "Undo" and "Cancel" buttons to dismiss the previous changes.
							</li>
							<li>
								 To save the changes, don't forget to click the "Done" button after making changes using the tools.
							</li>
							<li>
								Click the back arrow to close the 'Image Manager' at anytime to go back to the Submittal document builder page. To see the saved changes made in the Image Manager on the submittal pdf don't forget to click the "Yes" button on the 'Update Pdf' window.
							</li>
						</ul>
				</li>
				<br/>
				<li>
					<strong><span style="color:red;">&#9888;</span> After making changes on the submittal make sure to click the "Save & Update Document" button.</strong>
				</li>
			</ul>
		</p>
		
		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submittal_draft_contractor.png" data-lightbox="Draft Submittal" data-title="Draft Submittal">
					<img style="height:250px;" src="docs/images/submittal_draft_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_draft_contractor.png"></img>
					</a>
					<figcaption>
						<small>Draft Submittal</small>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submittal_image_manager01.png" data-lightbox="Draft Submittal-Image Manager" data-title="Draft Submittal-Image Manager">
					<img style="height:250px;" src="docs/images/submittal_image_manager01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_image_manager01.png"></img>
					</a>
					<figcaption>
						<small>Draft Submittal-Image Manager</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submittal_image_manager02.png" data-lightbox="Draft Submittal-Image Manager-Caption and Title" data-title="Draft Submittal-Image Manager-Caption and Title">
					<img style="height:250px;" src="docs/images/submittal_image_manager02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_image_manager02.png"></img>
					</a>
					<figcaption>
						<small>Draft Submittal-Image Manager-Caption and Title</small>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submittal_image_manager03.png" data-lightbox="Draft Submittal-Image Manager-Update Document" data-title="Draft Submittal-Image Manager-Update Document">
					<img style="height:200px;" src="docs/images/submittal_image_manager03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_image_manager03.png"></img>
					</a>
					<figcaption>
						<small>Draft Submittal-Image Manager-Update Document</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		<br/>
		
		<i style="color:#1ba1e2;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:#1ba1e2;font-size:17px;">Submittal-Review</strong>
		<br/>
		<br/>
		<p>
			After Completing a draft submittal, contractor can send the submittal to the stakeholders. Based on the contractor's selection for the Attn box, one or all stakeholders (only the contract followers) will receive an email and a message in their action box. After sending the submittal, the submittal status will change to "Review". Contractor can retract the submittal to make changes using the "Retract" button.
		</p>
		<br/>
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submittal_review_contractor.png" data-lightbox="Submittal-Review-Contractor's View" data-title="Submittal-Review-Contractor's View">
					<img style="height:250px;" src="docs/images/submittal_review_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_review_contractor.png"></img>
					</a>
					<figcaption>
						<small>Submittal-Review-Contractor's View</small>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-xs-12">
			</div>
		</div>
		
		<br/>
		
		<i style="color:#c0c039;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:#c0c039;font-size:17px;">Submittal-Rejected</strong>
		<br/>
		<br/>
		<p>
			After sending the submittal, stakeholders can review the submittal, write a response, add or delete pdf files, annotate pdf files and approve or reject the submittal. If the stakeholders or a 3rd party rejects the submittal, the status will change to "Rejected" and contractor will be able to make changes just like he did in the draft status. Contractor can resend the submittal after making changes.
		</p>
		
		<br/>
		
		<i style="color:#70b43e;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:#70b43e;font-size:17px;">Submittal-Approved</strong>
		<br/>
		<br/>
		<p>
			After sending the submittal, stakeholders can review the submittal, write a response, add or delete pdf files, annotate pdf files and approve or reject the submittal. If the stakeholders or a 3rd party approves the submittal, the status will change to "Approved". Stakeholders can retract the approved submittal at anytime.
		</p>
		
		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submittal_rejected_contractor.png" data-lightbox="Submittal-Rejected-Contractor's View" data-title="Submittal-Rejected-Contractor's View">
					<img style="height:250px;" src="docs/images/submittal_rejected_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_rejected_contractor.png"></img>
					</a>
					<figcaption>
						<small>Submittal-Rejected-Contractor's View</small>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/submittal_approved_contractor.png" data-lightbox="Submittal-Approved-Contractor's View" data-title="Submittal-Approved-Contractor's View">
					<img style="height:250px;" src="docs/images/submittal_approved_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_approved_contractor.png"></img>
					</a>
					<figcaption>
						<small>Submittal-Approved-Contractor's View</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		<br/>

		<div style="border:2px solid #146b75; border-radius:10px;padding:20px; background-color:#65d3df14; box-shadow: 0px 0px 15px #146b75;">
			<p>
				<h4 style="color:red;">Notes:</h4>
				<ul>
					<li>
						Submittal excel file can be downloaded using the <i class="fa fa-cloud-download" aria-hidden="true"></i> .
					</li>
					<hr/>
					<li>Contractor can only delete draft and rejected submittals that are not attached to a submittal request.</li>
					<hr/>
					<li>
						In order to see which submittal is attached to which submittal request, click on the submittal or submittal request.
					</li>
					<hr/>
					<li>
						Stakeholders and Contractor can find the users' names and the time they have changed a submittal Status using the "Submittal History" button located in each Submittal. They can download the submittal pdf versions using the provided links on the Submittal History window at anytime.
					</li>
					<hr/>
					<li>
						If the contractor creates a submittal attached to the submittal request, the submittal request's status color will change based on the submittal status.
					</li>
					<hr/>
					<li>
						Stakeholders can delete submittal requests regardless of their status. Deleting a submittal request will automatically delete the attached submittal created by the contractor and all the work they have done on the submittal, so if you are a stakeholder make sure to communicate with the contractor before deleting a submittal request.
					</li>
					<hr/>
					<li>
						Three dates will be displayed for each <strong style="color:red;">submittal</strong>:
						<ul>
							<li><b>Submitted Date</b>: The date contractor sends the submittal.</li>
							<li>
								<b>Due Date</b>: The submittal due date assigned by the contractor. Stakeholders should approve the submittal before the due date. This will help the project to be finished on time.
							</li>
							<li>
								<b>Response Date</b>: The date stakeholders reject or approve a submittal.
							</li>
						</ul>
					</li>
					<hr/>
					<li>
						Three dates will be displayed for each <strong style="color:red;">submittal request</strong>:
						<ul>
							<li><b>Request Sent</b>: The date stakeholders have sent a submittal request.</li>
							<li>
								<b>Due Date</b>: The submittal request due date assigned by the stakeholders. Contractor should send the related submittal and their response before the due date.
							</li>
							<li>
								<b>Response Date</b>: The date contractor sends the attached submittal for the submittal request. If contractor creates a separate submittal no response date will be displayed for the submittal request.
							</li>
						</ul>
					</li>
				</ul>
			</p>
		</div>
		
		
	</div>

	<div class="tab-pane fade" id="inprogressContractorChangeorders" role="tabpanel" aria-labelledby="inprogressContractorChangeorders-tab">
		<br/>
		<h2>Change Orders</h2>
		<h3>Comming Soon!</h3>
	</div>

	<div class="tab-pane fade" id="inprogressContractorProgressreport" role="tabpanel" aria-labelledby="inprogressContractorProgressreport-tab">
		<br/>
		<h2>Progress Reports</h2>
		<h3>Comming Soon!</h3>
	</div>

	<div class="tab-pane fade" id="inprogressContractorInvoice" role="tabpanel" aria-labelledby="inprogressContractorInvoice-tab">
		<br/>
		<h2>Invoices/Payment Certificates</h2>
		<h3>Comming Soon!</h3>
	</div>
</div>
