<h1>Integrations</h1>

<br/>
<br/>

<p>
	Application integration combines and enhances data flows between two separate software applications. It is often used to create a bridge between apps, enabling a wide range of independently designed applications to work together. The "My Company's Integrations" page displays all the applications that can be used for integrating data. 
</p>

<br/>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/integrations.png" data-lightbox="Integrations" data-title="Integrations">
		<img style="height:200px;border:1px solid gray;" src="docs/images/integrations.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/integrations.png"></img>
		</a>
			<figcaption>
				<small>Integrations</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6 col-xs-12">
	</div>
</div>

<br/>

<h2>Procore</h2>

<p>
	Procore is one of the applications that can be used for integration. If your company is using Procore application and you already have a Procore account, you can connect your ContractComplete account to your Procore account. By connecting these two applications you will have the option to import your Procore bid packages into ContractComplete for tendering. You can also export bid results to Procore.
	<br/>
	You can disconnect these two applications whenever you are willing to do so.
</p>

<br/>

<h3>Connecting ContractComplete to Procore</h3>
<p>
	For connecting your ContractComplete account to your Procore account just click the "Connect" button on the Integrations page. You will be redirected to the Procore login page to authorize ContractComplete to access your Procore data. After logging in to your Procore account, the two applications will be connected and you will be able to share data. You can disconnect these two applications whenever you are willing to do so by clicking the "Disconnect" button.
</p>

<br/>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/integrations_procore_connect01.png" data-lightbox="Integrations, connect to Procore 01" data-title="Integrations, connect to Procore 01">
		<img style="height:200px;border:1px solid gray;" src="docs/images/integrations_procore_connect01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/integrations_procore_connect01.png"></img>
		</a>
			<figcaption>
				<small>Integrations-connect to Procore 01</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/integrations_procore_connect02.png" data-lightbox="Integrations, connect to Procore 02" data-title="Integrations, connect to Procore 02">
		<img style="height:220px;" src="docs/images/integrations_procore_connect02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/integrations_procore_connect02.png"></img>
		</a>
			<figcaption>
				<small>Integrations-connect to Procore 02</small>
			</figcaption>
		</figure>
	</div>
</div>

<br/>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/integrations_procore_connect03.png" data-lightbox="Integrations, connect to Procore 03" data-title="Integrations, connect to Procore 03">
		<img style="height:350px; border:1px solid gray;" src="docs/images/integrations_procore_connect03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/integrations_procore_connect03.png"></img>
		</a>
			<figcaption>
				<small>Integrations-connect to Procore 03</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/integrations_procore_connect04.png" data-lightbox="Integrations, connect to Procore 04" data-title="Integrations, connect to Procore 04">
		<img style="height:200px; border:1px solid gray;" src="docs/images/integrations_procore_connect04.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/integrations_procore_connect04.png"></img>
		</a>
			<figcaption>
				<small>Integrations-connect to Procore 04</small>
			</figcaption>
		</figure>
	</div>
</div>

<br/>
<br/>
<br/>

<b>Share data from ContractComplete to Procore</b>

<br/>
<br/>

<p>
	After connecting ContractComplete to Procore, if you are willing to share your data with Procore within ContractComplete, you just need to look for <strong>buttons with the Procore logo</strong>.
</p>

<ul>
	<li>
		<strong>Export bid results to Procore:</strong> Currently ContractComplete supports exporting bid results to Procore for Consultants (Primary and Additional stakeholders). The mentioned button will be available after a tender's deadline is passed, in <strong>Post Tender</strong> stage on the Overview page at the top left side. By clicking the "Export to Procore" button the 'Select Procore Project' window will be displayed. Select your company name from the drop down box then select a Project. By clicking the "Accept" button the bid results will be exported to your Procore account, displayed in the selected Project in documents.
		
		<br/>
		<br/>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
				<a href="docs/images/integrations_procore_exportbidresults01.png" data-lightbox="Integrations, Export Bid Results" data-title="Integrations, Export Bid Results">
				<img style="height:180px;" src="docs/images/integrations_procore_exportbidresults01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/integrations_procore_exportbidresults01.png"></img>
				</a>
					<figcaption>
						<small>Integrations-Export Bid Results</small>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
				<a href="docs/images/integrations_procore_exportbidresults02.png" data-lightbox="Integrations, Select Procore Project" data-title="Integrations, Select Procore Project">
				<img style="height:180px; border:1px solid gray;" src="docs/images/integrations_procore_exportbidresults02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/integrations_procore_exportbidresults02.png"></img>
				</a>
					<figcaption>
						<small>Integrations-Select Procore Project</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		
	</li>
</ul>
