<h1>Invoicing</h1>
<div class="important">
	This article is only applicable to contractors.  Before reading this, contractors may want to have a look at <a href="?page=progress_reports">progress reports</a>.
</div>
<h2>Creating an Invoice</h2>
<p>
After creating your progress report, navigate to the "Invoicing" tab of the contract.  Note that invoices do not need to correspond one-to-one to progress reports, meaning you can choose to invoice part of a progress report or invoice multiple progress reports simultaneously.  To get started, click the "create invoice" button and follow the prompts.  This will show the main invoice view.  By default, this view has 3 tabs:
</p>
<ul>
	<li><b>Invoice:</b> This is where your main invoice PDF resides.  Here, you can also customize your invoice and add/reorder additional PDFs that you would like included in your invoice.</li>
	<li><b>Line Items:</b> Here, you can input the quantities that you would like to invoice.  Often, you will be able to use the "Invoice All" button to simply invoice all remaining items.  Any change you make here will trigger an update of the PDF on the "Invoice" tab.</li>
	<li><b>Summary Config:</b> This tab won't be used as frequently as the other two.  It allows you to configure which sections appear in the summary at the bottom of the invoice.  The summary can be turned on or off on the "Invoice" tab.</li>
</ul>
<p>
Taxes can be added as well by using the "Add" button in the "Taxes and Fees" section.  You will also have the option of using the same tax for future invoices with the "make default" checkbox.  As usual, any change you make here will immediately be reflected in the PDF.<br/><br/>
Holdbacks are added similarly, and can also be configured for a specific contract on the "Invoicing" tab of the contract.  Adding a holdback will automatically generate corresponding <a href="#holdbacks">holdback invoices</a>, which you can use to request release of those holdbacks later.  Once you are finished, click "Send" in the top right corner of the page to deliver the invoice to the stakeholders.  They will be notified automatically be email that there is an invoice ready for approval.  You will be notified by email when a payment certificate has been issued.
</p>
<div class="important">
	All holdbacks should be added before you click the "send" button.
</div>
<h2 id="holdbacks">Invoicing Holdbacks</h2>
<p>
Holdback invoicing is simple.  If you've correctly added a holdback, it will appear as part of the invoice on the main "invoicing" tab of the contract.  After the main invoice has been sent for approval, any holdback that has not already been requested for release will have a checkbox beside it.  When you are ready to request release of holdbacks, use the checkboxes to select the holdbacks that you would like to invoice.  You can even invoice holdbacks from different invoices simultaneously.
</p>
<figure style="max-width:600px">
	<img src="docs/images/hb_invoices.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/hb_invoices.png"></img>
	<figcaption>When you are ready to request release of holdbacks, use the checkboxes to select the holdbacks that you would like to invoice.</figcaption>
</figure>
<p>
	Selecting at least one holdback using the checkboxes will make a button appear, allowing you to invoice the selected holdbacks.  As with invoices, these documents can be customized and sent to the stakeholders when you are ready.
</p>