<h1>Line Items &amp; the Tender Form</h1>
<p>
The line items section is the most important part of your unit price contract.  In a <a href="?page=contract_setup#tendered">tendered contract</a>, these line item will serve as the main bid form, allowing bidders to simply fill in their unit prices.  For <a href="?page=contract_setup#awarded">awarded contracts</a>, an extra column, the unit price column, will be available.  All stakeholders will be able to directly manipulate these prices until the contract leaves the draft stage.
</p>
<div class="important">
	Already have your contract in a spreadsheet?<br/><br/>  Check out the <a href="?page=importer">importer tool</a>!
</div>
<p>
	Unit Price contracts in ContractComplete are hierarchical, meaning they support multiple subheadings for better organization.  You may use the <b>+</b> icon to add items as children of the current row.
</p>
<figure style="max-width:600px">
	<img src="docs/images/contract_editor_example.jpg" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/contract_editor_example.jpg"></img>
	<figcaption>A basic contract with subheadings.  The sigma button allows you to dictate which subheadings are important enough to have their own subtotal lines in invoices.  This can be changed at any point in the contract lifecycle.</figcaption>
</figure>

<h2>Customizing Units</h2>
<p>
	New ContractComplete accounts come pre-configured with several default units.  But in some cases, these units alone will not be sufficient.  You may add your own custom units by click the "Units" button in the toolbar.
</p>

<h2>Allowances</h2>
<p>
	Have a specific price in mind for a particular line item?  No problem.  You can use the allowance feature to set this price.  In order to use an allowance for a line item, you must fill in the "Budgeted Unit Price" field.  Then you'll be able to use the "lock" button to classify that item as an allowance.  If your contract has allowances, the contractor will be asked to explicitly accept these allowances in order to complete their submission.
</p>

<figure style="max-width:600px">
	<img src="docs/images/allowances.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/allowances.png"></img>
	<figcaption>A basic contract with allowances.  The lock indicates that the pricing is set by you (by way of the "Budgeted Unit Price" column.  The "unlocked" lock indicates that the pricing will be set by the contractor.</figcaption>
</figure>