<h1>Live Chat</h1>
<p>
	ContractComplete users can access the Live Chat through the Help tab located on the top right side of the web application when they are signed in. So if you are using the app and you have any questions or concerns don't hesitate to use the Live chat; ContractComplete technical support team will always be happy to help. 
	<br/>
	<br/>
	The Live Chat is also available on the ContractComplete website at the bottom right side.
</p>
<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/help.png" data-lightbox="Help tab" data-title="Help tab">
			<img style="height:70px;" src="docs/images/help.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="help.png"></img>
			</a>
			<figcaption>
				<small>Help tab</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/live_chat.png" data-lightbox="Live Chat" data-title="Live Chat">
			<img style="height:250px;" src="docs/images/live_chat.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="live_chat.png"></img>
			</a>
			<figcaption>
				<small>Live Chat</small>
			</figcaption>
		</figure>
	</div>
</div>

<br/>

<h1>Contact Us</h1>
<p>
	In case you don't have time to chat with our technical support team, you can send us an email or give us a call. Help tab includes the Contact Us information.
	<br/>
	<br/>
	The information can also be reached on the ContractComplete website at the bottom of the page.
</p>
<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/help.png" data-lightbox="Help tab" data-title="Help tab">
			<img style="height:70px;" src="docs/images/help.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="help.png"></img>
			</a>
			<figcaption>
				<small>Help tab</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/contact_us.png" data-lightbox="Contact Us" data-title="Contact Us">
			<img style="height:250px;" src="docs/images/contact_us.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="contact_us.png"></img>
			</a>
			<figcaption>
				<small>Contact Us</small>
			</figcaption>
		</figure>
	</div>
</div>