<h1>Manual Bid Entry</h1>
<p>
	The Manual Bid Entry is one of the many features available to the <strong>stakeholders</strong> in the <strong style="color:red;">Post Tender</strong> stage.
</p>

<p>
	The Stakeholders can manually enter items' unit prices in the Submissions page and Provisional Items page for the bidder using the Manual Bid Entry feature. Sometimes Bidders may have missed the deadline, and may want to send the items' unit prices directly to the stakeholders. In this case and similar cases, the stakeholders can use the manual bid entry to better compare the bidders' submissions on the Submissions and Provisional items pages.
</p>

<p>
	To use this feature, click the options icon <span style="background-color:#f5f5f5;font-size:15px; border:1px solid #777777; border-radius:2px;"><i style=" padding:5px;" class="fa fa-ellipsis-h" aria-hidden="true"></i></span> beside the bidder located in the 'Stakeholders & Bidders section' on the Overview page, then click the Manual Bid Entry option. Now on the Submissions page and Provisional Items page click in the cells displaying the pencil icon <i style="color:red;font-size:20px;" class="fa fa-pencil" aria-hidden="true"></i>. Enter unit price for the item in the 'Placeholder Price' window and click the "Save"/"Save & Next" button. You can enter all the items' unit prices or just enter some of them.
</p>

<br/>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/post_tender_stakeholder_manualbidentry01.png" data-lightbox="Post Tender-Stakeholder's View-Manual Bid Entry-Overview page" data-title="Post Tender-Stakeholder's View-Manual Bid Entry-Overview page">
				<img style="height:250px;" src="docs/images/post_tender_stakeholder_manualbidentry01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_manualbidentry01.png"></img>
			</a>
			<figcaption>
				<small>Post Tender-Stakeholder's View-Manual Bid Entry-Overview page</small>
			</figcaption>
		</figure>
	</div>

	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/post_tender_stakeholder_manualbidentry02.png" data-lightbox="Post Tender-Stakeholder's View-Manual Bid Entry-Placeholder Price Window" data-title="Post Tender-Stakeholder's View-Manual Bid Entry-Placeholder Price Window">
				<img style="height:250px;" src="docs/images/post_tender_stakeholder_manualbidentry02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_manualbidentry02.png"></img>
			</a>
			<figcaption>
				<small>Post Tender-Stakeholder's View-Manual Bid Entry-Placeholder Price Window</small>
			</figcaption>
		</figure>
	</div>
</div>

<br/>
<br/>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/post_tender_stakeholder_manualbidentry_submissions.png" data-lightbox="Post Tender-Stakeholder's View-Manual Bid Entry-Submissions page" data-title="Post Tender-Stakeholder's View-Manual Bid Entry-Submissions page">
				<img style="height:250px;" src="docs/images/post_tender_stakeholder_manualbidentry_submissions.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_manualbidentry_submissions.png"></img>
			</a>
			<figcaption>
				<small>Post Tender-Stakeholder's View-Manual Bid Entry-Submissions page</small>
			</figcaption>
		</figure>
	</div>

	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/post_tender_stakeholder_manualbidentry_provisional.png" data-lightbox="Post Tender-Stakeholder's View-Manual Bid Entry-Provisional Items page" data-title="Post Tender-Stakeholder's View-Manual Bid Entry-Provisional Items page">
				<img style="height:250px;" src="docs/images/post_tender_stakeholder_manualbidentry_provisional.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_manualbidentry_provisional.png"></img>
			</a>
			<figcaption>
				<small>Post Tender-Stakeholder's View-Manual Bid Entry-Provisional Items page</small>
			</figcaption>
		</figure>
	</div>
</div>