<h1>My Bids, Tenders & Quotes</h1>

<p>
	My Bids, Tenders & Quotes tab is located on the top left side of the ContractComplete application. Clicking this tab will open the My Bids, Tenders & Quotes page. On this page the users can create Quotes and Tenders using the provided buttons.
	
	Tenders and Quotes are displayed on this page:
</p>
<div class = "row">
	<div class="col-md-3 col-xs-12">
		<ul>
			<li>Quotes (Draft stage)</li>
			<li>Tenders (Draft stage)</li>
			<li>Tenders (Tendering stage)</li>
			<li>Tenders (Post Tender stage)</li>
		</ul>
	</div>
	
	<div class="col-md-9 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/my_bids_tenders_quotes_buttons.png" data-lightbox="My Bids, Tenders, Quotes buttons.png" data-title="New Tender/ Create Quote Buttons">
			<img style="height:80px;" src="docs/images/my_bids_tenders_quotes_buttons.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/my_bids_tenders_quotes_buttons.png"></img>
		</a>
			<figcaption>
				<small>New Tender/ Create Quote Buttons</small>
			</figcaption>
		</figure>
	</div>
</div>
<p>	
	<strong><span style="color:red;">&#9888;</span><i> In Tenders when the Primary Stakeholder selects a bidder as the contractor and award the tender, the Contract will go to the In Progress stage and will be moved to the My Contracts page.</i></strong>
	<br/>
	<strong><span style="color:red;">&#9888;</span><i> In Quotes, after adding a Primary Stakeholder or Commencing the Progress in Solo Contractor mode, the Contract will be moved to the My Contracts page.</i></strong>
</p>

<p>To Be Continued ...</p>
