<h1>My Company</h1>
<p>
	The 'My Company' tab contains several items. Based on the permission you have, you may be able to update your company's information or add users within your company and invite a colleague, update your company's contacts, access invoices or search for an item's data within your company. Users can find the followings under this tab:
</p>
<div class = "row">
	<div class="col-md-2 col-xs-12">
		<ul>
			<li><a href="?page=profile#content">Profile<a/></li>
			<li><a href="?page=user_configuration#content">User Configuration<a/></li>
			<li><a href="?page=contacts#content">Contacts<a/></li>
			<li><a href="?page=invoices#content">Invoices<a/></li>
			<li><a href="?page=subscriptions#content">Subscriptions<a/></li>
			<li><a href="?page=estimation#content">Estimation<a/></li>
		</ul>
	</div>
	<div class="col-md-10 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/my_company.png" data-lightbox="My Company tab" data-title="My Company tab">
			<img style="height:120px;" src="docs/images/my_company.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="my_company.png"></img>
			</a>
			<figcaption>
				<small>My Company tab</small>
			</figcaption>
		</figure>
	</div>
</div>