<h1>My Contracts</h1>
<p>
	Both contractors and project owners may create awarded contracts.  Regardless of your role, the first step is to move to the <b>Contracts</b> page, then click "New Contract".  At this step you will have a chance to set some basic details for this contract.  <b>Change the "Contract Type" to "Awarded"</b>.  Selecting this option will prompt you to select your role in the contract.  If you are a contractor, you will be further prompted to select the primary stakeholder (you can use this dialog to send an invite if they are not already ContractComplete users).  If you are the primary stakeholder you will later have the opportunity to add bidders and stakeholders and select a contractor.
</p>
<figure style="max-width:600px">
	<img src="docs/images/new_awarded_contract.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/new_awarded_contract.png"></img>
	<figcaption>Awarded contracts may be created by either a contractor or a primary stakeholder.  Therefore you will be asked to specify which one you are.</figcaption>
</figure>
<h2>Next Steps</h2>
<p>
	Now that you've created your contract you can enter your unit price contract into ContractComplete.  If you already have your contract in a spreadsheet format, we suggest trying our <a href="?page=importer">importer tool</a> to save time.  If not, that's fine - you may wish to check out the following pages which explain setting up a contract from scratch.
	<ul>
		<li><a href="?page=schedule_of_prices">Schedule of Prices</a></li>
		<li><a href="?page=provisional_items">Provisional Items</a></li>
		<li><a href="?page=documents">Uploading Documents</a></li>
	</ul>
</p>
<p>
The "Candidate Instructions" tab can help you provide instructions to bidders if you are working on a tendered contract.
</p>