<h1>My Profile</h1>

<p>
	Based on the name and last name user enters while signing up, a tab will be generated displaying the name and last name. This tab is located at the top right side of the application. Users can find the followings under this tab:
</p>
<div class = "row">
	<div class="col-md-2 col-xs-12">
		<strong><ul>
			<li>My Profile</li>
			<li>Email Settings</li>
			<li>Sign Out</li>
		</ul></strong>
	</div>
	<div class="col-md-10 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/my_profile01.png" data-lightbox="My Profile" data-title="My Profile">
		<img style="height:80px;" src="docs/images/my_profile01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/my_profile01.png"></img>
		</a>
			<figcaption>
				<small>My Profile</small>
			</figcaption>
		</figure>
	</div>
</div>
	
<br/>

<p>
	<b>My Profile:</b> In the My Profile page user can do the following actions:
	<div class = "row">
		<div class="col-md-3 col-xs-12">
			<ul>
				<li>Edit job title</li>
				<li>Change Password</li>
				<li>Edit Social information</li>
				<li>Edit name and last name</li>
				<li>Upload a new Cover Photo</li>
				<li>Upload a new profile picture</li>
			</ul>
		</div>
		<div class="col-md-9 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/my_profile02.png" data-lightbox="My Profile page" data-title="My Profile page">
			<img style="height:250px;" src="docs/images/my_profile02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/my_profile02.png"></img>
			</a>
				<figcaption>
					<small>My Profile page</small>
				</figcaption>
			</figure>
		</div>
	</div>

	
	<strong>Upload a new profile picture:</strong> For uploading a new profile photo just click on the circle that displays either a picture or an initial, then upload an image. On the 'Crop Your Avatar' window you can move or resize the square to cover the main part of the image. By clicking the "Accept" button the profile photo will be updated.
	<br/>
	<br/>
	<strong>Upload a new Cover Photo:</strong> For uploading a new Cover Photo just click the edit sign <i class="fa fa-pencil-square" style="color:#146b75; font-size:18px; vertical-align:middle;" aria-hidden="true"></i> located on the top left side of the Cover Photo section, then upload an image. On the 'Crop Your Cover Photo' window you can move or resize the square to cover the main part of the image. By clicking the "Accept" button the Cover photo will be updated.
	<br/>
	<br/>
	<br/>
	<strong>Edit Profile & Change Password:</strong> To edit name, last name, job title, social information and to change the account's password users can use the 'Edit Profile' drop down. On the 'Edit Profile' window you will be able to make all these changes. After making a change on one tab the "Accept" button must be clicked, so if you want to make changes on two or more tabs you should make a change on one tab and click the accept button, then go to the other tab make changes and click accept button, and so on.
	<br/>
	
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/my_profile03.png" data-lightbox="Edit Profile" data-title="Edit Profile">
			<img style="height:250px;" src="docs/images/my_profile03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/my_profile03.png"></img>
			</a>
				<figcaption>
					<small>Edit Profile</small>
				</figcaption>
			</figure>
		</div>
		
		<div class="col-md-6 col-xs-12">
		</div>
	</div>
	
	<strong>Note:</strong> ContractComplete users can see your profile page but won't be able to make any changes. On the page, there is a section on the left side that displays your company's information. If you have permission to edit this section, you can do it by clicking the 'Profile' located under the 'My Company' tab. For more information about how to change your company's information click <a href="?page=profile#content">My Company Profile<a/>.
</p>

<br/>
<br/>

<p>
	<b>Email Settings:</b> On this page you can select in which cases an email is required to be sent out to you. You can select all, by checking the top checkbox. After updating your notification preferences click the "Save Preferences" button at the bottom to save your changes.
	<br/>
	You can also choose to receive a daily reminder email of all selected items or even unsubscribe from all current and future email types by selecting the corresponding checkboxes.
</p>
<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/email_settings.png" data-lightbox="Email Settings" data-title="Email Settings">
		<img style="height:250px; border:1px solid #8a9e9e8c;" src="docs/images/email_settings.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/email_settings.png"></img>
		</a>
			<figcaption>
				<small>Email Settings</small>
			</figcaption>
		</figure>
	</div>
	
	<div class="col-md-6 col-xs-12">
	</div>
</div>
