<style>
.headerColor{
		color: #909090;
		font-size: 16px;
	}
#negotiateStakeholder >  li  > .active,
#negotiateBidder >  li  > .active {
border-bottom:5px solid #146b75;
	}
#negotiateStakeholder >  li  > .active > span,
#negotiateBidder >  li  > .active > span {
		color: #146b75;
		font-weight:bolder;
	}
</style>



<h1>Negotiations</h1>
<p>
	A negotiation is like a second contract, which can be manipulated in the contract editor in any way by the bidder and the primary stakeholder in the <strong style="color:red;">Post Tender</strong> stage. However it will not appear in the "My Contracts" page until negotiations have been concluded.
</p>
<p>
	In some cases, after the tendering process, a stakeholder may wish to make a scope change to a contract before awarding it. The Negotiate feature will help to make any of the following changes:
		<ul style=" margin: 0; ">
			<li>Add or remove the contract items (Schedule of Prices)</li>
			<li>Add or remove provisional items</li>
			<li>Change pricing, descriptions, item names, or quantities</li>
			<li>Add or remove documents (although this can be accomplished more easily after the contract has been awarded)</li>
			<li>Split the contract into two or more smaller contracts and award these to multiple contractors.</li>
		</ul>		
</p>

<br/>
<br/>

<p>
	<strong>Click the buttons below to see the Negotiation from the view of Stakeholders and Bidders:</strong>
</p>

<br/>

<a style="background-color:#17a2b8;width:100%;height:55px;text-align:center;color:white;font-size:30px;border-radius:5px;padding-top:10px; display:block;cursor:pointer;" id="negotiation1">
	<i class="fa fa-balance-scale" aria-hidden="true"></i> Negotiation Stakeholder's View
</a>
<div style="display:none; background-color:#ffffff; padding:20px;border-radius:5px; margin-top:10px;" id="negotiation1_text">
	<h2>Negotiation</h2>
	<br/>
	<p>	
		A negotiation is like a second contract, which can be manipulated in the contract editor in any way by the bidder and the primary stakeholder in the Post Tender stage. However, it will not appear in the "My Contracts" page until negotiations have been concluded. You are free to have multiple ongoing negotiations open for the same contract.
	</p>
	
	<p>
		In some cases, after the tendering process, a stakeholder may wish to make a scope change to a contract before awarding it. The Negotiate feature will help to make any of the following changes:
			<ul style=" margin: 0; ">
				<li>Add or remove the contract items (Schedule of Prices)</li>
				<li>Add or remove provisional items</li>
				<li>Change pricing, descriptions, item names, or quantities</li>
				<li>Add or remove documents (although this can be accomplished more easily after the contract has been awarded)</li>
				<li>Split the contract into two or more smaller contracts and award these to multiple contractors.</li>
			</ul>		
	</p>
	<br/>
	<ul style="list-style-type: none;">
		<li>
			<h3>Basic Negotiations:</h3>
			<p>
				In a basic negotiation, you may have decided to select a bidder, but you want to make some changes to the scope or pricing of the contract. This can be accomplished by opening up a negotiation with your desired bidder.
			</p>
		</li>
		<li>
			<h3>Advanced Negotiations: Awarding to Multiple Contractors</h3>
			<p>
				An advanced application of the negotiation feature is to split up the contract and award it to multiple contractors. This can be accomplished by opening up a separate negotiation with each of the desired bidders, then from each negotiation, removing the un-needed parts and items.
			</p>
		</li>
	</ul>
	
	<br/><br/>
	
	<h2>Opening a Negotiation</h2>
	<p>
		For opening up a negotiation click the options icon <span style="background-color:#f5f5f5;font-size:15px; border:1px solid #777777; border-radius:2px;"><i style=" padding:5px;" class="fa fa-ellipsis-h" aria-hidden="true"></i></span> beside the desired bidder, located on the Overview page. Then click the Negotiate option and "Open Negotiation" button on the 'Open Negotiation' window.
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/open_negotiate.png" data-lightbox="Post Tender-Stakeholder's view-Open Negotiate" data-title="Post Tender-Stakeholder's view-Open Negotiate">
						<img style="height:300px;border:1px solid #eeeeee;" src="docs/images/open_negotiate.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/open_negotiate.png"></img>
					</a>
						<figcaption>
							<small>Post Tender-Stakeholder's view-Open Negotiate</small>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/open_negotiate_window.png" data-lightbox="Post Tender-Stakeholder's view-Open Negotiate Window" data-title="Post Tender-Stakeholder's view-Open Negotiate Window">
						<img style="height:300px;" src="docs/images/open_negotiate_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/open_negotiate_window.png"></img>
					</a>
						<figcaption>
							<small>Post Tender-Stakeholder's view-Open Negotiate Window</small>
						</figcaption>
					</figure>
				</div>			
			</div>
	</p>
	<p>
		After clicking the "Open Negotiation" button the negotiation contract editor will appear on the page. Here you can make scope changes to the contract. 
		<ul>
			<li>You can click the "Back to Tender" button anytime to go back to the Tender. The button is located at the top right side of the negotiation contract editor.</li>
			<li>
				To go back to the negotiation contract editor just click the created negotiation on the Negotiations section of the Overview page. Or click the View Contract link beside the bidder's name on the Stakeholders & Bidders section of the Overview page.
			</li>
			<li>
				You can always delete the negotiation by clicking the trash icon <i class="fa fa-trash" style="color:#ff0000;"></i>, as long as the negotiation is not accepted and awarded.
			</li>
			<li>
				In Case both parties have accepted the changes but you wish to delete the negotiation, you can make new changes then go back to the tender by clicking the "Back to Tender" button and use the trash icon <i class="fa fa-trash" style="color:#ff0000;"></i> to delete the negotiation.
			</li>
		</ul>
	</p>
	<div  style="border:2px solid #146b75; border-radius:10px; padding:20px; background-color:#65d3df14;">
		Only the <strong style="color:red;">Primary stakeholder</strong> can Open/Delete Negotiation, Send Revisions, Accept and Award the negotiation. The other stakeholders can only view and make changes in the Negotiation.
	</div>
	<br/><br/>
	<div class="row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
				<a href="docs/images/post_tender_stakeholder_negotiation_editor.png" data-lightbox="Post Tender-Stakeholder's view-Negotiation Contract Editor" data-title="Post Tender-Stakeholder's view-Negotiation Contract Editor">
					<img style="height:250px;" src="docs/images/post_tender_stakeholder_negotiation_editor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_negotiation_editor.png"></img>
				</a>
					<figcaption>
						<small>Post Tender-Stakeholder's view-Negotiation Contract Editor</small>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
				<a href="docs/images/post_tender_stakeholder_overview_negotiations.png" data-lightbox="Post Tender-Stakeholder's view-Negotiations On Overview page" data-title="Post Tender-Stakeholder's view-Negotiations On Overview page">
					<img style="height:250px;" src="docs/images/post_tender_stakeholder_overview_negotiations.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_overview_negotiations.png"></img>
				</a>
					<figcaption>
						<small>Post Tender-Stakeholder's view-Negotiations On Overview page</small>
					</figcaption>
				</figure>
			</div>			
		</div>
		
	<br/>
	<br/>
	
	<h2>Negotiation Contract Editor</h2>
	<p>
		On the Negotiation Contract Editor the stakeholders will see the following pages:
	</p>
	
	<br/>
	<br/>
	
	<ul class="nav nav-tabs" id="negotiateStakeholder" role="tablist" style="border-bottom:2px solid; border-color:#909090; background-color:#efefef;">
		<li class="nav-item">
			<a class="nav-link active" id="negotiateStakeholderNegotiation-tab" data-toggle="tab" href="#negotiateStakeholderNegotiation" role="tab" aria-controls="negotiateStakeholderNegotiation" aria-selected="true"><span class="headerColor"> Negotiation</span></a>
		</li>
	  
		<li class="nav-item">
			<a class="nav-link" id="negotiateStakeholderSchedule-tab" data-toggle="tab" href="#negotiateStakeholderSchedule" role="tab" aria-controls="negotiateStakeholderSchedule" aria-selected="false"><span class="headerColor"><i class="fa fa-list-ol" aria-hidden="true"></i> Schedule of Prices</span></a>
		</li>
			
		<li class="nav-item">
			<a class="nav-link" id="negotiateStakeholderDocuments-tab" data-toggle="tab" href="#negotiateStakeholderDocuments" role="tab" aria-controls="negotiateStakeholderDocuments" aria-selected="false"><span class="headerColor"><i class="fa fa-folder" aria-hidden="true"></i> Documents</span></a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" id="negotiateStakeholderProvisional-tab" data-toggle="tab" href="#negotiateStakeholderProvisional" role="tab" aria-controls="negotiateStakeholderProvisional" aria-selected="false"><span class="headerColor"><i class="fa fa-list" aria-hidden="true"></i> Provisional Items</span></a>
		</li>
	</ul>
	
	<div class="tab-content" id="negotiateStakeholderContent">
		<div class="tab-pane fade show active" id="negotiateStakeholderNegotiation" role="tabpanel" aria-labelledby="negotiateStakeholderNegotiation-tab">
			<br/>
			<h2>Negotiation</h2>
			<p>
				In a negotiation both parties can make changes in the Schedule of Prices, Provisional Items and Documents pages. A summary of changes made in the Schedule of Prices and Provisional Items pages will be displayed on the Negotiation page on the right side.
				<br/>
				You can edit the contract information by clicking the "Edit Contract Info" button.
				<br/>
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/post_tender_stakeholder_negotiation_page01.png" data-lightbox="Post Tender-Stakeholder's view-Negotiation Page 01" data-title="Post Tender-Stakeholder's view-Negotiation Page 01">
							<img style="height:250px;" src="docs/images/post_tender_stakeholder_negotiation_page01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_negotiation_page01.png"></img>
						</a>
							<figcaption>
								<small>Post Tender-Stakeholder's view-Negotiation Page 01</small>
							</figcaption>
						</figure>
					</div>
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/post_tender_stakeholder_negotiation_page02.png" data-lightbox="Post Tender-Stakeholder's view-Negotiation Page 02" data-title="Post Tender-Stakeholder's view-Negotiation Page 02">
							<img style="height:250px;" src="docs/images/post_tender_stakeholder_negotiation_page02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_negotiation_page02.png"></img>
						</a>
							<figcaption>
								<small>Post Tender-Stakeholder's view-Negotiation Page 02</small>
							</figcaption>
						</figure>
					</div>			
				</div>
				<br/>
				After reviewing the changes in each page you can click the "Send Revision" button. An email will be sent to the bidder notifying of the negotiation. The bidder will receive a message in the action box as well. Now the bidder has two options:
				<ul>
					<li>
						Accept the revision: If the bidder accepts the revision, you can decide whether to award the contract or not.
						<ul>
							<li>
								Click the "Accept and Award" button if you have decided to award the contract to this bidder. By clicking this button, the negotiated contract will move to the In Progress stage, becomes a standalone contract and be visible on the "My Contracts" page. Now what to do with the original tender is up to you. It can be left intact, deleted, archived, etc.
							</li>
							<li>
								If you still need to make changes, feel free to make changes on each page. After making changes you can send another revision for the bidder. The bidder may or may not accept the revision and this loop can be continued until you decide to award the contract.
							</li>
						</ul>
					</li>
					
					<li>
						Make changes and send a revision: If the bidder doesn't accept the revision, he/she will make some changes on the pages and will send you another revision. You will be notified by an email and a message in your action box. Again you can either accept the revision and award the contract to this bidder or make changes and send a revision to the bidder.

					</li>
				</ul>
			</p>
			
			<br/>
			
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_stakeholder_negotiation_page03.png" data-lightbox="Post Tender-Stakeholder's view-Negotiation Page 03" data-title="Post Tender-Stakeholder's view-Negotiation Page 03">
						<img style="height:250px;" src="docs/images/post_tender_stakeholder_negotiation_page03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_negotiation_page03.png"></img>
					</a>
						<figcaption>
							<small>Post Tender-Stakeholder's view-Negotiation Page 03</small>
						</figcaption>
					</figure>
				</div>
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/negotiations.png" data-lightbox="Post Tender-Stakeholder's view-Negotiations Sections" data-title="Post Tender-Stakeholder's view-Negotiations Sections">
						<img style="height:250px; border:2px solid #eeeeee;" src="docs/images/negotiations.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiations.png"></img>
					</a>
						<figcaption>
							<small>Post Tender-Stakeholder's view-Negotiations Sections</small>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<br/>
			<br/>
			
			<p>
				As mentioned before, you can always delete the negotiation by clicking the trash icon <i class="fa fa-trash" style="color:#ff0000;"></i> located on the Tender's Overview page, as long as the negotiation is not accepted and awarded.
				<br/>
				In Case both parties have accepted the changes but you wish to delete the negotiation, you can make new changes then go back to the tender by clicking the "Back to Tender" button and use the trash icon <i class="fa fa-trash" style="color:#ff0000;"></i> to delete the negotiation.
				<strong>
					After deleting the negotiation, the bidder will no longer be able to see the negotiation contract editor.
				</strong>
			</p>
			
			<hr/>
			
			<p>
				<strong>
					Once both parties have accepted the outcome of the negotiation, the primary stakeholder can decide to award the contract. The negotiated contract will move to the In Progress stage, becomes a standalone contract and be visible on the "My Contracts" page. After negotiations have concluded and been accepted, what to do with the original tender is up to you. It can be left intact, deleted, or archived.
				</strong>
			</p>	
			
		</div>
		
		<div class="tab-pane fade" id="negotiateStakeholderSchedule" role="tabpanel" aria-labelledby="negotiateStakeholderSchedule-tab">
			<br/>
			<h2>Schedule of Prices</h2>
			<p>
				<strong>
				On the Schedule of Prices page of the negotiation contract editor, the stakeholders and the bidder can make changes.</strong>
			</p>
			
			<p>
				In the Schedule of Prices page the contract main items can be added, changed or deleted. You can add, delete or edit description, quantity, unit and unit price. Use the tab key to go to the next cell.
			</p>
			<ul>
				<li> 
					Use <span style="background-color:#eaffe9;color:#008000; padding:3px;"><i class="fa fa-plus"></i></span> sign to add items and subitems. Four buttons are provided on the top left side. You can use these <img style="height:30px;" src="docs/images/customize_schedule_of_prices.png"></img> buttons to better customize the table.
				</li>
				<li>Drag and drop the items to change their location. The numbering will automatically update.</li>
				<li>
					You can change the numbering at any time. To reset and go back to the default numbering click the <span style="background-color:#f5f5f5;color:black;padding:3px;"><i class="fa fa-refresh"></i></span> sign.
				</li>
				<li>Delete the items using the <i class="fa fa-trash" style="color:#c75050;"></i> sign.</li>
				<li>
					Use the <span style="background-color:white;color:#267780; padding:3px;"><i class="fa fa-arrows"></i></span> sign to expand all or collapse all the items.
				</li>
				<li>Your changes will be autosaved but for more assurance click the "Save" button to save your changes.</li>
				<li>Use the Export option to export the Schedule of Prices as PDF, CSV and EXCEL files.</li>
			</ul>
		
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_schedule.png" data-lightbox="Negotiation-Schedule of Prices" data-title="Negotiation-Schedule of Prices">
							<img style="height:250px;" src="docs/images/negotiation_schedule.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_schedule.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Schedule of Prices</small>
							</figcaption>
							</figure>
				</div>
						
			
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_schedule_export.png" data-lightbox="Negotiation-Schedule of Prices-Export" data-title="Negotiation-Schedule of Prices-Export">
							<img style="height:150px;" src="docs/images/negotiation_schedule_export.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_schedule_export.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Schedule of Prices-Export</small>
							</figcaption>
							</figure>
				</div>
			</div>
			
			<p>	
				<strong>Units:</strong> Click the "Units" button to add or delete units. On the 'Edit Units' Window simply enter a unit in the text field then click the plus sign. Adding description for the unit is optional. To delete a unit from the window just click the trash sign.
			</p>
			
			<p>	
				<strong>History:</strong> Each time a user saves his/her changes on the Schedule of Prices page a record of the table will be added in the History page. The record includes the time and the name of the user who has made the changes.
				For using a different record on the Schedule of Prices page you just need to click the "History" button, select the version to see a preview then click the "Revert" button.
			</p>
			
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/edit_units.png" data-lightbox="Edit Units" data-title="Edit Units">
							<img style="height:250px;" src="docs/images/edit_units.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_units.png"></img>
						</a>
							<figcaption>
								<small>Edit Units</small>
							</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_schedule_history.png" data-lightbox="Negotiation-Schedule of Prices-History" data-title="Negotiation-Schedule of Prices-History">
							<img style="height:250px; border:1px solid black;" src="docs/images/negotiation_schedule_history.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_schedule_history.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Schedule of Prices-History</small>
							</figcaption>
					</figure>
				</div>
			</div>
			
			<p> 
				<strong>Import:</strong> Use the "Import" button to import a file to the Schedule of Prices page. The Import feature has two options:
				<ul>
					<li>
						ContractComplete Template Excel file:
						<br/>
						To use this option click the "Download Template" button. The downloaded file has four sheets in which two of them can guide you through entering your data. So simply follow the instructions and insert your data on the Schedule of Prices and Provisionals sheets. Then on the ContractComplete application click the "Upload File" button on the 'Import From Excel' Window and upload the filled file.
						<br/>
						You can choose to import the Schedule of Prices, Provisional Items, or both sheets to the application by clicking their related checkboxes. Make sure to click the Accept button after selecting sheets. On the Contract Import Preview page make any changes then click the "Finish Import" button. The application will handle the totals and subtotals and you can still make changes after finishing the import.
						<br/>
						<strong><span style="color:red;">&#9888;</span> This option will give you the ability to import data to both Schedule of Prices and Provisional Items page at the same time, which yet can't be found in the Smart Importer.</strong><br/>
						To cancel the Import just click the back arrow on the Contract Import Preview page.
						<br/><br/>
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/import.png" data-lightbox="Import" data-title="Import">
										<img style="height:250px;" src="docs/images/import.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import.png"></img>
									</a>
										<figcaption>
											<small>Import</small>
										</figcaption>
								</figure>
							</div>
								
						
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/excel_template.png" data-lightbox="Excel Template" data-title="Excel Template">
										<img style="height:250px; border:1px solid black;" src="docs/images/excel_template.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/excel_template.png"></img>
									</a>
										<figcaption>
											<small>Excel Template</small>
										</figcaption>
								</figure>
							</div>
						</div>
						
						<br/><br/>
						
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/import_01.png" data-lightbox="Import-Select sheets" data-title="Import-Select sheets">
										<img style="height:250px;" src="docs/images/import_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import_01.png"></img>
									</a>
										<figcaption>
											<small>Import-Select sheets</small>
										</figcaption>
								</figure>
							</div>
								
						
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/importer_preview.png" data-lightbox="Contract Importer Preview" data-title="Contract Importer Preview">
										<img style="height:250px; border:1px solid black;" src="docs/images/importer_preview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/importer_preview.png"></img>
									</a>
										<figcaption>
											<small>Contract Import Preview</small>
										</figcaption>
								</figure>
							</div>
						</div>
					
					</li>
					<li>
						Smart Importer:
						<br/>
						For using the Smart Importer click the checkbox, upload your own spreadsheet then click the Accept button. On the Contract Import Preview page make any changes then click the "Finish Import" button. The application will handle the totals and subtotals and you can still make changes after finishing the import.
						<br/>
						<strong><span style="color:red;">&#9888;</span> Any spreadsheet can be imported using this option. So unlike the first method you will be able to use your own template files.</strong><br/>To cancel the Import just click the back arrow on the Contract Import Preview page.
						<br/><br/>
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/smart_importer.png" data-lightbox="Smart Importer" data-title="Smart Importer">
										<img style="height:250px;" src="docs/images/smart_importer.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/smart_importer.png"></img>
									</a>
										<figcaption>
											<small>Smart Importer</small>
										</figcaption>
								</figure>
							</div>
								
						
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/importer_preview.png" data-lightbox="Contract Importer Preview" data-title="Contract Importer Preview">
										<img style="height:250px; border:1px solid black;" src="docs/images/importer_preview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/importer_preview.png"></img>
									</a>
										<figcaption>
											<small>Contract Import Preview</small>
										</figcaption>
								</figure>
							</div>
						</div>
					</li>
				</ul>
			</p>
			
			<hr/>
			
			<p>
				<strong>
				The changes you make in the Schedule of Prices page will be displayed on the Negotiation page in the Summary of Changes section, under the corresponding tab.
				</strong>
			</p>
		</div>
		
		<div class="tab-pane fade" id="negotiateStakeholderDocuments" role="tabpanel" aria-labelledby="negotiateStakeholderDocuments-tab">
			<br/>
			<h2>Documents</h2>
			<p>
				<strong>
				On the Documents page of the negotiation contract editor, the stakeholders and the bidder can make changes.
				</strong>
			</p>
			
			<p>
				The document system supports basic tasks like uploading, downloading, and previewing documents, as well as organizing them into folders. You can make changes on the Documents page of the negotiation contract editor. Add files, delete or rename existing files.
			</p>
			
			<p>
				<strong>My Uploads:</strong> On the Documents page you can:
			   <ul>
					<li>
						Use the "Upload" button to upload files. Either use the Drag & Drop option or just the "Browse" button on the 'My Uploads' window. By using the Drag & Drop option you will be able to upload several files at the same time.
					</li>
					<li> 
						Download the contract's files by clicking the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon. A zip file will be downloaded which includes the files on the Documents page and their Audit Trails, Schedule of Prices and Provisional Items Excel files.
					</li>
					<li>Change the location of files and folders by dragging and dropping them.</li>
				   <li>
						Download the file's audit trail by using the <i class="fa fa-check-square-o" aria-hidden="true" style="color:black"></i> icon.
					</li>
					<li>
						Select a file then click the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon to download it.
					</li>
					<li>Open, Preview or Download the files.</li>
					<li>Open only your files and upload a new version instead.</li>
					<li>
						Rename <i class="fa fa-pencil" aria-hidden="true"></i> or delete <i class="fa fa-trash" style="color:#ff0000;"></i> files and folders.
					</li>
				   <li>Add new folders.</li>
			   </ul>
			</p>
		   <br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_documents.png" data-lightbox="Negotiation-Documents" data-title="Negotiation-Documents">
							<img style="height:250px;" src="docs/images/negotiation_documents.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_documents.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Documents</small>
							</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/file_upload_01.png" data-lightbox="File Upload Window" data-title="File Upload Window">
							<img style="height:250px; border:1px solid black;" src="docs/images/file_upload_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/file_upload_01.png"></img>
						</a>
							<figcaption>
								<small>File Upload Window</small>
							</figcaption>
					</figure>
				</div>
			</div>
		</div>
		
		<div class="tab-pane fade" id="negotiateStakeholderProvisional" role="tabpanel" aria-labelledby="negotiateStakeholderProvisional-tab">
			<br/>
			<h2>Provisional Items</h2>
			<p>
				<strong>
				On the Provisional Items page of the negotiation contract editor, the stakeholders and the bidder can make changes.</strong>
			</p>
			<p>
				Provisional items are an optional feature to provide unit pricing information for additional items that may or may not be required later.  Often, they are used at a later date to provide pricing for change orders. So the items on the Provisional items page will not affect the contract unless they are added in the change orders. (Change Orders page will be displayed in the In Progress stage.)
				<br/>
				In the Provisional Items page, items can be added, changed or deleted. You can add, delete or edit description, quantity, unit and unit price.
			</p>
			<p>
				On the Provisional Items page you can:
				<ul>
					<li>
						Add description, quantity, unit, unit price and value. 
					</li>
					<li> 
						Use <span style="background-color:#eaffe9;color:#008000; padding:3px;"><i class="fa fa-plus"></i></span> sign to add items and subitems.
					</li>
					<li>Use the tab key to go to the next cell.</li>
					<li>Drag and drop the items to change their location. The numbering will automatically update.</li>
					<li>Delete the items using the <i class="fa fa-trash" style="color:#c75050;"></i> sign.</li>
					<li>Your changes will be autosaved but for more assurance click the "Save" button to save your changes.</li>
					<li>Use the Export option to export the Provisional Items as PDF, CSV and EXCEL files.</li>
				</ul>
			</p>
			<br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_provisional.png" data-lightbox="Negotiation-Provisional Items" data-title="Negotiation-Provisional Items">
							<img style="height:150px;" src="docs/images/negotiation_provisional.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_provisional.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Provisional Items</small>
							</figcaption>
					</figure>
				</div>
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_provisional_export.png" data-lightbox="Negotiation-Provisional Items-Export" data-title="Negotiation-Provisional Items-Export">
							<img style="height:150px;" src="docs/images/negotiation_provisional_export.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_provisional_export.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Provisional Items-Export</small>
							</figcaption>
					</figure>
				</div>
			</div>
		
			<p>
				<strong>Units:</strong> Click the "Units" button to add or delete units. On the 'Edit Units' Window simply enter a unit in 	the text field then click the plus sign. Adding description for the unit is optional. To delete a unit from the window just click the trash sign.
			</p>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/edit_units.png" data-lightbox="Edit Units" data-title="Edit Units">
							<img style="height:250px;" src="docs/images/edit_units.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_units.png"></img>
						</a>
							<figcaption>
								<small>Edit Units</small>
							</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
				</div>
			</div>
			
			<p>
				<strong><span style="color:red;">&#9888;</span> You can also use the Import option on the Schedule of Prices page.</strong> To do so just go to the Schedule of Prices page, click the Import button then click the "Download Template" button. The downloaded file has four sheets in which two of them can guide you through entering your data. So simply follow the instructions and insert your data on the Provisionals sheet. Then on the ContractComplete application click the "Upload File" button on the 'Import From Excel' Window and upload the filled file. Choose to import the Provisional Items to the application by clicking the related checkbox. Make sure to click the Accept button after selecting the sheet. You can make changes after finishing the import.
		
				<strong>This option will give you the ability to import data to both Schedule of Prices and Provisional Items page at the same time.</strong>
			</p>
			<br/><br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_schedule_import.png" data-lightbox="Negotiation-Import to Provisional Items 01" data-title="Negotiation-Import to Provisional Items 01">
								<img style="height:250px;" src="docs/images/negotiation_schedule_import.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_schedule_import.png"></img>
						</a>
						<figcaption>
							<small>Negotiation-Import to Provisional Items 01</small>
						</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/import.png" data-lightbox="Import to Provisional Items 02" data-title="Import to Provisional Items 02">
							<img style="height:250px; border:1px solid black;" src="docs/images/import.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 02</small>
						</figcaption>
					</figure>
				</div>
			</div> 
			<br/><br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/import_provisional_items01.png" data-lightbox="Import to Provisional Items 03" data-title="Import to Provisional Items 03">
								<img style="height:250px;" src="docs/images/import_provisional_items01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import_provisional_items01.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 03</small>
						</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/import_provisional_items02.png" data-lightbox="Import to Provisional Items 04" data-title="Import to Provisional Items 04">
							<img style="height:250px; border:1px solid black;" src="docs/images/import_provisional_items02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import_provisional_items02.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 04</small>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<hr/>
			
			<p>
				<strong>
				The changes you make in the Provisional Items page will be displayed on the Negotiation page in the Summary of Changes section, under the corresponding tab.
				</strong>
			</p>
		</div>
			
	</div>

</div>


<br/>
<br/>
<hr/>
<br/>
<br/>

<a style="background-color:#17a2b8;width:100%;height:55px;text-align:center;color:white;font-size:30px;border-radius:5px;padding-top:10px; display:block;cursor:pointer;" id="negotiation2">
	<i class="fa fa-balance-scale" aria-hidden="true"></i> Negotiation Bidder's View
</a>
<div style="display:none; background-color:#fff;padding:20px;border-radius:5px; margin-top:10px;" id="negotiation2_text">
	<h2>Negotiation</h2>
	<br/>
	<p>	
		A negotiation is like a second contract, which can be manipulated in the contract editor in any way by the bidder and the primary stakeholder in the Post Tender stage. However, it will not appear in the "My Contracts" page until negotiations have been concluded.
	</p>
	
	<p>
		In some cases, after the tendering process, a stakeholder may wish to make a scope change to a contract before awarding it. The Negotiate feature will help to make any of the following changes:
			<ul style=" margin: 0; ">
				<li>Add or remove the contract items (Schedule of Prices)</li>
				<li>Add or remove provisional items</li>
				<li>Change pricing, descriptions, item names, or quantities</li>
				<li>Add or remove documents (although this can be accomplished more easily after the contract has been awarded)</li>
				<li>Split the contract into two or more smaller contracts and award these to multiple contractors.</li>
			</ul>		
	</p>
	
	<br/><br/>
	
	<h2>Negotiation started by the Primary Stakeholder</h2>
	<p>
		When the Primary Stakeholder opens a negotiation with a bidder in the Post Tender stage, the bidder will see the "View Negotiation" button on the Review page. By clicking this button the negotiation contract editor will be displayed. As the bidder, you can make any changes in the negotiation contract editor and send your revisions. The Primary Stakeholder then will decide whether to accept your changes or not. You can also decide to accept the Primary stakeholder's revisions or make changes and send a new revision. Click the "Back to Tender" button located on the top right side of the negotiation contract editor, if you wish to see the Tender.
		<br/>
		<br/>
		You may be selected as the contractor when a Primary Stakeholder opens a negotiation, but keep in mind that the Primary Stakeholder can delete the negotiation anytime they wish to do so. If the Primary stakeholder decides to delete the negotiation you will no longer be able to see the "View Negotiation" button and the negotiation contract editor.
	</p>
	
	<br/>
	
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/negotiation_bidder_reviewbid.png" data-lightbox="Post Tender-Bidder's view-Review Bid page-Negotiation" data-title="Post Tender-Bidder's view-Review Bid page-Negotiation">
				<img style="height:250px;" src="docs/images/negotiation_bidder_reviewbid.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_bidder_reviewbid.png"></img>
			</a>
				<figcaption>
					<small>Post Tender-Bidder's view-Review Bid page-Negotiation</small>
				</figcaption>
			</figure>
		</div>
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/negotiation_bidder_negotiation_page.png" data-lightbox="Post Tender-Bidder's view-Negotiation Page" data-title="Post Tender-Bidder's view-Negotiation Page">
				<img style="height:250px;" src="docs/images/negotiation_bidder_negotiation_page.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_bidder_negotiation_page.png"></img>
			</a>
				<figcaption>
					<small>Post Tender-Bidder's view-Negotiation Page</small>
				</figcaption>
			</figure>
		</div>			
	</div>
	
	<br/>
	<br/>
	
	<h2>Negotiation Contract Editor</h2>
	<p>
		On the Negotiation Contract Editor the Bidder will see the following pages:
	</p>
	
	<br/>
	<br/>
	
	<ul class="nav nav-tabs" id="negotiateBidder" role="tablist" style="border-bottom:2px solid; border-color:#909090; background-color:#efefef;">
		<li class="nav-item">
			<a class="nav-link active" id="negotiateBidderNegotiation-tab" data-toggle="tab" href="#negotiateBidderNegotiation" role="tab" aria-controls="negotiateBidderNegotiation" aria-selected="true"><span class="headerColor"> Negotiation</span></a>
		</li>
	  
		<li class="nav-item">
			<a class="nav-link" id="negotiateBidderSchedule-tab" data-toggle="tab" href="#negotiateBidderSchedule" role="tab" aria-controls="negotiateBidderSchedule" aria-selected="false"><span class="headerColor"><i class="fa fa-list-ol" aria-hidden="true"></i> Schedule of Prices</span></a>
		</li>
			
		<li class="nav-item">
			<a class="nav-link" id="negotiateBidderDocuments-tab" data-toggle="tab" href="#negotiateBidderDocuments" role="tab" aria-controls="negotiateBidderDocuments" aria-selected="false"><span class="headerColor"><i class="fa fa-folder" aria-hidden="true"></i> Documents</span></a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" id="negotiateBidderProvisional-tab" data-toggle="tab" href="#negotiateBidderProvisional" role="tab" aria-controls="negotiateBidderProvisional" aria-selected="false"><span class="headerColor"><i class="fa fa-list" aria-hidden="true"></i> Provisional Items</span></a>
		</li>
	</ul>
	
	<div class="tab-content" id="negotiateBidderContent">
		<div class="tab-pane fade show active" id="negotiateBidderNegotiation" role="tabpanel" aria-labelledby="negotiateBidderNegotiation-tab">
			<br/>
			<h2>Negotiation</h2>
			<p>
				In a negotiation both parties can make changes in the Schedule of Prices, Provisional Items and Documents pages. A summary of changes made in the Schedule of Prices and Provisional Items pages will be displayed on the Negotiation page on the right side.
				<br/>
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_bidder_negotiation01.png" data-lightbox="Post Tender-Bidder's view-Negotiation Page 01" data-title="Post Tender-Bidder's view-Negotiation Page 01">
							<img style="height:250px;" src="docs/images/negotiation_bidder_negotiation01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_bidder_negotiation01.png"></img>
						</a>
							<figcaption>
								<small>Post Tender-Bidder's view-Negotiation Page 01</small>
							</figcaption>
						</figure>
					</div>
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_bidder_negotiation02.png" data-lightbox="Post Tender-Bidder's view-Negotiation Page 02" data-title="Post Tender-Bidder's view-Negotiation Page 02">
							<img style="height:250px;" src="docs/images/negotiation_bidder_negotiation02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_bidder_negotiation02.png"></img>
						</a>
							<figcaption>
								<small>Post Tender-Bidder's view-Negotiation Page 02</small>
							</figcaption>
						</figure>
					</div>			
				</div>
				<br/>
				
				The Primary Stakeholder may make some changes in the negotiation contract editor and send a revision for the bidder. The bidder will receive an email and a message in his/her action box. As the bidder, you can accept the Primary Stakeholder's revision or instead make other changes in the negotiation contract editor and send a revision for the Primary Stakeholder. They will receive an email and a message in their action box. The Primary Stakeholder then will decide whether to accept your changes or not. This process will be continued until the Primary stakeholder decides to accept the changes and award the contract.
				
				<br/>
				<br/>
				
				<strong><span style="color:red;">&#9888;</span></strong> If the Primary stakeholder decides to delete the negotiation you will no longer be able to see the "View Negotiation" button and the negotiation contract editor. When the Primary Stakeholder accepts and awards the contract, the negotiated contract will move to the In Progress stage, becomes a standalone contract and be visible on the "My Contracts" page.
				
			</p>

			<hr/>
			
			<p>
				<strong>
					Once both parties have accepted the outcome of the negotiation, the primary stakeholder can decide to award the contract. The negotiated contract will move to the In Progress stage, becomes a standalone contract and be visible on the "My Contracts" page.
				</strong>
			</p>	
			
		</div>
		
		<div class="tab-pane fade" id="negotiateBidderSchedule" role="tabpanel" aria-labelledby="negotiateBidderSchedule-tab">
			<br/>
			<h2>Schedule of Prices</h2>
			<p>
				<strong>
				On the Schedule of Prices page of the negotiation contract editor, the stakeholders and the bidder can make changes.</strong>
			</p>
			
			<p>
				In the Schedule of Prices page the contract main items can be added, changed or deleted. You can add, delete or edit description, quantity, unit and unit price. Use the tab key to go to the next cell.
			</p>
			<ul>
				<li> 
					Use <span style="background-color:#eaffe9;color:#008000; padding:3px;"><i class="fa fa-plus"></i></span> sign to add items and subitems. Four buttons are provided on the top left side. You can use these <img style="height:30px;" src="docs/images/customize_schedule_of_prices.png"></img> buttons to better customize the table.
				</li>
				<li>Drag and drop the items to change their location. The numbering will automatically update.</li>
				<li>
					You can change the numbering at any time. To reset and go back to the default numbering click the <span style="background-color:#f5f5f5;color:black;padding:3px;"><i class="fa fa-refresh"></i></span> sign.
				</li>
				<li>Delete the items using the <i class="fa fa-trash" style="color:#c75050;"></i> sign.</li>
				<li>
					Use the <span style="background-color:white;color:#267780; padding:3px;"><i class="fa fa-arrows"></i></span> sign to expand all or collapse all the items.
				</li>
				<li>Your changes will be autosaved but for more assurance click the "Save" button to save your changes.</li>
				<li>Use the Export option to export the Schedule of Prices as PDF, CSV and EXCEL files.</li>
			</ul>
		
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_bidder_schedule.png" data-lightbox="Negotiation-Bidder's view-Schedule of Prices" data-title="Negotiation-Bidder's view-Schedule of Prices">
							<img style="height:250px;" src="docs/images/negotiation_bidder_schedule.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_bidder_schedule.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Bidder's view-Schedule of Prices</small>
							</figcaption>
							</figure>
				</div>
						
			
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_schedule_export.png" data-lightbox="Negotiation-Schedule of Prices-Export" data-title="Negotiation-Schedule of Prices-Export">
							<img style="height:150px;" src="docs/images/negotiation_schedule_export.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_schedule_export.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Schedule of Prices-Export</small>
							</figcaption>
							</figure>
				</div>
			</div>
			
			<p>	
				<strong>Units:</strong> Click the "Units" button to add or delete units. On the 'Edit Units' Window simply enter a unit in the text field then click the plus sign. Adding description for the unit is optional. To delete a unit from the window just click the trash sign.
			</p>
			
			<p>	
				<strong>History:</strong> Each time a user saves his/her changes on the Schedule of Prices page a record of the table will be added in the History page. The record includes the time and the name of the user who has made the changes.
				For using a different record on the Schedule of Prices page you just need to click the "History" button, select the version to see a preview then click the "Revert" button.
			</p>
			
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/edit_units.png" data-lightbox="Edit Units" data-title="Edit Units">
							<img style="height:250px;" src="docs/images/edit_units.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_units.png"></img>
						</a>
							<figcaption>
								<small>Edit Units</small>
							</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_bidder_schedule_history.png" data-lightbox="Negotiation-Bidder's View-Schedule of Prices-History" data-title="Negotiation-Bidder's View-Schedule of Prices-History">
							<img style="height:250px; border:1px solid black;" src="docs/images/negotiation_bidder_schedule_history.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_bidder_schedule_history.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Bidder's View-Schedule of Prices-History</small>
							</figcaption>
					</figure>
				</div>
			</div>
			
			<p> 
				<strong>Import:</strong> Use the "Import" button to import a file to the Schedule of Prices page. The Import feature has two options:
				<ul>
					<li>
						ContractComplete Template Excel file:
						<br/>
						To use this option click the "Download Template" button. The downloaded file has four sheets in which two of them can guide you through entering your data. So simply follow the instructions and insert your data on the Schedule of Prices and Provisionals sheets. Then on the ContractComplete application click the "Upload File" button on the 'Import From Excel' Window and upload the filled file.
						<br/>
						You can choose to import the Schedule of Prices, Provisional Items, or both sheets to the application by clicking their related checkboxes. Make sure to click the Accept button after selecting sheets. On the Contract Import Preview page make any changes then click the "Finish Import" button. The application will handle the totals and subtotals and you can still make changes after finishing the import.
						<br/>
						<strong><span style="color:red;">&#9888;</span> This option will give you the ability to import data to both Schedule of Prices and Provisional Items page at the same time, which yet can't be found in the Smart Importer.</strong><br/>
						To cancel the Import just click the back arrow on the Contract Import Preview page.
						<br/><br/>
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/import.png" data-lightbox="Import" data-title="Import">
										<img style="height:250px;" src="docs/images/import.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import.png"></img>
									</a>
										<figcaption>
											<small>Import</small>
										</figcaption>
								</figure>
							</div>
								
						
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/excel_template.png" data-lightbox="Excel Template" data-title="Excel Template">
										<img style="height:250px; border:1px solid black;" src="docs/images/excel_template.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/excel_template.png"></img>
									</a>
										<figcaption>
											<small>Excel Template</small>
										</figcaption>
								</figure>
							</div>
						</div>
						
						<br/><br/>
						
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/import_01.png" data-lightbox="Import-Select sheets" data-title="Import-Select sheets">
										<img style="height:250px;" src="docs/images/import_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import_01.png"></img>
									</a>
										<figcaption>
											<small>Import-Select sheets</small>
										</figcaption>
								</figure>
							</div>
								
						
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/importer_preview.png" data-lightbox="Contract Importer Preview" data-title="Contract Importer Preview">
										<img style="height:250px; border:1px solid black;" src="docs/images/importer_preview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/importer_preview.png"></img>
									</a>
										<figcaption>
											<small>Contract Import Preview</small>
										</figcaption>
								</figure>
							</div>
						</div>
					
					</li>
					<li>
						Smart Importer:
						<br/>
						For using the Smart Importer click the checkbox, upload your own spreadsheet then click the Accept button. On the Contract Import Preview page make any changes then click the "Finish Import" button. The application will handle the totals and subtotals and you can still make changes after finishing the import.
						<br/>
						<strong><span style="color:red;">&#9888;</span> Any spreadsheet can be imported using this option. So unlike the first method you will be able to use your own template files.</strong><br/>To cancel the Import just click the back arrow on the Contract Import Preview page.
						<br/><br/>
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/smart_importer.png" data-lightbox="Smart Importer" data-title="Smart Importer">
										<img style="height:250px;" src="docs/images/smart_importer.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/smart_importer.png"></img>
									</a>
										<figcaption>
											<small>Smart Importer</small>
										</figcaption>
								</figure>
							</div>
								
						
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/importer_preview.png" data-lightbox="Contract Importer Preview" data-title="Contract Importer Preview">
										<img style="height:250px; border:1px solid black;" src="docs/images/importer_preview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/importer_preview.png"></img>
									</a>
										<figcaption>
											<small>Contract Import Preview</small>
										</figcaption>
								</figure>
							</div>
						</div>
					</li>
				</ul>
			</p>
			
			<hr/>
			
			<p>
				<strong>
				The changes you make in the Schedule of Prices page will be displayed on the Negotiation page in the Summary of Changes section, under the corresponding tab.
				</strong>
			</p>
		</div>
		
		<div class="tab-pane fade" id="negotiateBidderDocuments" role="tabpanel" aria-labelledby="negotiateBidderDocuments-tab">
			<br/>
			<h2>Documents</h2>
			<p>
				<strong>
				On the Documents page of the negotiation contract editor, the stakeholders and the bidder can make changes.
				</strong>
			</p>
			
			<p>
				The document system supports basic tasks like uploading, downloading, and previewing documents, as well as organizing them into folders. You can make changes on the Documents page of the negotiation contract editor. Add files, delete or rename existing files.
			</p>
			
			<p>
				<strong>My Uploads:</strong> On the Documents page in the My Uploads section you can:
			   <ul>
					<li>
						Use the "Upload" button to upload files. Either use the Drag & Drop option or just the "Browse" button on the 'My Uploads' window. By using the Drag & Drop option you will be able to upload several files at the same time.
					</li>
					<li> 
						Download the contract's files by clicking the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon. A zip file will be downloaded which includes the files on the Documents page and their Audit Trails, Schedule of Prices and Provisional Items Excel files.
					</li>
					<li>Change the location of files and folders by dragging and dropping them.</li>
				   <li>
						Download the file's audit trail by using the <i class="fa fa-check-square-o" aria-hidden="true" style="color:black"></i> icon.
					</li>
				   <li>
						Select a file then click the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon to download it.
					</li>
					<li>Open, Preview or Download the files.</li>
					<li>Open only your files and upload a new version instead.</li>
					<li>
						Rename <i class="fa fa-pencil" aria-hidden="true"></i> or delete <i class="fa fa-trash" style="color:#ff0000;"></i> files and folders.
					</li>
				   <li>Add new folders.</li>
			   </ul>
			</p>
		   <br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_bidder_documents.png" data-lightbox="Negotiation-Bidder's View-Documents" data-title="Negotiation-Bidder's View-Documents">
							<img style="height:250px;" src="docs/images/negotiation_bidder_documents.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_bidder_documents.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Bidder's View-Documents</small>
							</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/file_upload_01.png" data-lightbox="File Upload Window" data-title="File Upload Window">
							<img style="height:250px; border:1px solid black;" src="docs/images/file_upload_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/file_upload_01.png"></img>
						</a>
							<figcaption>
								<small>File Upload Window</small>
							</figcaption>
					</figure>
				</div>
			</div>
			
			<br/>
			
			<p>
				<strong>Bidder Documents:</strong> You will find your uploaded files in the Bidder Documents section. You can:
				<ul>
					<li>Open, Preview or Download your files.</li>
					<li>Open your files and upload a new version instead.</li>
					<li> 
						Download the contract's files by clicking the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon. A zip file will be downloaded which includes the files on the Documents page and their Audit Trails, Schedule of Prices and Provisional Items Excel files.
					</li>
					<li>
						Select a file then click the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon to download it.
					</li>
				</ul>
			</p>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_bidder_document_uploadnewversion.png" data-lightbox="Negotiation-Documents-Preview" data-title="Negotiation-Documents-Preview">
							<img style="height:250px;" src="docs/images/negotiation_bidder_document_uploadnewversion.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_bidder_document_uploadnewversion.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Documents-Preview</small>
							</figcaption>
					</figure>
				</div>
					
				<div class="col-md-6 col-xs-12">
				</div>
			</div>
			
		</div>
		
		<div class="tab-pane fade" id="negotiateBidderProvisional" role="tabpanel" aria-labelledby="negotiateBidderProvisional-tab">
			<br/>
			<h2>Provisional Items</h2>
			<p>
				<strong>
				On the Provisional Items page of the negotiation contract editor, the stakeholders and the bidder can make changes.</strong>
			</p>
			<p>
				Provisional items are an optional feature to provide unit pricing information for additional items that may or may not be required later.  Often, they are used at a later date to provide pricing for change orders. So the items on the Provisional items page will not affect the contract unless they are added in the change orders. (Change Orders page will be displayed in the In Progress stage.)
				<br/>
				In the Provisional Items page, items can be added, changed or deleted. You can add, delete or edit description, quantity, unit and unit price.
			</p>
			<p>
				On the Provisional Items page you can:
				<ul>
					<li>
						Add description, quantity, unit, unit price and value. 
					</li>
					<li> 
						Use <span style="background-color:#eaffe9;color:#008000; padding:3px;"><i class="fa fa-plus"></i></span> sign to add items and subitems.
					</li>
					<li>Use the tab key to go to the next cell.</li>
					<li>Drag and drop the items to change their location. The numbering will automatically update.</li>
					<li>Delete the items using the <i class="fa fa-trash" style="color:#c75050;"></i> sign.</li>
					<li>Your changes will be autosaved but for more assurance click the "Save" button to save your changes.</li>
					<li>Use the Export option to export the Provisional Items as PDF, CSV and EXCEL files.</li>
				</ul>
			</p>
			<br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_bidder_provisional.png" data-lightbox="Negotiation-Bidder's View-Provisional Items" data-title="Negotiation-Bidder's View-Provisional Items">
							<img style="height:150px;" src="docs/images/negotiation_bidder_provisional.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_bidder_provisional.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Bidder's View-Provisional Items</small>
							</figcaption>
					</figure>
				</div>
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_bidder_provisional_export.png" data-lightbox="Negotiation-Bidder's View-Provisional Items-Export" data-title="Negotiation-Bidder's View-Provisional Items-Export">
							<img style="height:150px;" src="docs/images/negotiation_bidder_provisional_export.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_bidder_provisional_export.png"></img>
						</a>
							<figcaption>
								<small>Negotiation-Bidder's View-Provisional Items-Export</small>
							</figcaption>
					</figure>
				</div>
			</div>
		
			<p>
				<strong>Units:</strong> Click the "Units" button to add or delete units. On the 'Edit Units' Window simply enter a unit in 	the text field then click the plus sign. Adding description for the unit is optional. To delete a unit from the window just click the trash sign.
			</p>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/edit_units.png" data-lightbox="Edit Units" data-title="Edit Units">
							<img style="height:250px;" src="docs/images/edit_units.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_units.png"></img>
						</a>
							<figcaption>
								<small>Edit Units</small>
							</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
				</div>
			</div>
			
			<p>
				<strong><span style="color:red;">&#9888;</span> You can also use the Import option on the Schedule of Prices page.</strong> To do so just go to the Schedule of Prices page, click the Import button then click the "Download Template" button. The downloaded file has four sheets in which two of them can guide you through entering your data. So simply follow the instructions and insert your data on the Provisionals sheet. Then on the ContractComplete application click the "Upload File" button on the 'Import From Excel' Window and upload the filled file. Choose to import the Provisional Items to the application by clicking the related checkbox. Make sure to click the Accept button after selecting the sheet. You can make changes after finishing the import.
		
				<strong>This option will give you the ability to import data to both Schedule of Prices and Provisional Items page at the same time.</strong>
			</p>
			<br/><br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/negotiation_bidder_schedule_import.png" data-lightbox="Negotiation-Bidder's View-Import to Provisional Items 01" data-title="Negotiation-Bidder's View-Import to Provisional Items 01">
								<img style="height:250px;" src="docs/images/negotiation_bidder_schedule_import.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiation_bidder_schedule_import.png"></img>
						</a>
						<figcaption>
							<small>Negotiation-Bidder's View-Import to Provisional Items 01</small>
						</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/import.png" data-lightbox="Import to Provisional Items 02" data-title="Import to Provisional Items 02">
							<img style="height:250px; border:1px solid black;" src="docs/images/import.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 02</small>
						</figcaption>
					</figure>
				</div>
			</div> 
			<br/><br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/import_provisional_items01.png" data-lightbox="Import to Provisional Items 03" data-title="Import to Provisional Items 03">
								<img style="height:250px;" src="docs/images/import_provisional_items01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import_provisional_items01.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 03</small>
						</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/import_provisional_items02.png" data-lightbox="Import to Provisional Items 04" data-title="Import to Provisional Items 04">
							<img style="height:250px; border:1px solid black;" src="docs/images/import_provisional_items02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import_provisional_items02.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 04</small>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<hr/>
			
			<p>
				<strong>
				The changes you make in the Provisional Items page will be displayed on the Negotiation page in the Summary of Changes section, under the corresponding tab.
				</strong>
			</p>
		</div>
			
	</div>



</div>

<br/>
<br/>
<br/>

<div style="border-top:2px solid; border-color:#909090;">
	<br/>
	<h3>Next Stage:</h3>
	<p>
		Once both parties have accepted the outcome of the negotiation, the primary stakeholder can decide to award the contract. The negotiated contract will move to the In Progress stage, becomes a standalone contract and be visible on the "My Contracts" page. The In Progress stage will start after awarding the contract. The selected bidder will receive an Email and a message in his/her action box notifying that they were selected to be the contractor. <strong>For more information about the next stage click the <a href="?page=collaborative_mode_inprogress#content">In Progress stage</a>.</strong>
	</p>
</div>