<style>
	.checkmarkStyle{
		color:#1da29b;
		font-weight:bold;
	}
</style>
<h1>Overview</h1>
<p>
ContractComplete is designed to ease the burden of communication between all parties involved in a contract by making sure everyone is on the same page.  This begins before the tendering process, and continues all the way to project completion.  We are always adding more capabilities and welcome feedback on our product.  This article gives a brief overview of how ContractComplete works, and how it fits in to a typical project.
</p>
<ul>
	<li><a href="#roles">Roles and Permissions</a></li>
	<li><a href="#contracts">Projects & Contracts</a></li>
	<li><a href="#lifecycle">The Contract Life Cycle</a></li>
</ul>
<!----------------------------Mozhgan------------------------------------->
<h2 id="roles">Roles and Permissions</h2>
<p>
Users in ContractComplete are grouped into "companies". Users within a particular company can have different permissions and can perform different actions based on the selected permissions and their role in the contracts.
</p>

<p>
Users can be added through the My Company tab, on the User Configuration page by clicking the Add User button.
<br/>
<strong><span style="color:red;">&#9888;</span> Only the Administrator can add or remove the users. 
For more information about adding users and setting permissions please <a href="?page=user_configuration#content">click here.</a></strong>
</p>
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/add_user.png" data-lightbox="Add user - Select/Edit Permissions" data-title="Add user - Select/Edit Permissions">
					<img style="height:250px;" src="docs/images/add_user.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/add_user.png"></img>
				</a>
				<figcaption>
					<small>Add user - Select/Edit Permissions</small>
				</figcaption>
			</figure>
		</div>
			
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/permissions.png" data-lightbox="Different Permissions-Divisions" data-title="Users can have different Prmissions in different Divisions.">
					<img style="height:250px;" src="docs/images/permissions.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/permissions.png"></img>
				</a>
				<figcaption>
					<small>Users can have different Prmissions in different Divisions.</small>
				</figcaption>
			</figure>
		</div>
	</div>




<div class="tbl-wrap">
<table class="table table-hover">
	<thead>
		<tr style="text-align:center;">
			<th style="text-align:left;">Actions/Permissions</th>
			<th>Administrator</th>
			<th>Manager</th>
			<th>Coordinator</th>
			<th>Resource Viewer</th>
		</tr>
	</thead>
	<tbody>
		<tr style="text-align:center;">
			<td style="text-align:left;">View Contracts</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Create new Contracts and Projects</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Delete Contracts and Projects</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Invite Bidders to Bid on a Tender</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Invite Stakeholders to Contribute on a contract</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Update Items in a contract</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Upload Documents to a contract</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Delete Documents from a contract</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Update Bidding Instructions</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Start the Tendering Process</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Submit Bid for a Tender</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">View and Compare Submitted Bids</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Create a Progress Report</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Delete a Progress Report</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Propose a Change to a contract</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Create a Change Order</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Edit Vendors and Contacts</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Create Invoice</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Remove Bidders from a contract</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Remove Stakeholders from a contract</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Allow Bidders to change their bid</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Award a contract</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Approve a Change Order</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Reject a Change Order</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Add/delete users</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">View and update payment information</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		
		<tr style="text-align:center;">
			<td style="text-align:left;">Add/delete divisions</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		
			<tr style="text-align:center;">
			<td style="text-align:left;">Assign admin rights to other users</td>
			<td><span class="checkmarkStyle">&#10004;</span></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		
	</tbody>
</table>
</div>

<br/><br/>
 

<h3>Roles</h3>
<p>
On a given contract, a company can assume any of the following roles.  Each role comes with its own set of actions which can be performed. Here's a brief explanation of each role and some of their permitted actions.
</p>
<div class="tbl-wrap">
	<table rules="all" width="100%">
	<tr>
		<td>

			<ul>
				<li><strong>Developer:</strong></li>				
				The "developer" role belongs to the company who owns the project. ContractComplete allows the developer to take a highly involved role in a contract, or take a hands-off approach and delegate the majority of the work to a stakeholder.
			</ul>
			
			<ul>
				<li>Create a project</li>
				<li>Add a contract to an existing project (landscaping, paving, electrical, etc)</li>
				<li>Select stakeholders and bidders for a particular contract</li>
				<li>Design a tender form, upload drawings and documentation, manage the bidding process</li>
				<li>Select a contractor (a winning bid) from a list of bidders</li>
				<li>Propose change orders</li>
				<li>View the progress of an existing contract</li>
			</ul>				
		</td>
		
		<td  style="vertical-align:top;">
			<ul>
				<li><strong>Stakeholder</strong></li>
				The "stakeholder" role can belong to one or more companies assisting with a contract such as engineers or architects. Stakeholders are optional for a contract, and are picked by the developer. Stakeholders can perform many of the same actions that the developer can perform with the exception of a few 
				financially sensitive tasks, such as selecting a winning bid or approving a change order.
			</ul>
				<ul>
					<li>Select bidders for a particular contract</li>
					<li>Design a tender form, upload drawings and documentation, manage the bidding process</li>
					<li>Propose change orders</li>
					<li>View the progress of an existing contract</li>
				</ul>
		</td>
				
	</tr>
				
	<tr>
		<td>
			<ul>
				<li><strong>Bidder</strong></li>
				The "bidder" role belongs to all companies bidding on a particular contract. Bidders can only view a contract during the tendering process. After the tendering process ends, and a winner is selected, the losing bidders will no longer be able to view the contract, and the winning bidder assumes the role of the "contractor".
			</ul>
				<ul>
					<li>Fill in unit prices on a tender form</li>
					<li>View drawings and documents uploaded by the developer or a stakeholder</li>
					<li>Provide provisional (extra) item unit prices</li>
					<li>Upload any signed or unsigned documents required in the tendering process</li>
				</ul>
			
				
		</td>
				
		<td style="vertical-align:top;">
			<ul>
				<li><strong>Contractor</strong></li>
				The "contractor" role belongs to a single company; the company with the winning bid. After the tendering process, the contractor is provided with the required access to complete the project.
			</ul>
				<ul>
					<li>Propose change orders</li>
					<li>Update the progress for an existing contract</li>
					<li>View and upload drawings and other contract documents.</li>
					
				</ul>
			
		
		</td>
	</tr>
	
	</table>

</div>
</br></br>

<h2 id="contracts">Contracts</h2>
<p>
In general, there are two types of contracts in the ContractComplete.
	<ol>
		<li>Tender</li>
			<ul>
				<li>Regular Tender</li>
				<li>Administrator (Primary stakeholder) solo mode</li>
			</ul>
		<li>Awarded contracts</li>
			<ul>
				<li>Collaborative mode</li>
				<li>Contractor solo mode</li>
				<li>Administrator (Primary stakeholder) solo mode</li>
				
			</ul>
	</ol>
</p>
<p>
In Tenders, the Developer (maybe called as the Owner or the Primary Stakeholder) can award the contract to a bidder after the bidding process. In Tenders in the Post Tender stage the Primary Stakeholder has the option to start the contract as a solo mode. This usually happens when the contractor doesn't have a ContractComplete account.
Several features were added recently to make the tendering process easier, secure and more flexible:
	<ul>
		<li>Addendum Builder</li>
		<li>Q&A (possibility for the bidders to submit their questions and receive answers)</li>
		<li>Negotiation</li>
		<li>Allow Resubmission</li>
		<li>Manual Bid entry</li>
		<li>Reopen Tender</li>
		<li>Start work in Solo mode</li>
		<li>etc</li>
	</ul> 
</p>
<p>
The awarded contracts can be in Collaborative or Solo mode as well. This also usually happens when one of the parties doesn't have a ContractComplete account.
</p>
</br></br>


<h2 id="lifecycle">Contract Life Cycle</h2>
</br>
<div class="tbl-wrap">
<table class="table table-hover">
	<thead>
		<tr>
			<th  width=10%>Stage Name</th>
			<th style="text-align: left;">Overview</th>
		</tr>
	</thead>
	<tr>
		<td style="vertical-align: top;">Draft</td>
		<td>The developer may either pick stakeholders to design the contract, or start designing the contract on their own. When the contract is ready, the stakeholder or the developer can start the bidding process.</td>
	</tr>
	
	<tr>
		<td style="vertical-align: top;">Tendering</td>
		<td>The selected bidders receive a notification telling them that they've been selected to bid on a contract. They can now view the contract documents and enter in their unit prices.</td>
	</tr>
	
	<tr>
		<td style="vertical-align: top;">Post Tender</td>
		<td>The developer may view and compare the submitted bids to select a winner. Negotiation and Reopnening Tender features can be used in this stage.</td>
	</tr>
	
	<tr>
		<td style="vertical-align: top;">In Progress</td>
		<td>Work on the contract has started, and new actions can be performed. Change orders, progress reports and invoices become available.</td>
	</tr>

	<tr>
		<td style="vertical-align: top;">Completed</td>
		<td>All work has been completed on the contract, and no work remains to be done. The contract will be read-only unless it is re-opened by someone</td>
	</tr>
</table>

</br></br></br>

<table  class="table table-hover" border="0" rules="rows" style="text-align: left;"width= 100%; >
	<thead>
		<tr style="text-align:center;">
			<th style="text-align:left; width:150px;">Roles/Stage Name</th>
			<th>Draft</th>
			<th>Tendering</th>
			<th>Post Tender</th>
			<th>In Progress</th>
			<th>Completed</th>
		</tr>
	</thead>

	<tr style="vertical-align:top;">
		<td>Developer</td>
		<td>
			<ul>
				<li>Select stakeholders & bidders</li>
				<li>Configure deadline & commence the bidding process</li>
				<li>View/design the tender form and related documents</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Make a modification to a document, to the tender form, or change the deadline (bidders will receive a notification for all changes)</li>
				<li>Add additional bidders</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>View a comparison of all bids</li>
				<li>Request that a contractor modify their bid (can be used to correct errors)</li>
				<li>Pick a winning bid</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Propose a change to a contract</li>
				<li>Group one or more proposed changes into a change order for approval</li>
				<li>Approve or reject a change order created by someone else</li>
				<li>Upload and view documents</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Re-open a contract</li>
			</ul>
		</td>
	</tr>
	
	<tr style="vertical-align:top;">
		<td>Stakeholders</td>
		<td>
			<ul>
				<li>Configure deadline and commence the bidding process</li>
				<li>View/design the tender form and related documents</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Make a modification to a document, to the tender form, or change the deadline (bidders will receive a notification for all changes)</li>
				<li>Add additional bidders</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>View a comparison of all bids</li>
				<li>Request that a contractor modify their bid (can be used to correct errors)</li>
				<li>Pick a winning bid</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Propose a change to a contract</li>
				<li>Group one or more proposed changes into a change order for approval</li>
				<li>Approve or reject a change order created by someone else</li>
				<li>Upload/view documents</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Re-open a contract</li>
			</ul>
		</td>
	</tr>
	
	<tr style="vertical-align:top;">
		<td>Bidders</td>
		<td>
			<ul>
				<li>N/A (bidders cannot view the contract at this stage)</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>View or upload relevant documents</li>
				<li>Complete the tender form</li>
				<li>Submit their bid</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Modify their bid, only if the developer or a stakeholder has given them permission to do so</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>N/A</li>
			</ul>
				
		</td>
		<td>
			<ul>
				<li>N/A</li>
			</ul>
				
		</td>
		
	</tr>
	
	<tr style="vertical-align:top;">
		<td>Contractor</td>
		<td>
			<ul>
				<li>N/A</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>N/A</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>N/A</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Create a progress report to track completion of the contract</li>
				<li>Propose a change to a contract</li>
				<li>Provide unit pricing for items in a change proposed by the developer or a stakeholder</li>
				<li>Group one or more proposed changes into a change order for approval</li>
				<li>Approve or reject a change order created by someone else</li>
				<li>Upload and view documents</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>Re-open a contract</li>
			</ul>
		</td>
	</tr>

</table>


