<h1>Issuing Payment Certificates</h1>
<div class="important">
	This article is only applicable to contract stakeholders. Contractors may want to view <a href="?page=invoicing">invoicing</a>.
</div>
<p>
	When the contractor creates an invoice, the other stakeholders will receive an email notification informing them that the invoice is ready for approval.  At this stage, a payment certificate has already been created and just needs to be customized.
</p>
<figure style="max-width:600px">
	<img src="docs/images/pmt_crts.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/pmt_crts.png"></img>
	<figcaption>A simple payment certificate ready to be issued.</figcaption>
</figure>
<p>
The payment certificate will be accessible on the invoicing tab by clicking the corresponding link.  ContractComplete offers a number of customizations including the ability to append and reorder additional PDF documents.  Any configuration change you make will be reflected in the updated PDF.  Signing the payment certificate should be the last thing you do - making other document changes will automatically clear the signature and re-signing will be required.
</p>