<style>
.button {
	  background-color: #17a2b8;
	  border: none;
	  color: white;
	  text-align: center;
	  padding: 50px;
	  font-size: 20px;
	  margin: 10px 10px;
	  cursor: pointer;
	  border-radius: 50%;
	  width:200px;
	  height:200px;
  }
.headerColor{
		color: #909090;
		font-size: 16px;
	}
#postTenderStakeholder >  li  > .active, 
#postTenderBidder >  li  > .active {
		border-bottom:5px solid #146b75;
	}
#postTenderStakeholder >  li  > .active > span, 
#postTenderBidder >  li  > .active > span {
		color: #146b75;
		font-weight:bolder;
	}
 </style>

<h1>Post-Tender Stage</h1>
<p>
	<strong>Tenders have a finite deadline. When the Deadline passes the Post-Tender stage will start. This article covers the post tender stage from the perspective of both the Stakeholders and Bidders.</strong>
</p>

<br/>

<div  style="border:2px solid #146b75; border-radius:10px;padding:20px; background-color:#65d3df14;box-shadow: 0px 0px 15px #146b75;">
	<p>
		<strong><span style="color:red;">&#9888;</span></strong> In a Tender, stakeholders can allow the bidders to encrypt their bid. If the bidders have encrypted their bid, the entered password must be communicated to the primary stakeholder after tendering is completed in order to unlock their bid.
	</p>
	<hr style="border:1px solid #146b75;"></hr>
	<p>In the Post Tender stage:
		<ul>
			<li>
				The <strong style="color:red;">Stakeholders</strong> can see the bidders submissions, comparing them with their budgeted prices and values, negotiate with the bidders and award the contract. In case the chosen contractor doesn't have the ContractComplete account, the stakeholders can proceed to the next stage using the "Start Work in Solo Mode" button on the Overview page.
				</br>
				</br>
				The stakeholders have access to the features below:
				</br>
				</br>
				<ul>
					<li>
						<strong>Reopen Tender:</strong> By using this feature the Tendering stage will be displayed again for both stakeholders and bidders with a new deadline.
					</li>
					<li>
						<strong>Allow Resubmission:</strong> The stakeholders can allow one or more bidders to resubmit their bid within a new deadline. The bidders then will be able to resubmit their bid before the new deadline passes.
					</li>
					<li>
						<strong>Manual Bid Entry:</strong> The stakeholders can communicate with the bidders and manually enter the bidders' prices for the items in the Schedule of Prices and Provisional items page.
					</li>
					<li>
						<strong>Negotiate:</strong> The primary stakeholder can start to negotiate with one or more bidders using this feature in order to make a scope change to a contract before awarding it.
					</li>
				</ul>
			</li>
			<hr/>
			<li>
				The <strong style="color:red;">Bidders</strong> will no longer be able to make changes or submit bid. They can only view the pages and documents, use the export option on the Schedule of Prices and Provisional items, download documents and files.
				<br/>
				<ul>
					<li>
						The bidders will be able to submit or resubmit their bid if the stakeholders use the <strong>Reopen Tender</strong> or <strong>Allow Resubmission</strong> features.
					</li>
					<li>
						The bidders can communicate with the stakeholders so that the stakeholders can manually enter the Schedule of Prices and Provisional items prices for the bidders using the <strong>Manual Bid Entry</strong> feature.
					</li>
					<li>
						The bidders can negotiate with the stakeholders if the stakeholders use the <strong>Negotiate</strong> feature in the Post Tender stage.
					</li>
				</ul>
			</li>
		</ul>
	</p>
</div>

<br/>
<br/>
<br/>

<p><strong>
	When the Post Tender stage starts, the stakeholders and bidders will still have two different views. Click the provided buttons to see their views.
</strong></p>

<br/><br/>

<div class="row text-center">
	<div class="col-md-6 col-xs-12">
		<button id="doToggle1" isShow="false" class="button">Stakeholder</button>
	</div>
	<div class="col-md-6 col-xs-12">
		<button id="doToggle2" isShow="false"  class="button">Bidder</button>
	</div>
</div>

<br/>
<br/>
<br/>
<br/>

<div id="toggled1">
	<h3 style="display:inline-block; border:1px solid #146b75; padding:20px; margin:0; border-top-left-radius:5px; border-top-right-radius:5px; border-bottom:0; background-color:#146b75; color:white; width:350px; text-align:center; font-weight:normal;">
		Post Tender-Stakeholder's view
	</h3>
	<hr style="border:1px solid #146b75; margin-top:0;"/>
	<p>
		When the deadline passes, the stakeholders will receive an email and a message in their action box to be notified that the Tender has closed and they can review the bids.
	</p>
	<h3>Unlock Encrypted Bids</h3>
	<p>
		<strong><span style="color:red;">&#9888;</span></strong> In the Draft stage, you may have allowed the bidders to encrypt their bid. If one or more bidders have decided to encrypt their bid, you will see the 'Unlock Encrypted Bids' window after the deadline passes. The bidders must provide you the password or the bid receipt. You will be able to unlock their bid either by entering their password or uploading their bid receipt.
		<div class= "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/unlock_encrypted_bid.png" data-lightbox="Unlock Encrypted Bids Window" data-title="Unlock Encrypted Bids Window">
					<img style="height:400px;" src="docs/images/unlock_encrypted_bid.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/unlock_encrypted_bid.png"></img>
					</a>
					<figcaption>
						<small>Unlock Encrypted Bids Window</small>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-xs-12">
			</div>
		</div>
		<br/>
		In case you don't have the password or receipt yet, click the "Skip" button on the 'Unlock Encrypted Bids' window. You can unlock their bid later by clicking the "Lock" icon on the Overview page.
		<br/>
		So, make sure to ask the bidders to provide you their password which they used to encrypt their bid or the tender bid receipt. Otherwise, you won't be able to see their submissions in the Post Tender stage.
		<br/><br/>
		<div class= "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/unlock_encrypted_bid_overview_page.png" data-lightbox="Unlock Encrypted Bids-Overview Page" data-title="Unlock Encrypted Bids-Overview Page">
					<img style="height:250px;" src="docs/images/unlock_encrypted_bid_overview_page.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/unlock_encrypted_bid_overview_page.png"></img>
					</a>
					<figcaption>
						<small>Unlock Encrypted Bids-Overview Page</small>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/unlock_encrypted_bid_lock_icon.png" data-lightbox="Unlock Encrypted Bids-Lock Icon" data-title="Unlock Encrypted Bids-Lock Icon">
					<img style="height:250px;" src="docs/images/unlock_encrypted_bid_lock_icon.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/unlock_encrypted_bid_lock_icon.png"></img>
					</a>
					<figcaption>
						<small>Unlock Encrypted Bids-Lock Icon</small>
					</figcaption>
				</figure>
			</div>
		</div>
	</p>
	
	<br/>
	<br/>
	
	<p>
		<strong>When the deadline passes, the Tendering stage will finish and the Post Tender stage will start. The stakeholders will see the following pages:</strong>
	</p>
	
	<br/>
	
	<ul class="nav nav-tabs" id="postTenderStakeholder" role="tablist" style="border-bottom:2px solid; border-color:#909090;">
	  <li class="nav-item">
		<a class="nav-link active" id="postTenderStakeholderOverview-tab" data-toggle="tab" href="#postTenderStakeholderOverview" role="tab" aria-controls="postTenderStakeholderOverview" aria-selected="true"><span class="headerColor"><i class="fa fa-home" aria-hidden="true"></i> Overview</span></a>
	  </li>
	  
	  <li class="nav-item">
		<a class="nav-link" id="postTenderStakeholderSubmissions-tab" data-toggle="tab" href="#postTenderStakeholderSubmissions" role="tab" aria-controls="postTenderStakeholderSubmissions" aria-selected="false"><span class="headerColor"><i class="fa fa-list-ol" aria-hidden="true"></i> Submissions</span></a>
	  </li>
	  
	  <li class="nav-item">
		<a class="nav-link" id="postTenderStakeholderProvisional-tab" data-toggle="tab" href="#postTenderStakeholderProvisional" role="tab" aria-controls="postTenderStakeholderProvisional" aria-selected="false"><span class="headerColor"><i class="fa fa-list" aria-hidden="true"></i> Provisional Items</span></a>
	   </li>
		
	   <li class="nav-item">
		<a class="nav-link" id="postTenderStakeholderQualification-tab" data-toggle="tab" href="#postTenderStakeholderQualification" role="tab" aria-controls="postTenderStakeholderQualification" aria-selected="false"><span class="headerColor"><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i> Qualification Questions</span></a>
	   </li>
		
		<li class="nav-item">
		<a class="nav-link" id="postTenderStakeholderDocuments-tab" data-toggle="tab" href="#postTenderStakeholderDocuments" role="tab" aria-controls="postTenderStakeholderDocuments" aria-selected="false"><span class="headerColor"><i class="fa fa-folder" aria-hidden="true"></i> Documents</span></a>
	    </li>
	</ul>
	<div class="tab-content" id="postTenderStakeholderContent">
		<div class="tab-pane fade show active" id="postTenderStakeholderOverview" role="tabpanel" aria-labelledby="postTenderStakeholderOverview-tab">
			<br/>
			<h2>Overview</h2>
			<Strong>On the overview page 8 sections are provided:</strong>
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-2 col-xs-12">
					<ul>
						<li><a href="#negotiations">Negotiations</a></li>
						<li><a href="#contract_status">Contract Status</a></li>
						<li><a href="#summary">Summary</a></li>
						<li><a href="#configurations">Configurations</a></li>
						<li><a href="#stakeholders_bidders">Stakeholders & Bidders</a></li>
						<li><a href="#questions">Questions</a></li>
						<li><a href="#followers">Followers</a></li>
						<li><a href="#news_feed">News Feed</a></li>
					</ul>
				</div>

				<div class="col-md-10 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_stakeholder_overview_sections.png" data-lightbox="Post Tender-Stakeholder's view-Overview Page Sections" data-title="Post Tender-Stakeholder's view-Overview Page Sections">
						<img style="height:250px; border:1px solid black;" src="docs/images/post_tender_stakeholder_overview_sections.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_overview_sections.png"></img>
					</a>
						<figcaption>
							<small>Post Tender-Stakeholder's view-Overview Page Sections</small>
						</figcaption>
					</figure>
				</div>			
			</div>
			
			<br/>
			<br/>
			
			<ul>
				<div style="border:2px solid #146b75; border-radius:10px;padding:25px; background-color:#efefef; box-shadow: 0px 0px 15px #146b75;">
					<li><b><h5 id="negotiations">Negotiations<h5></b></li>
					<p>
						In this section, the stakeholders will see the negotiations. 
						<br/>
						Only the <strong>Primary stakeholder</strong> can:
							<ul>
								<li>
									Open negotiation with one or multiple bidders by clicking the options icon <span style="background-color:#f5f5f5;font-size:15px; border:1px solid #777777; border-radius:2px;"><i style=" padding:5px;" class="fa fa-ellipsis-h" aria-hidden="true"></i></span> beside their desired bidders and selecting the Negotiate. This option is located on the Stakeholders & Bidders section on the Overview page.
								</li>
								<li>
									Delete the negotiations by clicking the trash icon <i class="fa fa-trash" style="color:#ff0000;"></i>, as long as the negotiation is not accepted and awarded.
								</li>
								<li>
									Click the displayed negotiations, open them, make changes, send revisions, accept and award the negotiations.
								</li>
							</ul>
							<br/>
							The other stakeholders can only view and make changes in the Negotiation. <strong>For more information please click the <a href="?page=negotiations#content">Negotiation</a></strong>.
							<br/>
							<br/>
							<div class="row">
								<div class="col-md-6 col-xs-12">
									<figure style="width:100%; text-align: center;">
									<a href="docs/images/open_negotiate.png" data-lightbox="Post Tender-Stakeholder's view-Open Negotiate" data-title="Post Tender-Stakeholder's view-Open Negotiate">
										<img style="height:400px;" src="docs/images/open_negotiate.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/open_negotiate.png"></img>
									</a>
										<figcaption>
											<small>Post Tender-Stakeholder's view-Open Negotiate</small>
										</figcaption>
									</figure>
								</div>
								<div class="col-md-6 col-xs-12">
									<figure style="width:100%; text-align: center;">
									<a href="docs/images/negotiations.png" data-lightbox="Post Tender-Stakeholder's view-Negotiations Sections" data-title="Post Tender-Stakeholder's view-Negotiations Sections">
										<img style="height:250px;" src="docs/images/negotiations.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/negotiations.png"></img>
									</a>
										<figcaption>
											<small>Post Tender-Stakeholder's view-Negotiations Sections</small>
										</figcaption>
									</figure>
								</div>			
							</div>
					</p>
				</div>
							
				<br/>
				<br/>
							
				<li><b><h5 id="contract_status">Contract Status<h5></b></li>
				<p>
					The "Start Work in Solo Mode" button is located in this section. In case your chosen contractor is not a ContractComplete user you can click this button to proceed to the next stage. By clicking this button the contract will go to the In Progress stage and become an Awarded Administrator solo contract. The In Progress contracts can be found in the "My Contracts" page. You can always add the contractor later if they decide to create a ContractComplete account.
					For more information about what happens after clicking this button click the <strong><a href="?page=awarded_administrator_solo#content">Awarded Administrator solo contract</a></strong>.
				</p>
				
				<br/>
				
				<div class= "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/post_tender_stakeholder_contract_status.png" data-lightbox="Post Tender-Stakeholder's view-Contract Status" data-title="Post Tender-Stakeholder's view-Contract Status">
							<img style="height:200px;" src="docs/images/post_tender_stakeholder_contract_status.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_contract_status.png"></img>
							</a>
							<figcaption>
								<small>Post Tender-Stakeholder's view-Contract Status</small>
							</figcaption>
						</figure>
					</div>
					<div class="col-md-6 col-xs-12">
					</div>
				</div>
				
				<br/>
				
				<li><b><h5 id="summary">Summary<h5></b></li>
				<p>
					In the Summary section, Contract Information can be edited. Clicking the "Edit Contract Info" button will open the 'Edit Contract' window. Simply make changes and click the save button.
					
					<br/>
					
					Use the Drop Down menus for changing the Time Zone and Division if needed. Changing the Division will not change the currency in the Post Tender stage.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/post_tender_stakeholder_overview_summary.png" data-lightbox="Post Tender-Stakeholder's view-Overview page-Summary" data-title="Post Tender-Stakeholder's view-Overview page-Summary">
						<img style="height:450px;" src="docs/images/post_tender_stakeholder_overview_summary.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_overview_summary.png"></img>
						</a>
							<figcaption>
								<small>Post Tender-Stakeholder's view-Overview page-Summary</small>
							</figcaption>
						</figure>
					</div>
		
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/edit_contract_window.png" data-lightbox="Edit Contract window" data-title="Edit Contract window">
						<img style="height:300px;" src="docs/images/edit_contract_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_contract_window.png"></img>
						</a>
							<figcaption>
								<small>Edit Contract window</small>
							</figcaption>
						</figure>
					</div>
				</div>

				<br/><br/>
				
				<p>
					Add or edit Location using the Pick button. Then in the 'Select a Location' window search for the address using the Map or the search field, then click the Accept button.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/location.png" data-lightbox="Location" data-title="Location">
						<img style="height:60px;" src="docs/images/location.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/location.png"></img>
						</a>
							<figcaption>
								<small>Location</small>
							</figcaption>
						</figure>
					</div>

			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/select_location.png" data-lightbox="Select a Location" data-title="Select a Location">
						<img style="height:400px;" src="docs/images/select_location.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/select_location.png"></img>
						</a>
							<figcaption>
								<small>Select a Location window</small>
							</figcaption>
						</figure>
					</div>
				</div>
				
				<br/>
				<br/>
				
				<div style="border:2px solid #146b75; border-radius:10px;padding:20px; background-color:#efefef; box-shadow: 0px 0px 15px #146b75;">
					<strong style="color:red; font-size:20px;">Reopen Tender:</strong>
					<br/>
					<br/>
					<p>
						
						The "Reopen Tender" button is located in the Summary section on the Overview page. Reopening Tender is useful for issuing a post-tender addendum or making other changes to the scope of the work.
					</p>
					
					<p>
						To Reopen the Tender, first make sure you do not have open negotiations in the Negotiations section on the Overview page. If you still have an open negotiation delete it before reopening the tender. Now click the "Reopen Tender" button. On the 'Re-open Bidding' window set date and time, Check in the Checkbox and click the "Accept" button. By reopening the tender, the tendering stage will be back and the bidders can submit their bid within the new deadline. The bidders and stakeholders will receive an email and a message in their action box notifying them of the new submission deadline. For more information about the tendering stage click the <strong><a href="?page=tendering#content">Tendering</a></strong>.
					</p>
					
					<br/>
					
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/post_tender_stakeholder_overview_summary.png" data-lightbox="Post Tender-Stakeholder's view-Overview page-Summary" data-title="Post Tender-Stakeholder's view-Overview page-Summary">
							<img style="height:450px;" src="docs/images/post_tender_stakeholder_overview_summary.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_overview_summary.png"></img>
							</a>
								<figcaption>
									<small>Post Tender-Stakeholder's view-Overview page-Summary</small>
								</figcaption>
							</figure>
						</div>
			
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/post_tender_stakeholder_reopen_bidding_window.png" data-lightbox="Post Tender-Stakeholder's view-Reopen Tender" data-title="Post Tender-Stakeholder's view-Reopen Tender">
							<img style="height:300px;" src="docs/images/post_tender_stakeholder_reopen_bidding_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_reopen_bidding_window.png"></img>
							</a>
								<figcaption>
									<small>Post Tender-Stakeholder's view-Reopen Tender</small>
								</figcaption>
							</figure>
						</div>
					</div>
					
					<br/>
					
					<p>
						<strong>Note:</strong> If you have allowed the incomplete bids in the Draft stage before, the bidders will be able to submit incomplete bids. If you make changes after the bidders have submitted their bid, they are not required to resubmit and therefore an incomplete bid is possible.
					</p>
					<p>
						<strong>
						The bidders won't be able to make changes or submit their bid after the deadline is passed. When the deadline passes, the Tender will go to the Post Tender stage again.
						</strong>
					</p>
				</div>
				
				<br/>
				<br/>
				
				<li><b><h5 id="configurations">Configurations<h5></b></li>
				<p>
					The Configurations section options will affect the Progress Reports, Invoices, Holdback Invoices, Payment Certificates and Holdback Payment Certificates in the In Progress stage. This section can be edited in the other stages as well.
				</p>
				<p>
				<strong>Payment Terms:</strong> The Payment Terms can be set to help monitor the due dates displayed in the Invoices page located at the My Company tab. To set the Payment Terms, click the Edit button, then choose one of the options, enter a number and click the Save button.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations.png" data-lightbox="Configurations" data-title="Configurations">
						<img style="height:250px;" src="docs/images/configurations.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations.png"></img>
						</a>
							<figcaption>
								<small>Configurations</small>
							</figcaption>
						</figure>
					</div>
			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_payment_terms.png" data-lightbox="Configurations_Payment Terms" data-title="Configurations_Payment Terms">
						<img style="height:250px;" src="docs/images/configurations_payment_terms.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_payment_terms.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Payment Terms</small>
							</figcaption>
						</figure>
					</div>
				</div>

				<br/>
				<p>
				<strong>Overbilling:</strong> Overbilling option will allow the contractor in the In Progress stage to bill for the unit quantities greater than the original contract quantities. Once the contractor submits their first overage, you won't be able to uncheck the Overbilling.
				To allow the Overbilling checkin the Checkbox, then click the "Yes" button in the 'Allow Overbilling' window.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_overbilling_checkbox.png" data-lightbox="Configurations Overbilling Checkbox" data-title="Configurations_Overbilling Checkbox">
						<img style="height:250px;" src="docs/images/configurations_overbilling_checkbox.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_overbilling_checkbox.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Overbilling Checkbox</small>
							</figcaption>
						</figure>
					</div>
			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/allow_overbilling_window.png" data-lightbox="Configurations_Allow Overbilling window" data-title="Configurations_Allow Overbilling window">
						<img style="height:200px;" src="docs/images/allow_overbilling_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/allow_overbilling_window.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Allow Overbilling window</small>
							</figcaption>
						</figure>
					</div>
				</div>
				<br/>
				<p>
				<strong>Holdback defaults:</strong> Holdback defaults can be added using the "Add Default Holdback" button. Click the "Add Default Holdback" button, enter a name and amount (the amount will be in percentage). If you want to set the holdback as a default for all the new Tenders and Contracts checkin the Checkbox then click the "Plus" button. The holdback will be added at the bottom of the 'Holdback Amounts' window and the Overview page. If you want to set the holdback for only this contract make sure the checkbox is unchecked.
				<br/>
				To add a holdback from the bottom list click the green plus sign located on the left side of the holdback.
				Clicking the "Red Trash" icon will delete the Holdback default from the page.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_holdback.png" data-lightbox="Configurations Holdback Defaults" data-title="Configurations_Holdback Defaults">
						<img style="height:250px;" src="docs/images/configurations_holdback.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_holdback.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Holdback Defaults</small>
							</figcaption>
						</figure>
					</div>
			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_holdback_amounts.png" data-lightbox="Configurations_Holdback Amounts window" data-title="Configurations_Holdback Amounts window">
						<img style="height:250px;" src="docs/images/configurations_holdback_amounts.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_holdback_amounts.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Holdback Amounts window</small>
							</figcaption>
						</figure>
					</div>
				</div>
				
				<br/>
				
				<li><b><h5 id="stakeholders_bidders">Stakeholders & Bidders<h5></b></li>
				<p>
					In this section Additional Stakeholders and Bidders can still be added in the Post Tender stage. The added bidders will see the Post Tender stage right away and will receive an email and a message in their action box inviting them to bid, but they won't be able to submit their bid until you allow them by clicking the <strong>Allow Resubmission</strong> option.
				</p>

				<p>
					<strong>Additional Stakeholder:</strong>
					You can add as many stakeholders as you want. The Additional stakeholders can be added with two different permissions:
					<ul>
						<li>Selecting the Read-Only Permission will only allow the Additional Stakeholder to view the Tender. The Additional stakeholder will only be able to do some restricted actions.</li>
						<li>Selecting the other option will allow the Additional Stakeholder to edit and do many actions similar to the Primary Stakeholder.</li>
					</ul>
					<br/>

					For adding a stakeholder, click the "Add Stakeholder" button. On the 'Stakeholder Selection' window select one of the companies from the list. If the company you are looking for is not on the list, enter the company name or an Email address in the top field to find it. Using the Filters on the left side can be helpful to find the company faster.
					<br/>
					<br/>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/post_tender_stakeholder_stakeholder_bidder_section.png" data-lightbox="Post Tender-Stakeholder's View-Additional Stakeholder & Bidders Section" data-title="Post Tender-Stakeholder's View-Additional Stakeholder & Bidders Section">
							<img style="height:400px;" src="docs/images/post_tender_stakeholder_stakeholder_bidder_section.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_stakeholder_bidder_section.png"></img>
							</a>
								<figcaption>
									<small>Post Tender-Stakeholder's View-Additional Stakeholder & Bidders Section</small>
								</figcaption>
							</figure>
						</div>
				
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/stakeholder_selection_window.png" data-lightbox="Stakeholder Selection window" data-title="Stakeholder Selection window">
							<img style="height:250px;width:350px" src="docs/images/stakeholder_selection_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/stakeholder_selection_window.png"></img>
							</a>
								<figcaption>
									<small>Stakeholder Selection window</small>
								</figcaption>
							</figure>
						</div>
					</div>
					
					<br/>
					
					In case the company you are looking for doesn't have a ContractComplete account, use the "Invite New Company" button. On the 'Invite a Vendor' window you will be able to send an invitation for an employee of your favorite company. Fill the required fields then click the "Send" button. If you want to send the invitation for several employees of a single company use the "Add" button located on the top right side of the window.
					
					<br/>
					<br/>
					
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/stakeholder_invite_new_company.png" data-lightbox="Additional Stakeholder Invite" data-title="Additional Stakeholder Invite">
							<img style="height:250px; width:350px;" src="docs/images/stakeholder_invite_new_company.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/stakeholder_invite_new_company.png"></img>
							</a>
								<figcaption>
									<small>Additional Stakeholder Invite</small>
								</figcaption>
							</figure>
						</div>
				
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/invite_vendor.png" data-lightbox="Invite Vendor Window" data-title="Invite Vendor Window">
							<img style="height:250px;" src="docs/images/invite_vendor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/invite_vendor.png"></img>
							</a>
								<figcaption>
									<small>Invite Vendor Window</small>
								</figcaption>
							</figure>
						</div>
					</div>
					<br/>
					After Selecting the company choose one of the two provided options on the 'Consultant Status' window to give the company the required permission.(Read-Only or Edit)
					<br/>
					Click the Save button to proceed. The Additional stakeholder will be added on the page and he/she will receive an email inviting them to collaborate on the Tender. You can add as many stakeholders as you want. Clicking the red trash icon will delete the stakeholder from the Overview page.
					<br/>
					<br/>
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/consultant_status_window.png" data-lightbox="Additional Stakeholder Permission" data-title="Additional Stakeholder Permission">
										<img style="height:200px;" src="docs/images/consultant_status_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/consultant_status_window.png"></img>
									</a>
								<figcaption>
									<small>Additional Stakeholder Permission</small>
								</figcaption>
								</figure>
							</div>
							
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
								<a href="docs/images/post_tender_stakeholder_added_stakeholder.png" data-lightbox="Post Tender-Additional Stakeholder" data-title="Post Tender-Additional Stakeholder">
								<img style="height:400px;" src="docs/images/post_tender_stakeholder_added_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_added_stakeholder.png"></img>
								</a>
									<figcaption>
										<small>Post Tender-Additional Stakeholder is added.</small>
									</figcaption>
								</figure>
							</div>
						</div>
				</p>

				<br/>
				
				<p>	
					<strong>Bidder:</strong> To add a bidder click the "Add Bidder" button. Unlike the Stakeholder Selection window, on the 'Company Selection' Window you are able to select several bidders at the same time before clicking the save button. Use the Filters or the search box to find the companies faster.
					<br/>
					<br/>
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/post_tender_stakeholder_add_bidder.png" data-lightbox="Post Tender-Stakeholder's View-Add Bidder" data-title="Post Tender-Stakeholder's View-Add Bidder">
										<img style="height:250px;" src="docs/images/post_tender_stakeholder_add_bidder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_add_bidder.png"></img>
									</a>
								<figcaption>
									<small>Post Tender-Stakeholder's View-Add Bidder</small>
								</figcaption>
								</figure>
							</div>
							
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
								<a href="docs/images/post_tender_stakeholder_company_selection.png" data-lightbox="Post Tender-Stakeholder's View-Company Selection Window" data-title="Post Tender-Stakeholder's View-Company Selection Window">
								<img style="height:250px;" src="docs/images/post_tender_stakeholder_company_selection.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_company_selection.png"></img>
								</a>
									<figcaption>
										<small>Post Tender-Stakeholder's View-Company Selection Window</small>
									</figcaption>
								</figure>
							</div>
						</div>
						
						<br/>
						
					In case the company you are looking for doesn't have a ContractComplete account, use the "Invite New Company" button. On the 'Invite a Vendor' window you will be able to send an invitation for an employee of your favorite company. Fill the required fields then click the "Send" button. If you want to send the invitation for several employees of a single company use the "Add" button located on the top right side of the window.
					<br/>
					<br/>
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/post_tender_stakeholder_invite_bidder.png" data-lightbox="Post Tender-Stakeholder's View-Add Bidder-New Company" data-title="Post Tender-Stakeholder's View-Add Bidder-New Company">
										<img style="height:250px;" src="docs/images/post_tender_stakeholder_invite_bidder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_invite_bidder.png"></img>
									</a>
								<figcaption>
									<small>Post Tender-Stakeholder's View-Add Bidder-New Company</small>
								</figcaption>
								</figure>
							</div>
							
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
								<a href="docs/images/invite_vendor.png" data-lightbox="Invite Vendor Window" data-title="Invite Vendor Window">
								<img style="height:250px;" src="docs/images/invite_vendor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/invite_vendor.png"></img>
								</a>
									<figcaption>
										<small>Invite Vendor Window</small>
									</figcaption>
								</figure>
							</div>
						</div>
						
					<br/>
					<br/>
						
					The selected and invited companies will be added on the right side of the 'Company Selection' Window, clicking the save button will add the bidders on the Overview page. The added bidders will see the Post Tender stage right away and will receive an email and a message in their action box inviting them to bid, <strong>but they won't be able to submit their bid until you allow them by clicking the <strong style="color:red;">Allow Resubmission</strong> option</strong>.
				</p>
				
				<br/>
				<br/>
				
				<div  style="border:2px solid #146b75; border-radius:10px;padding:20px; background-color:#efefef;box-shadow: 0px 0px 15px #146b75;">
					<strong style="color:red; font-size:20px;">Bidders section's options:</strong>
					
					<br/>
					<br/>
				<p>
					The bidders may have:
						<ul>
							<li>Submitted complete bids</li>
							<li>Submitted incomplete bids</li>
							<li>No submissions</li>
						</ul>
				</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/post_tender_stakeholder_bidder_submissions_status.png" data-lightbox="Bidders' Submissions Status" data-title="Bidders' Submissions Status">
									<img style="height:300px;" src="docs/images/post_tender_stakeholder_bidder_submissions_status.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_bidder_submissions_status.png"></img>
								</a>
								<figcaption>
									<small>Post Tender-Stakeholder's View-Bidders' Submissions Status</small>
								</figcaption>
							</figure>
						</div>

						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/post_tender_stakeholder_options.png" data-lightbox="Post Tender-Stakeholder's View-Options" data-title="Post Tender-Stakeholder's View-Options">
									<img style="height:300px;" src="docs/images/post_tender_stakeholder_options.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_options.png"></img>
								</a>
								<figcaption>
									<small>Post Tender-Stakeholder's View-Options</small>
								</figcaption>
							</figure>
						</div>
					</div>
					
					<br/>
					<br/>
					
					<p>
						In the Post Tender stage, you will see the options icon <span style="background-color:#f5f5f5;font-size:15px; border:1px solid #777777; border-radius:2px;"><i style=" padding:5px;" class="fa fa-ellipsis-h" aria-hidden="true"></i></span> beside the bidders. The options may vary depends on the bidders' submissions status. Each option is designed to fulfill a different purpose. By clicking the options <span style="background-color:#f5f5f5;font-size:15px; border:1px solid #777777; border-radius:2px;"><i style=" padding:5px;" class="fa fa-ellipsis-h" aria-hidden="true"></i></span> you will see the features below. Click on each button for more information.
					</p>
					
					
					<a style="background-color:#17a2b8;width:240px;height:55px;text-align:left;color:white;font-size:20px;border-radius:5px;padding:15px 0 0 12px; display:block;cursor:pointer;" id="negotiate">
						<i class="fa fa-balance-scale" aria-hidden="true"></i> Negotiate
					</a>
					
					<div style="display:none; background-color:#ffffff; padding:20px;border-radius:5px; margin-top:10px;" id="negotiate_text">
						<p>
							<strong>You may want to make a scope change to a contract before awarding it.</strong> The Negotiate feature will help you to make any of the following changes:
								<ul>
									<li>Add or remove the contract items (Schedule of Prices)</li>
									<li>Add or remove provisional items</li>
									<li>Change pricing, descriptions, item names, or quantities</li>
									<li>Add or remove documents (although this can be accomplished more easily after the contract has been awarded)</li>
									<li>Split the contract into two or more smaller contracts and award these to multiple contractors.</li>
								</ul>		
						</p>
						
						<p>
							For more information please click the <strong><a href="?page=negotiations#content">Negotiations</a></strong>.
						</p>
					
					</div>
					
					<br/>
					<hr/>
					<br/>
					
					<a style="background-color:#17a2b8;width:240px;height:55px;text-align:left;color:white;font-size:20px;border-radius:5px;padding:15px 0 0 12px; display:block;cursor:pointer;" id="allowResubmission">
						<i class="fa fa-reply" aria-hidden="true"></i> Allow Resubmission
					</a>
					
					<div style="display:none; background-color:#ffffff; padding:20px;border-radius:5px; margin-top:10px;" id="allowResubmission_text">
						<p>
							You can use the Allow Resubmission feature in the cases below:
								<ul>
									<li>You may want a bidder to correct the submission's errors & omissions</li>
									<li>
										The bidder may have forgotten to submit their bid before the deadline and you want to give them a new deadline so that they can submit their bid.
									</li>
									<li>
										You may want to get a last minute quote from a contractor who wasn't part of the original bidding process.
									</li>
									<li>You may have added a new bidder in the Post Tender stage.</li>
									<li>Or other cases.</li>
								</ul>		
						</p>
						
						<p>
							Upon reviewing bidders' submissions in the Post Tender stage, you may notice that one has made a mistake or has accidentally omitted something. Or alternatively, they may have forgotten to submit their bid. Or perhaps you wish to get a last minute quote from a contractor who wasn't part of the original bidding process. All of these scenarios can be addressed through the "Allow Resubmission" feature.
							<br/>
							<br/>
							Therefore, after a tender closes, any bid can be changed (or submitted for the first time) if you request it. By clicking the Allow Resubmission option you will give the bidder one-time authority to change their bid and resubmit within a new deadline. The bidder will be notified by email and a message in his/her action box when you make this request.
						</p>
						
						<p>
							For more information please click the <strong><a href="?page=allow_resubmission#content">Allow Resubmission</a></strong>.
						</p>
						
					</div>
					
					<br/>
					<hr/>
					<br/>
					
					<a style="background-color:#17a2b8;width:240px;height:55px;text-align:left;color:white;font-size:20px;border-radius:5px;padding:15px 0 0 12px; display:block;cursor:pointer;" id="manualBidEntry">
						<i class="fa fa-balance-scale" aria-hidden="true"></i> Manual Bid Entry
					</a>
					
					<div style="display:none; background-color:#ffffff; padding:20px;border-radius:5px; margin-top:10px;" id="manualBidEntry_text">
						<p>
							You can manually enter items' unit prices in the Submissions page and Provisional Items page for the bidder using the Manual Bid Entry feature. Sometimes Bidders may have missed the deadline, and may want to send the items' unit prices directly to the stakeholders. In this case and similar cases, you can use the manual bid entry to better compare the bidders' submissions on the Submissions and Provisional items pages.
						</p>
						<p>
							Click the options icon <span style="background-color:#f5f5f5;font-size:15px; border:1px solid #777777; border-radius:2px;"><i style=" padding:5px;" class="fa fa-ellipsis-h" aria-hidden="true"></i></span> beside the bidder then click the Manual Bid Entry option. Now on the Submissions page and Provisional Items page click in the cells displaying the pencil icon <i style="color:red;font-size:20px;" class="fa fa-pencil" aria-hidden="true"></i>. Enter unit price for the item in the 'Placeholder Price' window and click the "Save"/"Save & Next" button. You can enter all the items' unit prices or just enter some of them.
						</p>
						
						<br/>
						
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/post_tender_stakeholder_manualbidentry01.png" data-lightbox="Post Tender-Stakeholder's View-Manual Bid Entry-Overview page" data-title="Post Tender-Stakeholder's View-Manual Bid Entry-Overview page">
										<img style="height:250px;" src="docs/images/post_tender_stakeholder_manualbidentry01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_manualbidentry01.png"></img>
									</a>
									<figcaption>
										<small>Post Tender-Stakeholder's View-Manual Bid Entry-Overview page</small>
									</figcaption>
								</figure>
							</div>

							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/post_tender_stakeholder_manualbidentry02.png" data-lightbox="Post Tender-Stakeholder's View-Manual Bid Entry-Placeholder Price Window" data-title="Post Tender-Stakeholder's View-Manual Bid Entry-Placeholder Price Window">
										<img style="height:250px;" src="docs/images/post_tender_stakeholder_manualbidentry02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_manualbidentry02.png"></img>
									</a>
									<figcaption>
										<small>Post Tender-Stakeholder's View-Manual Bid Entry-Placeholder Price Window</small>
									</figcaption>
								</figure>
							</div>
						</div>
						
						<br/>
						<br/>
						
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/post_tender_stakeholder_manualbidentry_submissions.png" data-lightbox="Post Tender-Stakeholder's View-Manual Bid Entry-Submissions page" data-title="Post Tender-Stakeholder's View-Manual Bid Entry-Submissions page">
										<img style="height:250px;" src="docs/images/post_tender_stakeholder_manualbidentry_submissions.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_manualbidentry_submissions.png"></img>
									</a>
									<figcaption>
										<small>Post Tender-Stakeholder's View-Manual Bid Entry-Submissions page</small>
									</figcaption>
								</figure>
							</div>

							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
									<a href="docs/images/post_tender_stakeholder_manualbidentry_provisional.png" data-lightbox="Post Tender-Stakeholder's View-Manual Bid Entry-Provisional Items page" data-title="Post Tender-Stakeholder's View-Manual Bid Entry-Provisional Items page">
										<img style="height:250px;" src="docs/images/post_tender_stakeholder_manualbidentry_provisional.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_manualbidentry_provisional.png"></img>
									</a>
									<figcaption>
										<small>Post Tender-Stakeholder's View-Manual Bid Entry-Provisional Items page</small>
									</figcaption>
								</figure>
							</div>
						</div>
					</div>
					
					<br/>
					<br/>
					<br/>
					
					<h2>Award Contract button</h2>
					<p>
						In the Post Tender stage, you will also see the "Award Contract" button beside the bidders who have submitted a complete Bid. If you have decided to select one of them to be the contractor, just click the "Award Contract" button located beside your desired bidder. By clicking this button the chosen bidder will become the contractor and will be notified by an email and a message in his/her action box, the In Progress stage will start and the contract will be visible on the "My Contracts" page. <strong>For more information about the next stage click the <a href="?page=collaborative_mode_inprogress#content">In Progress stage</a>.</strong>
					</p>
					
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/post_tender_stakeholder_awardcontract_button.png" data-lightbox="Post Tender-Stakeholder's View-Award Contract Button" data-title="Post Tender-Stakeholder's View-Award Contract Button">
									<img style="height:400px;" src="docs/images/post_tender_stakeholder_awardcontract_button.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_awardcontract_button.png"></img>
								</a>
								<figcaption>
									<small>Post Tender-Stakeholder's View-Award Contract Button</small>
								</figcaption>
							</figure>
						</div>

						<div class="col-md-6 col-xs-12">
						</div>
					</div>
				
				</div>
				
				<br/>
				<br/>
				
				<li><b><h5 id="questions">Questions<h5></b></li>
				<p>
					In this section you can see the bidders' questions and the stakeholders' provided answers which were added on the Overview page in the Tendering stage. In the Post Tender stage, the stakeholders and the bidders will no longer be able to make any changes in this section.
				</p>
				<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_questions.png" data-lightbox="Post Tender-Stakeholder's View-Questions section" data-title="Post Tender-Stakeholder's View-Questions section">
							<img style="height:220px;" src="docs/images/tendering_questions.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_questions.png"></img>
							</a>
								<figcaption>
									<small>Post Tender-Stakeholder's View-Questions section</small>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-6 col-xs-12">
						</div>
				</div>
				
				<li><b><h5 id="followers">Followers<h5></b></li>
				<p>
					The users listed on this section will receive notifications and alerts for this specific Contract on their Action Box and personal email. Each Company's Master Administrator will be added on this section by default.
					<br/>
					Edit the followers by clicking the Edit Followers button. On the 'Edit Contract Followers' Window add new watchers or delete the current watchers and add new ones.
					Adding stakeholders and bidders in the Post Tender stage will automatically add the companies and their Master Admin in the Followers section.
				</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/post_tender_stakeholder_followers.png" data-lightbox="Post Tender-Stakeholder's view-Followers" data-title="Post Tender-Stakeholder's view-Followers">
									<img style="height:200px;" src="docs/images/post_tender_stakeholder_followers.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_followers.png"></img>
								</a>
							<figcaption>
								<small>Post Tender-Stakeholder's view-Followers</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/edit_followers.png" data-lightbox="Edit Followers" data-title="Edit Followers">
							<img style="height:250px;" src="docs/images/edit_followers.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_followers.png"></img>
							</a>
								<figcaption>
									<small>Edit Followers</small>
								</figcaption>
							</figure>
						</div>
					</div>
				
				<li><b><h5 id="news_feed">News Feed<h5></b></li>
				<p>
					Important changes, actions and updates made on a contract (manually or automatically), will be displayed on the News Feed.
					<br/>
					Notes can be added on the News Feed section as well by clicking the "Add a Note" button. If you want the followers to see the Note only on their News Feed just enter a note on the right side and uncheck the "Notify Users with an Email", then click the Accept button; otherwise the followers will receive an email as well as seeing the note on their News Feed.
				</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/post_tender_stakeholder_news_feed.png" data-lightbox="Post Tender-Stakeholder's view-News Feed" data-title="Post Tender-Stakeholder's view-News Feed">
									<img style="height:250px;" src="docs/images/post_tender_stakeholder_news_feed.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_news_feed.png"></img>
								</a>
							<figcaption>
								<small>Post Tender-Stakeholder's view-News Feed</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/add_note.png" data-lightbox="Add a Note" data-title="Add a Note">
							<img style="height:250px;" src="docs/images/add_note.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/add_note.png"></img>
							</a>
								<figcaption>
									<small>Add a Note</small>
								</figcaption>
							</figure>
						</div>
					</div>
				
				
				
			</ul>
		</div>
	  
	  <div class="tab-pane fade" id="postTenderStakeholderSubmissions" role="tabpanel" aria-labelledby="postTenderStakeholderSubmissions-tab">
		<br/>
		<h2>Submissions</h2>
		<p>
			On the Submissions page, the stakeholders will see their budgeted prices and the bidders' submissions for the Schedule of Prices items. They can compare the bidders' submissions with the Budgeted Prices they entered in the Draft stage or just compare them with the Average Bid Prices using the provided buttons. This comparison will make it easier to decide on awarding the contract and choosing the best bidder to be the contractor.
		</p>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_stakeholder_submissions_averagebid.png" data-lightbox="Post Tender-Stakeholder's view-Submissions page-Compare with Average Bid" data-title="Post Tender-Stakeholder's view-Submissions page-Compare with Average Bid">
						<img style="height:250px;" src="docs/images/post_tender_stakeholder_submissions_averagebid.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_submissions_averagebid.png"></img>
					</a>
				<figcaption>
					<small>Post Tender-Stakeholder's view-Submissions page-Compare with Average Bid</small>
				</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
				<a href="docs/images/post_tender_stakeholder_submissions_budgetedprice.png" data-lightbox="Post Tender-Stakeholder's view-Submissions page-Compare with Budgeted Price" data-title="Post Tender-Stakeholder's view-Submissions page-Compare with Budgeted Price">
				<img style="height:250px;" src="docs/images/post_tender_stakeholder_submissions_budgetedprice.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_submissions_budgetedprice.png"></img>
				</a>
					<figcaption>
						<small>Post Tender-Stakeholder's view-Submissions page-Compare with Budgeted Price</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		<br/>
		
		<ul>
			<li>
				Use the <span style="background-color:white;color:#267780; padding:3px;"><i class="fa fa-arrows"></i></span> sign to expand all or collapse all the items.
			</li>
			<li>
				Use the Export option <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i> to export the Submissions page as PDF, CSV and EXCEL files. You can add the Provisional Items Bid Comparison in the exported pdf file as well.
			</li>
			<li>
				Use the Filter Bids button to show or hide bidders' submissions.
			</li>
		</ul>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_stakeholder_submissions_filterbid.png" data-lightbox="Post Tender-Stakeholder's view-Submissions page-Filter Bids" data-title="Post Tender-Stakeholder's view-Submissions page-Filter Bids">
						<img style="height:180px;" src="docs/images/post_tender_stakeholder_submissions_filterbid.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_submissions_filterbid.png"></img>
					</a>
				<figcaption>
					<small>Post Tender-Stakeholder's view-Submissions page-Filter Bids</small>
				</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
			</div>
		</div>
		
	  </div>
	  
	  <div class="tab-pane fade" id="postTenderStakeholderProvisional" role="tabpanel" aria-labelledby="postTenderStakeholderProvisional-tab">
		<br/>
		<h2>Provisional Items</h2>
		<p>
			Provisional items are additional items that may or may not be required later. Often, they are used at a later date to provide pricing for change orders. So the items on the Provisional items page will not affect the contract unless they are added in the change orders. (Change Orders page will be displayed in the In Progress stage.)
			<br/>
			<br/>
			In the Post Tender stage, on the Provisional Items page, the stakeholders will see their budgeted prices/values and the bidders' submissions for the Provisional Items. They can compare the bidders' submissions with the Budgeted Prices/values they entered in the Draft stage or just compare them with the Average Bid Prices using the provided buttons. Use the Export option <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i> to export the Submissions page as PDF, CSV and EXCEL files.
		</p>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_stakeholder_provisional_averagebid.png" data-lightbox="Post Tender-Stakeholder's view-Provisional Items page-Compare with Average Bid" data-title="Post Tender-Stakeholder's view-Provisional Items page-Compare with Average Bid">
						<img style="height:250px;" src="docs/images/post_tender_stakeholder_provisional_averagebid.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_provisional_averagebid.png"></img>
					</a>
				<figcaption>
					<small>Post Tender-Stakeholder's view-Provisional Items page-Compare with Average Bid</small>
				</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
				<a href="docs/images/post_tender_stakeholder_provisional_budgetedprice.png" data-lightbox="Post Tender-Stakeholder's view-Provisional Items page-Compare with Budgeted Price" data-title="Post Tender-Stakeholder's view-Provisional Items page-Compare with Budgeted Price">
				<img style="height:250px;" src="docs/images/post_tender_stakeholder_provisional_budgetedprice.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_provisional_budgetedprice.png"></img>
				</a>
					<figcaption>
						<small>Post Tender-Stakeholder's view-Provisional Items page-Compare with Budgeted Price</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
	  </div>
	  
	  <div class="tab-pane fade" id="postTenderStakeholderQualification" role="tabpanel" aria-labelledby="postTenderStakeholderQualification-tab">
		<br/>
		<h2>Qualification Questions</h2>
		<p>
			In the Post Tender stage, consultants (Primary stakeholder and additional stakeholders) will see the questions and bidders' responses on the Qualification Questions page.
		</p>
		
		They can:
		<ul>
			<li>
				Use the Export option <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i> to export the Qualification Questions as PDF or EXCEL files.
			</li>
			<li>
				Remove bidder's responses from the exported pdf file using <i style="color:red;" class="fa fa-times" aria-hidden="true"></i> on the 'Export Setting' window if needed.
			</li>
			<li>
				Use 'Drag & Drop' option on the 'Export Setting' window to sort bidders' responses for the pdf file if needed.
			</li> 
		</ul>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/qualification_questions_posttender01.PNG" data-lightbox="Qualification Questions-Post Tender" data-title="Qualification Questions-Post Tender">
						<img style="height:250px;" src="docs/images/qualification_questions_posttender01.PNG" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/qualification_questions_posttender01.PNG"></img>
					</a>
						<figcaption>
							<small>Qualification Questions-Post Tender</small>
						</figcaption>
				</figure>
			</div>
		
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/qualification_questions_posttender02.png" data-lightbox="PDF-Export Settings window" data-title="PDF-Export Settings window">
						<img style="height:250px;" src="docs/images/qualification_questions_posttender02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/qualification_questions_posttender02.png"></img>
					</a>
						<figcaption>
							<small>PDF-Export Settings window</small>
						</figcaption>
				</figure>
			</div>
		</div>
		
	  </div>
	  
	  <div class="tab-pane fade" id="postTenderStakeholderDocuments" role="tabpanel" aria-labelledby="postTenderStakeholderDocuments-tab">
		<br/>
		<h2>Documents</h2>
		<p>
			On the Documents page the stakeholders will see their uploaded files in the Tender Documents section on the left side. They can:
			<ul>
				<li>Open, view and download the files.</li>
				<li>Open their files and upload a new version.</li>
				<li>
					Download their file's audit trail by using the <i class="fa fa-check-square-o" aria-hidden="true" style="color:black"></i> icon.
				</li>
				<li>
					Select a file then click the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon to download it.
				</li>
				<li> 
					Download uploaded files in this section by clicking the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon. A zip file will be downloaded which includes the uploaded files located in this section and their Audit Trails, Schedule of Prices and Provisional Items Excel files.
				</li>
			</ul>
		</p>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_stakeholder_documents.png" data-lightbox="Post Tender-Stakeholder's view-Documents page" data-title="Post Tender-Stakeholder's view-Documents page">
						<img style="height:250px;" src="docs/images/post_tender_stakeholder_documents.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_documents.png"></img>
					</a>
				<figcaption>
					<small>Post Tender-Stakeholder's view-Documents page</small>
				</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
				<a href="docs/images/post_tender_stakeholder_document_preview.png" data-lightbox="Post Tender-Stakeholder's view-Document Preview" data-title="Post Tender-Stakeholder's view-Document Preview">
				<img style="height:250px;" src="docs/images/post_tender_stakeholder_document_preview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_document_preview.png"></img>
				</a>
					<figcaption>
						<small>Post Tender-Stakeholder's view-Document Preview</small>
					</figcaption>
				</figure>
			</div>
		</div>
		
		<br/>
		<br/>
		
		<p>
			The Stakeholders will see the Bidders' submitted documents in the Bidder Documents section on the Documents page. They can:
			<ul>
				<li>Open, view and download the files.</li>
				<li>
					Select a file then click the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon to download it.
				</li>
			</ul>
		</p>

	  </div>
	</div>
</div>
<div id="toggled2">
	<h3 style="display:inline-block; border:1px solid #146b75; padding:20px; margin:0; border-top-left-radius:5px; border-top-right-radius:5px; border-bottom:0; background-color:#146b75; color:white; width:350px; text-align:center; font-weight:normal;">
		Post Tender-Bidder's view
	</h3>
	<hr style="border:1px solid #146b75; margin-top:0;"/>
	<br/>
	<div  style="border:2px solid #146b75; border-radius:10px;padding:20px; background-color:#65d3df14;box-shadow: 0px 0px 15px #146b75;">
		Please read the followings if you are a <strong style="color:red;">bidder</strong>:
		<br/>
		<br/>
			<ul>
				<li>
					In case you have encrypted your bid, make sure to communicate with the stakeholders and provide them the password you entered to Encrypt your bid or the receipt you have downloaded. Otherwise, they won't be able to see your submissions in the Post Tender stage.
				</li>
				<li>
					If you forgot to submit your bid before the deadline, communicate with the stakeholders. They may give you a new deadline and allow you to submit your bid within the new deadline. You will be able to submit your bid only once, even if the new deadline hasn't passed yet.
				</li>
				<li>
					If you forgot something in the Tendering stage, or just noticed some errors on your submitted bid in the Post Tender stage, communicate with the stakeholders. They may give you a new deadline and allow you to resubmit your bid within the new deadline. Or they may correct the errors using the ContractComplete features.
				</li>
			</ul>
	</div>
	
	<br/>
	<br/>
	<br/>
	
	<p>
		<strong>
			When the deadline passes, the Tendering stage will finish and the Post Tender stage will start. The Bidders will see the following pages:
		</strong>
	</p>
	
	<br/>
	
	<ul class="nav nav-tabs" id="postTenderBidder" role="tablist" style="border-bottom:2px solid; border-color:#909090;">
	  <li class="nav-item">
		<a class="nav-link active" id="postTenderBidderReview-tab" data-toggle="tab" href="#postTenderBidderReview" role="tab" aria-controls="postTenderBidderReview" aria-selected="true"><span class="headerColor"><i class="fa fa-check-circle" aria-hidden="true"></i> Review Bid</span></a>
	  </li>
	  
	  <li class="nav-item">
		<a class="nav-link" id="postTenderBidderInstructions-tab" data-toggle="tab" href="#postTenderBidderInstructions" role="tab" aria-controls="postTenderBidderInstructions" aria-selected="false"><span class="headerColor"> Candidate Instructions</span></a>
	  </li>
	  
	  <li class="nav-item">
		<a class="nav-link" id="postTenderBidderSchedule-tab" data-toggle="tab" href="#postTenderBidderSchedule" role="tab" aria-controls="postTenderBidderSchedule" aria-selected="false"><span class="headerColor"><i class="fa fa-list-ol" aria-hidden="true"></i> Schedule of Prices</span></a>
	  </li>
	  				
	   <li class="nav-item">
		<a class="nav-link" id="postTenderBidderDocuments-tab" data-toggle="tab" href="#postTenderBidderDocuments" role="tab" aria-controls="postTenderBidderDocuments" aria-selected="false"><span class="headerColor"><i class="fa fa-folder" aria-hidden="true"></i> Documents</span></a>
	   </li>
		
	   <li class="nav-item">
		<a class="nav-link" id="postTenderBidderProvisional-tab" data-toggle="tab" href="#postTenderBidderProvisional" role="tab" aria-controls="postTenderBidderProvisional" aria-selected="false"><span class="headerColor"><i class="fa fa-list" aria-hidden="true"></i> Provisional Items</span></a>
	   </li>
		
	   <li class="nav-item">
		<a class="nav-link" id="postTenderBidderQualification-tab" data-toggle="tab" href="#postTenderBidderQualification" role="tab" aria-controls="postTenderBidderQualification" aria-selected="false"><span class="headerColor"><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i> Qualification Questions</span></a>
	   </li>
	</ul>
	<div class="tab-content" id="postTenderBidderContent">
	 <div class="tab-pane fade show active" id="postTenderBidderReview" role="tabpanel" aria-labelledby="postTenderBidderReview-tab">
		<br/>
		<h2>Review Bid</h2>
		<p>
			On the Review Bid page, the bidders can see a summary of their bid. They can:
			<ul>
				<li>Download a checklist in the Checklist section.</li>
				<li>Open the documents and download them.</li>
			</ul>
		</p>
		
		<p>
			On the Submissions section, the bidders can see the total bid price. This total price does not include provisional items' prices or even taxes.
		</p>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_bidder_review_bid.png" data-lightbox="Post Tender-Bidder's view-Review Bid page" data-title="Post Tender-Bidder's view-Review Bid page">
						<img style="height:250px;" src="docs/images/post_tender_bidder_review_bid.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_bidder_review_bid.png"></img>
					</a>
				<figcaption>
					<small>Post Tender-Bidder's view-Review Bid page</small>
				</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_bidder_review_bid_document.png" data-lightbox="Post Tender-Bidder's view-Review Bid page-Document Preview" data-title="Post Tender-Bidder's view-Review Bid page-Document Preview">
						<img style="height:250px;" src="docs/images/post_tender_bidder_review_bid_document.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_bidder_review_bid_document.png"></img>
					</a>
				<figcaption>
					<small>Post Tender-Bidder's view-Review Bid page-Document Preview</small>
				</figcaption>
				</figure>
			</div>
		</div>

	  </div>
	  
	  <div class="tab-pane fade" id="postTenderBidderInstructions" role="tabpanel" aria-labelledby="postTenderBidderInstructions-tab">
		<br/>
		<h2>Candidate Instructions</h2>
		<p>
			On the Candidate Instructions page, the bidders can see the Instructions written by the Stakeholders. This may include the tender information and a brief explanation of the pages. If you have already read the instructions in the Tendering stage you may want to skip reading it again.
		</p>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_bidder_candidate_instructions.png" data-lightbox="Post Tender-Bidder's view-Candidate Instructions page" data-title="Post Tender-Bidder's view-Candidate Instructions page">
						<img style="height:250px;" src="docs/images/post_tender_bidder_candidate_instructions.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_bidder_candidate_instructions.png"></img>
					</a>
				<figcaption>
					<small>Post Tender-Bidder's view-Candidate Instructions page</small>
				</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
			</div>
		</div>
		
	  </div>
	  
	  <div class="tab-pane fade" id="postTenderBidderSchedule" role="tabpanel" aria-labelledby="postTenderBidderSchedule-tab">
		<br/>
		<h2>Schedule of Prices</h2>
		<p>
			On the Schedule of Prices page the bidders can only view, export and print the schedule of prices table.
				<ul>
					<li>
						Use the Export option <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i> to export the Scehdule of Prices as PDF, CSV and EXCEL files.
					</li>
					<li>
						Use the <span style="background-color:white;color:#267780; padding:3px;"><i class="fa fa-arrows"></i></span> sign to expand all or collapse all the items.
					</li>

					<li>Use the <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i> icon to print the bid.</li>
				</ul>
		</p>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_bidder_scheduleofprices.png" data-lightbox="Post Tender-Bidder's view-Schedule of Prices page" data-title="Post Tender-Bidder's view-Schedule of Prices page">
						<img style="height:250px;" src="docs/images/post_tender_bidder_scheduleofprices.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_bidder_scheduleofprices.png"></img>
					</a>
				<figcaption>
					<small>Post Tender-Bidder's view-Schedule of Prices page</small>
				</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_bidder_scheduleofprices_export_print.png" data-lightbox="Post Tender-Bidder's view-Schedule of Prices page-Export and Print" data-title="Post Tender-Bidder's view-Schedule of Prices page-Export and Print">
						<img style="height:200px;" src="docs/images/post_tender_bidder_scheduleofprices_export_print.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_bidder_scheduleofprices_export_print.png"></img>
					</a>
				<figcaption>
					<small>Post Tender-Bidder's view-Schedule of Prices page-Export and Print</small>
				</figcaption>
				</figure>
			</div>
		</div>
		
	  </div>
	  	    
	  <div class="tab-pane fade" id="postTenderBidderDocuments" role="tabpanel" aria-labelledby="postTenderBidderDocuments-tab">
		<br/>
		<h2>Documents</h2>
		<p>
			In the Documents page the bidders can:
				<ul>
					<li>Open the documents, view and download them.</li>
					<li>
						Download their files' audit trail by using the <i class="fa fa-check-square-o" aria-hidden="true" style="color:black"></i> icon in the My Uploads section.
					</li>
					<li> 
						Select a document in the Tender Documents or My Uploads sections and then use the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon located in each section to download the document.
					</li>
				</ul>
		</p>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_bidder_documents.png" data-lightbox="Post Tender-Bidder's view-Documents page" data-title="Post Tender-Bidder's view-Documents page">
						<img style="height:250px;" src="docs/images/post_tender_bidder_documents.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_bidder_documents.png"></img>
					</a>
				<figcaption>
					<small>Post Tender-Bidder's view-Documents page</small>
				</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
			</div>
		</div>
		
	  </div>
	  
	  <div class="tab-pane fade" id="postTenderBidderProvisional" role="tabpanel" aria-labelledby="postTenderBidderProvisional-tab">
		<br/>
		<h2>Provisional Items</h2>
		<p>
			In the Provisional Items page, the bidders can only use the Export option <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i> to export the Provisional Items table as PDF, CSV and EXCEL files.
		</p>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_bidder_provisional.png" data-lightbox="Post Tender-Bidder's view-Provisional Items page" data-title="Post Tender-Bidder's view-Provisional Items page">
						<img style="height:250px;" src="docs/images/post_tender_bidder_provisional.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_bidder_provisional.png"></img>
					</a>
				<figcaption>
					<small>Post Tender-Bidder's view-Provisional Items page</small>
				</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/post_tender_bidder_provisional_export.png" data-lightbox="Post Tender-Bidder's view-Provisional Items page-Export" data-title="Post Tender-Bidder's view-Provisional Items page-Export">
						<img style="height:150px;" src="docs/images/post_tender_bidder_provisional_export.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_bidder_provisional_export.png"></img>
					</a>
				<figcaption>
					<small>Post Tender-Bidder's view-Provisional Items page-Export</small>
				</figcaption>
				</figure>
			</div>
		</div>
		
	  </div>
	  
	  <div class="tab-pane fade" id="postTenderBidderQualification" role="tabpanel" aria-labelledby="postTenderBidderQualification-tab">
		<br/>
		<h2>Qualification Questions</h2>
		<p>
			In the Post Tender stage bidders only can export the Qualification Questions as PDF and EXCEL files using the export option <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i>. They will no longer be able to edit or delete their responses.
		</p>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/qualification_questions_posttender_bidder.png" data-lightbox="Qualification Questions-Post Tender-Bidder' view" data-title="Qualification Questions-Post Tender-Bidder' view">
						<img style="height:250px;" src="docs/images/qualification_questions_posttender_bidder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/qualification_questions_posttender_bidder.png"></img>
					</a>
						<figcaption>
							<small>Qualification Questions-Post Tender-Bidder' view</small>
						</figcaption>
				</figure>
			</div>
		
			<div class="col-md-6 col-xs-12">
			</div>
		</div>
		
	  </div>
	</div>
	
	<br/>
	<hr style="border-top:2px solid; border-color:#909090;"/>
	<br/>
	
	<h2>Tender reopened by the stakeholder</h2>
	<p>
		In the Post Tender stage, the Stakeholders may Reopen the Tender to issue a post-tender addendum or to make other changes to the scope of the work. In this case, the tendering stage will be back and the bidders will be able to submit their bid within the new deadline. The bidders will receive an email and a message in their action box notifying them of the new submission deadline. For more information about the tendering stage click the <strong><a href="?page=tendering#content">Tendering</a></strong>.
	</p>
	
	<br/>
	<hr/>
	<br/>
	
	<h2>Resubmission requested by the stakeholder</h2>
	<p>
		The stakeholders may request a Resubmission in the cases below:
			<ul>
				<li>The stakeholders may want a bidder to correct the submission's errors & omissions</li>
				<li>
					The bidder may have forgotten to submit their bid before the deadline and the stakeholders want to give them a new deadline so that they can submit their bid.
				</li>
				<li>
					The stakeholders may want to get a last minute quote from a contractor who wasn't part of the original bidding process.
				</li>
				<li>The stakeholders may have added a new bidder in the Post Tender stage.</li>
				<li>Or other cases.</li>
			</ul>		
	</p>
	
	<p>
		When the stakeholders allow the bidders to resubmit their bid in the Post Tender stage, the bidders will receive an email and a message in their action box notifying them that they can resubmit their bid within the new deadline. The bidders then can modify their bid and submit it before the new deadline. In the Bidder's view, almost everything will be the same as the <strong><a href="?page=tendering#content">Tendering</strong></a> stage, but no questions can be submitted on the Overview page and Schedule of Prices page. Also, the stakeholders won't be able to make any changes to the Tender when they allow a bidder to resubmit their bid in the Post Tender stage. So, there will be no new changes, addenda and document upload requests.
	</p>

	<p>
		<strong><span style="color:red;">&#9888;</span> If you are a bidder, keep in mind that you can only submit your bid <strong style="color:red;">once</strong> by clicking the Submit button in the Post Tender stage. After clicking the Submit button, <strong style="color:red;">even if the deadline hasn't passed yet</strong>, you will no longer can make any changes or resubmit your bid.</strong>
	</p>
	
	<br/>
	<hr/>
	<br/>
	
	<h2>Negotiation started by the primary stakeholder</h2>
	<p>
		In some cases, after the tendering process, a stakeholder may wish to make a scope change to a contract before awarding it. The Negotiate feature will help them to make any of the following changes:
			<ul>
				<li>Add or remove the contract items (Schedule of Prices)</li>
				<li>Add or remove provisional items</li>
				<li>Change pricing, descriptions, item names, or quantities</li>
				<li>Add or remove documents (although this can be accomplished more easily after the contract has been awarded)</li>
				<li>Split the contract into two or more smaller contracts and award these to multiple contractors.</li>
			</ul>		
	</p>
	<p>
		When the Primary Stakeholder opens a negotiation with a bidder in the Post Tender stage, the bidder will be notified by an email and a message in his/ her action box. Then both parties can make changes to the negotiation contract editor and once both parties have accepted the outcome of the negotiation, the primary stakeholder can decide to whether he/she wants to award the contract to this bidder or not.
	</p>
	
	<p>
		 You may be selected as the contractor when a Primary Stakeholder opens a negotiation, but keep in mind that the Primary Stakeholder can delete the negotiation anytime they wish to do so. If the Primary stakeholder decides to delete the negotiation you will no longer be able to see the negotiation contract editor. If the Primary Stakeholder accepts and awards the contract and selects you to be the contractor, the negotiated contract will move to the In Progress stage, becomes a standalone contract and be visible on the "My Contracts" page. For more information click the <strong><a href="?page=negotiations#content">Negotiations</a></strong>.
	</p>
	
</div>

<br/>
<br/>

<div style="border-top:2px solid; border-color:#909090;">
	<br/>
	<h3>Next Stage:</h3>
	<p>
		In the Post Tender stage, after reviewing the bidders' submissions, the stakeholders may award the contract using the negotiation or directly by clicking the "Award Contract" button. Either way, the chosen bidder(s) will be notified by an email and a message in their action box. The In Progress stage will start after awarding the contract and the contract will be visible in the My Contracts page. <strong>For more information about the next stage click the <a href="?page=collaborative_mode_inprogress#content">In Progress stage</a>.</strong>
	
	</p>
	
</div>
