<h1>Profile</h1>
<p>
	Profile is one of the 'My Company tab' menu items. By clicking the Profile, you will see your company's profile page.
	<br/>
	<strong><span style="color:red;">&#9888;</span>You will only be able to make changes to this page if you have the Administrator permission.</strong> For more information about permissions please <a href="?page=user_configuration#content">click here.</a></strong>
</p>
<div class = "row">
	<div class="col-md-10 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/my_company.png" data-lightbox="My Company tab" data-title="My Company tab">
			<img style="height:100px;" src="docs/images/my_company.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="my_company.png"></img>
			</a>
			<figcaption>
				<small>My Company tab</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-2 col-xs-12">
	</div>
</div>

<p>
	Other companies' users can also see your company profile but in a different format. They can see your company's information that is displayed at the top and your company's 'Company Directory' that includes your company's users. Don't worry, they can't make any changes.
</p>
<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/profile01.png" data-lightbox="My Company's Profile - My View" data-title="My Company's Profile - My View">
			<img style="height:250px; border:1px solid #8a9e9e8c;" src="docs/images/profile01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="profile01.png"></img>
			</a>
			<figcaption>
				<small>My Company's Profile - My View</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/profile02.png" data-lightbox="My Company's Profile - Other Companies' view" data-title="My Company's Profile - Other Companies' view">
			<img style="height:250px; border:1px solid #8a9e9e8c;" src="docs/images/profile02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="profile02.png"></img>
			</a>
			<figcaption>
				<small>My Company's Profile - Other Companies' view</small>
			</figcaption>
		</figure>
	</div>
</div>

<br/>

<p>
	<b>Edit Company Profile:</b> So if you have Administrator permission and want to update your company's information you can do it by using the "Edit" button. After making changes on the 'Edit Company Profile' window, make sure to click the "Accept" button. The data that is entered on the 'Edit Company Profile' window will be your company's default/main information. In case your company has more than one Division/Office you can add or update your company's divisions' information on the <a href="?page=user_configuration#content">User Configuration page.</a></strong> 
</p>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/profile01.png" data-lightbox="My Company's Profile - My View" data-title="My Company's Profile - My View">
			<img style="height:250px; border:1px solid #8a9e9e8c;" src="docs/images/profile01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="profile01.png"></img>
			</a>
			<figcaption>
				<small>My Company's Profile - My View</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/profile03.png" data-lightbox="Edit Company Profile" data-title="Edit Company Profile">
			<img style="height:250px; border:1px solid #8a9e9e8c;" src="docs/images/profile03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="profile03.png"></img>
			</a>
			<figcaption>
				<small>Edit Company Profile</small>
			</figcaption>
		</figure>
	</div>
</div>

<p>
	<b>Company Directory:</b> On the Company directory section you can see your company's users (who have a ContractComplete account), their email address and job title.
</p>

<br/>
<br/>

<p>
	<b>Company Settings:</b> If you have Administrator permission, you also can update the followings located on the 'Company Settings' section.
	<ul>
		<li>
			<strong>Company Icon Image:</strong> To update the Company Icon Image, click the "Change" button under the corresponding section and select an image.
		</li>
		<li>
			<strong>Company Letterhead Image:</strong> To update the Company Letterhead Image, click the "Change" button under the corresponding section and select an image. You can also click the "Remove" button if you would like to use your company logo as letterhead image.
		</li>
		<li>
			<strong>Company Category:</strong> To change your company's category click the "Change" button under the corresponding section, select one of the provided categories on the 'Find Industry' window and click the "Accept" button. By selecting a category for your company, you will make it easier for other companies to find your company using the provided search filters.
		</li>
		<li>
			<strong>Default Currency:</strong> To change your company's default currency click the "Change" button under the corresponding section, select a currency from the drop-down menu, then click the "Save" button. This will be your company's default/main currency. In case your company has more than one Division/Office, and/or different currencies are used, you can add your company's divisions and update their information including each division's used currency, on the <a href="?page=user_configuration#content">User Configuration page.</a> 
		</li>
	</ul>
</p>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/profile04.png" data-lightbox="Find Industry" data-title="Find Industry">
			<img style="height:350px; border:1px solid #8a9e9e8c;" src="docs/images/profile04.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="profile04.png"></img>
			</a>
			<figcaption>
				<small>Find Industry</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/profile05.png" data-lightbox="Set Default Currency" data-title="Set Default Currency">
			<img style="height:300px; border:1px solid #8a9e9e8c;" src="docs/images/profile05.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="profile05.png"></img>
			</a>
			<figcaption>
				<small>Set Default Currency</small>
			</figcaption>
		</figure>
	</div>
</div>