<h1>Progress Reports</h1>
<div class="important">
	This article is only applicable to contractors, and is a prerequisite for creating invoices.  Other stakeholders cannot view individual progress reports, but they can view how much in total of each line item in the unit price contract has been marked complete by the contractor.
</div>
<p>
	Progress reports help you track completion of items in the contract.  They also act as an intermediate step in creating <a href="?page=invoicing">invoices</a>.  The "Progress Reports" tab will be visible only to contractors and can be accessed for all contracts in the "In Progress" stage.  To create a progress report, simply navigate to the "Progress Reports" tab, and click "Add Progress Report".
</p>
<p>
	Creating a progress report is simply a matter of filling out quantities in the yellow boxes.  If you would like to record an entire section of the contract as complete, simply select the section header and click "Complete All".  This will record the maximum for all line items in that section.
</p>
<figure style="max-width:600px">
	<img src="docs/images/progress_report.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/progress_report.png"></img>
	<figcaption>Creating a progress report is simply a matter of filling out quantities in the yellow boxes</figcaption>
</figure>