<h1>Proposed Changes</h1>
<h2>What is a proposed change?</h2>
<p>
	After speaking with numerous contractors and consultants, we realized that "change orders" often go through an informal approval process before they are formally approved at a later date.  This is done in an effort to reduce delays which would be introduced by requiring formal approval before any work on the change can begin.  In order to facilitate this process, we introduce the concept of a "proposed change" - a changed that has been documented, but pending approval at a later date.  Proposed changes are a collaborative process and can be viewed and edited by anyone involved with the contract at any time.
</p>
<h2>How do we create a proposed change?</h2>
<p>
	After a contract has been awarded, on the "Change Orders" tab, click the "Propose a Change" button.  This will take you to the editor where you can propose your change.  The editor functionality is detailed on this page.  There are two tabs in this view - the "Generated Quote" and "Line Items".  As you make changes in the editor on the line items tab, the PDF document in the "Generated Quote" section will update automatically. The proposed change editor ("Line Items" tab) is composed of 2 sections: the proposed change on the top, and the original contract on the bottom. Line items can be assigned pricing in several ways:
	<ul>
		<li>For quantity changes, you can simply add a number to the "Change Amt." field.  Adding a quantity here will automatically create a new line in the proposed change section (top panel).</li>
		<li>For new line items, if you are the contractor, you may add a new line item to the top panel and add pricing.  If you are not the contractor, you can still add new line items but without pricing.  Saving a proposed change without a price will prompt the contractor to provide a quote.</li>
		<li>You can also add an item based on provisional item pricing by using the "pick from provisional items" button</li>
	</ul>
	
	<figure style="max-width:600px">
		<img src="docs/images/co_contract_pricing.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/co_contract_pricing.png"></img>
		<figcaption>You can add bidders and stakeholders on the overview page.  In the case of awarded contracts, this is where you will select your contractor.</figcaption>
	</figure>
</p>
<h2>Next Steps</h2>
<p>
	After your change has been set up, you may want to view the section on <a href="?page=change_orders">change orders</a> to learn to create a formal change order.
</p>