<h1>Provisional Items</h1>
<h2>Overview</h2>
<p>
Provisional items are an optional feature to provide unit pricing information for additional line items that may or may not be required later.  Often, they are used at a later date to provide pricing for change orders.  Provisional items, like the line items in your unit price contract will also have a unit price associated.  And like line items, this price can either be acquired through the tendering process (in the case of <a href="?page=contract_setup#tendered">tendered contracts</a>), or entered/negotiated collaboratively (as in <a href="?page=contract_setup#awarded">awarded contracts</a>).
</p>

<p>
Like unit price line items, provisional items may also be grouped into folders and imported using the <a href="?page=importer">importer tool</a>.
</b>
<h2>Customizing Units</h2>
<p>
	New ContractComplete accounts come pre-configured with several default units.  But in some cases, these units alone will not be sufficient.  You may add your own custom units by click the "Units" button in the toolbar.
</p>