<h1>Qualification Questions</h1>
<p>
	Qualification Questions page is available in Tenders. This feature enables consultants to ask questions from bidders, receive responses and compare bidder’s responses all in one page. These comparisons will help them to better decide on selecting the contractor for their projects. <strong>Export to Pdf and Excel files is available for all stages and for both consultant’s and contractor’s views.</strong>
</p>


<ul>
	<li>
		In the Qualification Questions page, in Draft and Tendering stages, Consultants (Primary and additional stakeholders) can add questions and even mark them as required. Added questions can be saved as a template for future Tenders. They can also use the ContractComplete default template or their previously saved templates.
		<br/>
		<br/>
			<ul>
				<li>
					<strong><span style="color:red;">&#9888;</span> Selecting a template will remove all the entered questions and replace the template’s questions.</strong>
				</li>
				<li>
					<strong><span style="color:red;">&#9888;</span> In Draft stage consultants can allow or not allow Incomplete Bids. ("Allow Incomplete Bid" checkbox is located on the Overview page, on the Summary section.) If they don't allow Incomplete Bids, the bidders only have to answer the questions that have been marked as required. So if you want the bidders to answer all the questions, make sure to mark all of them as required.</strong>
				</li>
			</ul>
	</li>

	<br/>
	<br/>

	<li>
		In Tendering stage Consultants still can add, delete or edit questions and instructions on the Qualification Questions page. Bidders can see the questions and any changes the stakeholders make on the page. Bidders can submit their answers along with their bid in the Tendering stage. The consultants will see the bidder's responses in the Post Tender stage.
	</li>

	<br/>
	<br/>

	<li>
		In the Post Tender stage, consultants will see the questions and bidders' responses on the Qualification Questions page.
		On the other hand, bidders only can view their own responses. They will no longer be able to edit or delete their responses.
	</li>
</ul>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/qualification_questions_draft01.png" data-lightbox="Qualification Questions-Draft stage" data-title="Qualification Questions-Draft stage">
		<img style="height:250px;" src="docs/images/qualification_questions_draft01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/qualification_questions_draft01.png"></img>
		</a>
			<figcaption>
				<small>Qualification Questions-Draft stage</small>
			</figcaption>
		</figure>
	</div>

	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/qualification_questions_tendering_bidderview.png" data-lightbox="Qualification Questions-Tendering stage Bidder's view" data-title="Qualification Questions-Tendering stage Bidder's view">
		<img style="height:250px;" src="docs/images/qualification_questions_tendering_bidderview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/qualification_questions_tendering_bidderview.png"></img>
		</a>
			<figcaption>
				<small>Qualification Questions-Tendering stage Bidder's view</small>
			</figcaption>
		</figure>
	</div>
</div>

<br/>
<p>
	For detailed information click the links below and read the Qualification Questions tab content written in each section:
	<ul>
		<li><strong><a href="?page=tender_draft#content">Tender Draft stage<a/></strong> if you are a Stakeholder</li>
		<li><strong><a href="?page=tendering_stakeholder#content">Tendering Stakeholder's View<a/></strong> if you are a Stakeholder.</li>
		<li><strong><a href="?page=tendering_bidder#content">Tendering Bidder's View</a></strong> if you are a Bidder</li>
		<li><strong><a href="?page=post_tender#content">Post Tender</a></strong> if you are a Stakeholder or a Bidder.</li>
	</ul>
</p>


