<h1>Reopen Tender</h1>
<p>
	The Reopen Tender feature is one of the many features available in the <strong style="color:red;">Post Tender </strong>stage. Reopening Tender is useful for issuing a post-tender addendum or making other changes to the scope of the work. The "Reopen Tender" button is located in the Summary section on the Overview page.
</p>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/reopen_tender.png" data-lightbox="Post Tender-Stakeholder's view-Overview page" data-title="Post Tender-Stakeholder's view-Overview page">
		<img style="height:250px;" src="docs/images/reopen_tender.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/reopen_tender.png"></img>
		</a>
			<figcaption>
				<small>Post Tender-Stakeholder's view-Overview page</small>
			</figcaption>
		</figure>
	</div>

	<div class="col-md-6 col-xs-12">
	</div>
</div>

<br/>

<p>
	To Reopen the Tender, first make sure you do not have open negotiations in the Negotiations section on the Overview page. If you still have an open negotiation delete it before reopening the tender. Now click the "Reopen Tender" button. On the 'Re-open Bidding' window set date and time, Check in the Checkbox and click the "Accept" button. By reopening the tender, the tendering stage will be back and the bidders can submit their bid within the new deadline. The bidders and stakeholders will receive an email and a message in their action box notifying them of the new submission deadline. For more information about the tendering stage click the <strong><a href="?page=tendering#content">Tendering</a></strong>.
</p>

<br/>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/post_tender_stakeholder_overview_summary.png" data-lightbox="Post Tender-Stakeholder's view-Overview page-Summary" data-title="Post Tender-Stakeholder's view-Overview page-Summary">
		<img style="height:450px;" src="docs/images/post_tender_stakeholder_overview_summary.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_overview_summary.png"></img>
		</a>
			<figcaption>
				<small>Post Tender-Stakeholder's view-Overview page-Summary</small>
			</figcaption>
		</figure>
	</div>

	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/post_tender_stakeholder_reopen_bidding_window.png" data-lightbox="Post Tender-Stakeholder's view-Reopen Tender" data-title="Post Tender-Stakeholder's view-Reopen Tender">
		<img style="height:300px;" src="docs/images/post_tender_stakeholder_reopen_bidding_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/post_tender_stakeholder_reopen_bidding_window.png"></img>
		</a>
			<figcaption>
				<small>Post Tender-Stakeholder's view-Reopen Tender</small>
			</figcaption>
		</figure>
	</div>
</div>

<br/>

<p>
	<strong>Note:</strong> If you have allowed the incomplete bids in the Draft stage before, the bidders will be able to submit incomplete bids. If you make changes after the bidders have submitted their bid, they are not required to resubmit and therefore an incomplete bid is possible.
</p>
<p>
	<strong>
	The bidders won't be able to make changes or submit their bid after the deadline is passed. When the deadline passes, the Tender will go to the Post Tender stage again.
	</strong>
</p>