<style>
.main {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
.quarter {
  position: absolute;
  width: 50%;
  height: 50%;
  transition: background-color 0.2s ease-in-out;
}
.quarter:hover {
  background-color: #146b75;
	width:48%;
	height:48%;
  cursor:pointer;
}
.quarter_draft {
  top: 0;
  left: 0;
  background-color: #f0a30a;
  border-radius: 100% 0 0 0;
}
.quarter_submitted {
  top: 0;
  right: 0;
  background-color: #1ba1e2;
  border-radius: 0 100% 0 0;
}
.quarter_reopened {
  bottom: 0;
  left: 0;
  background-color: #d4d418;
  border-radius: 0 0 0 100%;
}
.quarter_responded {
  bottom: 0;
  right: 0;
  background-color: #70b43e;
  border-radius: 0 0 100% 0;
}
.cutout {
  width: 25%;
  height: 25%;
  background-color: white;
  position: absolute;
  top:38%;
  left: 38%;
  border-radius: 50%;
  pointer-events: none;
}
.circle_text{
	color:white;
	font-weight:bold;
	position:absolute;
	font-size: 16px;
}

.hide_descriptions{
	display:none;
}

</style>

<h1>RFI (Request For Information)</h1>

<p>
	An RFI seeks the clarification of plans, drawings, specifications and agreements. A formal written process in which parties, such as the contractor and designer, clarify information gaps in documents.
	</br>
	</br>
	On the RFI page, contractors can quickly generate formal requests and upload pdf files. They can upload and mark up images to be included in the RFI, then send the document to the stakeholders for a response. Stakeholders can add responses and upload pdf files after receiving an RFI. They can upload and mark up images to be included in the RFI and send it to the contractor. Stakeholders can also send the RFI to a third party who doesn't have a ContractComplete account; they can choose to either review the 3rd party reply before sending it to the contractor or just allow the 3rd party to directly send the reply to the contractor using the ContractComplete features. The 3rd party can also upload pdf files, upload and mark up images. When the contractor receives the RFI response if they need more clarification they can reopen the RFI and stakeholders have to provide further information and resend the RFI. RFI page is currently only available for Collaborative mode contracts in "In Progress" and "Completed" stages.
</p>

<br/>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/rfi_contractor.png" data-lightbox="RFI-Contractor's view" data-title="RFI-Contractor's view">
		<img style="height:250px;" src="docs/images/rfi_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/rfi_contractor.png"></img>
		</a>
			<figcaption>
				<small>RFI-Contractor's view</small>
			</figcaption>
		</figure>
	</div>

	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/rfi_stakeholder.png" data-lightbox="RFI-Stakeholders' view" data-title="RFI-Stakeholders' view">
		<img style="height:250px;" src="docs/images/rfi_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/rfi_stakeholder.png"></img>
		</a>
			<figcaption>
				<small>RFI-Stakeholders' view</small>
			</figcaption>
		</figure>
	</div>
</div>

<br/>

<p>
	On the RFI page a donut chart is provided. The chart displays the percentage and the number of RFIs of each status. (To see the numbers just hover over each status.) 
	<br/>
	An RFI can have one of the statuses displayed below. Click on each status to see the description.
	
	
	<div class="main">
		<div class="quarter quarter_draft"><span class= "circle_text" style="top:50%; left:50%;">Draft</span></div>
		<div class="quarter quarter_submitted"><span class= "circle_text" style="top:50%; left:25%;">Submitted</span></div>
		<div class="quarter quarter_responded"><span class= "circle_text" style="top:40%; left:30%;">Responded</span></div>
		<div class="quarter quarter_reopened"><span class= "circle_text" style="top:40%; left:40%;">Reopened</span></div>
		<div class="cutout"></div>
	</div>
	
<br/>

	<ul>
		<li id="rfi_draft" class="hide_descriptions">
			<h2 style= "color: #f0a30a;">Draft</h2>
			<br/>
			When a contractor creates an RFI it will be displayed as draft. Draft RFIs are only displayed on the contractor's side. Draft status color is "Orange". 
			<br/>
			<br/>
			Contractor can:
			<ul>
				<li>
					Write questions in the "Question Text" box, upload or delete pdf files, upload and mark up images using the "Image Manager" feature.
				</li>
					 
				<li>
					Add a due date on the RFI document. The due date will be displayed on the RFI page helping all parties to complete the process on time.
				</li>
				
				<li>
					Add a contact point using the "Attn" drop down box. If a contractor selects a person, the person will receive an email and a message in his/her action box when the contractor sends the RFI. In case no one is selected as a contact point all stakeholders (only the contract followers) will receive an email and a message in their action box.
				</li>
			</ul>
		</li>
		
		<br/>
		<br/>
		
		<li id="rfi_submitted" class="hide_descriptions">
			<h2 style= "color: #1ba1e2 ;">Submitted</h2>
			<br/>
			After completing the draft RFI, contractor can send the RFI. After Sending the RFI, status will change to "Submitted" and stakeholders will be able to see the Submitted RFI on the RFI page. Submitted status color is "Blue". The submission date will be displayed on the RFI page.
			<br/>
			<br/>
			
			<ul>
				<li>
					Contractor can "Retract" a submitted RFI and change the status to draft in order to make changes. They can send the RFI after making changes.
				</li>
				
				<li>
					When an RFI is submitted, stakeholders will see it. They can write responses in the "Our Response" box, upload or delete pdf files, upload and mark up images using the "Image Manager" feature. After completion they can send the RFI response for contractor.
				</li>
				
				<li>
					Stakeholders can send the Submitted RFI to a 3rd party (that doesn't have a ContractComplete account) for a response. They can choose if they want the 3rd party to directly send the reply to the contractor or not, by selecting the suitable workflow. The 3rd party will be able to write responses in the "Our Response" box, upload or delete pdf files, upload and mark up images using the "Image Manager" feature.
				</li>
			</ul>
		</li>
		
		<br/>
		<br/>
		
		<li id="rfi_responded" class="hide_descriptions">
			<h2 style="color:#70b43e;">Responded</h2>
			<br/>
			Stakeholders can send the RFI response to the contractor. After sending the RFI response the status will change to "Responded". Responded status color is "Green". The response date will be displayed on the RFI page.
			<br/>
			In case stakeholders send RFI to a 3rd party, the 3rd party can also send the RFI response directly to the contractor and change the RFI status to Responded if the Auto workflow is selected by the stakeholders.
			<br/>
			<br/>
			
			<ul>
				<li>
					Stakeholders won't be able to make any changes after sending the response.
				</li>
				
				<li>
					In case stakeholders send RFI to a 3rd party, the 3rd party won't be able to make any changes to the Responded RFI.
				</li>
				
				<li>
					Contractor will see the stakeholders' responses and attached files. They can reopen the RFI if they need more clarification.
				</li>
			</ul>
		</li>
		
		<br/>
		<br/>
		
		<li id="rfi_reopened" class="hide_descriptions">
			<h2 style="color:#c0c039;">Reopened</h2>
			<br/>
			When a contractor receives the RFI response if they need more clarification they can reopen the RFI. While reopening, comments can be entered indicating missing information. "Reopened" status color is "Yellow". After Reopening the RFI, stakeholders can add the missing information and resend the RFI to the contractor. The 3rd party feature will still be available. Reopening can be repeated until clarification is made. The "Reopen Percent" will display the percentage of responded RFIs that were at least reopened once. 
		</li>
	</ul>
</p>

<br/>

<p>	
	<b>Total RFIs</b>: Total RFIs displays the total number of RFIs which will be different for stakeholders and contractors views since draft RFIs are only displayed on the contractors side.
	<br/>
	<b>Reopen Percent</b>: The Reopen Percent will display the percentage of responded RFIs that were at least reopened once.
	<br>	
	<b>Average Response time</b>: Stakeholders' response times to "Submitted" and "Reopened" RFIs will be tracked and an average will be displayed on the RFI page.
	<br/>
	<br/>
	<strong>Note:</strong> Stakeholders and Contractor can find the users' names and the time they have changed an RFI Status using the "RFI History" button located in each RFI. Contractor can delete RFIs in any status.
</p>

<br/>

<p>
	For detailed information about RFIs in each view click the links below: 
	<br/>
	<ul>
		<li><strong><a href="?page=inprogress_stakeholder#content">Collaborative-In Progress Stakeholder's View<a/></strong> if you are a Stakeholder</li>
		<li><strong><a href="?page=inprogress_contractor#content">Collaborative-In Progress Contractor's View</a></strong> if you are a Contractor</li>
	</ul>
</p>
