<h1>Send Feedback</h1>
<p>
	ContractComplete team is constantly developing the app to improve the user experience. We welcome all feedback and suggestions.
	<br/>
	<br/>
	ContractComplete users can access the Feedback option through the Help tab located on the top right side of the web application when they are signed in. With the help of the feedback function, you can send your suggestions. We welcome bug reports, suggestions and comments to functions in general. A screenshot will automatically be created and appended to your feedback.
</p>
<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/help.png" data-lightbox="Help tab" data-title="Help tab">
			<img style="height:70px;" src="docs/images/help.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="help.png"></img>
			</a>
			<figcaption>
				<small>Help tab</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/send_feedback.png" data-lightbox="Send Feedback" data-title="Send Feedback">
			<img style="height:300px;" src="docs/images/send_feedback.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="send_feedback.png"></img>
			</a>
			<figcaption>
				<small>Send Feedback</small>
			</figcaption>
		</figure>
	</div>
</div>
