<style>
.headerColor{
		color: #909090;
		font-size: 16px;
	}
#submittal >  li  > .active,
#submittalRequest >  li  > .active {
border-bottom:5px solid #146b75;
	}
#submittal >  li  > .active > span,
#submittalRequest >  li  > .active > span {
		color: #146b75;
		font-weight:bolder;
	}
</style>


<h1>Submittals</h1>
<p>
	Submittals can be shop drawings, material data, samples, and product data. Submittals are required primarily for the architect and engineer to verify that the correct products will be installed on the project. This process also gives the architect and sub-consultants the opportunity to select colors, patterns, and types of material that were not chosen prior to completion of the drawings. This is not an occasion for the architect to select different materials than specified, but rather to clarify the selection within the quality level indicated in the specification and quantities shown on plans.
	By using submittals the primary stakeholder or a 3rd party subconsultant will be able to approve or reject the materials or products before they are used in the project.
</p>

<br/>

<p>
	Consultants (stakeholders) can create submittal requests, attach files and send the request to the contractor. Then contractor can create a separate submittal or a submittal attached to the received request. Contractor can add pdf files, upload and markup images then send the submittal to the stakeholders. Stakeholders can either "approve or reject" the submittal on their own, or send the submittal link to a 3rd party (a person who doesn't have a ContractComplete account) so that the third party can approve or reject the submittal. Consultants can also add pdf files and annotations. Consultants and contractor can see the tracked data and download submittals' pdf versions using the <strong>"Submittal History"</strong> button located on the top right side of each submittal. Submittals page is currently only available for Collaborative mode contracts in "In Progress" and "Completed" stages.
</p>

<br/>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/submittal_stakeholder.png" data-lightbox="Submittals-Stakeholders' view" data-title="Submittals-Stakeholders' view">
		<img style="height:250px;" src="docs/images/submittal_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_stakeholder.png"></img>
		</a>
			<figcaption>
				<small>Submittals-Stakeholders' view</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/submittal_contractor.png" data-lightbox="Submittals-Contractor's view" data-title="Submittals-Contractor's view">
		<img style="height:250px;" src="docs/images/submittal_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_contractor.png"></img>
		</a>
			<figcaption>
				<small>Submittals-Contractor's view</small>
			</figcaption>
		</figure>
	</div>
</div>

<br/>
<br/>

<a style="background-color:#17a2b8;width:100%;height:55px;text-align:center;color:white;font-size:30px;border-radius:5px;padding-top:10px; display:block;cursor:pointer;" id="submittalRequest"> Submittal Request
</a>
<div style="display:none; background-color:#ffffff; padding:20px;border-radius:5px; margin-top:10px;" id="submittalRequest_text">
	<h4>Submittal Requests are displayed on the right side of the Submittals page.</h4>
	<br/>
	<br/>
	<p>
		<i style="color:gray;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:gray; font-size:17px;">Submittal Request-Draft</strong>
		<br/>
		<br/>
		Stakeholders can create submittal requests and upload supplemental attachments. They can also add a contact point using the "Attn" drop down box. If they select a person, the person will receive an email and a message in his/her action box when the stakeholder sends the submittal request. In case no one is selected as a contact point all contractor's company users (only the contract followers) will receive an email and a message in their action box. Contractor won't be able to see the submittal request until it is sent.
	</p>
	
	<br/>
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/submittal_stakeholder.png" data-lightbox="Submittals-Stakeholders' view" data-title="Submittals-Stakeholders' view">
			<img style="height:250px;" src="docs/images/submittal_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_stakeholder.png"></img>
			</a>
				<figcaption>
					<small>Submittals-Stakeholders' view</small>
				</figcaption>
			</figure>
		</div>
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/submittal_request.png" data-lightbox="Submittal Request-Stakeholders' view" data-title="Submittal Request-Stakeholders' view">
			<img style="height:250px;" src="docs/images/submittal_request.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_request.png"></img>
			</a>
				<figcaption>
					<small>Submittal Request-Stakeholders' view</small>
				</figcaption>
			</figure>
		</div>
	</div>
	<br/>
	
	<p>
		<i style="color:purple;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:purple;font-size:17px;">Submittal Request-Requested</strong>
		<br/>
		<br/>
		After creating the submittal request and uploading the supplemental attachments, stakeholders can send the request to the contractor. Contractor will receive an email and a message in their action box. Stakeholders can make changes on the submittal requests even after sending them. If the contractor creates a submittal attached to the request, the status color will change based on the submittal status. In case the contractor creates a separate submittal the status color will remain purple.
	</p>
	
	<br/>
	<br/>
	
	<p>
		Three dates will be displayed for each submittal request:
			<ul>
				<li><b>Request Sent</b>: The date stakeholders have sent a submittal request.</li>
				<li>
					<b>Due Date</b>: The submittal request due date assigned by the stakeholders. Contractor should send the related submittal and their response before the due date.
				</li>
				<li>
					<b>Response Date</b>: The date contractor sends the attached submittal for the submittal request. If contractor creates a separate submittal no response date will be displayed for the submittal request.
				</li>
			</ul>
	</p>
</div>


<br/>
<br/>
<br/>
<br/>

<a style="background-color:#17a2b8;width:100%;height:55px;text-align:center;color:white;font-size:30px;border-radius:5px;padding-top:10px; display:block;cursor:pointer;" id="submittal">Submittal
</a>
<div style="display:none; background-color:#ffffff; padding:20px;border-radius:5px; margin-top:10px;" id="submittal_text">
	<h4>Submittals are displayed on the left side of the Submittals page.</h4>
	<br/>
	<br/>
	<p>
		<i style="color:Orange;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:#f0a30a;font-size:17px;">Submittal-Draft</strong>
		<br/>
		<br/>
		After receiving the submittal request contractor can open the request, use the submittal builder tool by clicking the "Create Submittal" button and create a draft submittal attached to the request. After reviewing the Submittal request, contractor even can create a separate submittal by using the "Create New Submittal" button located on the Submittals page. When a submittal is requested, tracking submittals would be easier for all parties if the contractor creates a draft submittal attached to the request.
		<br/>
		<br/>
		Contractor can:
			<ul>
				<li>Upload or delete pdf files.</li>
				<li>Write description and add comments.</li>
				<li>Upload and mark up images using the "Image Manager" feature.</li>
				<li>
					Add a contact point using the "Attn" drop down box. If a contractor selects a person, the person will receive an email and a message in his/her action box when the contractor sends the submittal. In case no one is selected as a contact point all stakeholders (only the contract followers) will receive an email and a message in their action box.
				</li>
			</ul>
	</p>

	<br/>
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/submittal_contractor.png" data-lightbox="Submittals-Contractor's view" data-title="Submittals-Contractor's view">
			<img style="height:250px;" src="docs/images/submittal_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_contractor.png"></img>
			</a>
				<figcaption>
					<small>Submittals-Contractor's view</small>
				</figcaption>
			</figure>
		</div>
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/submittal_request_contractor.png" data-lightbox="Submittal Request-contractor's view" data-title="Submittal Request-contractor's view">
			<img style="height:250px;" src="docs/images/submittal_request_contractor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_request_contractor.png"></img>
			</a>
				<figcaption>
					<small>Submittal Request-contractor's view</small>
				</figcaption>
			</figure>
		</div>
	</div>
	<br/>

	<p>
		<i style="color:#1ba1e2;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:#1ba1e2;font-size:17px;">Submittal-Review</strong>
		<br/>
		<br/>
		After completing the draft submittal, contractor can send it to the stakeholders. Contractor can retract the submittal in Review status to make changes.
		<br/>
		After sending the submittal, based on the selected contact point, one or all stakeholders (only the contract followers) will receive an email and a message in their action box. All stakeholders will see the submittal on the Submittals page. Stakeholders can:
			<ul>
				<li>Upload or delete pdf files.</li>
				<li>Write response and add comments.</li>
				<li>
					Add annotations or remove all the previously added annotations. Adding annotations will lock the pdf and comments section and even the "Save & Update Document" button; so the stakeholders should add annotations at last. However, they can remove all annotations whenever they need to make other changes.
				</li>
				<li>
					Send the submittal to a 3rd party that doesn't have a ContractComplete account. By clicking the "Generate URL" button, the submittal URL will be generated. Then they can choose if they want the 3rd party to directly approve/reject the submittal or not, by selecting the suitable workflow and send the URL using the Email feature. The 3rd party will be able to add or delete pdf files, annotate, approve or reject a submittal without logging in. By selecting the Manual workflow stakeholders will have a chance to review the 3rd party response and recommendation for a submittal before they approve or reject the submittal.
				</li>
				<li>
					Reject the submittal. While rejecting, comments can be added. After rejecting a submittal, stakeholders will not see the submittal anymore, contractor will receive a notification email and will be able to make changes and resend the submittal.
				</li>
				<li>
					Approve the submittal. Contractor will receive a notification email. After approving a submittal, stakeholders can reopen the submittal and change the status to Review to make changes and do required actions.
				</li>
			</ul>
	</p>

	<br/>
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/submittal_review_stakeholder.png" data-lightbox="Submittal-Review-Stakeholders' view" data-title="Submittal-Review-Stakeholders' view">
			<img style="height:250px;" src="docs/images/submittal_review_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/submittal_review_stakeholder.png"></img>
			</a>
				<figcaption>
					<small>Submittal-Review-Stakeholders' view</small>
				</figcaption>
			</figure>
		</div>
		<div class="col-md-6 col-xs-12">
		</div>
	</div>
	<br/>
	
	<p>
		<i style="color:#c0c039;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:#c0c039;font-size:17px;">Submittal-Rejected</strong>
		<br/>
		<br/>
		In the Review status, stakeholders or 3rd party (a person who doesn't have a ContractComplete account) can reject the submittal. After rejecting a submittal, stakeholders will not see the submittal anymore, contractor will receive a notification email. Contractor can see and open the rejected submittal. They can make changes and send the submittal just like they did in the draft submittal.
		<br/>
		Note: If stakeholders send the submittal to a 3rd party and select the Manual workflow, the submittal will stay in Review status after the 3rd party rejects the submittal.
	</p>

	<br/>
	<br/>

	<p>
		<i style="color:#70b43e;" class="fa fa-circle fa-lg" aria-hidden="true"></i> <strong style="color:#70b43e;font-size:17px;">Submittal-Approved</strong>
		<br/>
		<br/>
		In the Review status, stakeholders or 3rd party (a person who doesn't have a ContractComplete account) can approve the submittal. After approving a submittal, stakeholders can reopen the submittal and change the status to Review to make changes and do required actions. After approval contractor will receive a notification email.
		<br/>
		Note: If stakeholders send the submittal to a 3rd party and select the Manual workflow, the submittal will stay in Review status after the 3rd party approves the submittal.
	</p>
	
	<br/>
	<br/>
	
	<p>
		Three dates will be displayed for each submittal:
			<ul>
				<li><b>Submitted Date</b>: The date contractor sends the submittal.</li>
				<li>
					<b>Due Date</b>: The submittal due date assigned by the contractor. Stakeholders should approve the submittal before the due date. This will help the project to be finished on time.
				</li>
				<li>
					<b>Response Date</b>: The date stakeholders reject or approve a submittal.
				</li>
			</ul>
	</p>
</div>

<br/>
<br/>

<br/>
<br/>

<div style="border:2px solid #146b75; border-radius:10px;padding:20px; background-color:#65d3df14; box-shadow: 0px 0px 15px #146b75;">
<p>
	<h4 style="color:red;">Notes:</h4>
		<ul>
			<li>Contractor can only delete draft and rejected submittals that are not attached to a submittal request.</li>
			<hr/>
			<li>
				In order to see which submittal is attached to which submittal request, click on the submittal or submittal request.
			</li>
			<hr/>
			<li>
				Stakeholders and Contractor can find the users' names and the time they have changed a submittal Status using the "Submittal History" button located in each Submittal. They can download the submittal pdf versions using the provided links on the Submittal History window at anytime.
			</li>
			<hr/>
			<li>
				If the contractor creates a submittal attached to the submittal request, the submittal request's status color will change based on the submittal status.
			</li>
			<hr/>
			<li>
				Stakeholders can delete submittal requests regardless of their status. Deleting a submittal request will automatically delete the attached submittal created by the contractor and all the work they have done on the submittal, so if you are a stakeholder make sure to communicate with the contractor before deleting a submittal request.
			</li>
		</ul>
</p>
</div>

<br/>
<br/>

<p>
	For detailed information about Submittals in each view click the links below: 
	<br/>
	<ul>
		<li><strong><a href="?page=inprogress_stakeholder#content">Collaborative-In Progress Stakeholder's View<a/></strong> if you are a Stakeholder</li>
		<li><strong><a href="?page=inprogress_contractor#content">Collaborative-In Progress Contractor's View</a></strong> if you are a Contractor</li>
	</ul>
</p>


