<h1>Tender Draft stage</h1>
<p>
After creating the Tender using the "New Tender" button located in the "My Bids, Tenders & Quotes" page, the Tender will be in the Draft stage and your company will be the Primary Stakeholder.
<br/>
In the Tender Draft stage 6 pages are provided.
</p>
<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/tender_draft.png" data-lightbox="Tender Draft stage pages" data-title="Tender Draft stage pages">
			<img style="height:250px;border:1px solid black;" src="docs/images/tender_draft.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tender_draft.png"></img>
		</a>
			<figcaption>
				<small>Tender Draft stage pages</small>
			</figcaption>
		</figure>
	</div>
	
	<div class="col-md-6 col-xs-12">
	</div>
</div>


<div id="accordionExample" >
  <div class="card">
    <div  class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-info collapsed" style="width:225px;text-align:left;"  type="button" role="button"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fa fa-home" aria-hidden="true"></i> &nbsp; Overview
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" >
      <div class="card-body">
        <Strong>On the overview page 6 sections are provided:</strong>
		<br/>
		<br/>
		<div class="row">
			<div class="col-md-2 col-xs-12">
				<ul>
					<li><a href="#contract_status">Contract Status</a></li>
					<li><a href="#summary">Summary</a></li>
					<li><a href="#configurations">Configurations</a></li>
					<li><a href="#stakeholders_bidders">Stakeholders & Bidders</a></li>
					<li><a href="#followers">Followers</a></li>
					<li><a href="#news_feed">News Feed</a></li>
				</ul>
			</div>
		
		
			<div class="col-md-10 col-xs-12">
				<figure style="width:100%; text-align: center;">
				<a href="docs/images/tender_draft_overview.png" data-lightbox="Tender Draft Overview page Sections" data-title="Tender Draft Overview page Sections">
					<img style="height:250px;" src="docs/images/tender_draft_overview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tender_draft_overview.png"></img>
				</a>
					<figcaption>
						<small>Tender Draft Overview page_Sections</small>
					</figcaption>
				</figure>
			</div>
		</div>
		<br/>
			<ul>
				<li><b><h5 id="contract_status">Contract Status<h5></b></li>
					<p>
					The "Commence Bidding" button which is located in this section should be used after completing all the pages and selecting the bidders.<br/>
					<strong><span style="color:red;">&#9888;</span> Don't worry if your favorite bidders don't have the ContractComplete account. In the Tendering stage a link will be provided for them in the Summary section on the Overview page. You can send the link for them and they will be able to participate in the Tender.</strong>
					<br/>
					On the Draft stage the bidders won't be able to see the changes was made on the pages. Clicking this button will start the Tendering and an Email will be Sent automatically to the Bidders inviting them to bid on the created Tender. They will also see a message in their Action Box.
					The time of clicking the Commence Bidding button will be displayed in the News Feeds as a notification and for your company's own record.
					</p>
						<div class = "row">
							<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
								<a href="docs/images/tender_draft_overview_contract_status.png" data-lightbox="Tender Draft Overview page Contract Status" data-title="Tender Draft Overview page Contract Status">
									<img style="height:200px;" src="docs/images/tender_draft_overview_contract_status.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tender_draft_overview_contract_status.png"></img>
								</a>
									<figcaption>
										<small>Tender Draft Overview page_Contract Status</small>
									</figcaption>
								</figure>
							</div>
			
							<div class="col-md-6 col-xs-12">
							</div>
						</div>
				
				<li><b><h5 id="summary">Summary<h5></b></li>
				<p>
				In the Summary section, Contract Information can be edited. Clicking the "Edit Contract Info" button will open the 'Edit Contract' window. Simply make changes and click the save button.
				</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/tender_draft_overview_summary.png" data-lightbox="Tender Draft Overview page Summary" data-title="Tender Draft Overview page Summary">
							<img style="height:600px;" src="docs/images/tender_draft_overview_summary.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tender_draft_overview_summary.png"></img>
							</a>
								<figcaption>
									<small>Tender Draft Overview page_Summary</small>
								</figcaption>
							</figure>
						</div>
			
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/edit_contract_window.png" data-lightbox="Edit Contract window" data-title="Edit Contract window">
							<img style="height:300px;" src="docs/images/edit_contract_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_contract_window.png"></img>
							</a>
								<figcaption>
									<small>Edit Contract window</small>
								</figcaption>
							</figure>
						</div>
					</div>
				<br/>
				<p>
				Use the Drop Down menus for changing the Time Zone, Division and Currency if needed. Changing the Division will change the currency to match with the division's currency entered in the User Configuration page, if divisions were added in the User Configuration page. In the Tendering stage you won't be able to change the Time Zone, Division or the Currency, so make sure to set your desired time zone, division and currency in the Draft stage.
				</p>
				<br/><br/>
				
				<p>
				<strong>Allow Incomplete Bids:</strong>
				Selecting this option will allow the bidders in the Tendering stage to submit an Incomplete Bid. So, if you don't want to see missing unit prices or requested documents make sure to unckeck the Allow Incomplete Bids.
				</p>
				
				<p>
				<strong>Allow Bid Encryption:</strong>
				Extra security can be added by using the Allow Bid Encryption option. In the ContractComplete all your data is safe and secure, but if you want to use an extra layer of security this option will help you.
				Allow Bid Encryption will give the bidders permission to encypt their bid and enter a password after opening the Tender for the first time in the Tendring stage. This can be used for sensitive tenders.
				If the bidders have chosen to encrypt their bid, make sure to ask them to provide you with the password; otherwise you won't be able to see their bid in the Post Tender stage.
				</p>
				
				<p>
				Add Location using the Pick button. Then in the 'Select a Location' window search for the address using the Map or the search field, then click the Accept button.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/location.png" data-lightbox="Location" data-title="Location">
						<img style="height:60px;" src="docs/images/location.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/location.png"></img>
						</a>
							<figcaption>
								<small>Location</small>
							</figcaption>
						</figure>
					</div>

			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/select_location.png" data-lightbox="Select a Location" data-title="Select a Location">
						<img style="height:400px;" src="docs/images/select_location.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/select_location.png"></img>
						</a>
							<figcaption>
								<small>Select a Location window</small>
							</figcaption>
						</figure>
					</div>
				</div>
				
				<p>
				<strong>RFP Deadline:</strong>
				Tenders have a finite deadline. So make sure to set date and time in the RFP Deadline section before clicking the Commence Bidding button.
				<br/>
				The bidders won't be able to make changes or submit their bid after the deadline is passed. But don't worry if the deadline is passed and the bidders haven't submitted their bids; in the Post Tender stage many features were added in the ContractComplete to help the users, Reopening Tender, Allow Resubmission, Manual Bid Entry, etc. When the deadline passes, the Tender will go to the Post Tender stage and you can access these features.
				</p>
				
				<br/><br/>
				
				<li><b><h5 id="configurations">Configurations<h5></b></li>
				<p>
				The Configurations section options will affect the Progress Reports, Invoices, Holdback Invoices, Payment Certificates and Holdback Payment Certificates in the In Progress stage. This section can be edited in the other stages as well.
				</p>
				<p>
				<strong>Payment Terms:</strong> The Payment Terms can be set to help monitor the due dates displayed in the Invoices page located at the My Company tab. To set the Payment Terms, click the Edit button, then choose one of the options, enter a number and click the Save button.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations.png" data-lightbox="Configurations" data-title="Configurations">
						<img style="height:250px;" src="docs/images/configurations.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations.png"></img>
						</a>
							<figcaption>
								<small>Configurations</small>
							</figcaption>
						</figure>
					</div>
			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_payment_terms.png" data-lightbox="Configurations_Payment Terms" data-title="Configurations_Payment Terms">
						<img style="height:250px;" src="docs/images/configurations_payment_terms.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_payment_terms.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Payment Terms</small>
							</figcaption>
						</figure>
					</div>
				</div>

				<br/>
				<p>
				<strong>Overbilling:</strong> Overbilling option will allow the contractor in the In Progress stage to bill for the unit quantities greater than the original contract quantities. Once the contractor submits their first overage, you won't be able to uncheck the Overbilling.
				To allow the Overbilling checkin the Checkbox, then click the "Yes" button in the 'Allow Overbilling' window.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_overbilling_checkbox.png" data-lightbox="Configurations Overbilling Checkbox" data-title="Configurations_Overbilling Checkbox">
						<img style="height:250px;" src="docs/images/configurations_overbilling_checkbox.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_overbilling_checkbox.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Overbilling Checkbox</small>
							</figcaption>
						</figure>
					</div>
			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_overbilling.png" data-lightbox="Configurations_Overbilling" data-title="Configurations_Overbilling">
						<img style="height:250px;" src="docs/images/configurations_overbilling.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_overbilling.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Allow Overbilling window</small>
							</figcaption>
						</figure>
					</div>
				</div>
				<br/>
				<p>
				<strong>Holdback defaults:</strong> Holdback defaults can be added using the "Add Default Holdback" button. Click the "Add Default Holdback" button, enter a name and amount (the amount will be in percentage). If you want to set the holdback as a default for all the new Tenders and Contracts checkin the Checkbox then click the "Plus" button. The holdback will be added at the bottom of the 'Holdback Amounts' window and the Overview page. If you want to set the holdback for only this contract make sure the checkbox is unchecked.
				<br/>
				To add a holdback from the bottom list click the green plus sign located on the left side of the holdback.
				Clicking the "Red Trash" icon will delete the Holdback default from the page.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_holdback.png" data-lightbox="Configurations Holdback Defaults" data-title="Configurations_Holdback Defaults">
						<img style="height:250px;" src="docs/images/configurations_holdback.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_holdback.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Holdback Defaults</small>
							</figcaption>
						</figure>
					</div>
			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_holdback_amounts.png" data-lightbox="Configurations_Holdback Amounts window" data-title="Configurations_Holdback Amounts window">
						<img style="height:250px;" src="docs/images/configurations_holdback_amounts.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_holdback_amounts.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Holdback Amounts window</small>
							</figcaption>
						</figure>
					</div>
				</div>
				
				
				<li><b><h5 id="stakeholders_bidders">Stakeholders & Bidders<h5></b></li>
				<p>In this section Additional Stakeholders and Bidders can be added.
				<br/>
				<br/>
				<strong>Additional Stakeholder:</strong>
				You can add as many stakeholders as you want. The Additional stakeholders can now be added with two different permissions:
				<ul>
					<li>Selecting the Read-Only Permission will only allow the Additional Stakeholder to view the Tender. The Additional stakeholder will only be able to do some restricted actions.</li>
					<li>Selecting the other option will allow the Additional Stakeholder to edit and do many actions similar to the Primary Stakeholder.</li>
				</ul>
				<br/>

				For adding a stakeholder, click the "Add Stakeholder" button. On the 'Stakeholder Selection' window select one of the companies from the list. If the company you are looking for is not on the list, enter the company name or an Email address in the top field to find it. Using the Filters on the left side can be helpful to find the company faster.
				<br/>
				<br/>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/additional_stakeholder_bidder_section.png" data-lightbox="Additional Stakeholder & Bidders Section" data-title="Additional Stakeholder & Bidders Section">
						<img style="height:250px;" src="docs/images/additional_stakeholder_bidder_section.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/additional_stakeholder_bidder_section.png"></img>
						</a>
							<figcaption>
								<small>Additional Stakeholder & Bidders Section</small>
							</figcaption>
						</figure>
					</div>
			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/stakeholder_selection_window.png" data-lightbox="Stakeholder Selection window" data-title="Stakeholder Selection window">
						<img style="height:250px;width:350px" src="docs/images/stakeholder_selection_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/stakeholder_selection_window.png"></img>
						</a>
							<figcaption>
								<small>Stakeholder Selection window</small>
							</figcaption>
						</figure>
					</div>
				</div>
				
				In case the company you are looking for doesn't have a ContractComplete account, use the "Invite New Company" button. On the 'Invite a Vendor' window you will be able to send an invitation for an employee of your favorite company. Fill the required fields then click the "Send" button. If you want to send the invitation for several employees of a single company use the "Add" button located on the top right side of the window.
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/stakeholder_invite_new_company.png" data-lightbox="Additional Stakeholder Invite" data-title="Additional Stakeholder Invite">
						<img style="height:250px; width:350px;" src="docs/images/stakeholder_invite_new_company.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/stakeholder_invite_new_company.png"></img>
						</a>
							<figcaption>
								<small>Additional Stakeholder Invite</small>
							</figcaption>
						</figure>
					</div>
			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/invite_vendor.png" data-lightbox="Invite Vendor Window" data-title="Invite Vendor Window">
						<img style="height:250px;" src="docs/images/invite_vendor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/invite_vendor.png"></img>
						</a>
							<figcaption>
								<small>Invite Vendor Window</small>
							</figcaption>
						</figure>
					</div>
				</div>
				<br/>
				After Selecting the company choose one of the two provided options on the 'Consultant Status' window to give the company the required permission.(Read-Only or Edit)
				<br/>
				Click the Save button to proceed. The Additional stakeholder will be added on the page and he/she will receive an email inviting them to collaborate on the created Tender. You can add as many stakeholders as you want. Clicking the red trash icon will delete the stakeholder from the Overview page.
				<br/>
				<br/>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/consultant_status_window.png" data-lightbox="Additional Stakeholder Permission" data-title="Additional Stakeholder Permission">
									<img style="height:200px;" src="docs/images/consultant_status_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/consultant_status_window.png"></img>
								</a>
							<figcaption>
								<small>Additional Stakeholder Permission</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/added_stakeholder.png" data-lightbox="Additional Stakeholder" data-title="Additional Stakeholder">
							<img style="height:250px;" src="docs/images/added_stakeholder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/added_stakeholder.png"></img>
							</a>
								<figcaption>
									<small>Additional Stakeholder is added.</small>
								</figcaption>
							</figure>
						</div>
					</div>
					
				<br/>
				<br/>
					
				<strong>Bidder:</strong> To add a bidder click the "Add Bidder" button. Select as many as bidders as you desire. Unlike the Stakeholder Selection window, on the 'Company Selection' Window you are able to select several bidders at the same time before clicking the save button. Use the Filters or the search box to find the companies faster.
				<br/>
				<br/>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/add_bidder.png" data-lightbox="Add Bidder" data-title="Add Bidder">
									<img style="height:250px;" src="docs/images/add_bidder.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/add_bidder.png"></img>
								</a>
							<figcaption>
								<small>Add Bidder</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/company_selection_window.png" data-lightbox="Company Selection Window" data-title="Company Selection Window">
							<img style="height:250px;" src="docs/images/company_selection_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/company_selection_window.png"></img>
							</a>
								<figcaption>
									<small>Company Selection Window</small>
								</figcaption>
							</figure>
						</div>
					</div>
				In case the company you are looking for doesn't have a ContractComplete account, use the "Invite New Company" button. On the 'Invite a Vendor' window you will be able to send an invitation for an employee of your favorite company. Fill the required fields then click the "Send" button. If you want to send the invitation for several employees of a single company use the "Add" button located on the top right side of the window.
				<br/>
				<br/>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/company_selection_window_02.png" data-lightbox="Add Bidder-New Company" data-title="Add Bidder-New Company">
									<img style="height:250px;" src="docs/images/company_selection_window_02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/company_selection_window_02.png"></img>
								</a>
							<figcaption>
								<small>Add Bidder-New Company</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/invite_vendor.png" data-lightbox="Invite Vendor Window" data-title="Invite Vendor Window">
							<img style="height:250px;" src="docs/images/invite_vendor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/invite_vendor.png"></img>
							</a>
								<figcaption>
									<small>Invite Vendor Window</small>
								</figcaption>
							</figure>
						</div>
					</div>
				The selected and invited companies will be added on the right side of the 'Comapny Selection' Window, clicking the save button will add the bidders on the Overview page. The Bidders won't be able to see anything in the Draft stage.
				<br/>
				<br/>
				
				<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/company_selection_window_01.png" data-lightbox="Add Several Bidders" data-title="Add Several Bidders">
									<img style="height:250px;" src="docs/images/company_selection_window_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/company_selection_window_01.png"></img>
								</a>
							<figcaption>
								<small>Add Several Bidders</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/added_bidders.png" data-lightbox="Bidders added on the Overview page." data-title="Bidders added on the Overview page.">
							<img style="height:250px;" src="docs/images/added_bidders.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/added_bidders.png"></img>
							</a>
								<figcaption>
									<small>Bidders added on the Overview page.</small>
								</figcaption>
							</figure>
						</div>
					</div>	
				</p>
				
				<li><b><h5 id="followers">Followers<h5></b></li>
				<p>The users listed on this section will receive notifications and alerts for this specific Contract on their Action Box and personal email. Each Company's Master Administrator will be added on this section by default.
				<br/>
				Edit the followers by clicking the Edit Followers button. On the 'Edit Contract Followers' Window add new watchers or delete the current watchers and add new ones.
				Adding stakeholders will automatically add the companies and their Master Admin in the Followers section. The Bidder company's master admin will be added automatically in the followers section when the Tendering stage starts. The bidders won't receive emails and messages in their action box ( Even if they were added as the Current watchers.), unless the "Commence Bidding" button is clicked.</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/followers.png" data-lightbox="Followers" data-title="Followers">
									<img style="height:250px;" src="docs/images/followers.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/followers.png"></img>
								</a>
							<figcaption>
								<small>Followers</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/edit_followers.png" data-lightbox="Edit Followers" data-title="Edit Followers">
							<img style="height:250px;" src="docs/images/edit_followers.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_followers.png"></img>
							</a>
								<figcaption>
									<small>Edit Followers</small>
								</figcaption>
							</figure>
						</div>
					</div>
					
				<li><b><h5 id="news_feed">News Feed<h5></b></li>
				<p>Important changes, actions and updates made on a contract (manually or automatically), will be displayed on the News Feed.
				<br/>
				Notes can be added on the News Feed section as well by clicking the "Add a Note" button. If you want the followers to see the Note only on their News Feed just enter a note on the right side and uncheck the "Notify Users with an Email", then click the Accept button; otherwise the followers will receive an email as well as seeing the note on their News Feed.
				</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/news_feed.png" data-lightbox="News Feed" data-title="News Feed">
									<img style="height:250px;" src="docs/images/news_feed.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/news_feed.png"></img>
								</a>
							<figcaption>
								<small>News Feed</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/add_note.png" data-lightbox="Add a Note" data-title="Add a Note">
							<img style="height:250px;" src="docs/images/add_note.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/add_note.png"></img>
							</a>
								<figcaption>
									<small>Add a Note</small>
								</figcaption>
							</figure>
						</div>
					</div>
			</ul>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-info collapsed" style="width:225px;text-align:left;" type="button" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa fa-list-ol" aria-hidden="true"></i> &nbsp; Schedule of Prices
        </button>
      </h2>
    </div>
	
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p>In the Schedule of Prices page the contract main items can be added. You can add description, quantity, unit and budgeted unit price. Use the tab key to go to the next cell. In the Tendering stage the bidders will be able to enter their prices for each item.
		<br/>
		<strong><span style="color:red;">&#9888;</span> Don't worry, the bidders will not see your entered budgeted prices, these are for your personal use. In the Post Tender stage you will be able to compare the budgeted prices with the bidders prices.</strong></p>
		<ul>
			<li> Use <span style="background-color:#eaffe9;color:#008000; padding:3px;"><i class="fa fa-plus"></i></span> sign to add items and subitems. Four buttons are provided on the top left side. You can use these <img style="height:30px;" src="docs/images/customize_schedule_of_prices.png"></img> buttons to better customize the table.</li>
			<li>Drag and drop the items to change their location. The numbering will automatically update.</li>
			<li>You can change the numbering at any time. To reset and go back to the default numbering click the <span style="background-color:#f5f5f5;color:black;padding:3px;"><i class="fa fa-refresh"></i></span> sign.</li>
			<li>Delete the items using the <i class="fa fa-trash" style="color:#c75050;"></i> sign.</li>
			<li>Use the <span style="background-color:white;color:#267780; padding:3px;"><i class="fa fa-arrows"></i></span> sign to expand all or collapse all the items.</li>
			<li>Your changes will be autosaved but for more assurance click the "Save" button to save your changes.</li>
			<li>Use the Export option to export the Schedule of Prices as PDF, CSV and EXCEL files.</li>
		</ul>
		
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/schedule_of_prices.png" data-lightbox="Schedule of Prices" data-title="Schedule of Prices">
							<img style="height:250px;" src="docs/images/schedule_of_prices.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/schedule_of_prices.png"></img>
						</a>
							<figcaption>
								<small>Schedule of Prices</small>
							</figcaption>
							</figure>
				</div>
						
			
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/schedule_of_prices_export.png" data-lightbox="Schedule of Prices-Export" data-title="Schedule of Prices-Export">
							<img style="height:150px;" src="docs/images/schedule_of_prices_export.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/schedule_of_prices_export.png"></img>
						</a>
							<figcaption>
								<small>Schedule of Prices-Export</small>
							</figcaption>
							</figure>
				</div>
			</div>
			
			<p>	
			<strong>Units:</strong> Click the "Units" button to add or delete units. On the 'Edit Units' Window simply enter a unit in the text field then click the plus sign. Adding description for the unit is optional. To delete a unit from the window just click the trash sign.
			</p>
			
			<p>	
			<strong>History:</strong> Each time a user saves his/her changes on the Schedule of Prices page a record of the table will be added in the History page. The record includes the time and the name of the user who has made the changes.
			For using a different record on the Schedule of Prices page you just need to click the "History" button, select the version to see a preview then click the "Revert" button.
			</p>
			
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/edit_units.png" data-lightbox="Edit Units" data-title="Edit Units">
							<img style="height:250px;" src="docs/images/edit_units.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_units.png"></img>
						</a>
							<figcaption>
								<small>Edit Units</small>
							</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/history.png" data-lightbox="History" data-title="History">
							<img style="height:250px; border:1px solid black;" src="docs/images/history.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/history.png"></img>
						</a>
							<figcaption>
								<small>History</small>
							</figcaption>
					</figure>
				</div>
			</div>
			
			<p> 
			<strong>Import:</strong> Use the "Import" button to import a file to the Schedule of Prices page. The Import feature has two options:
			<ul>
				<li>
				ContractComplete Template Excel file:
				<br/>To use this option click the "Download Template" button. The downloaded file has four sheets in which two of them can guide you through entering your data. So simply follow the instructions and insert your data on the Schedule of Prices and Provisionals sheets. Then on the ContractComplete application click the "Upload File" button on the 'Import From Excel' Window and upload the filled file.
				<br/>
				You can choose to import the Schedule of Prices, Provisional Items, or both sheets to the application by clicking their related checkboxes. Make sure to click the Accept button after selecting sheets. On the Contract Import Preview page make any changes then click the "Finish Import" button. The application will handle the totals and subtotals and you can still make changes after finishing the import.
				<br/>
				<strong><span style="color:red;">&#9888;</span> This option will give you the ability to import data to both Schedule of Prices and Provisional Items page at the same time, which yet can't be found in the Smart Importer.</strong><br/>To cancel the Import just click the back arrow on the Contract Import Preview page.
				<br/><br/>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/import.png" data-lightbox="Import" data-title="Import">
								<img style="height:250px;" src="docs/images/import.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import.png"></img>
							</a>
								<figcaption>
									<small>Import</small>
								</figcaption>
						</figure>
					</div>
						
				
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/excel_template.png" data-lightbox="Excel Template" data-title="Excel Template">
								<img style="height:250px; border:1px solid black;" src="docs/images/excel_template.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/excel_template.png"></img>
							</a>
								<figcaption>
									<small>Excel Template</small>
								</figcaption>
						</figure>
					</div>
				</div>
				
				<br/><br/>
				
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/import_01.png" data-lightbox="Import-Select sheets" data-title="Import-Select sheets">
								<img style="height:250px;" src="docs/images/import_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import_01.png"></img>
							</a>
								<figcaption>
									<small>Import-Select sheets</small>
								</figcaption>
						</figure>
					</div>
						
				
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/importer_preview.png" data-lightbox="Contract Importer Preview" data-title="Contract Importer Preview">
								<img style="height:250px; border:1px solid black;" src="docs/images/importer_preview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/importer_preview.png"></img>
							</a>
								<figcaption>
									<small>Contract Import Preview</small>
								</figcaption>
						</figure>
					</div>
				</div>
				
				</li>
				<li>Smart Importer: 
				<br/>For using the Smart Importer click the checkbox, upload your own spreadsheet then click the Accept button. On the Contract Import Preview page make any changes then click the "Finish Import" button. The application will handle the totals and subtotals and you can still make changes after finishing the import.
				<br/>
				<strong><span style="color:red;">&#9888;</span> Any spreadsheet can be imported using this option. So unlike the first method you will be able to use your own template files.</strong><br/>To cancel the Import just click the back arrow on the Contract Import Preview page.
				<br/><br/>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/smart_importer.png" data-lightbox="Smart Importer" data-title="Smart Importer">
								<img style="height:250px;" src="docs/images/smart_importer.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/smart_importer.png"></img>
							</a>
								<figcaption>
									<small>Smart Importer</small>
								</figcaption>
						</figure>
					</div>
						
				
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/importer_preview.png" data-lightbox="Contract Importer Preview" data-title="Contract Importer Preview">
								<img style="height:250px; border:1px solid black;" src="docs/images/importer_preview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/importer_preview.png"></img>
							</a>
								<figcaption>
									<small>Contract Import Preview</small>
								</figcaption>
						</figure>
					</div>
				</div>
				</li>
			</ul>
		</p>
		<p><strong>Allowance:</strong> 
		<br/>
		Use the allowance feature to set a fix price. In order to use an allowance for an item, you must fill in the "Budgeted Unit Price" field. Then you'll be able to use the "lock" icon to classify that item as an allowance. When an item's price is locked the bidder won't be able to enter a price anymore for that item and he has to accept the price.</p>
			<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/allowance.png" data-lightbox="Allowance" data-title="Allowance">
								<img style="height:250px;" src="docs/images/allowance.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/allowance.png"></img>
							</a>
								<figcaption>
									<small>Allowance</small>
								</figcaption>
						</figure>
					</div>
						
				
					<div class="col-md-6 col-xs-12">

					</div>
			</div>
		
	
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-info collapsed" style="width:225px;text-align:left;" type="button" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa fa-folder" aria-hidden="true"></i> &nbsp; Documents
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
	 <p>ContractComplete supports several ways of interacting with documents pertaining to your contracts.  The document system supports basic tasks like uploading, downloading, and previewing documents, as well as organizing them into folders.  In tendered contracts, stakeholders can request specific documents to be uploaded as part of the tendering process. Documents you upload will be visible to all stakeholders and they will also be visible to the bidders for tendered contracts - but not until tendering begins.</p>
       <p><strong>My Uploads:</strong> On the Documents page in the My Uploads section you can:
	   <ul>
	   <li>Use the "Upload" button to upload files. Either use the Drag & Drop option or just the "Browse" button on the 'My Uploads' window. By using the Drag & Drop option you will be able to upload several files at the same time.</li>
	   <li> Download the contract's files by clicking the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon. A zip file will be downloaded which includes the files on the Documents page and their Audit Trails, Schedule of Prices and Provisional Items Excel files.</li>
	   <li>Change the location of files and folders by dragging and dropping them.</li>
	   <li>Download the file's audit trail by using the <i class="fa fa-check-square-o" aria-hidden="true" style="color:black"></i> icon.</li>
	   <li>Select a file then click the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon to download it.</li>
	   <li>Rename <i class="fa fa-pencil" aria-hidden="true"></i> or delete <i class="fa fa-trash" style="color:#ff0000;"></i> files and folders.</li>
	   <li>Add new folders.</li></p>
	   <br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/documents_my_uploads.png" data-lightbox="Documents page-My Uploads" data-title="Documents page-My Uploads">
							<img style="height:250px;" src="docs/images/documents_my_uploads.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/documents_my_uploads.png"></img>
						</a>
							<figcaption>
								<small>Documents page-My Uploads</small>
							</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/file_upload_01.png" data-lightbox="File Upload Window" data-title="File Upload Window">
							<img style="height:250px; border:1px solid black;" src="docs/images/file_upload_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/file_upload_01.png"></img>
						</a>
							<figcaption>
								<small>File Upload Window</small>
							</figcaption>
					</figure>
				</div>
			</div>
 	   </ul>
	<p><strong>Documents to Upload:</strong>
	<br/>
	Sometimes, as part of the tendering process, a stakeholder may wish to request specific document uploads from the bidders.  Fortunately, this feature is built into the documents framework and can be accessed on the documents page under the "Documents to Upload" section. Document upload requests will appear on the bidder checklist.  Bidders will be made aware that they have been asked to complete these items.<br/><br/>
	Simply click the "New" button and add additional information in the popup window.  You can even "link" a document to your request. The linked file can be a fillable form as well. In this case the bidders will be able to fill the form in the Tendering stage directly in the ContractComplete application and submit it.</p>
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/upload_request_01.png" data-lightbox="Document Upload Request 01" data-title="Document Upload Request 01">
						<img style="height:250px;" src="docs/images/upload_request_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/upload_request_01.png"></img>
					</a>
						<figcaption>
							<small>Document Upload Request 01</small>
						</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/upload_request_02.png" data-lightbox="Document Upload Request 02" data-title="Document Upload Request 02">
						<img style="height:250px;" src="docs/images/upload_request_02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/upload_request_02.png"></img>
					</a>
						<figcaption>
							<small>Document Upload Request 02</small>
						</figcaption>
				</figure>
			</div>
		</div>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/upload_request_03.png" data-lightbox="Document Upload Request 03" data-title="Document Upload Request 03">
						<img style="height:250px;" src="docs/images/upload_request_03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/upload_request_03.png"></img>
					</a>
						<figcaption>
							<small>Document Upload Request 03</small>
						</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/upload_request_04.png" data-lightbox="Document Upload Request 04" data-title="Document Upload Request 04">
						<img style="height:200px;" src="docs/images/upload_request_04.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/upload_request_04.png"></img>
					</a>
						<figcaption>
							<small>Document Upload Request 04</small>
						</figcaption>
				</figure>
			</div>
		</div>
	
	   
      </div>
    </div>
  </div>
  
    <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-info collapsed" style="width:225px;text-align:left;" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <i class="fa fa-list" aria-hidden="true"></i> &nbsp; Provisional Items
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <p>Provisional items are an optional feature to provide unit pricing information for additional items that may or may not be required later. Often, they are used at a later date to provide pricing for change orders. So the items on the Provisional items page will not affect the contract unless they are added in the change orders. (Change Orders page will be displayed in the In Progress stage.)</p>
		<p>On the Provisional Items page you can:
			<ul>
				<li>Add description, quantity, unit and budgeted value. 
				<br/><strong><span style="color:red;">&#9888;</span> Don't worry, the bidders will not see your entered budgeted values, these are for your personal use. In the Post Tender stage you will be able to compare the budgeted values with the bidders entered values.</strong></li>
				<li> Use <span style="background-color:#eaffe9;color:#008000; padding:3px;"><i class="fa fa-plus"></i></span> sign to add items and subitems.</li>
				<li>Use the tab key to go to the next cell.</li>
				<li>Drag and drop the items to change their location. The numbering will automatically update.</li>
				<li>Delete the items using the <i class="fa fa-trash" style="color:#c75050;"></i> sign.</li>
				<li>Your changes will be autosaved but for more assurance click the "Save" button to save your changes.</li>
				<li>Use the Export option to export the Provisional Items as PDF, CSV and EXCEL files.</li>
				<br/>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/provisional_items.png" data-lightbox="Provisional Items" data-title="Provisional Items">
								<img style="height:150px;" src="docs/images/provisional_items.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/provisional_items.png"></img>
							</a>
								<figcaption>
									<small>Provisional Items</small>
								</figcaption>
						</figure>
					</div>
					
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/provisional_items_export.png" data-lightbox="Provisional Items-Export" data-title="Provisional Items-Export">
								<img style="height:150px;" src="docs/images/provisional_items_export.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/provisional_items_export.png"></img>
							</a>
								<figcaption>
									<small>Provisional Items-Export</small>
								</figcaption>
						</figure>
					</div>
				</div>
			</ul>
		</p>
		<p><strong>Value Type Slider:</strong> In Tenders, on the Provisional Items page a slider is provided for each item. This slider can be switched to 'Quantity #' or 'Currency $'.</p>
			
					<div class = "row">
						<div class="col-md-8 col-xs-12">
							<ul>
								<li>When the slider is on the right side and the color is green the Value Type will be Currency. So you can enter a price for the item in the Budgeted Value column. Don't worry, in the Tendering stage the bidders will not see the prices you entered. Instead they can enter their own prices for the item.
								</li>
							</ul>
						</div>
						
						<div class="col-md-4 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/slider01.png" data-lightbox="Value Type-Currency" data-title="Value Type-Currency">
									<img style="height:100px;border:1px solid black" src="docs/images/slider01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/slider01.png"></img>
								</a>
									<figcaption>
										<small>Value Type-Currency</small>
									</figcaption>
							</figure>
						</div>		
					</div>
				
				
					<div class = "row">
						<div class="col-md-8 col-xs-12">
							<ul>
								<li>When the slider is on the left side and the color is gray the Value Type will be Quantity. So you can enter a quantity for the item in the Budgeted Value column. Don't worry, in the Tendering stage the bidders will not see the quantity you entered in the Budgeted Value column. Instead they can enter their own quantity for the item.
								</li>
							</ul>
						</div>
						
						<div class="col-md-4 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/slider02.png" data-lightbox="Value Type-Quantity" data-title="Value Type-Quantity">
									<img style="height:100px;border:1px solid black" src="docs/images/slider02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/slider02.png"></img>
								</a>
									<figcaption>
										<small>Value Type-Quantity</small>
									</figcaption>
							</figure>
						</div>
					</div>
		
		</p>
		<p><strong>Units:</strong> Click the "Units" button to add or delete units. On the 'Edit Units' Window simply enter a unit in 	the text field then click the plus sign. Adding description for the unit is optional. To delete a unit from the window just click the trash sign.
		</p>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/edit_units.png" data-lightbox="Edit Units" data-title="Edit Units">
							<img style="height:250px;" src="docs/images/edit_units.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_units.png"></img>
						</a>
							<figcaption>
								<small>Edit Units</small>
							</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
				</div>
			</div>
			
		<p><strong><span style="color:red;">&#9888;</span> You can also use the Import option on the Schedule of Prices page.</strong> To do so just go to the Schedule of Prices page, click the Import button then click the "Download Template" button. The downloaded file has four sheets in which two of them can guide you through entering your data. So simply follow the instructions and insert your data on the Provisionals sheet. Then on the ContractComplete application click the "Upload File" button on the 'Import From Excel' Window and upload the filled file. Choose to import the Provisional Items to the application by clicking the related checkbox. Make sure to click the Accept button after selecting the sheet. You can make changes after finishing the import.
		
		<strong>This option will give you the ability to import data to both Schedule of Prices and Provisional Items page at the same time.</strong>
		</p>
		<br/><br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/schedule_of_prices_import.png" data-lightbox="Import to Provisional Items" data-title="Import to Provisional Items">
								<img style="height:250px;" src="docs/images/schedule_of_prices_import.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/schedule_of_prices_import.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 01</small>
						</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/import.png" data-lightbox="Import to Provisional Items 02" data-title="Import to Provisional Items 02">
							<img style="height:250px; border:1px solid black;" src="docs/images/import.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 02</small>
						</figcaption>
					</figure>
				</div>
			</div> 
			<br/><br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/import_provisional_items01.png" data-lightbox="Import to Provisional Items 03" data-title="Import to Provisional Items 03">
								<img style="height:250px;" src="docs/images/import_provisional_items01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import_provisional_items01.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 03</small>
						</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/import_provisional_items02.png" data-lightbox="Import to Provisional Items 04" data-title="Import to Provisional Items 04">
							<img style="height:250px; border:1px solid black;" src="docs/images/import_provisional_items02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import_provisional_items02.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 04</small>
						</figcaption>
					</figure>
				</div>
			</div>
		
	

      </div>
    </div>
  </div>
  
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-info collapsed" style="width:225px;text-align:left;" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
         <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i> &nbsp; Qualification Questions
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
		<p> 
			In the Qualification Questions page, Consultants (Primary and additional stakeholders) can add questions. In the Tendering stage the bidders will see these questions, they can submit their answers along with their bid. The consultants will see the bidder's responses in the Post Tender stage.
			<br/>
		</p>
			
		<ul>
			<li> 
				Add questions by clicking the <span style="background-color:#eaffe9;color:#008000; padding:3px;"><i class="fa fa-plus"></i></span> sign.
			</li>
			<li>Delete questions using the <i class="fa fa-trash" style="color:#c75050;"></i> sign.</li>
			<li>Added questions can be saved as a template for future Tenders by clicking the "Save as Template" button.</li>
			<li>
				You can use the ContractComplete default template or the previously saved templates by clicking the "Load Template" button.
				<br/>
				<strong><span style="color:red;">&#9888;</span> If you select a template, the template's questions will replace any questions that you have added on the Qualifications Questions page.</strong>
			</li>
			<li>
				Saved templates can be deleted from the 'Load a template' window at any time using the trash icon <i class="fa fa-trash" style="color:#c75050;"></i>.
			</li>
			<li>Use the Export option <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i> to export the Qualification Questions as PDF or Excel files.</li>
			<li>You can mark one or more questions as required.</li>
		</ul>
		<strong><span style="color:red;">&#9888;</span> Note:</strong> In Draft stage consultants can allow or not allow Incomplete Bids. ("Allow Incomplete Bid" checkbox is located on the Overview page, on the Summary section.) <strong>If they don't allow Incomplete Bids, the bidders only have to answer the questions that have been marked as required. So if you want the bidders to answer all the questions, make sure to mark all of them as required.</strong>
	   		<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/qualification_questions_draft01.png" data-lightbox="Qualification Questions" data-title="Qualification Questions">
							<img style="height:250px;" src="docs/images/qualification_questions_draft01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/qualification_questions_draft01.png"></img>
						</a>
							<figcaption>
								<small>Qualification Questions</small>
							</figcaption>
					</figure>
				</div>
			
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/qualification_questions_draft03.png" data-lightbox="Load a Template window" data-title="Load a Template window">
							<img style="height:200px;" src="docs/images/qualification_questions_draft03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/qualification_questions_draft03.png"></img>
						</a>
							<figcaption>
								<small>Load a Template window</small>
							</figcaption>
					</figure>
				</div>
			</div>
      </div>
    </div>
  </div>



    <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-info collapsed" style="width:225px;text-align:left;" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
         <i class="fa fa-file" aria-hidden="true"></i> &nbsp; Bidder Instructions
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
       <p> In the Bidder Instructions page a template is provided which needs to be filled in. You can also remove the template and replace your own. In the Tednering stage the bidders will see these instructions on their ContractComplete application Overview page. Simply click the "Edit" button and use the options on the editor. Don't forget to save your changes.
	   </p>
	   		<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/bidder_instructions01.png" data-lightbox="Bidder Instructions" data-title="Bidder Instructions">
							<img style="height:200px;" src="docs/images/bidder_instructions01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/bidder_instructions01.png"></img>
						</a>
							<figcaption>
								<small>Bidder Instructions</small>
							</figcaption>
					</figure>
				</div>
			
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/bidder_instructions02.png" data-lightbox="Bidder Instructions-Edit" data-title="Bidder Instructions-Edit">
							<img style="height:100px;" src="docs/images/bidder_instructions02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/bidder_instructions02.png"></img>
						</a>
							<figcaption>
								<small>Bidder Instructions-Edit</small>
							</figcaption>
					</figure>
				</div>
			</div>
      </div>
    </div>
  </div>



</div>
<div style="border-top:2px solid; border-color:#909090;">
	<br/>
	<h3>Next Stage:</h3>
	<p>
		After making changes on the mentioned pages you can start the Tendering stage. Go to the Overview page, set a deadline in the Summary section and click the "Commence Bidding" button. The Tendering stage will start and the bidders will receive an Email inviting them to Bid. If you forgot something don't worry you will be able to make changes in the Tendering stage using the ContractComplete features. Also, many features are provided in the Post-Tender stage like Reopen Tender, Allow Resubmissions, Manual Bid Entry, etc. <strong>For more information about the next step click the <a href="?page=tendering#content">Tendering stage</a>.</strong>
	</p>
</div>