<style>
	.headerColor{
		color: #909090;
		font-size: 16px;
	}
	#tenderingBidderView >  li  > .active {
		border-bottom:5px solid #146b75;
	}
	#tenderingBidderView >  li  > .active > span {
		color: #146b75;
		font-weight:bolder;
	}
</style>

<h1>Tendering-Bidder's View</h1>
<strong><p>
	This article covers the tendering process from the perspective of the bidder.  If you are a stakeholder, you may wish to read the page covering <strong><a href="?page=tendering_stakeholder#content">Tendering Stakeholder's View<a/></strong>.
</p></strong>

<br/>

<div style="border:2px solid #146b75; border-radius:10px;padding:20px; background-color:#65d3df14; box-shadow: 0px 0px 15px #146b75;">
	<ul>
		<li>
			If your company was selected as a bidder in a Tender, you will receive a Bid Invitation email. Also, you will receive a message in your Action Box as an invitation.
		</li>
		<hr/>
		<li>
			The stakeholders may share a Bidder Invite Url for their Tender in order to invite bidders. If you have the url, you will be able to participate as a bidder. In case your company doesn't have the ContractComplete account you can sign up and create an account. The ContractComplete application is free for the bidders.
		</li>
		<hr/>
		<li>
			In case your company doesn't have the ContractComplete account and your company was selected as a bidder in a Tender, you will receive a Bid Invitation email with a Bid Package. By clicking the Bid Package button a page will open which includes:
			<br/>
				<ul>
					<li>Tender Information and Documents</li>
					<li>Detailed Bidder Instructions</li>
				</ul>
			<br/>
			You can download tender documents in ZIP format, read the bidder instructions and participate as a bidder.
			<br/>
			ContractComplete supports solo mode Contracts as well, so you still can be selected as the contractor and win the bid. You can also create an account and continue using the application, the ContractComplete application is free for the bidders.
		</li>
		<hr/>
		<li>
			<strong style="color:red;">The ContractComplete application is free for the bidders.</strong>
		</li>
	</ul>
</div>	
	<br/><br/>
<h2>Bid Encryption</h2>
<p>
	In a Tender, stakeholders can select to allow or not allow the bidders to encrypt their bid. If they select to allow bidders to encrypt their bid, when you first open the tender, you will be given the option to encrypt your bid.
	<br/>
	<br/>
	Bid encryption adds an extra layer of security which prevents ContractComplete staff from viewing your submission (your bid is encrypted in the database).  This feature is designed for those who are especially concerned with their bid submission being stored in the cloud.  Bids that are not encrypted are still completely safe and secure and are only viewable by a small number of trusted ContractComplete engineers.  Typically, we have no reason to view your bid unless we are asked to provide support or are troubleshooting a specific issue. Please see <strong><a target="_blank" href="https://www.contractcomplete.com/blog/etender-bid-encryption-assurance-for-the-paranoid-contractor/">this blog post</a></strong> for more information.
	<br/><br/>
	<h4>Encrypting your bid has a few implications that you should consider:</h4>
	<br/>
		<ul>
			<li>Encrypted bids are encrypted with a password that you provide. <strong>This password must be communicated to the primary stakeholder after tendering is completed in order to unlock your bid.</strong></li>
			<li>Your bid encryption password will have to be re-entered if you decide to view or edit your submission on a different computer.</li>
			<li>Document upload preview is not supported for encrypted bids.</li>
			<li>If you lose or forget your password, you will lose your bid submission - we cannot recover a lost password for you. We can, however, reset your submission so you can pick a new password.</li>
			<li>You can download the provided receipt after entering the password. Be sure to keep this receipt safe. It will help you recover your password if you forget it.</li>
		</ul>
	</p>
	<br/>
<div class= "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
			<a href="docs/images/bid_encryption_window.png" data-lightbox="Bid Encryption Window" data-title="Bid Encryption Window">
			<img style="height:400px;" src="docs/images/bid_encryption_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/bid_encryption_window.png"></img>
			</a>
			<figcaption>
				<small>Bid Encryption Window</small>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6 col-xs-12">
	</div>
</div>

<br/>
<br/>
<p>After deciding to either encrypt your bid or not, click the save button to review the tender. 6 pages are provided as follows:</p>

<ul class="nav nav-tabs" id="tenderingBidderView" role="tablist" style="border-bottom:2px solid; border-color:#909090;">

  <li class="nav-item">
    <a class="nav-link active" id="tenderingBidderOverview-tab" data-toggle="tab" href="#tenderingBidderOverview" role="tab" aria-controls="tenderingBidderOverview" aria-selected="true"><span class="headerColor"><i class="fa fa-home" aria-hidden="true"></i> Overview</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="tenderingBidderSchedule-tab" data-toggle="tab" href="#tenderingBidderSchedule" role="tab" aria-controls="tenderingBidderSchedule" aria-selected="false"><span class="headerColor"><i class="fa fa-list-ol" aria-hidden="true"></i> Schedule of Prices</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="tenderingBidderDocuments-tab" data-toggle="tab" href="#tenderingBidderDocuments" role="tab" aria-controls="tenderingBidderDocuments" aria-selected="false"><span class="headerColor"><i class="fa fa-folder" aria-hidden="true"></i> Documents</span></a>
  </li>
  
   <li class="nav-item">
    <a class="nav-link" id="tenderingBidderProvisional-tab" data-toggle="tab" href="#tenderingBidderProvisional" role="tab" aria-controls="tenderingBidderProvisional" aria-selected="false"><span class="headerColor"><i class="fa fa-list" aria-hidden="true"></i> Provisional Items</span></a>
   </li>
  
   <li class="nav-item">
    <a class="nav-link" id="tenderingBidderQualification-tab" data-toggle="tab" href="#tenderingBidderQualification" role="tab" aria-controls="tenderingBidderQualification" aria-selected="false"><span class="headerColor"><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i> Qualification Questions</span></a>
   </li>
   
    <li class="nav-item">
    <a class="nav-link" id="tenderingBidderSubmit-tab" data-toggle="tab" href="#tenderingBidderSubmit" role="tab" aria-controls="tenderingBidderSubmit" aria-selected="false"><span class="headerColor"><i class="fa fa-check-circle" aria-hidden="true"></i> Review & Submit</span></a>
   </li> 
</ul>

<div class="tab-content" id="tenderingBidderViewContent">
  <div class="tab-pane fade show active" id="tenderingBidderOverview" role="tabpanel" aria-labelledby="tenderingBidderOverview-tab">
    <br/>
	<h2>Overview</h2>
	<strong>On the Overview page the bidder will see 5 sections:</strong>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-3 col-xs-12">
			<ul>
				<li><a href="#cover_sheet_bidder_instructions)">Cover Sheet (Bidder Instructions)</a></li>
				<li><a href="#tender_information">Tender Information</a></li>
				<li><a href="#followers">Followers</a></li>
				<li><a href="#news_feed">News Feed</a></li>
				<li><a href="#subcontracts">Subcontracts</a></li>
			</ul>
		</div>
		<div class="col-md-9 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/tendering_bidder_overview.png" data-lightbox="Tendering Bidders view-Overview page sections" data-title="Tendering Bidders view-Overview page sections">
				<img style="height:250px; border:1px solid black;" src="docs/images/tendering_bidder_overview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_overview.png"></img>
			</a>
				<figcaption>
					<small>Tendering Bidders view-Overview page sections</small>
				</figcaption>
			</figure>
		</div>			
	</div>
		
	<ul>
		<li><b><h5 id="cover_sheet_bidder_instructions)">Cover Sheet (Bidder Instructions)</h5></b></li>
			<p>
				On the Cover Sheet the bidders will see the Bidder Instructions written by the Stakeholders. This may include the tender information and a brief explanation of the pages. So make sure to read this section before you proceed to the other sections or pages.
			</p>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/cover_sheet_sample.png" data-lightbox="Tendering Bidders view-Overview-Cover Sheet Sample" data-title="Tendering Bidders view-Overview-Cover Sheet Sample">
						<img style="height:400px;" src="docs/images/cover_sheet_sample.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/cover_sheet_sample.png"></img>
					</a>
						<figcaption>
							<small>Tendering Bidders view-Overview-Cover Sheet Sample</small>
						</figcaption>
					</figure>
				</div>
				
				<div class="col-md-6 col-xs-12">
				</div>
			</div>
		
			
			
			
		<li><b><h5 id="tender_information">Tender Information</h5></b></li>
			<p>In the Tender Information section the followings are provided:</p>
			<p>
				<strong>Deadline: </strong>The Tender Deadline will be displayed here. The Bid must be submitted before the deadline passes. You will be notified by email and a message in your action box if the deadline changes. Also, you will see a notification on the top of the pages almost 2 hours before the deadline passes.
				<br/>
				<br/>
				The bidders won't be able to make changes or submit their bid after the deadline is passed. But don't worry if the deadline is passed and you haven't submitted your bid; in the Post Tender stage many features were added in the ContractComplete to help the users, Reopening Tender, Allow Resubmission, Manual Bid Entry, etc. When the deadline passes, the Tender will go to the Post Tender stage and the stakeholders can access these features. You can communicate with the Stakeholders and ask them to use them. In the Post-Tender stage the stakeholders may Reopen the Tender or allow you to resubmit bid. If they use these features, you will be given a new deadline to resubmit your bid. The deadlines will all appear on this section.
			</p>

			<p>
				<strong>Bid Intention: </strong>Bidders are able to indicate their bid intention after reviewing the tender, in this part. They can change their intention anytime as long as the deadline is not passed.
				<br/>
				By clicking one of the provided buttons the bidders indicate whether or not they plan to bid.  This will notify the stakeholders of their intention but is not binding - they may still submit a bid or change their response.
			</p>
			
			<div class="row">		
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/tendering_bidder_tender_information.png" data-lightbox="Tendering Bidders view-Overview-Tender Information" data-title="Tendering Bidders view-Overview-Tender Information">
						<img style="height:450px;" src="docs/images/tendering_bidder_tender_information.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_tender_information.png"></img>
					</a>
						<figcaption>
							<small>Tendering Bidders view-Overview-Tender Information</small>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/deadline_bid_intention01.png" data-lightbox="Deadline-Bid Intention" data-title="Deadline-Bid Intention">
						<img style="height:250px;" src="docs/images/deadline_bid_intention01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/deadline_bid_intention01.png"></img>
					</a>
						<figcaption>
							<small>Deadline-Bid Intention</small>
						</figcaption>
					</figure>
				</div>
			</div>
				
			<p>
				<strong>Questions: </strong> Add and submit your questions in this part. The stakeholders will be notified by email and a message in their action box. They will see your question right away after you submit it.
				<br/>
				The Stakeholders can answer your questions on the ContractComplete application, you'll see their answers below the question you asked. They can issue an addendum to notify you as well. Or they may decide to answer your questions by email.
			</p>
			<div class="row">		
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/tendering_bidder_question01.png" data-lightbox="Tendering Bidders view-Questions" data-title="Tendering Bidders view-Questions">
						<img style="height:200px;" src="docs/images/tendering_bidder_question01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_question01.png"></img>
					</a>
						<figcaption>
							<small>Tendering Bidders view-Questions</small>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/tendering_bidder_question02.png" data-lightbox="Ask a Question window" data-title="Ask a Question window">
						<img style="height:250px;" src="docs/images/tendering_bidder_question02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_question02.png"></img>
					</a>
						<figcaption>
							<small>Ask a Question window</small>
						</figcaption>
					</figure>
				</div>
			</div>
			<p>
				<strong>Stakeholders: </strong>All stakeholder's company logos will be displayed in this part. The Primary stakeholder company logo is displayed on the top left side of the application as well. Click a logo to see the company's information and users. You will also see the contracts you both participate in, on the Shared Contracts section.
			</p>
			<div class="row">		
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/tendering_bidder_stakeholders01.png" data-lightbox="Tendering Bidders view-Stakeholders" data-title="Tendering Bidders view-Stakeholders">
						<img style="height:120px;" src="docs/images/tendering_bidder_stakeholders01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_stakeholders01.png"></img>
					</a>
						<figcaption>
							<small>Tendering Bidders view-Stakeholders</small>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/tendering_bidder_stakeholders02.png" data-lightbox="Tendering Bidders view-Stakeholder's information" data-title="Tendering Bidders view-Stakeholder's information">
						<img style="height:250px; border:1px solid black;" src="docs/images/tendering_bidder_stakeholders02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_stakeholders02.png"></img>
					</a>
						<figcaption>
							<small>Tendering Bidders view-Stakeholder's information</small>
						</figcaption>
					</figure>
				</div>
			</div>
			<p>	
				<strong>Addenda: </strong>The addenda issued by the stakeholders will be displayed here. Clicking the 'Go to Addenda' will open the Documents page where you can see the addenda. You can open an addendum and download it. Make sure to click the Acknowledge button after you are completely aware of the changes the stakeholders made.
				<br/>
				When an addendum is not acknowledged yet it will be displayed by orange <span style="border:4px solid #f0a30a; width:30px; height:30px;display:inline-block;padding:1px; text-align:center;vertical-align:text-bottom;color:#f0a30a; font-weight:bold;">A1</span>.
				<br/>
				When an addendum is acknowledged it will be displayed by green <span style="border:4px solid #60a917; width:30px; height:30px;display:inline-block;padding:1px; text-align:center;vertical-align:text-bottom;color:#60a917; font-weight:bold;">A1</span>.
				<br/><br/>
				The Stakeholders can make changes anytime before the deadline, so make sure to check the tender even after submitting your bid. The stakeholders may decide to notify the changes with an addendum or just make the changes without sending an addendum. You will receive an email and a message in your action box if they decide to issue an addendum.
			</p>
			
			<div class="row">		
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/tendering_bidder_addenda.png" data-lightbox="Tendering Bidders view-Addenda" data-title="Tendering Bidders view-Addenda">
						<img style="height:120px;" src="docs/images/tendering_bidder_addenda.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_addenda.png"></img>
					</a>
						<figcaption>
							<small>Tendering Bidders view-Addenda</small>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/tendering_bidder_addenda_doc.png" data-lightbox="Tendering Bidders view-Addenda Documents" data-title="Tendering Bidders view-Addenda Documents">
						<img style="height:250px;" src="docs/images/tendering_bidder_addenda_doc.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_addenda_doc.png"></img>
					</a>
						<figcaption>
							<small>Tendering Bidders view-Addenda Documents</small>
						</figcaption>
					</figure>
				</div>
			</div>
			
		<li><b><h5 id="followers">Followers</h5></b></li>
			<p>
				The users listed on this section will receive notifications and alerts for this tender on their Action Box and personal email. Each Company's Master Administrator will be added on this section by default.
				<br/>
				Edit the followers by clicking the Edit Followers button. On the 'Edit Contract Followers' Window add new watchers or delete the current watchers and add new ones.
			</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/tendering_bidder_followers01.png" data-lightbox="Tendering Bidders view-Followers" data-title="Tendering Bidders view-Followers">
									<img style="height:160px;" src="docs/images/tendering_bidder_followers01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_followers01.png"></img>
								</a>
							<figcaption>
								<small>Tendering Bidders view-Followers</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_bidder_followers02.png" data-lightbox="Tendering Bidders view-Edit Followers" data-title="Tendering Bidders view-Edit Followers">
							<img style="height:300px;" src="docs/images/tendering_bidder_followers02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_followers02.png"></img>
							</a>
								<figcaption>
									<small>Tendering Bidders view-Edit Followers</small>
								</figcaption>
							</figure>
						</div>
					</div>
		<li><b><h5 id="news_feed">News Feed</h5></b></li>
			<p>
				Important changes, actions and updates made on the tender (manually or automatically), will be displayed on the News Feed.
			</p>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/tendering_bidder_newsfeed.png" data-lightbox="Tendering Bidder view-News Feed" data-title="Tendering Bidder view-News Feed">
							<img style="height:400px;" src="docs/images/tendering_bidder_newsfeed.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_newsfeed.png"></img>
						</a>
					<figcaption>
						<small>Tendering Bidder view-News Feed</small>
					</figcaption>
					</figure>
				</div>
				
				<div class="col-md-6 col-xs-12">
				</div>
			</div>
			
			
		<li><b><h5 id="subcontracts">Subcontracts</h5></b></li>
			<p>
				The bidders can add subcontracts to a Tender by clicking the "Add" button in the Subcontracts section. They can create new contracts/tenders and attach them to the current tender or just decide to add the existing contracts and tenders as the subcontracts. <strong><span style="color:red;">&#9888;</span></strong>  The subcontracts won't be displayed on the "Contracts"/"Tenders" page anymore. They will be only displayed on the overview page of the current tender instead. You can always remove the subcontracts to be displayed on the "Contracts"/"Tenders" page.
				<br/>
				<br/>
				By clicking the "Add" button the 'Find a Subcontract' window will be displayed.
					<ul>
						<li>
							Click the "Add New" button for attaching a new contract or tender to the current tender. Select one of the options, fill in the required fields and click the Accept button. The created Contract/Tender will be added in the Subcontracts section after clicking the "Yes" button on the 'Designate Subcontract' window. A page refresh may be needed to see the subcontracts.
						</li>
							
						<li>
							Search the contract/tender you want to attach as a subcontract in the search box. This way you can attach the existing contract/tender to the current tender by clicking the "Link" icon.
						</li>
					</ul>
			</p>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/subcontracts.png" data-lightbox="Tendering Bidders view-Subcontracts" data-title="Tendering Bidders view-Subcontracts">
							<img style="height:150px;" src="docs/images/subcontracts.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/subcontracts.png"></img>
						</a>
					<figcaption>
						<small>Tendering Bidders view-Subcontracts</small>
					</figcaption>
					</figure>
				</div>
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/find_subcontract.png" data-lightbox="Find a Subcontract window" data-title="Find a Subcontract window">
					<img style="height:300px;" src="docs/images/find_subcontract.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/find_subcontract.png"></img>
					</a>
						<figcaption>
							<small>Find a Subcontract window</small>
						</figcaption>
					</figure>
				</div>
			</div>
					
	</ul>
 </div>
  
  <div class="tab-pane fade" id="tenderingBidderSchedule" role="tabpanel" aria-labelledby="tenderingBidderSchedule-tab">
  	<br/>
	<h2>Schedule of Prices</h2>
	<p>
		On the Schedule of Prices page the bidders can enter their unit prices in the highlighted fields for each item. They can change the entered unit prices even after they submit their bid as long as the deadline hasn't passed.
		<br/>
		The stakeholders may lock some of the unit prices. As a bidder you won't be able to change the fixed prices and you have to accept them.
		<br/>
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/tendering_bidder_schedule_of_prices.png" data-lightbox="Tendering Bidders view-Schedule of Prices" data-title="Tendering Bidders view-Schedule of Prices">
					<img style="height:250px;" src="docs/images/tendering_bidder_schedule_of_prices.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_schedule_of_prices.png"></img>
				</a>
			<figcaption>
				<small>Tendering Bidders view-Schedule of Prices</small>
			</figcaption>
			</figure>
		</div>
	
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/tendering_bidder_schedule_export.png" data-lightbox="Tendering Bidders view-Schedule of Prices-Icons" data-title="Tendering Bidders view-Schedule of Prices-Icons">
					<img style="height:180px;" src="docs/images/tendering_bidder_schedule_export.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_schedule_export.png"></img>
				</a>
			<figcaption>
				<small>Tendering Bidders view-Schedule of Prices-Icons</small>
			</figcaption>
			</figure>
		</div>
	</div>
	<br/>
	<br/>
		<ul>
			<li>You can print bid using the <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i> icon.</li>
			<li>
				 Use the <i class="fa fa-question-circle" style="color:dark gray;" aria-hidden="true"></i> icon to ask a question about an item.
			</li>
			<li>
				Use the <span style="background-color:white;color:#267780; padding:3px;"><i class="fa fa-arrows"></i></span> sign to expand all or collapse all the items.
			</li>
			<li>
				Use the <i class="fa fa-commenting-o" style="color:dark gray;" aria-hidden="true"></i> icon to add a note for an item. Make sure to click the <i class="fa fa-check-circle" style="color:#008000;" aria-hidden="true"></i> to save your note.
			</li>
			<li>
				Use the Export option <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i> to export the Scehdule of Prices as PDF, CSV and EXCEL files.
			</li>
			<li>Your changes will be autosaved but for more assurance click the "Save" button to save your changes.</li>
		</ul>
	</p>
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/tendering_bidder_schedule_question.png" data-lightbox="Tendering Bidders view-Schedule of Prices-Question" data-title="Tendering Bidders view-Schedule of Prices-Question">
					<img style="height:250px;" src="docs/images/tendering_bidder_schedule_question.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_schedule_question.png"></img>
				</a>
			<figcaption>
				<small>Tendering Bidders view-Schedule of Prices-Question</small>
			</figcaption>
			</figure>
		</div>
		
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/tendering_bidder_note.png" data-lightbox="Tendering Bidders view-Schedule of Prices-Qualification Note" data-title="Tendering Bidders view-Schedule of Prices-Qualification Note">
			<img style="height:200px;" src="docs/images/tendering_bidder_note.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_note.png"></img>
			</a>
				<figcaption>
					<small>Tendering Bidders view-Schedule of Prices-Qualification Note</small>
				</figcaption>
			</figure>
		</div>
	</div>
	
	<strong style="color:red;">Important:</strong> 
		<ul>
			<li>
				The stakeholders will not see the notes and unit prices you entered before the deadline passes.
			</li>
			<li>
				The stakeholders will see your questions in the Tenderig stage after you submit them, to send you an answer. You can find your questions and the stakeholders answers on the Overview page. 
			</li>
			<li>
				A notification number is displayed beside the page name which indicates the number of Unit Prices you need to enter. Each time you enter a unit price or delete it this number will be updated. When all the Unit Prices are entered, the notification number will be gone.
			</li>
		</ul>
  </div>
  
  <div class="tab-pane fade" id="tenderingBidderDocuments" role="tabpanel" aria-labelledby="tenderingBidderDocuments-tab">
	<br/>
	<h2>Documents</h2>
	<p>In the Tendering stage the bidders can do the following actions on the Documents page:</p>
	<div class=" row">
		<div class="col-md-5 col-xs-12">
			<ul>
				<li>View and Download tender documents uploaded by the stakeholders</li>
				<li>Upload documents requested specifically by the stakeholders</li>
				<li>Fill a fillable form requested by the stakeholders directly in the ContractComplete</li>
				<li>Upload additional documents as part of their tender submission</li>
				<li>View, Download and Acknowledge addenda sent by the stakeholders</li>
			</ul>
		</div>
		<div class="col-md-7 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/tendering_bidder_documents.png" data-lightbox="Tendering Bidders view-Schedule of Prices-Documents" data-title="Tendering Bidders view-Schedule of Prices-Documents">
			<img style="height:250px;" src="docs/images/tendering_bidder_documents.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_documents.png"></img>
			</a>
				<figcaption>
					<small>Tendering Bidders view-Documents</small>
				</figcaption>
			</figure>
		</div>
	</div>
	
	<h4>Tender Documents:</h4> 
		<p>On the Documents page in the Tender Documents section you can:
			<ul>
				<li> Open, view and download the documents uploaded by the stakeholders.
				<li> 
					Select a document uploaded by the stakeholders and then use the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon to download the document.
				</li>
				<li>Use the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon without selecting a document to download all the files. A zip file will be downloaded which includes the files located on the Tender Documents section, Schedule of Prices and Provisional Items Excel files.</li>
			</ul>
		</p>
	   <br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/tendering_bidder_tender_documents.png" data-lightbox="Tendering Bidders view-Tender Documents" data-title="Tendering Bidders view-Tender Documents">
					<img style="height:230px;" src="docs/images/tendering_bidder_tender_documents.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_tender_documents.png"></img>
					</a>
						<figcaption>
							<small>Tendering Bidders view-Tender Documents</small>
						</figcaption>
					</figure>
				</div>
				
				<div class="col-md-6 col-xs-12">
										<figure style="width:100%; text-align: center;">
					<a href="docs/images/tendering_bidder_document_preview.png" data-lightbox="Tendering Bidders view-Document Preview" data-title="Tendering Bidders view-Document Preview">
					<img style="height:250px;" src="docs/images/tendering_bidder_document_preview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_document_preview.png"></img>
					</a>
						<figcaption>
							<small>Tendering Bidders view-Document Preview</small>
						</figcaption>
					</figure>
				</div>
			</div>
	<h4>Documents to Upload:</h4>
	<p>
		Sometimes, as part of the tendering process, a stakeholder may wish to request specific document uploads from the bidders.  Fortunately, this feature is built into the documents framework and can be accessed on the documents page under the "Documents to Upload" section. Document upload requests will appear on the bidder checklist on the Review & Submit page. Bidders will be made aware that they have been asked to complete these items.
		<br/>
		<br/>
		The stakeholders may even "link" a document to their request. The linked file can be a fillable form as well. In this case the bidders will be able to 
			<ul>
				<li>Either download the form, complete it and upload it.</li>
				<li>Or just fill the form directly in the ContractComplete application and simply click the "Save" button.</li>
			</ul>
	</p>
	
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/tendering_bidder_documents_to_upload.png" data-lightbox="Tendering Bidders view-Documents to Upload" data-title="Tendering Bidders view-Documents to Upload">
			<img style="height:200px;" src="docs/images/tendering_bidder_documents_to_upload.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_documents_to_upload.png"></img>
			</a>
				<figcaption>
					<small>Tendering Bidders view-Documents to Upload</small>
				</figcaption>
			</figure>
		</div>
		
		<div class="col-md-6 col-xs-12">
								<figure style="width:100%; text-align: center;">
			<a href="docs/images/tendering_bidder_fillable_form.png" data-lightbox="Tendering Bidders view-Fillable Form" data-title="Tendering Bidders view-Fillable Form">
			<img style="height:250px;" src="docs/images/tendering_bidder_fillable_form.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_fillable_form.png"></img>
			</a>
				<figcaption>
					<small>Tendering Bidders view-Fillable Form</small>
				</figcaption>
			</figure>
		</div>
	</div>
	
	<p>On the Documents page in the Documents to Upload section you can:
		<ul>
			<li>
				Fill a fillable form, save your changes and mark it as completed when your are completely done with filling the form.
			</li>
			<li>Open, view and download the document linkded to a Document Upload Request.</li>
			<li>Click the 'Select from Uploads' to upload the requested document.</li>
		</ul>
	</p>
	<br/>
	<br/>
	
	<h4>My Uploads:</h4> 
	<p>The bidders can upload documents in the My Uploads section. Anything you upload here will be visible to the stakeholders after the deadline.</p>
	<p>
		On the Documents page in the My Uploads section you can:
		<ul>
			<li>
				Use the "Upload" button to upload files. Either use the Drag & Drop option or the "Browse" button on the 'My Uploads' window. By using the Drag & Drop option you will be able to upload several files at the same time.
			</li>
			<li> 
				Download your uploaded files in this section by clicking the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon. A zip file will be downloaded which includes your uploaded files located in this section and their Audit Trails, Schedule of Prices and Provisional Items Excel files.
			</li>
			<li>Change the location of files and folders by dragging and dropping them.</li>
			<li>
				Download the file's audit trail by using the <i class="fa fa-check-square-o" aria-hidden="true" style="color:black"></i> icon.
			</li>
			<li>
				Select a file then click the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon to download it.
			</li>
			<li>
				Rename <i class="fa fa-pencil" aria-hidden="true"></i> or delete <i class="fa fa-trash" style="color:#ff0000;"></i> files and folders.
			</li>
			<li>Add new folders.</li>
		</ul>
	</p>
		   <br/>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_bidder_my_uploads.png" data-lightbox="Tendering Bidders view-My Uploads" data-title="Tendering Bidders view-My Uploads">
								<img style="height:200px;" src="docs/images/tendering_bidder_my_uploads.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_my_uploads.png"></img>
							</a>
								<figcaption>
									<small>Tendering Bidders view-My Uploads</small>
								</figcaption>
						</figure>
					</div>
							
					
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/file_upload_01.png" data-lightbox="File Upload Window" data-title="File Upload Window">
								<img style="height:250px; border:1px solid black;" src="docs/images/file_upload_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/file_upload_01.png"></img>
							</a>
								<figcaption>
									<small>File Upload Window</small>
								</figcaption>
						</figure>
					</div>
				</div>
	<h4>Addenda:</h4>
	<p>
		In the Tendering stage the stakeholders may make some changes in the tender and issue a formal addendum to notify the bidders. The issued addenda will be displayed in this section. Click an addendum to view the changes. You can download the addendum and click the "Acknowledge" button when you think you are completely aware of the changes the stakeholders made.
	</p>
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/tendering_bidder_documents_addenda.png" data-lightbox="Tendering Bidders view-Documents Addenda" data-title="Tendering Bidders view-Documents Addenda">
					<img style="height:250px;" src="docs/images/tendering_bidder_documents_addenda.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_documents_addenda.png"></img>
				</a>
					<figcaption>
						<small>Tendering Bidders view-Documents Addenda</small>
					</figcaption>
			</figure>
		</div>
				
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/tendering_bidder_documents_addenda01.png" data-lightbox="Tendering Bidders view-Documents Addenda Preview" data-title="Tendering Bidders view-Documents Addenda Preview">
					<img style="height:250px;" src="docs/images/tendering_bidder_documents_addenda01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_documents_addenda01.png"></img>
				</a>
					<figcaption>
						<small>Tendering Bidders view-Documents Addenda Preview</small>
					</figcaption>
			</figure>
		</div>
	</div>
	
	<p>
		A notification number is displayed beside the page name which indicates the number of actions you need to do in the Documents page before you submit your bid. This includes uploading requested documents, filling the fillable forms and acknowledging the addenda. Each time you do these actions on the Documents page this number will be updated. So make sure to click the Acknowledge button when you are completely aware of the changes written on the Addendum pdf. After completely filling a fillable form make sure to click the "Mark Form Completed" button.
		<br/>
		<br/>
		When all the actions needed on the documents page are done, the notification number will be gone.
	</p>
  </div>
  
  <div class="tab-pane fade" id="tenderingBidderProvisional" role="tabpanel" aria-labelledby="tenderingBidderProvisional-tab">
  	<br/>
	<h2>Provisional Items</h2>
	<p>
		The stakeholders may add items in the Provisional Items page to provide unit pricing information for additional items that may or may not be required later. Often, they are used at a later date to provide pricing for change orders. So the items on the Provisional items page will not affect the contract unless they are added in the change orders. (Change Orders page will be displayed in the In Progress stage.)
		<br/>
		<br/>
		On the Provisional Items page the bidder can enter Unit Prices and Values in the highlighted fields for each item. They can change the entered Unit prices and Values even after they submit their bid as long as the deadline hasn't passed. The stakeholders will see their entered data after the deadline.
	</p>
	<br/>
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<ul>
				<li>Your changes will be autosaved but for more assurance click the "Save" button to save your changes.</li>
				<li>Use the Export option <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i> to export the Provisional Items as PDF, CSV and EXCEL files.</li>
				<li>Use the tab key to go to the other cells.</li>
			</ul>
		</div>
	
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/tendering_bidder_provisional.png" data-lightbox="Tendering Bidders view-Provisional Items" data-title="Tendering Bidders view-Provisional Items">
					<img style="height:250px;" src="docs/images/tendering_bidder_provisional.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_provisional.png"></img>
				</a>
					<figcaption>
						<small>Tendering Bidders view-Provisional Items</small>
					</figcaption>
			</figure>
		</div>	
	</div>
	<br/>
	<p>
		A notification number is displayed beside the page name which indicates the number of Unit Prices and values you need to enter. Each time you enter a Unit price/Value or delete it this number will be updated. When all the Unit Prices and Values are entered, the notification number will be gone.
	</p>
  </div>
  
  <div class="tab-pane fade" id="tenderingBidderQualification" role="tabpanel" aria-labelledby="tenderingBidderQualification-tab">
  	<br/>
	<h2>Qualification Questions</h2>
	<p>
		In the Tendering stage, bidders will see the questions and instructions added by the consultants. Bidders can enter responses for each question. In Tendering stage consultants still can edit, add or delete questions, so if you are a bidder keep an eye for any changes. Qualification Questions can be exported to PDF and Excel files using the Export option <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i>.
		<br/>
		<br/>
		<strong><span style="color:red;">&#9888;</span> Consultants can allow or not allow Incomplete Bids. If they don't allow Incomplete Bids, the bidders must answer the questions that have been marked as required so that they can submit their bid.</strong>
	</p>
	
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/qualification_questions_tendering_bidderview.png" data-lightbox="Qualification Questions-Tendering stage-Bidders' view" data-title="Qualification Questions-Tendering stage-Bidders' view">
					<img style="height:250px;" src="docs/images/qualification_questions_tendering_bidderview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/qualification_questions_tendering_bidderview.png"></img>
				</a>
					<figcaption>
						<small>Qualification Questions-Tendering stage-Bidders' view</small>
					</figcaption>
			</figure>
		</div>

		<div class="col-md-6 col-xs-12">
		</div>
	</div>

  </div>
  
  <div class="tab-pane fade" id="tenderingBidderSubmit" role="tabpanel" aria-labelledby="tenderingBidderSubmit-tab">
    <br/>
	<h2>Review & Submit</h2>
	<p>
		The Review & Submit page provides a summary of your bid which you can use to ensure you are submitting a completed bid. After your bid is submitted, you may continue to make changes to your submission before the deadline. Those changes will automatically be applied to your submission.
	</p>
	<h4>Review:</h4>
	<ul>
		<li>
			In the Checklist section you can download a checklist and use it as you complete the components in your bid submission.
		</li>
		<li>
			You can upload documents requested by the stakeholders and fill the fillable forms.
		</li>
		<li>
			If an addendum is issued at any time during the tendering process, you will be able to view, download and acknowledge it here as well.
		</li>
	</ul>
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/tendering_bidder_review_submit.png" data-lightbox="Tendering Bidders view-Review & Submit page" data-title="Tendering Bidders view-Review & Submit page">
					<img style="height:300px;" src="docs/images/tendering_bidder_review_submit.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_review_submit.png"></img>
				</a>
					<figcaption>
						<small>Tendering Bidders view-Review & Submit page</small>
					</figcaption>
			</figure>
		</div>
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/tendering_bidder_review.png" data-lightbox="Tendering Bidders view-Checklist" data-title="Tendering Bidders view-Checklist">
					<img style="height:300px;" src="docs/images/tendering_bidder_review.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_review.png"></img>
				</a>
					<figcaption>
						<small>Tendering Bidders view-Checklist</small>
					</figcaption>
			</figure>
		</div>	
	</div>
	<br/><br/>
	<h4>Submit:</h4>
	<p>
		The ContractComplete has a feature that stakeholders can use to make sure they won't see Incompleted Bids. They can choose to not allow the bidders to submit incomplete bids. In this case you won't be able to see the "Submit" button on the Review & Submit page unless you have completed all the required actions.
	</p>
	In the Submissions section:
		<ul>
			<li>
				Check the Percentage to ensure you are submitting a completed bid. The percentage will be updated each time you make changes on the pages.
			</li>
			<li>
				The total bid price will be displayed. This is the total price you see on the Schedule of Prices page, so this total price does not include provisional items' prices or even taxes.
			</li>
		</ul>
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/tendering_bidder_submission01.png" data-lightbox="Submit Bid-Incomplete Bid Allowed" data-title="Submit Bid-Incomplete Bid Allowed">
					<img style="height:250px;" src="docs/images/tendering_bidder_submission01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_submission01.png"></img>
				</a>
					<figcaption>
						<small>Submit Bid-Incomplete Bid Allowed</small>
					</figcaption>
			</figure>
		</div>
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/tendering_bidder_submission02.png" data-lightbox="Submit Bid-Incomplete Bid Not Allowed" data-title="Submit Bid-Incomplete Bid Not Allowed">
					<img style="height:250px;" src="docs/images/tendering_bidder_submission02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_submission02.png"></img>
				</a>
					<figcaption>
						<small>Submit Bid-Incomplete Bid Not Allowed</small>
					</figcaption>
			</figure>
		</div>	
	</div>
	<p>
		When you are ready, click the "Submit Bid" button on this page, and follow the onscreen instructions to submit your bid. You can continue to edit your bid after submitting as long as the deadline has not passed. The changes you make will automatically be applied to your submission. The stakeholders will not see your submission in the Tendering stage and before the deadline. When the deadline passes the Post-Tender stage will be started, you will no longer be able to make changes or submit bid. Stakeholders will see your submission in the Post-Tender stage.
	</p>
	
  </div>  
</div>

<div style="border-top:2px solid; border-color:#909090;">
	<br/>
	<h3>Next Stage:</h3>
	<p>
		When the Deadline passes the Post-Tender stage will start. You will no longer be able to make changes or submit bid. In the Post-Tender stage you can only view the pages and documents, use the export option on the Schedule of Prices and Provisional items, download documents and files.
		<br/>
		<strong><span style="color:red;">&#9888;</span></strong> Don't worry if you forgot something in the Tendering stage. You can communicate with the Stakeholders and ask them to use the many features provided in the Post-Tender stage like Reopen Tender, Allow Resubmissions, Manual Bid Entry, etc. <strong>For more information about the next step click the <a href="?page=post_tender#content">Post-Tender stage</a>.</strong>
	</p>
</div>