<h1>Tender</h1>

<p>
A tendered contract is one that has yet to be awarded to a contractor and requires a bidding process.
For Creating a Tender click the <strong>"My Bids, Tenders & Quotes"</strong> tab located on the top left side of the ContractComplete page.
On the "My Bids, Tenders & Quotes" page two buttons are provided on the top left side.</p>
<div class="row">
	<div class="col-md-2 col-xs-12">
	
		<strong>
		<ul>
			<li>New Tender</li>
			<li>Create Quote</li>
		</ul>
		</strong>
	</div>
	<div class="col-md-10 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/my_bids_tenders_quotes_buttons.png" data-lightbox="My Bids, Tenders, Quotes buttons.png" data-title="New Tender/ Create Quote Buttons">
			<img style="height:80px;" src="docs/images/my_bids_tenders_quotes_buttons.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/my_bids_tenders_quotes_buttons.png"></img>
		</a>
			<figcaption>
				<small>New Tender/ Create Quote Buttons</small>
			</figcaption>
		</figure>
	</div>
</div>


<br/><br/>

<p>
	Click the "New Tender" button, then fill in the required fields on the 'Create Tender' window. Select Time Zone and Division from their drop down menu.
</p>

	
<div class="row">
	<div class="col-md-2 col-xs-12">
	</div>
	
	<div class="col-md-10 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/new_tender_button.png" data-lightbox="New Tender button" data-title="New Tender button">
			<img style="height:80px;" src="docs/images/new_tender_button.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/new_tender_button.png"></img>
		</a>
			<figcaption>
				<small>New Tender button</small>
			</figcaption>
		</figure>
	</div>

</div>
	
	<br/>
<p>
	<strong><span style="color:red;">&#9888;</span> Division field may not appear on the Create Tender window if no divisions were added on the "User Configuration" page. If your Company has more than one division, you can add divisions on the User Configuration page located in the "My Company" tab. Please see the <a href="?page=user_configuration#content">User Configuration</a> for more information about the divisions.</strong>
</p>

<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/create_tender.png" data-lightbox="Create Tender window 01" data-title="Create Tender window 01">
			<img style="height:250px;" src="docs/images/create_tender.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/create_tender.png"></img>
		</a>
			<figcaption>
				<small>Create Tender window 01</small>
			</figcaption>
		</figure>
	</div>
	
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/create_tender_division.png" data-lightbox="Create Tender window 02" data-title="Create Tender window 02">
			<img style="height:250px;" src="docs/images/create_tender_division.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/create_tender_division.png"></img>
		</a>
			<figcaption>
				<small>Create Tender window 02</small>
			</figcaption>
		</figure>
	</div>
</div>
<br/><br/>
<p>
After filling the required fields, selecting Time Zone and Division click the Accept button. Now the Tender is created, your company will be the Primary Stakeholder and the Tender will be in the Draft stage. 
</p>
<div class = "row">
	<div class="col-md-6 col-xs-12">
		<figure style="width:100%; text-align: center;">
		<a href="docs/images/create_tender_draft.png" data-lightbox="New Tender/ Draft stage" data-title="New Tender/ Draft stage">
			<img style="height:250px;" src="docs/images/create_tender_draft.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/create_tender_draft.png"></img>
		</a>
			<figcaption>
				<small>New Tender/ Draft stage</small>
			</figcaption>
		</figure>
	</div>
	
	<div class="col-md-6 col-xs-12">
	</div>
</div>
<br/><br/>
<h2>Next Steps:</h2>
<p>
<strong>
Next steps are explained in details in the links below:
	<ul>
		<a href="?page=tender_draft#content"><li>Draft</li></a>
		<a href="?page=tendering#content"><li>Tendering</li></a>
		<a href="?page=post_tender#content"><li>Post Tender</li></a>
	</ul>
</strong>
</p>