<style>
	.headerColor{
		color: #909090;
		font-size: 16px;
	}
	#tenderingStakeholderView >  li  > .active {
		border-bottom:5px solid #146b75;
	}
	#tenderingStakeholderView >  li  > .active > span {
		color: #146b75;
		font-weight:bolder;
	}
</style>

<h1>Tendering-Stakeholder's View</h1>

<strong><P>
This article covers the tendering process from the perspective of the Stakeholders.  If you are a Bidder, you may wish to read the page covering <strong><a href="?page=tendering_bidder#content">Tendering Bidder's View</a></strong>.
</p></strong>
<br/>
<h3>Commence Bidding</h3>
<p>After making changes in the Draft stage, you can start the Tendering stage. In the Draft stage go to the Overview page, set a deadline in the Summary section and click the "Commence Bidding" button. The Tendering stage will start and the bidders will receive an Email and a message in their action box, inviting them to Bid.
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/rfp_deadline.png" data-lightbox="RFP Deadline" data-title="RFP Deadline">
					<img style="height:100px;" src="docs/images/rfp_deadline.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/rfp_deadline.png"></img>
				</a>
				<figcaption>
					<small>RFP Deadline</small>
				</figcaption>
			</figure>
		</div>
			
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/commence_bidding.png" data-lightbox="Commence Bidding" data-title="Commence Bidding">
					<img style="height:150px;" src="docs/images/commence_bidding.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/commence_bidding.png"></img>
				</a>
				<figcaption>
					<small>Commence Bidding</small>
				</figcaption>
			</figure>
		</div>
	</div>
</p>

<br/>

<p>
<strong><span style="color:red;">&#9888;</span> If you forgot something in the Draft stage don't worry, you can make any change you wish to a contract in the tendering phase. Making changes in the schedule of prices, provisional items, documents and bidder instructions pages immediately updates the view that the bidder has of the contract.</strong>
</p>

<br/>

<p>
In the Tendering stage the Stakeholders will see 7 pages same as the following. Please go through the provided tabs to see the detailed explenation of each page.
</p>

<br/>

<ul class="nav nav-tabs" id="tenderingStakeholderView" role="tablist" style="border-bottom:2px solid; border-color:#909090;">

  <li class="nav-item">
	<a class="nav-link active" id="tenderingStakeholderOverview-tab" data-toggle="tab" href="#tenderingStakeholderOverview" role="tab" aria-controls="tenderingStakeholderOverview" aria-selected="true">
		<span class="headerColor">
			<i class="fa fa-home" aria-hidden="true"></i> Overview
		</span>
	</a>
  </li>
  
  <li class="nav-item">
	<a class="nav-link" id="tenderingStakeholderSchedule-tab" data-toggle="tab" href="#tenderingStakeholderSchedule" role="tab" aria-controls="tenderingStakeholderSchedule" aria-selected="false"><span class="headerColor">
	<i class="fa fa-list-ol" aria-hidden="true"></i> Schedule of Prices</span></a>
  </li>
  
  <li class="nav-item">
	<a class="nav-link" id="tenderingStakeholderDocuments-tab" data-toggle="tab" href="#tenderingStakeholderDocuments" role="tab" aria-controls="tenderingStakeholderDocuments" aria-selected="false"><span class="headerColor">
	<i class="fa fa-folder" aria-hidden="true"></i> Documents</span></a>
  </li>
  
   <li class="nav-item">
	<a class="nav-link" id="tenderingStakeholderProvisional-tab" data-toggle="tab" href="#tenderingStakeholderProvisional" role="tab" aria-controls="tenderingStakeholderProvisional" aria-selected="false"><span class="headerColor">
	<i class="fa fa-list" aria-hidden="true"></i> Provisional Items</span></a>
   </li>
  
   <li class="nav-item">
	<a class="nav-link" id="tenderingStakeholderQualification-tab" data-toggle="tab" href="#tenderingStakeholderQualification" role="tab" aria-controls="tenderingStakeholderQualification" aria-selected="false"><span class="headerColor">
	<i class="fa fa-question-circle fa-lg" aria-hidden="true"></i> Qualification Questions</span></a>
   </li>
   
	<li class="nav-item">
	<a class="nav-link" id="tenderingStakeholderInstructions-tab" data-toggle="tab" href="#tenderingStakeholderInstructions" role="tab" aria-controls="tenderingStakeholderInstructions" aria-selected="false"><span class="headerColor">
	<i class="fa fa-file" aria-hidden="true"></i> Bidder Instructions</span></a>
   </li>
   
	<li class="nav-item">
	<a class="nav-link" id="tenderingStakeholderAddendum-tab" data-toggle="tab" href="#tenderingStakeholderAddendum" role="tab" aria-controls="tenderingStakeholderAddendum" aria-selected="false"><span class="headerColor"><i class="fa fa-plus-square" aria-hidden="true"></i> Addendum Builder</span></a>
   </li>
  
</ul>

<div class="tab-content" id="tenderingStakeholderViewContent">
  <div class="tab-pane fade show active" id="tenderingStakeholderOverview" role="tabpanel" aria-labelledby="tenderingStakeholderOverview-tab">
  <br/>
	<h2>Overview</h2>
	<Strong>On the overview page 7 sections are provided:</strong>
		<br/>
		<br/>
		<div class="row">
			<div class="col-md-2 col-xs-12">
				<ul>
					<li><a href="#summary">Summary</a></li>
					<li><a href="#addenda">Addenda</a></li>
					<li><a href="#configurations">Configurations</a></li>
					<li><a href="#stakeholders_bidders">Stakeholders & Bidders</a></li>
					<li><a href="#questions">Questions</a></li>
					<li><a href="#followers">Followers</a></li>
					<li><a href="#news_feed">News Feed</a></li>
				</ul>
			</div>

			<div class="col-md-10 col-xs-12">
				<figure style="width:100%; text-align: center;">
				<a href="docs/images/tendering_overview_sections.png" data-lightbox="Tendering Overview page Sections" data-title="Tendering Overview page Sections">
					<img style="height:250px; border:1px solid black;" src="docs/images/tendering_overview_sections.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_overview_sections.png"></img>
				</a>
					<figcaption>
						<small>Tendering stage Overview page_Sections</small>
					</figcaption>
				</figure>
			</div>			
		</div>
		<ul>
			<li><b><h5 id="summary">Summary<h5></b></li>
				<p>
					In the Summary section, Contract Information can be edited. Clicking the "Edit Contract Info" button will open the 'Edit Contract' window. Simply make changes and click the save button. 
					<br/>
					In the Tendering stage you won't be able to change the Time Zone, Division or the Currency.
				</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_stakeholder_overview_summary.png" data-lightbox="Tendering Overview page Summary" data-title="Tendering Overview page Summary">
							<img style="height:600px;" src="docs/images/tendering_stakeholder_overview_summary.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_stakeholder_overview_summary.png"></img>
							</a>
								<figcaption>
									<small>Tendering Overview page_Summary</small>
								</figcaption>
							</figure>
						</div>
			
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/edit_contract_window.png" data-lightbox="Edit Contract window" data-title="Edit Contract window">
							<img style="height:300px;" src="docs/images/edit_contract_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_contract_window.png"></img>
							</a>
								<figcaption>
									<small>Edit Contract window</small>
								</figcaption>
							</figure>
						</div>
					</div>
				<br/>
				
				<p>
				<strong>Allow Incomplete Bids:</strong>
				If you have selected this option in the Draft stage, the bidders can submit an Incomplete Bid in the Tendering stage. In the Tendering stage you won't be able to check or uncheck this option.
				</p>
				
				<p>
				<strong>Allow Bid Encryption:</strong>
				As mentioned in the Tender Draft stage, extra security can be added by using the Allow Bid Encryption option.
				Allow Bid Encryption will give the bidders permission to encypt their bid and enter a password after opening the Tender for the first time in the Tendring stage.
				If the bidders have chosen to encrypt their bid, make sure to ask them to provide you with the password; otherwise you won't be able to see their bid in the Post Tender stage.
				</p>
				
				<p>
				Add Location using the Pick button. Then in the 'Select a Location' window search for the address using the Map or the search field, then click the Accept button.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/location.png" data-lightbox="Location" data-title="Location">
						<img style="height:60px;" src="docs/images/location.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/location.png"></img>
						</a>
							<figcaption>
								<small>Location</small>
							</figcaption>
						</figure>
					</div>

			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/select_location.png" data-lightbox="Select a Location" data-title="Select a Location">
						<img style="height:400px;" src="docs/images/select_location.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/select_location.png"></img>
						</a>
							<figcaption>
								<small>Select a Location window</small>
							</figcaption>
						</figure>
					</div>
				</div>
				<p>
				<strong>Bidder Invite Url:</strong>
				For inviting more bidders to this tender use the provided Url. The Bidders may or may not have the ContractComplete account. The Bidders will be able to login or sign up using the Url. ContractComplete application is free for the bidders.
				<br/>
				When a bidder login or signup using the Url, the bidder automatically will be added in the Bidders section on the Overview page.
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/bidder_invite_url.png" data-lightbox="Bidder Invite Url" data-title="Bidder Invite Url">
							<img style="height:250px;" src="docs/images/bidder_invite_url.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/bidder_invite_url.png"></img>
							</a>
								<figcaption>
									<small>Bidder Invite Url</small>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-6 col-xs-12">
						</div>
					</div>
				</p>
				
				<p>
				<strong>RFP Deadline:</strong>
				In the Tendering stage you still can change the deadline as long as the deadline is not passed. The bidders will be notified of the change by email and a message in their action Box. 
				<br/>
				Tenders have a finite deadline. The bidders won't be able to make changes or submit their bid after the deadline is passed. But don't worry if the deadline is passed and the bidders haven't submitted their bids; in the Post Tender stage many features were added in the ContractComplete to help the users, Reopening Tender, Allow Resubmission, Manual Bid Entry, etc. When the deadline passes, the Tender will go to the Post Tender stage and you can access these features.
				</p>
				
				<br/><br/>
		
		
			<li><b><h5 id="addenda">Addenda<h5></b></li>
				<p>In the Tendering stage you can still make changes to the schedule of prices, the documents, provisional items, and bidder instructions at any time. The changes made to the schedule of prices, the documents and provisional items will be displayed on the Addendum Builder page.
				<br/>
				If you would like to alert the bidders with an addendum summarizing these changes, you have two options. You can:
					<ul>
						<li>Go to the Addendum Builder page and use the "Create from Selected" button. ContractComplete will automatically generate an addendum based on your recent changes.</li>
						<li>Upload an addendum PDF that you have created outside of the ContractComplete application using the "Upload Addendum" button located both on the Overview page and Addendum Builder page.</li>
					</ul>
					
				<br/><br/>
				
				So, if you have your own pdf file click the "Upload Addendum" button in the Addenda section. Fill in the required fields, select a file and click the finish button on the 'Upload Addendum' window. (The Uploaded file can be downloaded in the Addenda section later if needed.) The file will be emailed to all the bidders. The Bidders will also see a message in their action box notifying them of the changes.
				<br/>
				<br/>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/addenda_section.png" data-lightbox="Addenda Section" data-title="Addenda Section">
							<img style="height:400px;" src="docs/images/addenda_section.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/addenda_section.png"></img>
							</a>
								<figcaption>
									<small>Addenda Section</small>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/upload_addendum_window.png" data-lightbox="Upload Addendum Window" data-title="Upload Addendum Window">
							<img style="height:400px;" src="docs/images/upload_addendum_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/upload_addendum_window.png"></img>
							</a>
								<figcaption>
									<small>Upload Addendum Window</small>
								</figcaption>
							</figure>
						</div>
					</div>
				</p>
				
				<p>
				After sending an addendum, Acknowledge sign <span style="border:4px solid #f0a30a; width:30px; height:30px;display:inline-block;padding:1px; text-align:center;vertical-align:text-bottom;color:#f0a30a; font-weight:bold;">A1</span> will be added on the Bidders Section.
				<br/>
				The Bidders will see an "Acknowledge" button beside each addendum you send. When a bidder clicks this button the Acknowledge sign color will change to green <span style="border:4px solid #60a917; width:30px; height:30px;display:inline-block;padding:1px; text-align:center;vertical-align:text-bottom;color:#60a917; font-weight:bold;">A1</span> . This means that the bidder is completely aware of the change. On the Addenda section you also can see how many bidders have acknowledged the addenda.
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/addenda_acknowledge_sign.png" data-lightbox="Addenda Acknowledge Sign" data-title="Addenda Acknowledge Sign">
							<img style="height:250px;" src="docs/images/addenda_acknowledge_sign.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/addenda_acknowledge_sign.png"></img>
							</a>
								<figcaption>
									<small>Addenda Acknowledge Sign</small>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-6 col-xs-12">
						</div>
					</div>
				</p>

			<li><b><h5 id="configurations">Configurations<h5></b></li>
				<p>
				The Configurations section options will affect the Progress Reports, Invoices, Holdback Invoices, Payment Certificates and Holdback  Payment Certificates in the In Progress stage. This section can be edited in the other stages as well.
				</p>
				<p>
				<strong>Payment Terms:</strong> The Payment Terms can be set to help monitor the due dates displayed in the Invoices page located at the My Company tab. To set the Payment Terms, click the Edit button, then choose one of the options, enter a number and click the Save button.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations.png" data-lightbox="Configurations" data-title="Configurations">
						<img style="height:250px;" src="docs/images/configurations.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations.png"></img>
						</a>
							<figcaption>
								<small>Configurations</small>
							</figcaption>
						</figure>
					</div>
			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_payment_terms.png" data-lightbox="Configurations_Payment Terms" data-title="Configurations_Payment Terms">
						<img style="height:250px;" src="docs/images/configurations_payment_terms.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_payment_terms.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Payment Terms</small>
							</figcaption>
						</figure>
					</div>
				</div>

				<br/>
				<p>
				<strong>Overbilling:</strong> Overbilling option will allow the contractor in the In Progress stage to bill for the unit quantities greater than the original contract quantities. Once the contractor submits their first overage, you won't be able to uncheck the Overbilling.
				To allow the Overbilling checkin the Checkbox, then click the "Yes" button in the 'Allow Overbilling' window.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_overbilling_checkbox.png" data-lightbox="Configurations Overbilling Checkbox" data-title="Configurations_Overbilling Checkbox">
						<img style="height:250px;" src="docs/images/configurations_overbilling_checkbox.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_overbilling_checkbox.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Overbilling Checkbox</small>
							</figcaption>
						</figure>
					</div>
			
					<div class="col-md-6 col-xs-12">
					</div>
				</div>
				<br/>
				<p>
				<strong>Holdback defaults:</strong> Holdback defaults can be added using the "Add Default Holdback" button. Click the "Add Default Holdback" button, enter a name and amount (the amount will be in percentage). If you want to set the holdback as a default for all the new Tenders and Contracts checkin the Checkbox then click the "Plus" button. The holdback will be added at the bottom of the 'Holdback Amounts' window and the Overview page. If you want to set the holdback for only this contract make sure the checkbox is unchecked.
				<br/>
				To add a holdback from the bottom list click the green plus sign located on the left side of the holdback.
				Clicking the "Red Trash" icon will delete the Holdback default from the page.
				</p>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_holdback.png" data-lightbox="Configurations Holdback Defaults" data-title="Configurations_Holdback Defaults">
						<img style="height:250px;" src="docs/images/configurations_holdback.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_holdback.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Holdback Defaults</small>
							</figcaption>
						</figure>
					</div>
			
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
						<a href="docs/images/configurations_holdback_amounts.png" data-lightbox="Configurations_Holdback Amounts window" data-title="Configurations_Holdback Amounts window">
						<img style="height:250px;" src="docs/images/configurations_holdback_amounts.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/configurations_holdback_amounts.png"></img>
						</a>
							<figcaption>
								<small>Configurations_Holdback Amounts window</small>
							</figcaption>
						</figure>
					</div>
				</div>
			
			
			<li><b><h5 id="stakeholders_bidders">Stakeholders & Bidders<h5></b></li>
				<p>
					In the Tendering stage you still can add or delete Additional stakeholders and bidders. Deleted Additional Stakeholders and Bidders will no longer see the Tender right after they've been deleted.
					<br/>
					<br/>
					<strong>Additional Stakeholder:</strong>
					You can still add or delete additional stakeholders in the Tendering stage. The Additional stakeholders can now be added with two different permissions:
					<ul>
						<li>Selecting the Read-Only Permission will only allow the Additional Stakeholder to view the Tender. The Additional stakeholder will only be able to do some restricted actions.</li>
						<li>Selecting the other option will allow the Additional Stakeholder to edit and do many actions similar to the Primary Stakeholder.</li>
					</ul>
					<br/>
				</p>
				
				<p>
					For adding a stakeholder, click the "Add Stakeholder" button. On the 'Stakeholder Selection' window select one of the companies from the list. If the company you are looking for is not on the list, enter the company name or an Email address in the top field to find it. Using the Filters on the left side can be helpful to find the company faster.
				</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_stakeholder_bidder_section.png" data-lightbox="Tendering-Additional Stakeholder & Bidders Section" data-title="Tendering-Additional Stakeholder & Bidders Section">
							<img style="height:250px;" src="docs/images/tendering_stakeholder_bidder_section.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_stakeholder_bidder_section.png"></img>
							</a>
								<figcaption>
									<small>Tendering-Additional Stakeholders & Bidders Section</small>
								</figcaption>
							</figure>
						</div>
				
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/stakeholder_selection_window.png" data-lightbox="Stakeholder Selection window" data-title="Stakeholder Selection window">
							<img style="height:250px;width:350px" src="docs/images/stakeholder_selection_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/stakeholder_selection_window.png"></img>
							</a>
								<figcaption>
									<small>Stakeholder Selection window</small>
								</figcaption>
							</figure>
						</div>
					</div>
				<p>
					In case the company you are looking for doesn't have a ContractComplete account, use the "Invite New Company" button. On the 'Invite a Vendor' window you will be able to send an invitation for an employee of your favorite company. Fill the required fields then click the "Send" button. If you want to send the invitation for several employees of a single company use the "Add" button located on the top right side of the window.
				</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/stakeholder_invite_new_company.png" data-lightbox="Additional Stakeholder Invite" data-title="Additional Stakeholder Invite">
							<img style="height:250px; width:350px;" src="docs/images/stakeholder_invite_new_company.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/stakeholder_invite_new_company.png"></img>
							</a>
								<figcaption>
									<small>Additional Stakeholder Invite</small>
								</figcaption>
							</figure>
						</div>
				
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/invite_vendor.png" data-lightbox="Invite Vendor Window" data-title="Invite Vendor Window">
							<img style="height:250px;" src="docs/images/invite_vendor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/invite_vendor.png"></img>
							</a>
								<figcaption>
									<small>Invite Vendor Window</small>
								</figcaption>
							</figure>
						</div>
					</div>
					<br/>
				<p>	
					After Selecting the company choose one of the two provided options on the 'Consultant Status' window to give the company the required permission.(Read-Only or Edit)
					<br/>
					Click the Save button to proceed. The Additional stakeholder will be added on the page and he/she will receive an email inviting them to collaborate on the created Tender. Clicking the red trash icon will delete the stakeholder from the Overview page.
				</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/consultant_status_window.png" data-lightbox="Additional Stakeholder Permission" data-title="Additional Stakeholder Permission">
									<img style="height:200px;" src="docs/images/consultant_status_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/consultant_status_window.png"></img>
								</a>
							<figcaption>
								<small>Additional Stakeholder Permission</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
						</div>
					</div>
					
					<br/>
					<br/>
					<p>
					<strong>Bidder:</strong> You can still add or delete Bidders in the Tendering stage. The deleted bidders will no longer see the Tender right after they've been deleted. To add a bidder click the "Add Bidder" button. Unlike the Stakeholder Selection window, on the 'Company Selection' Window you are able to select several bidders at the same time before clicking the save button. Use the Filters or the search box to find the companies faster.
					</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_stakeholder_bidder_section.png" data-lightbox="Tendering-Add Bidder" data-title="Tendering-Add Bidder">
							<img style="height:250px;" src="docs/images/tendering_stakeholder_bidder_section.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_stakeholder_bidder_section.png"></img>
							</a>
								<figcaption>
									<small>Tendering-Add Bidder</small>
								</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_company_selection_window.png" data-lightbox="Tendering-Company Selection Window" data-title="Tendering-Company Selection Window">
							<img style="height:250px;" src="docs/images/tendering_company_selection_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_company_selection_window.png"></img>
							</a>
								<figcaption>
									<small>Tendering-Company Selection Window</small>
								</figcaption>
							</figure>
						</div>
					</div>
					<p>
					In case the company you are looking for doesn't have a ContractComplete account, use the "Invite New Company" button. On the 'Invite a Vendor' window you will be able to send an invitation for an employee of your favorite company. Fill the required fields then click the "Send" button. If you want to send the invitation for several employees of a single company use the "Add" button located on the top right side of the window.
					</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/company_selection_window_02.png" data-lightbox="Add Bidder-New Company" data-title="Add Bidder-New Company">
									<img style="height:250px;" src="docs/images/company_selection_window_02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/company_selection_window_02.png"></img>
								</a>
							<figcaption>
								<small>Add Bidder-New Company</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/invite_vendor.png" data-lightbox="Invite Vendor Window" data-title="Invite Vendor Window">
							<img style="height:250px;" src="docs/images/invite_vendor.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/invite_vendor.png"></img>
							</a>
								<figcaption>
									<small>Invite Vendor Window</small>
								</figcaption>
							</figure>
						</div>
					</div>
					<p>
					The selected and invited companies will be added on the right side of the 'Comapny Selection' Window, clicking the 	save button will add the bidders on the Overview page. Since you are in the Tendering stage, the added bidders will see the Tender right after they've been added. They will also receive an email and a message in their Action Box inviting them to bid.
					</p>
				
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/company_selection_window_01.png" data-lightbox="Add Several Bidders" data-title="Add Several Bidders">
									<img style="height:250px;" src="docs/images/company_selection_window_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/company_selection_window_01.png"></img>
								</a>
							<figcaption>
								<small>Add Several Bidders</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
						</div>
					</div>
				
					<strong style="color:red;">Important:</strong> 
				<ul>	
					<li>
						In the Tendering stage, in the bidders section you can see the bidders intent. Bidders are able to indicate their bid intent within ContractComplete in this stage, but if you have already know their intentions, you may specify that here using the "Edit Intent" button.
					</li>
					<li>
						You may have uploaded files on the document page or uploaded a file as an addendum. The number of uploaded files is displayed in the bidder section. When a bidder opens a file this section will be updated.
					</li>
					<li>
						As mentioned in the Addenda section, if you have sent an addendum using the Addendum Builder page or "Upload Addendum" button, the Acknowledge sign <span style="border:4px solid #f0a30a; width:30px; height:30px;display:inline-block;padding:1px; text-align:center;vertical-align:text-bottom;color:#f0a30a; font-weight:bold;">A1</span> will be added on the Bidders Section. 
						<br/>
						The Bidders will see an "Acknowledge" button beside each addendum you send. When a bidder clicks this button the Acknowledge sign color will change to green <span style="border:4px solid #60a917; width:30px; height:30px;display:inline-block;padding:1px; text-align:center;vertical-align:text-bottom;color:#60a917; font-weight:bold;">A1</span> . This means that the bidder is completely aware of the change.
					</li>
				</ul>
				
				<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_stakeholder_bidder_section.png" data-lightbox="Tendering-Bidder Section" data-title="Tendering-Bidder Section">
							<img style="height:350px;" src="docs/images/tendering_stakeholder_bidder_section.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_stakeholder_bidder_section.png"></img>
							</a>
								<figcaption>
									<small>Tendering-Bidder Section</small>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/edit_bid_intent.png" data-lightbox="Edit Bid Intent Window" data-title="Edit Bid Intent Window">
							<img style="height:200px;" src="docs/images/edit_bid_intent.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_bid_intent.png"></img>
							</a>
								<figcaption>
									<small>Edit Bid Intent Window</small>
								</figcaption>
							</figure>
						</div>
				</div>
					
			<li><b><h5 id="questions">Questions<h5></b></li>
				<p>
					The bidders can submit questions about a specific item in the Schedule of Prices page or anything else. These questions will be displayed in this section. You can provide an answer, add, delete (<i style="color:red;"class="fa fa-times" aria-hidden="true"></i>) or edit a question. The answer can be used to generate an addendum later. Note that answering a question will not notify the bidders until an addendum is sent.
				</p>
				<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_questions.png" data-lightbox="Tendering-Questions section" data-title="Tendering-Questions Section">
							<img style="height:220px;" src="docs/images/tendering_questions.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_questions.png"></img>
							</a>
								<figcaption>
									<small>Tendering-Questions section</small>
								</figcaption>
							</figure>
						</div>
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_edit_question.png" data-lightbox="Edit Question Window" data-title="Edit Question Window">
							<img style="height:350px;" src="docs/images/tendering_edit_question.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_edit_question.png"></img>
							</a>
								<figcaption>
									<small>Edit Question Window</small>
								</figcaption>
							</figure>
						</div>
				</div>
				
			<li><b><h5 id="followers">Followers<h5></b></li>
				<p>The users listed on this section will receive notifications and alerts for this specific Contract on their Action Box and personal email. Each Company's Master Administrator will be added on this section by default.
				<br/>
				Edit the followers by clicking the Edit Followers button. On the 'Edit Contract Followers' Window add new watchers or delete the current watchers and add new ones.
				Adding stakeholders and bidders in the Tendering stage will automatically add the companies and their Master Admin in the Followers section.</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/tendering_stakeholder_followers_newsfeed.png" data-lightbox="Tendering Stakeholder's view Followers" data-title="Tendering Stakeholder's view-Followers">
									<img style="height:250px;" src="docs/images/tendering_stakeholder_followers_newsfeed.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_stakeholder_followers_newsfeed.png"></img>
								</a>
							<figcaption>
								<small>Tendering Stakeholder's view-Followers</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/edit_followers.png" data-lightbox="Edit Followers" data-title="Edit Followers">
							<img style="height:250px;" src="docs/images/edit_followers.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_followers.png"></img>
							</a>
								<figcaption>
									<small>Edit Followers</small>
								</figcaption>
							</figure>
						</div>
					</div>
					
			<li><b><h5 id="news_feed">News Feed<h5></b></li>
				<p>Important changes, actions and updates made on a contract (manually or automatically), will be displayed on the News Feed.
				<br/>
				Notes can be added on the News Feed section as well by clicking the "Add a Note" button. If you want the followers to see the Note only on their News Feed just enter a note on the right side and uncheck the "Notify Users with an Email", then click the Accept button; otherwise the followers will receive an email as well as seeing the note on their News Feed.
				</p>
					<div class = "row">
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/tendering_stakeholder_followers_newsfeed.png" data-lightbox="Tendering Stakeholder's view-News Feed" data-title="Tendering Stakeholder's view-News Feed">
									<img style="height:250px;" src="docs/images/tendering_stakeholder_followers_newsfeed.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_stakeholder_followers_newsfeed.png"></img>
								</a>
							<figcaption>
								<small>Tendering Stakeholder's view-News Feed</small>
							</figcaption>
							</figure>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<figure style="width:100%; text-align: center;">
							<a href="docs/images/add_note.png" data-lightbox="Add a Note" data-title="Add a Note">
							<img style="height:250px;" src="docs/images/add_note.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/add_note.png"></img>
							</a>
								<figcaption>
									<small>Add a Note</small>
								</figcaption>
							</figure>
						</div>
					</div>
		</ul>
		
  </div>
  
  <div class="tab-pane fade" id="tenderingStakeholderSchedule" role="tabpanel" aria-labelledby="tenderingStakeholderSchedule-tab">
	<br/>
	<h2>Schedule of Prices</h2>
	<p>In the Tendering stage you still can make any changes on the Schedule of Prices page. Everything on the Schedule of Prices page is the same as the Draft stage. The only difference is that when you make changes the bidders will see the changes right away after the changes are saved. The bidders will never see the Budgeted Prices even if you decide to change the prices. The changes will be added on the Addendum builder page, so you can send an addendum later to notify the bidders of the changes. The bidders will be able to enter their prices for each item and ask questions or add notes for an item.</p>
	<br/>
	<br/>
	<p>In the Schedule of Prices page the contract main items can be added. You can add description, quantity, unit and budgeted unit price. Use the tab key to go to the next cell. In the Tendering stage the bidders will be able to enter their prices for each item.
		<br/>
		<strong><span style="color:red;">&#9888;</span> Don't worry, the bidders will not see your entered budgeted prices, these are for your personal use. In the Post Tender stage you will be able to compare the budgeted prices with the bidders prices.</strong></p>
		<ul>
			<li> Use <span style="background-color:#eaffe9;color:#008000; padding:3px;"><i class="fa fa-plus"></i></span> sign to add items and subitems. Four buttons are provided on the top left side. You can use these <img style="height:30px;" src="docs/images/customize_schedule_of_prices.png"></img> buttons to better customize the table.</li>
			<li>Drag and drop the items to change their location. The numbering will automatically update.</li>
			<li>You can change the numbering at any time. To reset and go back to the default numbering click the <span style="background-color:#f5f5f5;color:black;padding:3px;"><i class="fa fa-refresh"></i></span> sign.</li>
			<li>Delete the items using the <i class="fa fa-trash" style="color:#c75050;"></i> sign.</li>
			<li>Use the <span style="background-color:white;color:#267780; padding:3px;"><i class="fa fa-arrows"></i></span> sign to expand all or collapse all the items.</li>
			<li>Your changes will be autosaved but for more assurance click the "Save" button to save your changes.</li>
			<li>Use the Export option to export the Scehdule of Prices as PDF, CSV and EXCEL files.</li>
		</ul>
		
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/tendering_schedule_of_prices.png" data-lightbox="Tendering-Schedule of Prices" data-title="Tendering-Schedule of Prices">
							<img style="height:250px;" src="docs/images/tendering_schedule_of_prices.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_schedule_of_prices.png"></img>
						</a>
							<figcaption>
								<small>Tendering-Schedule of Prices</small>
							</figcaption>
							</figure>
				</div>
						
			
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/schedule_of_prices_export.png" data-lightbox="Schedule of Prices-Export" data-title="Schedule of Prices-Export">
							<img style="height:150px;" src="docs/images/schedule_of_prices_export.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/schedule_of_prices_export.png"></img>
						</a>
							<figcaption>
								<small>Schedule of Prices-Export</small>
							</figcaption>
							</figure>
				</div>
			</div>
			
			<p>	
			<strong>Units:</strong> Click the "Units" button to add or delete units. On the 'Edit Units' Window simply enter a unit in the text field then click the plus sign. Adding description for the unit is optional. To delete a unit from the window just click the trash sign.
			</p>
			
			<p>	
			<strong>History:</strong> Each time a user saves his/her changes on the Schedule of Prices page a record of the table will be added in the History page. The record includes the time and the name of the user who has made the changes.
			For using a different record on the Schedule of Prices page you just need to click the "History" button, select the version to see a preview then click the "Revert" button.
			</p>
			
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/edit_units.png" data-lightbox="Edit Units" data-title="Edit Units">
							<img style="height:250px;" src="docs/images/edit_units.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_units.png"></img>
						</a>
							<figcaption>
								<small>Edit Units</small>
							</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/history.png" data-lightbox="History" data-title="History">
							<img style="height:250px; border:1px solid black;" src="docs/images/history.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/history.png"></img>
						</a>
							<figcaption>
								<small>History</small>
							</figcaption>
					</figure>
				</div>
			</div>
			
			<p> 
			<strong>Import:</strong> Use the "Import" button to import a file to the Schedule of Prices page. The Import feature has two options:
			<ul>
				<li>
				ContractComplete Template Excel file:
				<br/>To use this option click the "Download Template" button. The downloaded file has four sheets which two of them can guide you through entering your data. So simply follow the instructions and insert your data on the Schedule of Prices and Provisionals sheets. Then on the ContractComplete application click the "Uplload File" button on the 'Import From Excel' Window and upload the filled file.
				<br/>
				You can choose to import the Schedule of Prices, Provisional Items, or both sheets to the application by clicking their related checkboxes. Make sure to click the Accept button after selecting sheets. On the Contract Import Preview page make any changes then click the "Finish Import" button. The application will handle the totals and subtotals and you can still make changes after finishing the import.
				<br/>
				<strong><span style="color:red;">&#9888;</span> This option will give you the ability to import data to both Schedule of Prices and Provisional Items page at the same time, which yet can't be find in the Smart Importer.</strong><br/>To cancel the Import just click the back arrow on the Contract Import Preview page.
				<br/><br/>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/import.png" data-lightbox="Import" data-title="Import">
								<img style="height:250px;" src="docs/images/import.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import.png"></img>
							</a>
								<figcaption>
									<small>Import</small>
								</figcaption>
						</figure>
					</div>
						
				
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/excel_template.png" data-lightbox="Excel Template" data-title="Excel Template">
								<img style="height:250px; border:1px solid black;" src="docs/images/excel_template.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/excel_template.png"></img>
							</a>
								<figcaption>
									<small>Excel Template</small>
								</figcaption>
						</figure>
					</div>
				</div>
				
				<br/><br/>
				
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/import_01.png" data-lightbox="Import-Select sheets" data-title="Import-Select sheets">
								<img style="height:250px;" src="docs/images/import_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import_01.png"></img>
							</a>
								<figcaption>
									<small>Import-Select sheets</small>
								</figcaption>
						</figure>
					</div>
						
				
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/importer_preview.png" data-lightbox="Contract Importer Preview" data-title="Contract Importer Preview">
								<img style="height:250px; border:1px solid black;" src="docs/images/importer_preview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/importer_preview.png"></img>
							</a>
								<figcaption>
									<small>Contract Import Preview</small>
								</figcaption>
						</figure>
					</div>
				</div>
				
				</li>
				<li>Smart Importer: 
				<br/>For using the Smart Importer click the checkbox, upload your own spreadsheet then click the Accept button. On the Contract Import Preview page make any changes then click the "Finish Import" button. The application will handle the totals and subtotals and you can still make changes after finishing the import.
				<br/>
				<strong><span style="color:red;">&#9888;</span> Any spreadsheet can be imported using this option. So unlike the first method you will be able to use your own template files.</strong><br/>To cancel the Import just click the back arrow on the Contract Import Preview page.
				<br/><br/>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/smart_importer.png" data-lightbox="Smart Importer" data-title="Smart Importer">
								<img style="height:250px;" src="docs/images/smart_importer.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/smart_importer.png"></img>
							</a>
								<figcaption>
									<small>Smart Importer</small>
								</figcaption>
						</figure>
					</div>
						
				
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/importer_preview.png" data-lightbox="Contract Importer Preview" data-title="Contract Importer Preview">
								<img style="height:250px; border:1px solid black;" src="docs/images/importer_preview.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/importer_preview.png"></img>
							</a>
								<figcaption>
									<small>Contract Import Preview</small>
								</figcaption>
						</figure>
					</div>
				</div>
				</li>
			</ul>
		</p>
		<p><strong>Allowance:</strong> 
		<br/>
		Use the allowance feature to set a fix price. In order to use an allowance for an item, you must fill in the "Budgeted Unit Price" field. Then you'll be able to use the "lock" icon to classify that item as an allowance. When an item's price is locked the bidder won't be able to enter a price anymore for that item and he has to accept the price.</p>
			<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_allowance.png" data-lightbox="Tendering-Allowance" data-title="Tendering-Allowance">
								<img style="height:250px;" src="docs/images/tendering_allowance.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_allowance.png"></img>
							</a>
								<figcaption>
									<small>Tendering-Allowance</small>
								</figcaption>
						</figure>
					</div>
						
				
					<div class="col-md-6 col-xs-12">

					</div>
			</div>
  </div>
  
  <div class="tab-pane fade" id="tenderingStakeholderDocuments" role="tabpanel" aria-labelledby="tenderingStakeholderDocuments-tab">
	<br/>
	<h2>Documents</h2>
	<p>In the Tendering stage you still can make changes on the Documents page. Everything on the Documents page is the same as the Draft stage. The only difference is that when you make changes the bidders will see the changes right away. The changes will be added on the Addendum builder page, so you can send an addendum later to notify the bidders of the changes.</p>
	<br/>
	<br/>
	<p>ContractComplete supports several ways of interacting with documents pertaining to your contracts.  The document system supports basic tasks like uploading, downloading, and previewing documents, as well as organizing them into folders.  In tendered contracts, stakeholders can request specific documents to be uploaded as part of the tendering process. Documents you upload in the tendering stage will be visible to all stakeholders and bidders.</p>
       <p><strong>My Uploads:</strong> On the Documents page in the My Uploads section you can:
	   <ul>
	   <li>Use the "Upload" button to upload files. Either use the Drag & Drop option or just the "Browse" button on the 'My Uploads' window. By using the Drag & Drop option you will be able to upload several files at the same time. <strong>In the Tendering stage when you upload a file, the file will be displayed on the Addendum Builder page as well. So, you can send an addendum later to notify the bidders of the recently uploaded files.</strong></li>
	   <li> Download the contract's files by clicking the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon. A zip file will be downloaded which includes the files on the Documents page and their Audit Trails, Schedule of Prices and Provisional Items Excel files.</li>
	   <li>Change the location of files and folders by dragging and dropping them.</li>
	   <li>Download the file's audit trail by using the <i class="fa fa-check-square-o" aria-hidden="true" style="color:black"></i> icon.</li>
	   <li>Select a file then click the <i class="fa fa-cloud-download" aria-hidden="true" style="color:#146b75;"></i> icon to download it.</li>
	   <li>Rename <i class="fa fa-pencil" aria-hidden="true"></i> or delete <i class="fa fa-trash" style="color:#ff0000;"></i> files and folders.</li>
	   <li>Add new folders.</li></p>
	   <br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/tendering_documents.png" data-lightbox="Tendering-Documents" data-title="Tendering-Documents">
							<img style="height:250px;" src="docs/images/tendering_documents.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_documents.png"></img>
						</a>
							<figcaption>
								<small>Tendering-Documents</small>
							</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/file_upload_01.png" data-lightbox="File Upload Window" data-title="File Upload Window">
							<img style="height:250px; border:1px solid black;" src="docs/images/file_upload_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/file_upload_01.png"></img>
						</a>
							<figcaption>
								<small>File Upload Window</small>
							</figcaption>
					</figure>
				</div>
			</div>
 	   </ul>
	<p><strong>Documents to Upload:</strong>
	<br/>
	Sometimes, as part of the tendering process, a stakeholder may wish to request specific document uploads from the bidders.  Fortunately, this feature is built into the documents framework and can be accessed on the documents page under the "Documents to Upload" section. Document upload requests will appear on the bidder checklist.  Bidders will be made aware that they have been asked to complete these items.<br/><br/>
	Simply click the "New" button and add additional information in the popup window.  You can even "link" a document to your request. The linked file can be a fillable form as well. In this case the bidders will be able to fill the form in the Tendering stage directly in the ContractComplete application and submit it.</p>
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/upload_request_01.png" data-lightbox="Document Upload Request 01" data-title="Document Upload Request 01">
						<img style="height:250px;" src="docs/images/upload_request_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/upload_request_01.png"></img>
					</a>
						<figcaption>
							<small>Document Upload Request 01</small>
						</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/upload_request_02.png" data-lightbox="Document Upload Request 02" data-title="Document Upload Request 02">
						<img style="height:250px;" src="docs/images/upload_request_02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/upload_request_02.png"></img>
					</a>
						<figcaption>
							<small>Document Upload Request 02</small>
						</figcaption>
				</figure>
			</div>
		</div>
		
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/upload_request_03.png" data-lightbox="Document Upload Request 03" data-title="Document Upload Request 03">
						<img style="height:250px;" src="docs/images/upload_request_03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/upload_request_03.png"></img>
					</a>
						<figcaption>
							<small>Document Upload Request 03</small>
						</figcaption>
				</figure>
			</div>
			
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/tendering_documents.png" data-lightbox="Tendering-Document Upload Request" data-title="Tendering-Document Upload Request">
						<img style="height:200px;" src="docs/images/tendering_documents.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_documents.png"></img>
					</a>
						<figcaption>
							<small>Tendering-Document Upload Request</small>
						</figcaption>
				</figure>
			</div>
		</div>
  </div>
  
  <div class="tab-pane fade" id="tenderingStakeholderProvisional" role="tabpanel" aria-labelledby="tenderingStakeholderProvisional-tab">
	<br/>
	<h2>Provisional Items</h2>
	<p>In the Tendering stage you still can make any changes on the Provisional Items page. Everything on the Provisional Items page is the same as the Draft stage. The only difference is that when you make changes the bidders will see the changes right away after the changes are saved. The bidders will never see the Budgeted Values even if you decide to change them. The changes will be added on the Addendum builder page, so you can send an addendum later to notify the bidders of the changes. The bidders will be able to enter their prices and values for each item.</p>
	<br/>
	<br/>
	<p>Provisional items are an optional feature to provide unit pricing information for additional items that may or may not be required later.  Often, they are used at a later date to provide pricing for change orders. So the items on the Provisional items page will not affect the contract unless they are added in the change orders. (Change Orders page will be displayed in the In Progress stage.)</p>
		<p>On the Provisional Items page you can:
			<ul>
				<li>Add description, quantity, unit and budgeted value. 
				<br/><strong><span style="color:red;">&#9888;</span> Don't worry, the bidders will not see your entered budgeted values, these are for your personal use. In the Post Tender stage you will be able to compare the budgeted values with the bidders entered values.</strong></li>
				<li> Use <span style="background-color:#eaffe9;color:#008000; padding:3px;"><i class="fa fa-plus"></i></span> sign to add items and subitems.</li>
				<li>Use the tab key to go to the next cell.</li>
				<li>Drag and drop the items to change their location. The numbering will automatically update.</li>
				<li>Delete the items using the <i class="fa fa-trash" style="color:#c75050;"></i> sign.</li>
				<li>Your changes will be autosaved but for more assurance click the "Save" button to save your changes.</li>
				<li>Use the Export option to export the Provisional Items as PDF, CSV and EXCEL files.</li>
				<br/>
				<div class = "row">
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_provisional_items.png" data-lightbox="Tendering-Provisional Items" data-title="Tendering-Provisional Items">
								<img style="height:250px;" src="docs/images/tendering_provisional_items.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_provisional_items.png"></img>
							</a>
								<figcaption>
									<small>Tendering-Provisional Items</small>
								</figcaption>
						</figure>
					</div>
					
					<div class="col-md-6 col-xs-12">
						<figure style="width:100%; text-align: center;">
							<a href="docs/images/tendering_provisional_items_export.png" data-lightbox="Tendering-Provisional Items-Export" data-title="Tendering-Provisional Items-Export">
								<img style="height:250px;" src="docs/images/tendering_provisional_items_export.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_provisional_items_export.png"></img>
							</a>
								<figcaption>
									<small>Tendering-Provisional Items-Export</small>
								</figcaption>
						</figure>
					</div>
				</div>
			</ul>
		</p>
		<p><strong>Value Type Slider:</strong> In Tenders, on the Provisional Items page a slider is provided for each item. This slider can be switched to 'Quantity #' or 'Currency $'.</p>
			
					<div class = "row">
						<div class="col-md-8 col-xs-12">
							<ul>
								<li>When the slider is on the right side and the color is green the Value Type will be Currency. So you can enter a price for the item in the Budgeted Value column. Don't worry, in the Tendering stage the bidders will not see the prices you entered. Instead they can enter their own prices for the item.
								</li>
							</ul>
						</div>
						
						<div class="col-md-4 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/slider01.png" data-lightbox="Value Type-Currency" data-title="Value Type-Currency">
									<img style="height:100px;border:1px solid black" src="docs/images/slider01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/slider01.png"></img>
								</a>
									<figcaption>
										<small>Value Type-Currency</small>
									</figcaption>
							</figure>
						</div>		
					</div>
				
				
					<div class = "row">
						<div class="col-md-8 col-xs-12">
							<ul>
								<li>When the slider is on the left side and the color is gray the Value Type will be Quantity. So you can enter a quantity for the item in the Budgeted Value column. Don't worry, in the Tendering stage the bidders will not see the quantity you entered in the Budgeted Value column. Instead they can enter their own quantity for the item.
								</li>
							</ul>
						</div>
						
						<div class="col-md-4 col-xs-12">
							<figure style="width:100%; text-align: center;">
								<a href="docs/images/slider02.png" data-lightbox="Value Type-Quantity" data-title="Value Type-Quantity">
									<img style="height:100px;border:1px solid black" src="docs/images/slider02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/slider02.png"></img>
								</a>
									<figcaption>
										<small>Value Type-Quantity</small>
									</figcaption>
							</figure>
						</div>
					</div>
		
		</p>
		<p><strong>Units:</strong> Click the "Units" button to add or delete units. On the 'Edit Units' Window simply enter a unit in 	the text field then click the plus sign. Adding description for the unit is optional. To delete a unit from the window just click the trash sign.
		</p>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/edit_units.png" data-lightbox="Edit Units" data-title="Edit Units">
							<img style="height:250px;" src="docs/images/edit_units.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/edit_units.png"></img>
						</a>
							<figcaption>
								<small>Edit Units</small>
							</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
				</div>
			</div>
			
		<p><strong><span style="color:red;">&#9888;</span> You can also use the Import option on the Schedule of Prices page.</strong> To do so just go to the Schedule of Prices page, click the Import button then click the "Download Template" button. The downloaded file has four sheets which two of them can guide you through entering your data. So simply follow the instructions and insert your data on the Provisionals sheet. Then on the ContractComplete application click the "Uplload File" button on the 'Import From Excel' Window and upload the filled file. Choose to import the Provisional Items to the application by clicking the related checkbox. Make sure to click the Accept button after selecting the sheet. You can make changes after finishing the import.
		
		<strong>This option will give you the ability to import data to both Schedule of Prices and Provisional Items page at the same time.</strong>
		</p>
		<br/><br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/tendering_provisional_import.png" data-lightbox="Import to Provisional Items" data-title="Import to Provisional Items">
								<img style="height:250px;" src="docs/images/tendering_provisional_import.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_provisional_import.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 01</small>
						</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/import.png" data-lightbox="Import to Provisional Items 02" data-title="Import to Provisional Items 02">
							<img style="height:250px; border:1px solid black;" src="docs/images/import.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 02</small>
						</figcaption>
					</figure>
				</div>
			</div> 
			<br/><br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/import_provisional_items01.png" data-lightbox="Import to Provisional Items 03" data-title="Import to Provisional Items 03">
								<img style="height:250px;" src="docs/images/import_provisional_items01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import_provisional_items01.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 03</small>
						</figcaption>
					</figure>
				</div>
						
				
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/import_provisional_items02.png" data-lightbox="Import to Provisional Items 04" data-title="Import to Provisional Items 04">
							<img style="height:250px; border:1px solid black;" src="docs/images/import_provisional_items02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/import_provisional_items02.png"></img>
						</a>
						<figcaption>
							<small>Import to Provisional Items 04</small>
						</figcaption>
					</figure>
				</div>
			</div>
  </div>
  
  <div class="tab-pane fade" id="tenderingStakeholderQualification" role="tabpanel" aria-labelledby="tenderingStakeholderQualification-tab">
	<br/>
	<h2>Qualification Questions</h2>
	<p> 
		In Tendering stage Consultants (Primary and additional stakeholders) still can add, delete or edit questions and instructions on the Qualification Questions page. Bidders can see the questions and any changes the stakeholders make on the page. Bidders can submit their answers along with their bid in the Tendering stage. The consultants will see the bidder's responses in the Post Tender stage.
		<br/>
	</p>
			
	<ul>
		<li> 
			Add questions by clicking the <span style="background-color:#eaffe9;color:#008000; padding:3px;"><i class="fa fa-plus"></i></span> sign.
		</li>
		<li>Delete questions using the <i class="fa fa-trash" style="color:#c75050;"></i> sign.</li>
		<li>Added questions can be saved as a template for future Tenders by clicking the "Save as Template" button.</li>
		<li>
			You can use the ContractComplete default template or the previously saved templates by clicking the "Load Template" button.
			<br/>
			<strong><span style="color:red;">&#9888;</span> If you select a template, the template's questions will replace any questions that you have added on the Qualifications Questions page.</strong>
		</li>
		<li>
			Saved templates can be deleted from the 'Load a template' window at any time using the trash icon <i class="fa fa-trash" style="color:#c75050;"></i>.
		</li>
		<li>Use the Export option <i class="fa fa-download" style="color:#146b75;" aria-hidden="true"></i> to export the Qualification Questions as PDF or Excel files.</li>
		<li>You can mark one or more questions as required.</li>
	</ul>
	<strong><span style="color:red;">&#9888;</span> Note: In the Draft stage consultants can allow or not allow Incomplete Bids. If they don't allow Incomplete Bids, the bidders only have to answer the questions that have been marked as required before submitting their bid.</strong>
		<div class = "row">
			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/qualification_questions_tendering.png" data-lightbox="Qualification Questions-Tendering stage-stakeholders' view" data-title="Qualification Questions-Tendering stage-stakeholders' view">
						<img style="height:250px;" src="docs/images/qualification_questions_tendering.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/qualification_questions_tendering.png"></img>
					</a>
						<figcaption>
							<small>Qualification Questions-Tendering stage-stakeholders' view</small>
						</figcaption>
				</figure>
			</div>

			<div class="col-md-6 col-xs-12">
				<figure style="width:100%; text-align: center;">
					<a href="docs/images/qualification_questions_draft03.png" data-lightbox="Load a Template window" data-title="Load a Template window">
						<img style="height:200px;" src="docs/images/qualification_questions_draft03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/qualification_questions_draft03.png"></img>
					</a>
						<figcaption>
							<small>Load a Template window</small>
						</figcaption>
				</figure>
			</div>
		</div>
  </div>
  
  <div class="tab-pane fade" id="tenderingStakeholderInstructions" role="tabpanel" aria-labelledby="tenderingStakeholderInstructions-tab">
  <br/>
	<h2>Bidder Instructions</h2>
	<p>In the Tendering stage you still can make any changes on the Bidder Instructions page. Everything on the Bidder Instructions page is the same as the Draft stage. The only difference is that when you make changes the bidders will see the changes right away after the changes are saved. You can send an addendum later to notify the bidders of the changes.</p>
	<br/>
	<br/>
	<p> In the Bidder Instructions page a template is provided which needs to be filled in. You can also remove the template and replace your own. In the Tednering stage the bidders can see these instructions on their ContractComplete application Overview page. Simply click the "Edit" button and use the options on the editor. Don't forget to save your changes.
	   </p>
	   		<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/tendering_bidder_instructions.png" data-lightbox="Tendering-Bidder Instructions" data-title="Tendering-Bidder Instructions">
							<img style="height:200px;" src="docs/images/tendering_bidder_instructions.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_instructions.png"></img>
						</a>
							<figcaption>
								<small>Tendering-Bidder Instructions</small>
							</figcaption>
					</figure>
				</div>
			
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/tendering_bidder_instructions_edit.png" data-lightbox="Tendering-Bidder Instructions-Edit" data-title="Tendering-Bidder Instructions-Edit">
							<img style="height:100px;" src="docs/images/tendering_bidder_instructions_edit.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/tendering_bidder_instructions_edit.png"></img>
						</a>
							<figcaption>
								<small>Tendering-Bidder Instructions-Edit</small>
							</figcaption>
					</figure>
				</div>
			</div>
  </div>
  
  <div class="tab-pane fade" id="tenderingStakeholderAddendum" role="tabpanel" aria-labelledby="tenderingStakeholderAddendum-tab">
	<br/>
	<h2>Addendum Builder</h2>
	<p>
		In the Tendeing stage you can make any change you wish to the contract. But it is up to you whether you wish to issue a formal addendum and request acknowledgements from each of the bidders.  Making changes on the schedule of prices, provisional items, documents and bidder instructions pages immediately updates the view that the bidder has of the contract, but adding a formal addendum is often useful in making bidders aware that a contract has changed and that they may need to update their submission.
	</p>
	<br/>
	<br/>
	<p>
		The bidders can submit questions about a specific item in the Schedule of Prices page or anything else. These questions will be displayed on the Overview page as well as the Addendum Builder page. You can provide an answer, add, delete (<i style="color:red;"class="fa fa-times" aria-hidden="true"></i>) or edit a question. On the Addendum Builder page on the left side, you also can see the recent changes was made on the Schedule of Prices, Provisional Items and Documents pages.
		<br/>
		The number of recent changes made will be displayed beside the Addendum Builder page name as a notification in case you want to issue a formal addendum. This number will be updated each time you make some changes and will be gone when an addendum is issued by selecting all the changes on the Addendum Builder page.		
	</p>
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/addendum_builder_page.png" data-lightbox="Addendum Builder page" data-title="Addendum Builder page">
			<img style="height:250px;" src="docs/images/addendum_builder_page.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/addendum_builder_page.png"></img>
			</a>
				<figcaption>
					<small>Addendum Builder page</small>
				</figcaption>
			</figure>
		</div>
		<div class="col-md-6 col-xs-12">
		</div>
	</div>
	<br/>
	<br/>
	<p>
		On the Addendum Builder page, if you would like to alert the bidders with an addendum summarizing the changes, you have two options:
			<ul>
				<li><strong>Create from Selected</strong>: Click the Checkboxes to select the changes then use the "Create from Selected" button. ContractComplete will automatically generate an addendum based on your recent changes.</li>
				<li><strong>Upload Addendum</strong>: Upload an addendum PDF that you have created outside of the ContractComplete application using the "Upload Addendum" button.</li>
			</ul>
	</p>
	<br/>
	<br/>
	<p>
		<strong>Create from Selected:</strong>
		<br/>
		If you want the ContractComplete to automatically generate an addendum based on your recent changes, simply select the changes on the Addendum builder, then click the "Create from Selected" button. Enter a name on the 'Create an Addendum Draft' window then click Ok.
		<br/>
		<br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/addendum_create_from_selected.png" data-lightbox="Addendum-Create from selected" data-title="Addendum-Create from selected">
							<img style="height:250px;" src="docs/images/addendum_create_from_selected.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/addendum_create_from_selected.png"></img>
						</a>
							<figcaption>
								<small>Addendum-Create from selected</small>
							</figcaption>
					</figure>
				</div>
			
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/create_addendum_window.png" data-lightbox="Create Addendum Window" data-title="Create Addendum Window">
							<img style="height:150px;" src="docs/images/create_addendum_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/create_addendum_window.png"></img>
						</a>
							<figcaption>
								<small>Create Addendum Window</small>
							</figcaption>
					</figure>
				</div>
			</div>
		On the Addendum Document Builder you can make changes to the created pdf, add a signature and email it to the bidders. After making changes on the left side don't forget to click the "Save & Update Document" button. You can always delete or edit the addendum before sending it to the bidders using the provided buttons.
		<br/>
		<br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/addendum_01.png" data-lightbox="Addendum Document Builder" data-title="Addendum Document Builder">
							<img style="height:250px;" src="docs/images/addendum_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/addendum_01.png"></img>
						</a>
							<figcaption>
								<small>Addendum Document Builder</small>
							</figcaption>
					</figure>
				</div>
			
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/addendum_03.png" data-lightbox="Addendum-Edit" data-title="Addendum-Edit">
							<img style="height:250px;" src="docs/images/addendum_03.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/addendum_03.png"></img>
						</a>
							<figcaption>
								<small>Addendum-Edit</small>
							</figcaption>
					</figure>
				</div>
			</div>
		<br/>
		When you are satisfied with the pdf you can click the "Send Addendum" button, then on the 'Send Addendum' window click the Finish button. The addendum will be emailed to all the bidders. The Bidders will also see a message in their action box notifying them of the changes.
		<br/>
		<br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/addendum_01.png" data-lightbox="Addendum Document Builder" data-title="Addendum Document Builder">
							<img style="height:250px;" src="docs/images/addendum_01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/addendum_01.png"></img>
						</a>
							<figcaption>
								<small>Addendum Document Builder</small>
							</figcaption>
					</figure>
				</div>
			
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
						<a href="docs/images/addendum_02.png" data-lightbox="Send Addendum" data-title="Send Addendum">
							<img style="height:250px;" src="docs/images/addendum_02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/addendum_02.png"></img>
						</a>
							<figcaption>
								<small>Send Addendum</small>
							</figcaption>
					</figure>
				</div>
			</div>
	</p>
	<p>	<strong>Upload Addendum</strong>:
		<br/>
		If you have your own pdf file click the "Upload Addendum" button in the Addenda section. Fill in the required fields, select a file and click the finish button on the 'Upload Addendum' window. (The Uploaded file can be downloaded in the Addenda section later if needed.) The file will be emailed to all the bidders. The Bidders will also see a message in their action box notifying them of the changes.
		<br/>
		<br/>
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/addendum_builder_upload.png" data-lightbox="Upload Addendum" data-title="Upload Addendum">
						<img style="height:250px;" src="docs/images/addendum_builder_upload.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/addendum_builder_upload.png"></img>
					</a>
						<figcaption>
							<small>Upload Addendum</small>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/upload_addendum_window.png" data-lightbox="Upload Addendum Window" data-title="Upload Addendum Window">
						<img style="height:400px;" src="docs/images/upload_addendum_window.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/upload_addendum_window.png"></img>
					</a>
						<figcaption>
							<small>Upload Addendum Window</small>
						</figcaption>
					</figure>
				</div>
			</div>
	</p>
				
	<p>
		After sending an addendum, Acknowledge sign <span style="border:4px solid #f0a30a; width:30px; height:30px;display:inline-block;padding:1px; text-align:center;vertical-align:text-bottom;color:#f0a30a; font-weight:bold;">A1</span> will be added on the Bidders Section of the Overview page.
	<br/>
		The Bidders will see an "Acknowledge" button beside each addendum you send. When a bidder clicks this button the Acknowledge sign color will change to green <span style="border:4px solid #60a917; width:30px; height:30px;display:inline-block;padding:1px; text-align:center;vertical-align:text-bottom;color:#60a917; font-weight:bold;">A1</span> . This means that the bidder is completely aware of the change. On the Addenda section you also can see how many bidders have acknowledged the addenda.
			<div class = "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/addenda_acknowledge_sign.png" data-lightbox="Addenda Acknowledge Sign" data-title="Addenda Acknowledge Sign">
						<img style="height:250px;" src="docs/images/addenda_acknowledge_sign.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/addenda_acknowledge_sign.png"></img>
					</a>
						<figcaption>
							<small>Addenda Acknowledge Sign</small>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 col-xs-12">
				</div>
			</div>
	</p>
  </div>
</div>


<div style="border-top:2px solid; border-color:#909090;">
	<br/>
	<h3>Next Stage:</h3>
	<p>
		When the Deadline passes the Post-Tender stage will start. You will be able to see the bidders submissions, comparing them with your budgeted prices and values, negotiate with them and award the contract. Many features are provided in the Post-Tender stage like Reopen Tender, Allow Resubmissions, Manual Bid Entry, etc. <strong>For more information about the next step click the <a href="?page=post_tender#content">Post-Tender stage</a>.</strong>
	</p>
</div>