<h1>Tendering</h1>
<p>
The ContractComplete tendering process is designed to be as fair and flexible as possible.  It allows stakeholders a basic level of transparency into the process, while at the same time not disclosing details of the Bidders' submissions before the deadline.</p>

<p>Stakeholders may make changes to a tender at any time during the tendering process.  A formal addendum process is provided for ensuring that bidders are made aware of these changes.</p>
<br/>
<p>
During the tendering process, the followings will be done by the Bidders. Bidders will be given the option to download a checklist that enumerate these items.
<ul>
	<li>Enter unit prices on the Schedule of Prices page (add notes and questions if required)</li>
	<li>Enter unit prices and values on the Provisional Items page</li>
	<li>Upload any documents requested by the stakeholders</li>
	<li>Upload any additional documents the bidder feels are relevant</li>
	<li>Submit the bid</li>
</ul>
</p>
<br/><br/>
<p>
For more information click the links below: <br/>
<ul>
<li><strong><a href="?page=tendering_stakeholder#content">Tendering Stakeholder's View<a/></strong> if you are a Stakeholder</li>
<li><strong><a href="?page=tendering_bidder#content">Tendering Bidder's View</a></strong> if you are a Bidder</li>
</ul>
</p>