<!------------------------------------------------------------Mozhgan----------------------------------------------------------->
<h1>User Configuration</h1>
<p>On the User Configuration page which can be reached through the "My Company" tab, two sections are provided. <strong>Only the Administrator can make changes in both sections.</strong>
	<ul>
		<li><a href="#company_divisions">Company Divisions</a></li>
		<li><a href="#users_section">Users section</a></li>
	</ul>
</p>

<h2 id="company_divisions">Company Divisions</h2>
<p>
	The Administrator can Add, Edit and Remove Divisions on the User configurations page.
</p>

<p>	
	For Adding a new Division click the "Add Division" button. On the ‘Add a New Division window’ fill in the provided fields then click the "Accept" button. Entering location information is optional.
	
	<strong><span style="color:red;">&#9888;</span> The users can change the contract’s currency in the contract’s Draft stage later if needed based on their roles and permissions.</strong>
</p>


<p>
	Clicking the Recycle icon will remove the existing division. 
	</br>
	When a user creates a contract he/she can select a division for the contract. By deleting a division, existing contracts that are part of the deleted division will automatically be moved to the default division.
</p>

<p>
	By clicking the Pencil icon, the administrator can edit the division.

</p>

	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/division.png" data-lightbox="Add/Delete/Edit Divisions" data-title="Add/Delete/Edit Divisions">	
				<img style="height:250px;" src="docs/images/division.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/division.png"></img>
				</a>	
				<figcaption>
					<small>Add/Delete/Edit Divisions</small>
				</figcaption>
			</figure>
		</div>

		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
				<a href="docs/images/add_division.png" data-lightbox="Division Details" data-title="Division Details">
				<img style="height:250px;" src="docs/images/add_division.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/add_division.png"></img>
				</a>
				<figcaption>
					<small>Division Details</small>
				</figcaption>
			</figure>
		</div>
	</div>
<br/><br/><br/>


<h2 id="users_section">User Section</h2>

<p>
	On the User configuration page, the Administrator can Add or Delete users, view user information, view user’s permissions and edit their permissions.

</p>

<p>
	After signing up in ContractComplete, each company can create only one free contract. The administrators can add as many as users they want before creating their second contract. But after creating the free contract they have to upgrade their plan and pay for the previously added users to be able to continue creating contracts.
	</br></br>
	The Administrators can Upgrade their Plan in the Subscriptions page through the "My Company" tab. For more information about the pricing please <a href="pricing.php">click here.</a>
	After Upgrading the Plan and paying for the previously added users, the Administrator have to first increase the number of the users on the Subscription page by clicking the "Change link" and then he will be able to add new users on the User Configuration page.
</p>

<p>
	<b>Note:</b> Provided messages will help you throughout the ContarctComplete.
	Don’t worry you can delete users at any time and update their number on the Subscriptions page.

</p>

	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width: 100%; text-align:center;">
				<a href="docs/images/user_section.png" data-lightbox="Add/Delete User - View/Edit Permissions" data-title="Add/Delete User - View/Edit Permissions">
				<img style="height:250px;" src="docs/images/user_section.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/user_section.png"></img>
				</a>
				<figcaption>
					<small>Add/Delete User - View/Edit Permissions</small>
				</figcaption>
			</figure>
		</div>
		<div class="col-md-6 col-xs-12">
		</div>
	</div>

</br></br>
	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/subscriptions_before_upgrade.png" data-lightbox="Subscriptions page-Before Upgrade" data-title="Subscriptions page-Before Upgrade">
				<img style="height:250px;" src="docs/images/subscriptions_before_upgrade.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/subscriptions_before_upgrade.png"></img>
			</a>
				<figcaption>
					<small>Subscriptions page-Before Upgrade</small>
				</figcaption>
			</figure>
		</div>
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/subscriptions_after_upgrade.png" data-lightbox="Subscriptions page-After Upgrade-Update Number of Users" data-title="Subscriptions page-After Upgrade-Update Number of Users">
				<img style="height:250px;" src="docs/images/subscriptions_after_upgrade.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/subscriptions_after_upgrade.png"></img>
			</a>
				<figcaption>
					<small>Subscriptions page-After Upgrade-Update Number of Users</small>
				</figcaption>
			</figure>
		</div>
	</div>

</br></br></br></br>


<p>
	Now for adding a new user click the "Add user" button on the User Configuration page. On the ‘Account Invite’ window enter Name, Last Name and the user’s email address then click the "Next" button.
</p>

	<div class = "row">
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/add_user_button.png" data-lightbox="Add User" data-title="Add User">
				<img style="height:250px;" src="docs/images/add_user_button.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/add_user_button.png"></img>
			</a>
				<figcaption>
					<small>Add User</small>
				</figcaption>
			</figure>
		</div>
		<div class="col-md-6 col-xs-12">	
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/account_invite.png" data-lightbox="Account Invite" data-title="Account Invite">
				<img style="height:250px;" src="docs/images/account_invite.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/account_invite.png"></img>
			</a>
				<figcaption>
					<small>Account Invite</small>
				</figcaption>
			</figure>
		</div>
	</div>

	
	<br/><br/></br></br>

<p>
	On the ‘Edit User Permissions’ window select one of the four provided permissions for the added user.
	<ul>
		<li>For giving the User Administrator Permission make sure the Administrator check box is checked.</li>
		</br>
			<div class= "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/administrator_permission.png" data-lightbox="Permissions-Administrator" data-title="Permissions-Administrator">
						<img style="height:250px;" src="docs/images/administrator_permission.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/administrator_permission.png"></img>
					</a>
						<figcaption>
							<small>Permissions-Administrator</small>
						</figcaption>
					</figure>
				</div>

				<div class="col-md-6 col-xs-12">
				</div>
			</div>

</br></br></br></br>
		
		
		<li>For selecting other Permissions, first uncheck the Administrator checkbox. Now click on one of the divisions on the left side, then select a Permission.
		</br>
		<strong>Each user can have the same or different permission in different divisions.</strong> (e.g a user can have the Manager Permission in Division A and at the same time be only a Resource Viewer in Division B).Click the "Accept" button to finish adding the user.
		</li>
		</br>
			<div class= "row">
				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/permission_division01.png" data-lightbox="Permissions-Divisions01" data-title="Permissions-Divisions01">
						<img style="height:250px;" src="docs/images/permission_division01.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/permission_division01.png"></img>
					</a>
						<figcaption>
							<small>Permissions-Divisions01</small>
						</figcaption>
					</figure>
				</div>

				<div class="col-md-6 col-xs-12">
					<figure style="width:100%; text-align: center;">
					<a href="docs/images/permission_division02.png" data-lightbox="Permissions-Divisions02" data-title="Permissions-Divisions02">
						<img style="height:250px;" src="docs/images/permission_division02.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/permission_division02.png"></img>
					</a>
						<figcaption>
							<small>Permissions-Divisions02</small>
						</figcaption>
					</figure>
				</div>
			</div>
	
	
		</br></br></br>	
		<b>Note:</b> Click the Plus sign for each permission to see the permitted actions. Other than the listed actions, the Administrator can add/delete users, view and update payment information, add/delete divisions and assign admin rights to other users.
	</ul>
</p>	
</br>
<p>	
	Resend invite Option can be used later to make sure the user has received the Invitation email in case the user didn’t sign up.
	<div class= "row">			
		<div class="col-md-6 col-xs-12">
			<figure style="width:100%; text-align: center;">
			<a href="docs/images/resend_invite.png" data-lightbox="Resend Invitation" data-title="Resend Invitation">
				<img style="height:250px;" src="docs/images/resend_invite.png" class="tour-screenshot shadowed-png fancybox fancybox.iframe" href="docs/images/resend_invite.png"></img>
			</a>
			<figcaption>
				<small>Resend Invitation</small>
			</figcaption>
			</figure>
		</div>

		<div class="col-md-6 col-xs-12">
		</div>
	</div>
</p>


<!------------------------------------------------------------Mozhgan----------------------------------------------------------->
