<html>
	<head>
		<style type="text/css">
			.content-wrapper{
				padding: 64px;
				font-size: 24px;
			}
		
			.content-wrapper p{
				font-family: cursive, sans-serif;
				line-height:34px;
				color: #777777;
			}
			
			a{
				font-family: cursive, sans-serif;
			}
		</style>
	</head>
	<div class="content-wrapper">
		<p>Hey there,</p><br/>
		<p>First of all, nice call on requesting the video, I'm excited to help you.</p><br/>
		<p>In case we haven't met, my name is Sean Ciampaglia, a cofounder at ContractComplete.  We've helped hundreds of companies get more productivity from their contract admin staff.  Every now and then, I reveal some of our training at no cost.  If this video, you'll discover 5 of the biggest mistakes that contract administrators make when calling for bids.</p><br/>
		<a target="_blank" href="https://www.contractcomplete.com/landingpages/biggestbidmistakes_getvideo.php?dealid={{dealId}}&email={{emailAddress}}">Watch it Now!</a><br/><br/>
		<p>In addition to founding ContractComplete, I also work as a general manager for a large commercial landscaper.  This video draws on my past experiences from the 600+ bids that I have participated in over the last 10 years.</p><br/>
		<p>Good Luck, and happy tendering.</p><br/>
		<p>Sean C.</p>
		<hr>
		<p style="font-family:sans-serif;font-size:12px"><a href="https://www.contractcomplete.com" target="_blank" style="color:#777777">ContractComplete</a> - 151 Charles Street East, Unit 1, Kitchener, ON, Canada</p>
	</div>
</html>