<html>
	<head>
		<style type="text/css">
			.content-wrapper{
				padding: 64px;
				font-size: 24px;
			}
		
			.content-wrapper p{
				font-family:sans-serif;
				line-height:34px;
				color: #777777;
			}
			
			a{
				font-family: sans-serif;
			}
		</style>
	</head>
	<div class="content-wrapper">
		<p>A website visitor has provided their email address: {{firstName}}.  No action is required until they complete the demo request.</p>
		<p style="font-family:sans-serif;font-size:12px"><a href="https://www.contractcomplete.com" target="_blank" style="color:#777777">ContractComplete</a> - 151 Charles Street East, Unit 1, Kitchener, ON, Canada</p>
	</div>
</html>