<html>
	<head>
		<style type="text/css">
			.content-wrapper{
				padding: 64px;
				font-size: 24px;
				border: 1px solid grey;
			}
		
			.content-wrapper p{
				font-family: roboto, sans-serif;
				line-height:34px;
			}
			
			a,li{
				font-family: roboto, sans-serif;
			}
			
			
			@media (max-width:800px){
				.content-wrapper{
					padding: 16px;
					font-size: 18px;
					border: none;
				}
			}
		</style>
	</head>
	<div class="content-wrapper">
		<p>Hey {{firstName}},</p><br/>
		<p>Clearly you are exploring ways to enhance your office performance.  We thank you for your interest and are excited to help you with your goals.</p><br/>
		<p>
			<ul>
				<li><b>Automate</b> formal document creation: stop manually creating progress draw paperwork.</li>
				<li><b>Track</b> your outstanding AR, AP, holdbacks, GL, change orders.</li>
				<li><b>Accelerate</b> in-house contract activities with accuracy and confidence.</li>
			</ul>
		</p><br/>
		<p>*For discovery call, we ask for 30-60 minutes to learn more about your company goals and demonstrate how <a target="_blank" href="https://www.contractcomplete.com">ContractComplete</a> can improve your contract admin and bid calling workflows.</p><br/>
		<p>You can book a time on my calendar here: <a target="_blank" href="https://app.hubspot.com/meetings/alex511?utm_source=hs_email&utm_medium=email&utm_content=2&_hsenc=p2ANqtz-_w92PHDiqLQH1MC4eTJ_aLOsoV-tvtM8ihUkcLERgfX7bpRJKYPtoGRtYm_AR6x_uJ-RRL1NUH9j9sZNxTD5JTLTPfJw&_hsmi=2">Schedule a time for a demo</a></p><br/>
		<p>Good Luck, and happy tendering.</p><br/>
		<p>Alex A.</p>
		<hr>
		<p style="font-family:sans-serif;font-size:12px"><a href="https://www.contractcomplete.com" target="_blank" style="color:#777777">ContractComplete</a> - 151 Charles Street East, Unit 1, Kitchener, ON, Canada</p>
	</div>
</html>