<html>
	<head>
		<style type="text/css">
			.content-wrapper{
				padding: 64px;
				font-size: 24px;
				border: 1px solid grey;
			}
		
			.content-wrapper p{
				font-family: roboto, sans-serif;
				line-height:34px;
			}
			
			a,li{
				font-family: roboto, sans-serif;
			}
			
			
			@media (max-width:800px){
				.content-wrapper{
					padding: 16px;
					font-size: 18px;
					border: none;
				}
			}
		</style>
	</head>
	<div class="content-wrapper">
		<p>Hey {{firstName}},</p><br/>
		<p>Clearly you are exploring ways to enhance your office performance.  We thank you for your interest and are excited to help you with your goals.</p><br/>
		<p>
			<ul>
				<li><b>Automate</b> formal document creation: stop manually creating progress draw paperwork.</li>
				<li><b>Track</b> your outstanding AR, AP, holdbacks, GL, change orders.</li>
				<li><b>Accelerate</b> in-house contract activities with accuracy and confidence.</li>
			</ul>
		</p><br/>
		<p>We will reach out to you within 24hrs to collect the information we need for a formal quote.</p>
		<p>Looking forward to speaking with you,</p><br/>
		<p>The ContractComplete Team</p>
		<hr>
		<p style="font-family:sans-serif;font-size:12px"><a href="https://www.contractcomplete.com" target="_blank" style="color:#777777">ContractComplete</a> - 295 Hagey Blvd, Waterloo, ON, Canada</p>
	</div>
</html>