<html>
	<head>
		<style type="text/css">
			.content-wrapper{
				padding: 64px;
				font-size: 24px;
			}
		
			.content-wrapper p{
				font-family:sans-serif;
				line-height:34px;
				color: #777777;
			}
			
			a{
				font-family: sans-serif;
			}
		</style>
	</head>
	<div class="content-wrapper">
		<p>A website visitor has requested a quote: </p><br/>
		{{firstName}} {{lastName}} ({{emailAddress}})
		
	</div>
</html>